= simple_form_for @usuario_temporal, url: insert_modal_fondo_produccion_limpia_path, remote: true, html: { autocomplete: :off, multipart: true } do |f|
  = f.input :temporal, as: :hidden, wrapper: false
  = f.input :flujo_id, as: :hidden, wrapper: false
  = f.input :user_id, as: :hidden, wrapper: false
  = f.input :id, as: :hidden, wrapper: false
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin Agregar nuevo miembro de equipo
        .card-body
          .row
            .col-12.col-lg-4
              = f.input :rut, required: true, label: t(:rut), placeholder: "Ingresar RUT", input_html: { class: 'identificacion form-temporal-boton-guardar-fpl-usuario', readonly: !usuario_temporal.user_id.nil? }
            .col-12.col-lg-4
              = f.input :nombre_completo, required: true, label: t(:nombre_completo_persona), placeholder: "Ingresar nombre completo", input_html: { class: 'form-temporal-boton-guardar-fpl-usuario' }
            .col-12.col-lg-4
              = f.input :email, required: true, label: t(:email), placeholder: "Ingresar email", input_html: { class: 'form-temporal-boton-guardar-fpl-usuario' }
            .col-12.col-lg-4
              = f.input :telefono, required: true, label: t(:teléfono), placeholder: "Ingresar teléfono", input_html: { class: 'numero form-temporal-boton-guardar-fpl-usuario', onchange: 'limpiarSoloNumeros(this)' }
    .col-12.mt-2.text-right
      -#
    = simple_form_for @equipo_temporal, url: insert_modal_fondo_produccion_limpia_path, remote: true, html: { autocomplete: :off } do |f|
      = f.input :tipo_equipo, as: :hidden, wrapper: false, input_html: { id: 'tipo_equipo' } # Este campo es crucial para la condición
      .row
        .col-12
          .col-12
            .card
              .card-header
                %h5.no-margin Agregar datos de miembro de equipo
              .card-body
                .row
                  .col-12.col-lg-4
                    = f.input :profesion, required: true, label: t(:profesion), placeholder: "Ingresar profesión", input_html: { class: 'form-temporal-boton-equipo-trabajo-fpl-usuario' }
                  .col-12.col-lg-4
                    = f.input :funciones_proyecto, required: true, label: t(:funciones_proyecto), placeholder: "Ingresar funciones proyecto", input_html: { class: 'form-temporal-boton-equipo-trabajo-fpl-usuario' }
                  .col-12.col-lg-4
                    = f.input :valor_hh, required: true, label: t(:valor_hh), placeholder: "Ingresar valor hh", label: "Valor HH [$]", input_html: { class: 'numero form-temporal-boton-equipo-trabajo-fpl-usuario' }

                  - if f.object.tipo_equipo.to_i != 3
                    .col-12.col-lg-4
                      %label.label-estilo{ for: 'copia_ci' }
                        %abbr{ title: "Campo requerido" } * 
                        Copia CI 
                      = f.file_field :copia_ci, required: true, label: t(:copia_ci), id: "copia_ci", name: "archivos_copia_ci", class: "form-control form-temporal-boton-equipo-trabajo-fpl-usuario smaller-text"
                    .col-12.col-lg-4
                      %label.label-estilo{ for: 'curriculum' }
                        %abbr{ title: "Campo requerido" } * 
                        Curriculum Vitae 
                      = f.file_field :curriculum, required: true, label: t(:curriculum), id: "curriculum", name: "archivos_curriculum", class: "form-control form-temporal-boton-equipo-trabajo-fpl-usuario smaller-text"

        .col-12.mt-2.text-right
          %button.btn.btn-primary#deshacer-usuario-fpl-button{type: :submit, 'data-disable-with' => t(:volver_a_lista)}
            =t(:volver_a_lista)
          %button.btn.btn-primary.guarda-equipo-fpl-button{type: :submit, id: 'oculta_modal', disabled: :disabled, 'data-disable-with' => '<i class="fa fa-spinner fa-spin"></i> Guardando...'.html_safe}
            Guardar

:javascript
  $(document).ready(function(){
    nuevo_usuario_temporal_fpl_validaciones();
    nuevo_equipo_trabajo_fpl_validaciones();
    htmlErrorToTooltip('top'); 
    $('.cerrar-equipo-fpl-button').show();
  });

  $('#oculta_modal').click(function(){
    $('#buscar-usuario').modal('hide');
    $('.loading-data').show();
  });

  function limpiarSoloNumeros(input) {
    // Reemplaza todo lo que no sea número
    input.value = input.value.replace(/\D/g, '');
  }