:javascript
  $(document).ready(function(){
    
    
    //$(".disabled *:not('.fa')").prop('disabled',true);
    //$(".disabled *:not('.fa')").off();

    $('#guardar_button').click(function(){
      $('#enviar_button').removeAttr('data-disable-with');
      $('.loading-data').show()
    });
    $('#enviar_button').click(function(){
      $('#manifestacion_de_interes_temp_siguientes').val(false);
      $('#guardar_button').removeAttr('data-disable-with');
      $('.loading-data').show()
    });

    $('#manifestacion_de_interes_resultado_pertinencia').change(function(){
      carga_por_resultado();
    });

    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });

    if($('#manifestacion_de_interes_resultado_pertinencia').val() != "aceptada"){
      $(".chosen-control").prop('disabled', true).trigger('chosen:updated');
      carga_por_resultado();
    }

    error_sop = '#{@manifestacion_de_interes.errors.messages[:secciones_observadas_pertinencia_factibilidad].first}';

    htmlErrorToTooltip('top');
    if(error_sop != ''){
      showTooltipError(error_sop, $('.manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad'), 'top');
    }

    $('#manifestacion a.nav-link').on('shown.bs.tab', function (e) {
      tab_selected = e.target;
      $('.accordionTabs .card-body a').removeClass('hide');
      if($(tab_selected).prop('id') != 'pertinencia-factibilidad-tab'){

        if($(tab_selected).prop('id') == 'pertinencia-factibilidad-externo'){
          $('#collapseTabs').removeClass("show");
          $('a.nav-link#pertinencia-factibilidad-tab').tab('show');
          $('.accordionTabs .card-header a').removeClass('active');
          $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');
        }else{
          $('#pertinencia-factibilidad-externo').removeClass('active');
          $('.accordionTabs .card-header a').addClass('active');
          $('.accordionTabs .card-header a .titulo-accordion').html($(tab_selected).html());
          $('.accordionTabs .card-body a[tab="'+$(tab_selected).attr('aria-controls')+'"]').addClass('hide');
        }
      }else{
        $('#pertinencia-factibilidad-externo').addClass('active');
        $('.accordionTabs .card-header a').removeClass('active');
        $('.accordionTabs .card-header a .titulo-accordion').html('Información de Acuerdo');
      }
    });

    $('.collapse-tab-item').click(function(e){
      tab = $(this).attr('tab');
      $('#collapseTabs').removeClass("show");
      $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');
      $('a.nav-link#'+tab+'-tab').tab('show');

    });

    $('#collapseTabs').on('show.bs.collapse', function () {
      $('.accordionTabs .card-header a .fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');

      $('#pertinencia-factibilidad-externo').removeClass('active');
      $('.accordionTabs .card-header a').addClass('active');
    });

    $('#collapseTabs').on('hide.bs.collapse', function () {
      $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');

      if($('.accordionTabs .card-header a .titulo-accordion').html() == 'Información de Acuerdo'){
        $('#pertinencia-factibilidad-externo').addClass('active');
        $('.accordionTabs .card-header a').removeClass('active');
      }
    });


  });

  function carga_por_resultado(){
    var resultado_pertinencia = $('#manifestacion_de_interes_resultado_pertinencia').val();
    var obs = $('#manifestacion_de_interes_observaciones_pertinencia_factibilidad');
    var comp = $('#manifestacion_de_interes_compromiso_pertinencia_factibilidad');
    if(resultado_pertinencia == "realiza_observaciones" || resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones" || resultado_pertinencia == "no_aceptada"){
      required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", true);
    }else{
      required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", false);
    }
    if(resultado_pertinencia == "solicita_condiciones" || resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones" || resultado_pertinencia == "no_aceptada"){
      required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", true);
    }else{
      required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", false);
    }
    if(resultado_pertinencia == "aceptada"){
      $(".chosen-control").prop('disabled', false).trigger('chosen:updated');
      required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", true);
      required_dinamico(".manifestacion_de_interes_encargado_hitos_prensa_id", true);

      required_dinamico(".manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad_parent", false);
    }else if(resultado_pertinencia != ""){
      $(".chosen-control").prop('disabled', true).trigger('chosen:updated');
      required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", false);
      required_dinamico(".manifestacion_de_interes_encargado_hitos_prensa_id", false);

      required_dinamico(".manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad_parent", true);
    }

    
  }

- solo_lectura = @tarea_pendiente.estado_tarea_pendiente_id == EstadoTareaPendiente::ENVIADA || @solo_lectura == 'solo_lectura'
- titulo t(:revisar_pertinencia_factibilidad)
= simple_form_for @manifestacion_de_interes, url: pertinencia_factibilidad_manifestacion_de_interes_path(@tarea_pendiente), method: :patch, remote: false, html: { autocomplete: :off, multipart: true } do |f|
  = f.hidden_field :temporal, as: :boolean, value: true
  = f.hidden_field :temp_siguientes, as: :boolean, value: true
  = f.hidden_field :update_pertinencia, as: :boolean, value: true
  = f.input :current_tab, as: :hidden, wrapper: false, input_html: { value: (f.object.current_tab.blank? ? 'tipo-de-acuerdo-tab' : f.object.current_tab) }
  = f.submit "", class: 'd-none'
  .row
    .col-12
      .card
        .card-header.p-0
          .p-3
            %h5.no-margin=titulo_instrumento_fpl.html_safe
            %h5.no-margin=titulo_proyecto_fpl.html_safe
            %h5.no-margin=datos_beneficiario_fpl.html_safe
          #tab-menu-controls.parent-nav.mb-0.mt-3{:role => "tabpanel"}
            %ul#manifestacion.nav.nav-tabs{:role => "tablist"}
              %li.nav-item
                %a.nav-link{id: "pertinencia-factibilidad-externo", class: 'active', "aria-controls" => 'pertinencia-factibilidad-externo', "aria-expanded" => "true", "data-toggle" => "tab", :href => "#pertinencia-factibilidad-externo", :role => "tab"}
                  =t('pertinencia_factibilidad')
        .card-body.border-tabs.px-2.pt-3
          - tabs = { "sector": false, "propuesta-tecnica": false, "equipo-trabajo": false, "plan-de-actividades": false, "documentacion-legal": false, "costos": false, "pertinencia-factibilidad": true }
          -# formulario_remote = true #flag para mostrar/ocultar el botón de guardado
          #tab-menu-controls.no-border.mb-0{:role => "tabpanel"}
            %ul#manifestacion.nav.nav-tabs.d-none.d-lg-flex{:role => "tablist"}
              - tabs.each do |tab,active|
                %li.nav-item{class: (tab.to_s == 'pertinencia-factibilidad' ? 'd-none' : '')}
                  %a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
                    =t(tab.to_s.gsub('-','_'))
                  - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
                    %small.total-error
                      = @total_de_errores_por_tab[tab].size
              -# if @manifestacion_de_interes.errors.messages.size < 1
                -# formulario_remote = false

            .accordionTabs.d-block.d-lg-none
              .card.mb-0
                .card-header.p-0
                  %a.d-flex.justify-content-left.align-items-center{'data-toggle': 'collapse', href: '#collapseTabs', role: 'button', 'aria-expanded': false, 'aria-controls': 'collapseTabs'}
                    .accordion-icon.text-center
                      =fa_icon "ellipsis-h"
                    .titulo-accordion.font-weight-bold Información de Acuerdo
                #collapseTabs.collapse.p-0
                  .card-body.p-0
                    .list-group.list-group-flush
                      - tabs.each do |tab,active|
                        -if tab.to_s != 'pertinencia-factibilidad'
                          %a.collapse-tab-item.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center{tab: "#{tab}"}
                            =t(tab.to_s.gsub('-','_'))
                            -#%span.badge.badge-danger.badge-pill 1

            =# f.input :temporal, as: :hidden, wrapper: false, input_html: { value: true }
            = render "form_fondo_produccion_limpia", tabs: tabs, f: f, solo_lectura: true do
              #pertinencia-factibilidad.tab-pane.fade{"aria-expanded" => (tabs[:"pertinencia-factibilidad"] ? 'true' : 'false'), "aria-labelledby" => "pertinencia-factibilidad-tab", :role => "tabpanel", class: ("show active" if tabs[:"pertinencia-factibilidad"])}
                .card
                  .card-body
                    .row
                      .col-12
                        .row
                          .col-12.col-lg-6.manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad_parent
                            = f.label t(:observaciones), id: "observaciones_label"
                            %br
                            .form-group.required.manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad
                              - checks = tabs.map{|l,v| l.to_s != "pertinencia-factibilidad" ? [I18n.t(l.to_s.gsub('-','_')), l.to_s] : nil}.compact                
                              = f.collection_check_boxes :secciones_observadas_pertinencia_factibilidad, checks, :last, :first, item_wrapper_tag: false, boolean_style: :inline do |cb|
                                = cb.check_box(disabled: solo_lectura)
                                = cb.label
                                %br
                          .col-12.col-lg-6
                            .row
                              .col-12
                                -if !solo_lectura
                                  = f.input :resultado_pertinencia, collection: ManifestacionDeInteres.resultado_pertinencia.keys.map { |w| [w.humanize, w] }, required: true, label: t(:resultado_de_la_pertinencia)
                                -else
                                  .form-group
                                    -no_data = f.object.resultado_pertinencia.blank?
                                    %label.control-label.string=t(:resultado_de_la_pertinencia)
                                    %p#manifestacion_de_interes_resultado_pertinencia.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                      =(no_data ? 'No se ingresó respuesta' : f.object.resultado_pertinencia.humanize)
                              .col-12
                                -if !solo_lectura
                                  = f.input :tipo_instrumento_id, collection: @tipo_instrumentos.map{|m|[m.nombre,m.id]}, group_method: :last, label: t(:tipo_instrumento_propuesto), required: true
                                -else
                                  .form-group
                                    -no_data = f.object.tipo_instrumento_id.blank?
                                    %label.control-label.string=t(:tipo_instrumento_propuesto)
                                    %p#manifestacion_de_interes_tipo_instrumento_id.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                      =(no_data ? 'No se ingresó respuesta' : f.object.tipo_instrumento.nombre)
                      .col-12.col-lg-6
                        -if !solo_lectura
                          = f.input :observaciones_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: t(:observaciones_y_comentarios)
                        -else
                          .form-group
                            -no_data = f.object.observaciones_pertinencia_factibilidad.blank?
                            %label.control-label.string=t(:observaciones_y_comentarios)
                            %p#manifestacion_de_interes_observaciones_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                              =(no_data ? 'No se ingresó respuesta' : f.object.observaciones_pertinencia_factibilidad)
                      .col-12.col-lg-6
                        -if !solo_lectura
                          = f.input :compromiso_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: "Condiciones y/o compromisos a solicitar"
                        -else
                          .form-group
                            -no_data = f.object.compromiso_pertinencia_factibilidad.blank?
                            %label.control-label.string="Condiciones y/o compromisos a solicitar"
                            %p#manifestacion_de_interes_compromiso_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                              =(no_data ? 'No se ingresó respuesta' : f.object.compromiso_pertinencia_factibilidad)
                      .col-12.col-lg-6
                        .row
                          .col-12
                            -if !solo_lectura
                              = f.input :coordinador_subtipo_instrumento_id, collection: @responsables_coordinador.map{|p| [p.user.nombre_completo, p.id]}, label: "Seleccionar Coordinador del Acuerdo", input_html: {class: "chosen-control required", type: :string, "data-placeholder"=>"Seleccione un Coordinador"}
                            -else
                              .form-group
                                -mapa_coordinador = MapaDeActor.where(flujo_id: @tarea_pendiente.flujo_id, rol_id: Rol::COORDINADOR).first
                                -rev_coordinador = mapa_coordinador.nil? ? nil : mapa_coordinador.persona.user.nombre_completo
                                -no_data = rev_coordinador.nil?
                                %label.control-label.string="Coordinador del Acuerdo"
                                %p#manifestacion_de_interes_coordinador_subtipo_instrumento_id.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                  =(no_data ? 'No se ingresó respuesta' : rev_coordinador)
                          .col-12
                            - if @nuevo_usuario
                              = label_tag t(:alerta_nuevo_usuario), nil, class: 'no-form label string'
                      .col-12.col-lg-6
                        -if !solo_lectura
                          = f.input :encargado_hitos_prensa_id, collection: @responsables_prensa.map{|p| [p.user.nombre_completo, p.id]}, label: t(:selección_de_encargado_de_hitos_de_prensa), input_html: {class: "chosen-control required", type: :string, "data-placeholder"=>"Seleccione un Encargado"}
                        -else
                          .form-group
                            -mapa_prensa = MapaDeActor.where(flujo_id: @tarea_pendiente.flujo_id, rol_id: Rol::PRENSA).first
                            -rev_prensa = mapa_prensa.nil? ? nil : mapa_prensa.persona.user.nombre_completo
                            -no_data = rev_prensa.nil?
                            %label.control-label.string=t(:encargado_hitos_prensa)
                            %p#manifestacion_de_interes_encargado_hitos_prensa_id.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                              =(no_data ? 'No se ingresó respuesta' : rev_prensa)
                      .col-12.col-lg-6
                        .row.align-items-end
                          -if !solo_lectura
                            .col-12.col-lg-6
                              = f.input :archivo_pertinencia_factibilidad, as: :file, input_html: {class: "form-control"}, label: "Adjuntar Ficha de Manifestación de Interés (Consejo Directivo)"
                              = f.input :archivo_pertinencia_factibilidad_cache, as: :hidden
                            .col-12.col-lg-6
                              .form-group
                                = __descargar_archivo(f.object.archivo_pertinencia_factibilidad,f.object)
                          -else
                            .col-12
                              .form-group
                                = label_tag "Adjuntar Ficha de Manifestación de Interés (Consejo Directivo)", nil, class: 'string mb-0'
                                = __descargar_archivo(f.object.archivo_pertinencia_factibilidad,f.object, false)            
                      -if !@manifestacion_de_interes.respuesta_observaciones_pertinencia_factibilidad.blank?
                        .col-12.col-lg-6
                          -if !solo_lectura
                            =f.input :respuesta_observaciones_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: t(:detalle_de_, item: t(:respuesta_a_observaciones_pertinencia_factibilidad).downcase), disabled: true
                          -else
                            .form-group
                              -no_data = f.object.respuesta_observaciones_pertinencia_factibilidad.blank?
                              %label.control-label.string=t(:detalle_de_, item: t(:respuesta_a_observaciones_pertinencia_factibilidad).downcase)
                              %p#manifestacion_de_interes_respuesta_observaciones_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                =(no_data ? 'No se ingresó respuesta' : f.object.respuesta_observaciones_pertinencia_factibilidad)
                      -if !@manifestacion_de_interes.respuesta_otros_pertinencia_factibilidad.blank?
                        .col-12.col-lg-6
                          -if !solo_lectura
                            =f.input :respuesta_otros_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: t(:comentarios_sobre_condiciones_y_compromisos), disabled: true
                          -else
                            .form-group
                              -no_data = f.object.respuesta_otros_pertinencia_factibilidad.blank?
                              %label.control-label.string=t(:comentarios_sobre_condiciones_y_compromisos)
                              %p#manifestacion_de_interes_respuesta_otros_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                =(no_data ? 'No se ingresó respuesta' : f.object.respuesta_otros_pertinencia_factibilidad)
                      -if !@manifestacion_de_interes.archivo_respuesta_pertinencia_factibilidad.blank?
                        .col-12.col-lg-6
                          .form-group
                            %label.string.control-label Archivo complementario a respuesta de pertinencia y factibilidad (opcional)
                            = __descargar_archivo(f.object.archivo_respuesta_pertinencia_factibilidad,f.object, false)
    -if !solo_lectura
      .col-12
        .float-right
          = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
          
          = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary", id: "guardar_button"
          = button_tag 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, class: "btn btn-sm btn-success", id: "enviar_button" do
            %i.fa.fa-arrow-circle-right
            =t(:enviar)
