:javascript
	$(document).ready(function() {
		$('table.manifestaciones').DataTable({
			responsive: true,
			lengthMenu: [[30], [30]],
			columnDefs: [ { targets: [-1], orderable: false } ],
			language: {
				url: "#{asset_path('spanish.json')}"
			},
		});
	});

%table.table.table-striped.manifestaciones
	%thead
		%tr
			%th=t(:tipo_instrumento)
			%th=t(:institución)
			%th=t(:estado)
			%th=t(:fecha_creación)
			%th.dos.iconos-acciones=t(:acciones)
	%tbody
		- if @manifestaciones.size == 0
			%tr
				%td.text-center{colspan:5}=t(:tabla_sin_datos)
		- else
			- @manifestaciones.each do |manifestacion|
				%tr
					%td
						- if manifestacion.tipo_instrumento.blank?
							.text-center= '--'
						- else
							= manifestacion.tipo_instrumento.nombre
					%td
						- if manifestacion.contribuyente.blank?
							.text-center= '--'
						- else
							= manifestacion.contribuyente.razon_social
					%td
						- if manifestacion.estado_manifestacion.blank?
							.text-center= '--'
						- else
							= manifestacion.estado_manifestacion.nombre
					%td
						- if manifestacion.created_at.blank?
							.text-center= '--'
						- else
							= l manifestacion.created_at, format: :long
					%td.dos.iconos-acciones
						= link_to edit_manifestacion_de_interes_path(manifestacion) do
							%i.fa.fa-edit
						- if manifestacion.estado_manifestacion_id == EstadoManifestacion::INICIADA
							= link_to manifestacion_de_interes_path(manifestacion), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:manifestacion)), remote: false } do
								%i.fa.fa-trash