$('#div_consultor_faltantes_externos table tbody').empty();
<% consultor_faltantes.each do |consultor_faltante| %>
  var rrhh_id_liquido = '<%= consultor_faltante.rrhh_id_liquido %>';
  var rrhh_id_fondo = '<%= consultor_faltante.rrhh_id_fondo %>';

  var rrhh_equipo_id = '<%= consultor_faltante.rrhh_equipo_id %>'; // Aquí asumo que hay un campo en el modelo llamado equipo_id
  
  <% nombre_usuario = consultor_faltante.nombre_usuario.to_s %>
  <% if consultor_faltante.registro_proveedores_id.present? %>
    <% nombre_usuario += ' (Auditor)' %>
  <% end %>
  var nombre_usuario = '<%= j nombre_usuario %>';

  var hh_liquido = '<%= consultor_faltante.hh_liquido %>'; 
  var hh_fondo = '<%= consultor_faltante.hh_fondo %>';

  var newRow = "<tr>" + 
    "<td class='contenido-form' id='rrhh_id_liquido_<%= consultor_faltante.id %>' style='display:none'>" + rrhh_id_liquido + "</td>" +
    "<td class='contenido-form' id='rrhh_id_fondo_<%= consultor_faltante.id %>' style='display:none'>" + rrhh_id_fondo + "</td>" +
    "<td class='contenido-form' id='rrhh_equipo_id_<%= consultor_faltante.id %>' style='display:none'>" + rrhh_equipo_id + "</td>" +
    "<td class='contenido-form'>" + nombre_usuario + "</td>" +
    "<td class='contenido-form'>" +
    "<input type='text' name='rrhh_externo_liquido_hh' id='rrhh_externo_liquido_hh' value='" + hh_liquido.replace('.', ',') + "' class='required-field numero' style='border: 1px solid #ced4da; border-radius: 0.25rem;' maxlength='4' size='5' onKeyPress='return soloNumerosYComas(event)'>" +
    "</td>" +
    "<td class='contenido-form'>" +
    "<input type='text' name='rrhh_externo_fondo_hh' id='rrhh_externo_fondo_hh' value='" + hh_fondo.replace('.', ',') + "' class='required-field numero' style='border: 1px solid #ced4da; border-radius: 0.25rem;' maxlength='4' size='5' onKeyPress='return soloNumerosYComas(event)'>" +
    "</td>" +
    "</tr>";
  $('#div_consultor_faltantes_externos table tbody').append(newRow);
<% end %>


