$('#div_objetivo_especifico table tbody').empty();
<% objetivo_especificos.each do |objetivo_especifico| %>
  var objetivo_id = '<%= objetivo_especifico.id %>';
  var descripcion = '<%= objetivo_especifico.descripcion %>';
  var metodologia = '<%= objetivo_especifico.metodologia %>';
  var resultado = '<%= objetivo_especifico.resultado %>';
  var indicadores = '<%= objetivo_especifico.indicadores %>';

  var newRow = "<tr>" +
  "<td class='contenido-form' id='objetivo_descripcion_<%= objetivo_especifico.id %>'>" + descripcion + "</td>" +
  "<td class='contenido-form' id='objetivo_metodologia_<%= objetivo_especifico.id %>'>" + metodologia + "</td>" +
  "<td class='contenido-form' id='objetivo_resultado_<%= objetivo_especifico.id %>'>" + resultado + "</td>" +
  "<td class='contenido-form' id='objetivo_indicadores_<%= objetivo_especifico.id %>'>" + indicadores + "</td>";

    <% if @acceso == :admin || current_user.session[:cargos].include?(Rol::JEFE_DE_LINEA) && !solo_lectura %>
      newRow += "<td class='contenido-form dos iconos-acciones'>";
      <% if objetivo_especifico_existente?(objetivo_especifico.id) %>
      newRow += "<a title='Editar los objetivos específicos' class='editar-objetivo' id='editar-objetivo-especifico-" + objetivo_id + "' data-objetivo-id='" + objetivo_id + "' href='/edit_objetivo_especifico/" + objetivo_id + "' onclick='editarObjetivo(" + objetivo_id + ")'><i class='fa fa-edit'></i></a> " +
                "<i class='fa fa-exclamation-circle' data-toggle='tooltip' title='El objetivo no puede ser eliminado ya que se encuentra asociado a alguna actividad.'></i>";
      <% else %>
        newRow += "<a title='Editar los objetivos específicos' class='editar-objetivo' id='editar-objetivo-especifico-" + objetivo_id + "' data-objetivo-id='" + objetivo_id + "' href='/edit_objetivo_especifico/" + objetivo_id + "' onclick='editarObjetivo(" + objetivo_id + ")'><i class='fa fa-edit'></i></a> " +
                  "<a data-objetivo-id=" + objetivo_id + " data-confirm='¿Está seguro que desea borrar este(a) Objetivo específico?' class='eliminar-objetivo-especifico' id='eliminar-objetivo-especifico-" + objetivo_id + "' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_objetivo_especifico/" + objetivo_id + "' data-original-title='Eliminar objetivo específico'><i class='fa fa-trash' data-original-title='' title=''></i></a>";
      newRow += "</td>";
      <% end %>  
    <% end %>  
newRow += "</tr>";   
$('#div_objetivo_especifico table tbody').append(newRow);

// Inicializar el tooltip después de agregar el nuevo elemento
$('[data-toggle="tooltip"]').tooltip();
<% end %>


