var gastos_id = '<%= @gastos_operaciones.id %>';
var nombre = '<%= @gastos_operaciones.nombre %>';
var valor_unitario = '<%=number_to_currency @gastos_operaciones.valor_unitario %>';
var cantidad = '<%= @gastos_operaciones.cantidad %>';
var unidad = '';
var total = '<%=number_to_currency @gastos_operaciones.valor_unitario.to_i * @gastos_operaciones.cantidad.to_i %>';
var plan_id = '<%= @plan_id %>';
var tarea_pendiente_id =  '<%= @tarea_pendiente.id %>';

<% if @gastos_operaciones.unidad_medida == 1 %>
    unidad = 'Unidad'
<% end %>

<% if @gastos_operaciones.unidad_medida == 2 %>
    unidad = 'Global'
<% end %>

var newRow = "<tr>" +
"<td class='contenido-form'>" + nombre + "</td>" +
"<td class='contenido-form'>" + valor_unitario + "</td>" +
"<td class='contenido-form'>" + cantidad + "</td>" +
"<td class='contenido-form'>" + unidad + "</td>" +
"<td class='contenido-form'>" + total + "</td>" +
"<td class='contenido-form dos iconos-acciones'>" +
"<a data-gasto-id=" + gastos_id + " data-confirm='¿Está seguro que desea borrar este Gasto?' class='eliminar-gasto_operacion' id='eliminar-gasto-operacion-" + gastos_id + "' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_gasto_operacion/" + tarea_pendiente_id + "?gastos_id=" + gastos_id + "&plan_id=" + plan_id + "' data-original-title='Eliminar gasto'><i class='fa fa-trash' data-original-title='' title=''></i></a>" +
"</td>" +
"</tr>";   
$('#div_plan_gastos_operacion table tbody').append(newRow);
   
$('#modal_gastos_operacion-form').modal("hide");

$('#modal_gastos_operacion-form').on('hidden.bs.modal', function () {
  // Cierra modal_create_plan_actividades-form si está abierto
  $('#modal_create_plan_actividades-form').modal("hide");

  // Llama a la función para abrir el nuevo modal
  crearPlanActividades('<%= @plan_id %>', 'false');
});

document.querySelectorAll('#div_consultor_faltantes input[type="text"]').forEach(function(input) {
    input.value = '';
});

var mensajeCosto = document.getElementById('mensaje-costo');
<% if @mensaje.present? %>
  var contenido = '<%= j @mensaje %>';
  mensajeCosto.innerHTML = contenido;
<% end %>

<% if @total_gastos_tipo_1.total_gastos_tipo_1 != 0 %>
  document.getElementById('total_gastos_tipo_1_<%= @total_gastos_tipo_1.actividad_id %>').innerText = '<%= number_to_currency @total_gastos_tipo_1.total_gastos_tipo_1 %>';
<% else %>
  document.getElementById('total_gastos_tipo_1_<%= @total_gastos_tipo_1.actividad_id %>').innerText = '$0';
<% end %>

//Actualiza total por fila
document.getElementById('total_suma_<%= @valor_hh_tipo_3.actividad_id %>').innerText = '<%= number_to_currency  @valor_hh_tipo_3.valor_hh_tipo_3 + @valor_hh_tipos_1_2_.valor_hh_tipos_1_2_ + @total_gastos_tipo_1.total_gastos_tipo_1 + @total_gastos_tipo_2.total_gastos_tipo_2%>';
 
//Actualiza totales generales
document.getElementById('total_total_gastos_tipo_1').innerText = '<%= number_to_currency  @total_total_gastos_tipo_1 %>';
document.getElementById('total_total_suma').innerText = '<%= number_to_currency  @total_valor_hh_tipo_3 + @total_valor_hh_tipos_1_2 + @total_total_gastos_tipo_1 + @total_total_gastos_tipo_2%>';

//Actualiza campos de la tabla costo
//ESTRUCTURA DE COSTOS

//Costo total de la propuesta
<% if @costos.present? %>
  document.getElementById('costo_total_de_la_propuesta').innerText = '<%= number_to_currency @costos['costo_total_de_la_propuesta'] %>';

  <% if @costos['costo_total_de_la_propuesta'] != 0 %>
    //document.getElementById('costo_total_de_la_propuesta').innerText = '<%= number_to_currency @costos['costo_total_de_la_propuesta'] %>';
    document.getElementById('porcentaje_costo_total_de_la_propuesta').innerText = '<%= number_to_percentage((@costos['costo_total_de_la_propuesta'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    //document.getElementById('costo_total_de_la_propuesta').innerText = '$0';
    document.getElementById('porcentaje_costo_total_de_la_propuesta').innerText = '0,00%';
  <% end %>

  //Aporte Propio Valorado
  document.getElementById('aporte_propio_valorado').innerText = '<%= number_to_currency @costos['aporte_propio_valorado'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['aporte_propio_valorado'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_valorado').innerText = '<%= number_to_percentage((@costos['aporte_propio_valorado'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_valorado').innerText = '0,00%';
  <% end %>

  //Aporte Propio Líquido
  document.getElementById('aporte_propio_liquido').innerText = '<%= number_to_currency @costos['aporte_propio_liquido'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['aporte_propio_liquido'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_liquido').innerText = '<%= number_to_percentage((@costos['aporte_propio_liquido'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_liquido').innerText = '0,00%';
  <% end %>

  //Aporte Propio Total
  document.getElementById('aporte_propio_total').innerText = '<%= number_to_currency @costos['aporte_propio_liquido'] + @costos['aporte_propio_valorado'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_total').innerText = '<%= number_to_percentage(((@costos['aporte_propio_liquido'].to_f + @costos['aporte_propio_valorado'].to_f) / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_total').innerText = '0,00%';
  <% end %>

  //Aporte solicitado Fondo PL
  document.getElementById('aporte_solicitado_al_fondo').innerText = '<%= number_to_currency @costos['aporte_solicitado_al_fondo'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['aporte_solicitado_al_fondo'] != 0 %>
    document.getElementById('porcentaje_aporte_solicitado_al_fondo').innerText = '<%= number_to_percentage((@costos['aporte_solicitado_al_fondo'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_solicitado_al_fondo').innerText = '0,00%';
  <% end %>

  //ESTRUCTURA DE COSTOS POR PARTIDA

  //Recursos Humanos Propios
  document.getElementById('recursos_humanos_propios').innerText = '<%= number_to_currency @costos['recursos_humanos_propios'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['recursos_humanos_propios'] != 0 %>
    document.getElementById('porcentaje_recursos_humanos_propios').innerText = '<%= number_to_percentage((@costos['recursos_humanos_propios'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_recursos_humanos_propios').innerText = '0,00%';
  <% end %>

  //Recursos Humanos Externos
  document.getElementById('recursos_humanos_externos').innerText = '<%= number_to_currency @costos['recursos_humanos_externos'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['recursos_humanos_externos'] != 0 %>
    document.getElementById('porcentaje_recursos_humanos_externos').innerText = '<%= number_to_percentage((@costos['recursos_humanos_externos'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_recursos_humanos_externos').innerText = '0,00%';
  <% end %>

  //Gastos de Operación
  document.getElementById('gastos_operacion').innerText = '<%= number_to_currency @costos['gastos_operacion'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['gastos_operacion'] != 0 %>
    document.getElementById('porcentaje_gastos_operacion').innerText = '<%= number_to_percentage((@costos['gastos_operacion'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_gastos_operacion').innerText = '0,00%';
  <% end %>

  //Gastos de Administración
  document.getElementById('gastos_administrativos').innerText = '<%= number_to_currency @costos['gastos_administrativos'] %>';
  <% if @costos['costo_total_de_la_propuesta'] != 0 || @costos['gastos_administrativos'] != 0 %>
    document.getElementById('porcentaje_gastos_administrativos').innerText = '<%= number_to_percentage((@costos['gastos_administrativos'].to_f / @costos['costo_total_de_la_propuesta'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_gastos_operacion').innerText = '0,00%';
  <% end %>

  //APORTE BENEFICIARIO POR PARTIDA
  //Recursos Humanos Propios
  document.getElementById('aporte_propio_valorado_rrhh_propio').innerText = '<%= number_to_currency @costos['aporte_propio_valorado_rrhh_propio'] %>';
  <% if @costos['aporte_propio_valorado'] != 0 || @costos['aporte_propio_valorado_rrhh_propio'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_valorado_rrhh_propio').innerText = '<%= number_to_percentage((@costos['aporte_propio_valorado_rrhh_propio'].to_f / @costos['aporte_propio_valorado'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_valorado_rrhh_propio').innerText = '0,00%';
  <% end %>
  
  document.getElementById('aporte_propio_liquido_rrhh_propio').innerText = '<%= number_to_currency @costos['aporte_propio_liquido_rrhh_propio'] %>';
  <% if @costos['aporte_propio_liquido'] != 0 || @costos['aporte_propio_liquido_rrhh_propio'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_liquido_rrhh_propio').innerText = '<%= number_to_percentage((@costos['aporte_propio_liquido_rrhh_propio'].to_f / @costos['aporte_propio_liquido'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_liquido_rrhh_propio').innerText = '0,00%';
  <% end %>

  //Recursos Humanos Externos
  document.getElementById('aporte_propio_valorado_rrhh_externo').innerText = '<%= number_to_currency @costos['aporte_propio_valorado_rrhh_externo'] %>';
  <% if @costos['aporte_propio_valorado'] != 0 || @costos['aporte_propio_valorado_rrhh_externo'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_valorado_rrhh_externo').innerText = '<%= number_to_percentage((@costos['aporte_propio_valorado_rrhh_externo'].to_f / @costos['aporte_propio_valorado'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_valorado_rrhh_externo').innerText = '0,00%';
  <% end %>
  
  document.getElementById('aporte_propio_liquido_rrhh_externo').innerText = '<%= number_to_currency @costos['aporte_propio_liquido_rrhh_externo'] %>';
  <% if @costos['aporte_propio_liquido'] != 0 || @costos['aporte_propio_liquido_rrhh_externo'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_liquido_rrhh_externo').innerText = '<%= number_to_percentage((@costos['aporte_propio_liquido_rrhh_externo'].to_f / @costos['aporte_propio_liquido'].to_f * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_liquido_rrhh_externo').innerText = '0,00%';
  <% end %>

  //Gastos de Operación
  document.getElementById('aporte_propio_valorado_gasto_operacion').innerText = '<%= number_to_currency @costos['aporte_propio_valorado_gasto_operacion'] %>';
  <% if @costos['aporte_propio_valorado'] != 0 || @costos['aporte_propio_valorado_gasto_operacion'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_valorado_gasto_operacion').innerText = '<%= number_to_percentage((@costos['aporte_propio_valorado_gasto_operacion'].to_f / @costos['aporte_propio_valorado'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_valorado_gasto_operacion').innerText = '0,00%';
  <% end %>
  
  document.getElementById('aporte_propio_liquido_gasto_operacion').innerText = '<%= number_to_currency @costos['aporte_propio_liquido_gasto_operacion'] %>';
  <% if @costos['aporte_propio_liquido'] != 0 || @costos['aporte_propio_liquido_gasto_operacion'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_liquido_gasto_operacion').innerText = '<%= number_to_percentage((@costos['aporte_propio_liquido_gasto_operacion'].to_f / @costos['aporte_propio_liquido'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_liquido_gasto_operacion').innerText = '0,00%';
  <% end %>

  //Gastos de Administración
  document.getElementById('aporte_propio_valorado_gasto_administracion').innerText = '<%= number_to_currency @costos['aporte_propio_valorado_gasto_administracion'] %>';
  <% if @costos['aporte_propio_valorado'] != 0 || @costos['aporte_propio_valorado_gasto_administracion'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_valorado_gasto_administracion').innerText = '<%= number_to_percentage((@costos['aporte_propio_valorado_gasto_administracion'].to_f / @costos['aporte_propio_valorado'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_valorado_gasto_administracion').innerText = '0,00%';
  <% end %>
  
  document.getElementById('aporte_propio_liquido_gasto_administracion').innerText = '<%= number_to_currency @costos['aporte_propio_liquido_gasto_administracion'] %>';
  <% if @costos['aporte_propio_liquido'] != 0 || @costos['aporte_propio_liquido_gasto_administracion'] != 0 %>
    document.getElementById('porcentaje_aporte_propio_liquido_gasto_administracion').innerText = '<%= number_to_percentage((@costos['aporte_propio_liquido_gasto_administracion'].to_f / @costos['aporte_propio_liquido'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_propio_liquido_gasto_administracion').innerText = '0,00%';
  <% end %>

  //APORTE DEL FONDO POR PARTIDA
  //Recursos Humanos Externos
  document.getElementById('aporte_solicitado_fondo_rrhh_externo').innerText = '<%= number_to_currency @costos['aporte_solicitado_fondo_rrhh_externo'] %>';
  <% if @costos.aporte_solicitado_al_fondo != 0 || @costos['aporte_solicitado_fondo_rrhh_externo'] != 0 %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_rrhh_externo').innerText = '<%= number_to_percentage((@costos['aporte_solicitado_fondo_rrhh_externo'].to_f / @costos['aporte_solicitado_al_fondo'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_rrhh_externo').innerText = '0,00%';
  <% end %>

  //Gastos de Operación
  document.getElementById('aporte_solicitado_fondo_gasto_operacion').innerText = '<%= number_to_currency @costos['aporte_solicitado_fondo_gasto_operacion'] %>';
  <% if @costos.aporte_solicitado_al_fondo != 0 || @costos['aporte_solicitado_fondo_gasto_operacion'] != 0 %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_operacion').innerText = '<%= number_to_percentage((@costos['aporte_solicitado_fondo_gasto_operacion'].to_f / @costos['aporte_solicitado_al_fondo'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_operacion').innerText = '0,00%';
  <% end %>

  //Gastos de Administración
  document.getElementById('aporte_solicitado_fondo_gasto_administracion').innerText = '<%= number_to_currency @costos['aporte_solicitado_fondo_gasto_administracion'] %>';
  <% if @costos.aporte_solicitado_al_fondo != 0 || @costos['aporte_solicitado_fondo_gasto_administracion'] != 0 %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_administracion').innerText = '<%= number_to_percentage((@costos['aporte_solicitado_fondo_gasto_administracion'].to_f / @costos['aporte_solicitado_al_fondo'] * 100).round(2), precision: 2) %>';
  <% else %>
    document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_administracion').innerText = '0,00%';
  <% end %>

  //VALIDACIÓN

  <% if @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_1_1 || @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_5_1 || @flujo.tipo_instrumento_id == TipoInstrumento::FPL_EXTRAPRESUPUESTARIO_DIAGNOSTICO  %>
    //Aporte líquido del postulante
    document.getElementById('valida_aporte_propio_liquido').innerText = '<%= number_to_currency @costos['aporte_propio_liquido'] %>';
    <% if @costos['costo_total_de_la_propuesta'] != 0 %>
      document.getElementById('valida_porcentaje_aporte_propio_liquido').innerText = '<%= number_to_currency(((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_LIQUIDO_MINIMO_DIAGNOSTICO)/100), precision: 2) %>';
    <% else %>
      document.getElementById('valida_porcentaje_aporte_propio_liquido').innerText = '0%';
    <% end %>

    <% if @costos['aporte_propio_liquido'] >= ((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_LIQUIDO_MINIMO_DIAGNOSTICO) / 100) %>
      document.getElementById('valida_pregunta_aporte_propio_liquido').innerText = 'SI';
    <% else %>
      document.getElementById('valida_pregunta_aporte_propio_liquido').innerText = 'NO';
    <% end %>

    //Aporte del postulante
    document.getElementById('valida_costo_total_de_la_propuesta').innerText = '<%= number_to_currency @costos['aporte_propio_liquido'] + @costos['aporte_propio_valorado'] %>';
    <% if @costos['costo_total_de_la_propuesta'] != 0 %>
      document.getElementById('valida_porcentaje_costo_total_de_la_propuesta').innerText = '<%= number_to_currency(((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_PROPIO_MINIMO_DIAGNOSTICO)/100), precision: 2) %>';
    <% else %>
      document.getElementById('valida_porcentaje_costo_total_de_la_propuesta').innerText = '0%';
    <% end %>
    
    <% if @costos['costo_total_de_la_propuesta'] >= ((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_PROPIO_MINIMO_DIAGNOSTICO) / 100) && @costos['costo_total_de_la_propuesta'] != '' %>
      document.getElementById('valida_pregunta_costo_total_de_la_propuesta').innerText = 'SI';
    <% else %>
      document.getElementById('valida_pregunta_costo_total_de_la_propuesta').innerText = 'NO';
    <% end %>

    //Gastos de Administración
    document.getElementById('valida_gastos_administrativos').innerText = '<%= number_to_currency @costos['gastos_administrativos'] %>';
    <% if @costos['costo_total_de_la_propuesta'] != 0 %>
      document.getElementById('valida_porcentaje_gastos_administrativos').innerText = '<%= number_to_currency(((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_GASTO_ADMINISTRACION_DIAGNOSTICO)/100), precision: 2) %>';
    <% else %>
      document.getElementById('valida_porcentaje_gastos_administrativos').innerText = '0%';
    <% end %>
    
    <% if @costos['gastos_administrativos'] <= ((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_GASTO_ADMINISTRACION_DIAGNOSTICO) / 100) && @costos.costo_total_de_la_propuesta != '' %>
      document.getElementById('valida_pregunta_gastos_administrativos').innerText = 'SI';
    <% else %>
      document.getElementById('valida_pregunta_gastos_administrativos').innerText = 'NO';
    <% end %>

    //Cofinanciamiento CPL
    document.getElementById('valida_aporte_solicitado_al_fondo').innerText = '<%= number_to_currency @costos['aporte_solicitado_al_fondo'] %>';
    <% if @costos['costo_total_de_la_propuesta'] != 0 %>
      document.getElementById('valida_porcentaje_aporte_solicitado_al_fondo').innerText = '<%= number_to_currency(tope_maximo_solicitar_diagnostico(@tarea_pendiente.flujo_id)) %>';
    <% else %>
      document.getElementById('valida_porcentaje_aporte_solicitado_al_fondo').innerText = '0%';
    <% end %>
    
    <% if @costos['aporte_solicitado_al_fondo'] <= tope_maximo_solicitar_diagnostico(@tarea_pendiente.flujo_id) && ['@costos.costo_total_de_la_propuesta'] != '' %>
      document.getElementById('valida_pregunta_aporte_solicitado_al_fondo').innerText = 'SI';
    <% else %>
      document.getElementById('valida_pregunta_aporte_solicitado_al_fondo').innerText = 'NO';
    <% end %>

  <% else %>
    <% if @costos_seguimiento.present? %>
      // De apoyo general al postulante
      // Aporte del postulante
      <% if @costos_seguimiento[0].present? %>
        document.getElementById('apoyo_general_postulante_aporte_postulante_monto').innerText = '<%= number_to_currency(@costos_seguimiento[0]['aporte_propio_valorado'].to_f + @costos_seguimiento[0]['aporte_propio_liquido'].to_f) %>';
      <% else %>
        document.getElementById('apoyo_general_postulante_aporte_postulante_monto').innerText = '$0';
      <% end %>

      <% if @costos_seguimiento[0].present? %>
        <% if @costos_seguimiento[0]['aporte_solicitado_al_fondo'].to_f + @costos_seguimiento[0]['aporte_propio_valorado'].to_f + @costos_seguimiento[0]['aporte_propio_liquido'].to_f != 0 %>
          document.getElementById('apoyo_general_postulante_aporte_postulante_limite').innerText = '<%= number_to_currency(((@costos_seguimiento[0]['aporte_solicitado_al_fondo'].to_f + @costos_seguimiento[0]['aporte_propio_valorado'].to_f + @costos_seguimiento[0]['aporte_propio_liquido'].to_f) * Gasto::PORCENTAJE_APORTE_PROPIO_MINIMO_DIAGNOSTICO)/100) %>';
        <% else %>
          document.getElementById('apoyo_general_postulante_aporte_postulante_limite').innerText = '$0';
        <% end %>
      <% else %>
        document.getElementById('apoyo_general_postulante_aporte_postulante_limite').innerText = '$0';
      <% end %>

      <% if @costos_seguimiento[0].present? %>
        <% if @costos_seguimiento[0]['aporte_propio_valorado'].to_f + @costos_seguimiento[0]['aporte_propio_liquido'].to_f  >= ((((@costos_seguimiento[0]['aporte_solicitado_al_fondo'].to_f + @costos_seguimiento[0]['aporte_propio_valorado'].to_f + @costos_seguimiento[0]['aporte_propio_liquido']) * Gasto::PORCENTAJE_APORTE_PROPIO_MINIMO_DIAGNOSTICO)/100)) && @costos_seguimiento[0]['aporte_propio_valorado'].present? %>
          document.getElementById('apoyo_general_postulante_aporte_postulante_cumple').innerText = 'SI';
        <% else %>
          document.getElementById('apoyo_general_postulante_aporte_postulante_cumple').innerText = 'NO';
        <% end %>
      <% else %>
        document.getElementById('apoyo_general_postulante_aporte_postulante_cumple').innerText = 'NO';
      <% end %>  

      // Cofinanciamiento CPL
      <% if @costos_seguimiento[0].present? %>
        document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_monto').innerText = '<%= number_to_currency(@costos_seguimiento[0]['aporte_solicitado_al_fondo'].to_f) %>';
      <% else %>
        document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_monto').innerText = 'NO';
      <% end %>
      
      document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_limite').innerText = '<%= number_to_currency(tope_maximo_solicitar_diagnostico(@tarea_pendiente.flujo_id)) %>';
      
      <% if @costos_seguimiento[0].present? %>
        <% if @costos_seguimiento[0]['aporte_solicitado_al_fondo'].to_f <= tope_maximo_solicitar_diagnostico(@tarea_pendiente.flujo_id) && @costos_seguimiento[0]['aporte_solicitado_al_fondo'].present? %>
          document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_cumple').innerText = 'SI';
        <% else %>
          document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_cumple').innerText = 'NO';
        <% end %>
      <% else %>
        document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_cumple').innerText = 'NO';
      <% end %>

      // De apoyo directo a las empresas de menor tamaño
      // Aporte del postulante
      <% if @costos_seguimiento[1].present? %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_monto').innerText = '<%= number_to_currency(@costos_seguimiento[1]['aporte_propio_valorado'].to_f + @costos_seguimiento[1]['aporte_propio_liquido'].to_f) %>';
      <% else %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_monto').innerText = '$0';
      <% end %>

      <% if @confinanciamiento_empresa[1].present? %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_porcentaje').innerText = 'Mayor o igual al <%= number_to_percentage((@confinanciamiento_empresa[1]).round(2), precision: 2) %> del total Actividades Tipo B';
      <% else %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_porcentaje').innerText = 'Mayor o igual al $0 del total Actividades Tipo B';
      <% end %>

      <% if @costos_seguimiento[1].present? %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_limite').innerText = '<%= number_to_currency((((@costos_seguimiento[1]['aporte_solicitado_al_fondo'].to_f + @costos_seguimiento[1]['aporte_propio_valorado'].to_f + @costos_seguimiento[1]['aporte_propio_liquido'].to_f) * @confinanciamiento_empresa[1]) / 100), precision: 0, delimiter: '.') %>';
      <% else %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_limite').innerText = '$0';
      <% end %>

      <% if @costos_seguimiento[1].present? %>
        <% if @costos_seguimiento[1]['aporte_propio_valorado'].to_f + @costos_seguimiento[1]['aporte_propio_liquido'].to_f >= ((((@costos_seguimiento[1]['aporte_solicitado_al_fondo'].to_f + @costos_seguimiento[1]['aporte_propio_valorado'].to_f + @costos_seguimiento[1]['aporte_propio_liquido']).to_f * Gasto::PORCENTAJE_APORTE_POSTULANTE)/100)) && @costos_seguimiento[1]['aporte_propio_valorado'].present? %>
          document.getElementById('apoyo_general_empresa_aporte_postulante_cumple').innerText = 'SI';
        <% else %>
          document.getElementById('apoyo_general_empresa_aporte_postulante_cumple').innerText = 'NO';
        <% end %>
      <% else %>
        document.getElementById('apoyo_general_empresa_aporte_postulante_cumple').innerText = 'NO';
      <% end %>  

      // Cofinanciamiento CPL
      <% if @costos_seguimiento[1].present? %>
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_monto').innerText = '<%= number_to_currency(@costos_seguimiento[1]['aporte_solicitado_al_fondo'].to_f) %>';
      <% else %>
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_monto').innerText = '$0';
      <% end %>
      
      <% if @confinanciamiento_empresa[0].present? %>
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_porcentaje').innerText = 'Menor o igual a <%= number_to_currency(@confinanciamiento_empresa[0]) %>';
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_limite').innerText = '<%= number_to_currency(@confinanciamiento_empresa[0]) %>';
      <% else %>
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_porcentaje').innerText = 'Menor o igual a $0 %>';
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_limite').innerText = '$0';
      <% end %>

      <% if @costos_seguimiento[1].present? %>
        <% if @costos_seguimiento[1]['aporte_propio_valorado'].to_f  <= tope_maximo_solicitar_diagnostico(@tarea_pendiente.flujo_id) && @costos_seguimiento[1]['aporte_propio_valorado'].present? %>
          document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_cumple').innerText = 'SI';
        <% else %>
          document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_cumple').innerText = 'NO';
        <% end %>
      <% else %>
        document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_cumple').innerText = 'NO';
      <% end %> 

      //Total Proyecto
      //Aporte líquido del postulante
      document.getElementById('total_proyecto_aporte_liquido_postulante_monto').innerText = '<%= number_to_currency(@costos['aporte_propio_liquido'].to_f) %>';
      document.getElementById('total_proyecto_aporte_liquido_postulante_limite').innerText = '<%= number_to_currency(((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_LIQUIDO_MINIMO_DIAGNOSTICO)/100)) %>';
      <% if @costos.aporte_propio_liquido >= (((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_APORTE_LIQUIDO_MINIMO_DIAGNOSTICO)/100)) && @costos.costo_total_de_la_propuesta.present? %> 
        document.getElementById('total_proyecto_aporte_liquido_postulante_cumple').innerText = 'SI';
      <% else %>
        document.getElementById('total_proyecto_aporte_liquido_postulante_cumple').innerText = 'NO';
      <% end %>

      //Gastos de Administración
      document.getElementById('total_proyecto_gastos_administracion_monto').innerText = '<%= number_to_currency @costos['gastos_administrativos'] %>';
      <% if @costos['costo_total_de_la_propuesta'] != 0 %>
        document.getElementById('total_proyecto_gastos_administracion_limite').innerText = '<%= number_to_currency(((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_GASTO_ADMINISTRACION_DIAGNOSTICO)/100), precision: 2) %>';
      <% else %>
        document.getElementById('total_proyecto_gastos_administracion_limite').innerText = '0%';
      <% end %>
      
      <% if @costos['gastos_administrativos'] <= ((@costos['costo_total_de_la_propuesta'].to_f * Gasto::PORCENTAJE_GASTO_ADMINISTRACION_DIAGNOSTICO) / 100) && @costos.costo_total_de_la_propuesta != '' %>
        document.getElementById('total_proyecto_gastos_administracion_cumple').innerText = 'SI';
      <% else %>
        document.getElementById('total_proyecto_gastos_administracion_cumple').innerText = 'NO';
      <% end %>
    <% end %> 
  <% end %>
<% else %>
  //ESTRUCTURA DE COSTOS
  //Costo total de la propuesta
  document.getElementById('costo_total_de_la_propuesta').innerText = '$0';
  document.getElementById('porcentaje_costo_total_de_la_propuesta').innerText = '0,00%';
  
  //Aporte Propio Valorado
  document.getElementById('aporte_propio_valorado').innerText = '$0';
  document.getElementById('porcentaje_aporte_propio_valorado').innerText = '0,00%';
  
  //Aporte Propio Líquido
  document.getElementById('aporte_propio_liquido').innerText = '$0';
  document.getElementById('porcentaje_aporte_propio_liquido').innerText = '0,00%';
  
  //Aporte Propio Total
  document.getElementById('aporte_propio_total').innerText = '$0';
  document.getElementById('porcentaje_aporte_propio_total').innerText = '0,00%';
  
  //Aporte solicitado Fondo PL
  document.getElementById('aporte_solicitado_al_fondo').innerText = '$0';
  document.getElementById('porcentaje_aporte_solicitado_al_fondo').innerText = '0,00%';
  
  //ESTRUCTURA DE COSTOS POR PARTIDA
  //Recursos Humanos Propios
  document.getElementById('recursos_humanos_propios').innerText = '$0';
  document.getElementById('porcentaje_recursos_humanos_propios').innerText = '0,00%';
  
  //Recursos Humanos Externos
  document.getElementById('recursos_humanos_externos').innerText = '$0'; 
  document.getElementById('porcentaje_recursos_humanos_externos').innerText = '0,00%';
  
  //Gastos de Operación
  document.getElementById('gastos_operacion').innerText = '$0';  
  document.getElementById('porcentaje_gastos_operacion').innerText = '0,00%';
  
  //Gastos de Administración
  document.getElementById('gastos_administrativos').innerText =  '$0';
  document.getElementById('porcentaje_gastos_operacion').innerText = '0,00%';
  
  //APORTE BENEFICIARIO POR PARTIDA
  //Recursos Humanos Propios
  document.getElementById('aporte_propio_valorado_rrhh_propio').innerText = '$0';
  document.getElementById('porcentaje_aporte_propio_valorado_rrhh_propio').innerText = '0,00%';
  document.getElementById('aporte_propio_liquido_rrhh_propio').innerText = '$0'; 
  document.getElementById('porcentaje_aporte_propio_liquido_rrhh_propio').innerText = '0,00%';
  
  //Recursos Humanos Externos
  document.getElementById('aporte_propio_valorado_rrhh_externo').innerText = '$0'; 
  document.getElementById('porcentaje_aporte_propio_valorado_rrhh_externo').innerText = '0,00%';
  document.getElementById('aporte_propio_liquido_rrhh_externo').innerText = '$0'; 
  document.getElementById('porcentaje_aporte_propio_liquido_rrhh_externo').innerText = '0,00%';
  
  //Gastos de Operación
  document.getElementById('aporte_propio_valorado_gasto_operacion').innerText = '$0';  
  document.getElementById('porcentaje_aporte_propio_valorado_gasto_operacion').innerText = '0,00%';
  document.getElementById('aporte_propio_liquido_gasto_operacion').innerText = '$0';  
  document.getElementById('porcentaje_aporte_propio_liquido_gasto_operacion').innerText = '0,00%';
  
  //Gastos de Administración
  document.getElementById('aporte_propio_valorado_gasto_administracion').innerText = '$0';  
  document.getElementById('porcentaje_aporte_propio_valorado_gasto_administracion').innerText = '0,00%';
  document.getElementById('aporte_propio_liquido_gasto_administracion').innerText = '$0';  
  document.getElementById('porcentaje_aporte_propio_liquido_gasto_administracion').innerText = '0,00%';
  
  //APORTE DEL FONDO POR PARTIDA
  //Recursos Humanos Externos
  document.getElementById('aporte_solicitado_fondo_rrhh_externo').innerText = '$0'; 
  document.getElementById('porcentaje_aporte_solicitado_fondo_rrhh_externo').innerText = '0,00%';
  
  //Gastos de Operación
  document.getElementById('aporte_solicitado_fondo_gasto_operacion').innerText = '$0';
  document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_operacion').innerText = '0,00%';
  
  //Gastos de Administración
  document.getElementById('aporte_solicitado_fondo_gasto_administracion').innerText = '$0'; 
  document.getElementById('porcentaje_aporte_solicitado_fondo_gasto_administracion').innerText = '0,00%';
  
  //VALIDACIÓN
  <% if @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_1_1 || @flujo.tipo_instrumento_id == TipoInstrumento::FPL_LINEA_5_1 || @flujo.tipo_instrumento_id == TipoInstrumento::FPL_EXTRAPRESUPUESTARIO_DIAGNOSTICO  %>
    //Aporte líquido del postulante
    document.getElementById('valida_aporte_propio_liquido').innerText = '$0'; 
    document.getElementById('valida_porcentaje_aporte_propio_liquido').innerText = '0%';
    document.getElementById('valida_pregunta_aporte_propio_liquido').innerText = 'NO';
    
    //Aporte del postulante
    document.getElementById('valida_costo_total_de_la_propuesta').innerText = '$0'; 
    document.getElementById('valida_porcentaje_costo_total_de_la_propuesta').innerText = '0%';
    document.getElementById('valida_pregunta_costo_total_de_la_propuesta').innerText = 'NO';
    
    //Gastos de Administración
    document.getElementById('valida_gastos_administrativos').innerText = '$0'; 
    document.getElementById('valida_porcentaje_gastos_administrativos').innerText = '0%';
    document.getElementById('valida_pregunta_gastos_administrativos').innerText = 'NO';
    
    //Cofinanciamiento CPL
    document.getElementById('valida_aporte_solicitado_al_fondo').innerText ='$0'; 
    document.getElementById('valida_porcentaje_aporte_solicitado_al_fondo').innerText = '0%';
    document.getElementById('valida_pregunta_aporte_solicitado_al_fondo').innerText = 'NO';
      
  <% else %>  
    
    // De apoyo general al postulante
    // Aporte del postulante
    document.getElementById('apoyo_general_postulante_aporte_postulante_monto').innerText ='$0'; 
    document.getElementById('apoyo_general_postulante_aporte_postulante_limite').innerText = '$0';
    document.getElementById('apoyo_general_postulante_aporte_postulante_cumple').innerText = 'NO';

    // Cofinanciamiento CPL
    document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_monto').innerText ='$0'; 
    document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_limite').innerText = '$0';
    document.getElementById('apoyo_general_postulante_cofinanciamiento_cpl_cumple').innerText = 'NO';

    // De apoyo directo a las empresas de menor tamaño
    // Aporte del postulante
    document.getElementById('apoyo_general_empresa_aporte_postulante_monto').innerText ='$0'; 
    document.getElementById('apoyo_general_empresa_aporte_postulante_limite').innerText = '$0';
    document.getElementById('apoyo_general_empresa_aporte_postulante_cumple').innerText = 'NO';

    // Cofinanciamiento CPL
    document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_monto').innerText ='$0'; 
    document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_porcentaje').innerText = '0%';
    document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_limite').innerText = '$0';
    document.getElementById('apoyo_general_empresa_cofinanciamiento_cpl_cumple').innerText = 'NO';

    //Total Proyecto
    //Aporte líquido del postulante
    document.getElementById('total_proyecto_aporte_liquido_postulante_monto').innerText = '$0';
    document.getElementById('total_proyecto_aporte_liquido_postulante_limite').innerText = '$0';
    document.getElementById('total_proyecto_aporte_liquido_postulante_cumple').innerText = 'NO';
    
    //Gastos de Administración
    document.getElementById('total_proyecto_gastos_administracion_monto').innerText = '$0';
    document.getElementById('total_proyecto_gastos_administracion_limite').innerText = '0%';
    document.getElementById('total_proyecto_gastos_administracion_cumple').innerText = 'NO';

  <% end %>

<% end %>

$('.loading-data').hide();