
var nombreCompleto = '<%= @user.nombre_completo %>';
var rut = '<%= format_rut(@user.rut) %>';
var telefono = '<%= @user.telefono %>';
var email = '<%= @user.email %>';
var profesion = '<%= @equipo_temporal.profesion %>';
var funcionesProyecto = '<%= @equipo_temporal.funciones_proyecto %>';
var valorHH = '<%=number_to_currency @equipo_temporal.valor_hh %>';
var copiaCI = '<%= @equipo_temporal.copia_ci %>';
var curriculum = '<%= @equipo_temporal.curriculum %>';
var user_id = '<%= @equipo_temporal.id %>';
var tarea_pendiente_id = '<%= @tarea_pendiente.id %>';

<% if @equipo_temporal.tipo_equipo == 1 %>
    var newRow = "<tr>" +
    "<td class='contenido-form'>" + nombreCompleto + "</td>" +
    "<td class='contenido-form'>" + rut + "</td>" +
    "<td class='contenido-form'>" + telefono + "</td>" +
    "<td class='contenido-form'>" + email + "</td>" +
    "<td class='contenido-form'>" + profesion + "</td>" +
    "<td class='contenido-form'>" + funcionesProyecto + "</td>" +
    "<td class='contenido-form'>" + valorHH + "</td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.copia_ci.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.curriculum.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td id='iconos-acciones-" + user_id + "' class='contenido-form dos iconos-acciones'>" +
    "<a data-user-id="+ user_id + " data-confirm='¿Está seguro que desea borrar este(a) Responsable?' class='eliminar-user-consultora' id='eliminar-usuario-"+ user_id +"' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_equipo/"+ tarea_pendiente_id +"?user_id="+ user_id +"' data-original-title='Eliminar al consultor'><i class='fa fa-trash' data-original-title='' title=''></i></a>" +
    "</td>" +
    "</tr>";    
    $('#div_equipo_consultora table tbody').append(newRow); 
    $('#opcion_1').prop('disabled', true);
    $('#modal_objetivos-form').modal("hide");

    var $consultor = $('#open-modal-button_buscar_usuario');
    $consultor.removeClass('btn-danger').addClass('btn-primary');
    $consultor.attr('data-tooltip', 'false');

    $empresa = $('#open-modal-button_buscar_contribuyente');
    $empresa.removeClass('btn-danger').addClass('btn-primary');
    $empresa.attr('data-tooltip', 'false');

<% end %>

<% if @equipo_temporal.tipo_equipo == 2 %>
    var newRow = "<tr>" +
    "<td class='contenido-form'>" + nombreCompleto + "</td>" +
    "<td class='contenido-form'>" + rut + "</td>" +
    "<td class='contenido-form'>" + telefono + "</td>" +
    "<td class='contenido-form'>" + email + "</td>" +
    "<td class='contenido-form'>" + profesion + "</td>" +
    "<td class='contenido-form'>" + funcionesProyecto + "</td>" +
    "<td class='contenido-form'>" + valorHH + "</td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.copia_ci.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.curriculum.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td id='iconos-acciones-" + user_id + "' class='contenido-form dos iconos-acciones'>" +
    "<a data-user-id="+ user_id + " data-confirm='¿Está seguro que desea borrar este(a) Responsable?' class='eliminar-user-consultora_empresa' id='eliminar-usuario_empresa-"+ user_id +"' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_consultor_empresa/"+ tarea_pendiente_id +"?user_id="+ user_id +"' data-original-title='Eliminar al consultor'><i class='fa fa-trash' data-original-title='' title=''></i></a>" +
    "</td>" +
    "</tr>";    
    $('#div_equipo_consultora_empresa table tbody').append(newRow); 

    var $consultor = $('#open-modal-button_buscar_usuario_consultora');
    $consultor.removeClass('btn-danger').addClass('btn-primary');
    $consultor.attr('data-tooltip', 'false');

    $('#div_empresa_consultora table tbody').empty();
    <% @contribuyente.each do |contribuyente| %>
        var razonSocial = '<%= j contribuyente.razon_social %>';
        var rut = '<%= format_rut("#{contribuyente.rut || ''}#{contribuyente.dv || ''}") %>';

        var newRow = "<tr>" +
        "<td class='contenido-form'>" + razonSocial + "</td>" +
        "<td class='contenido-form'>" + rut + "</td>" +
        "<td class='contenido-form dos iconos-acciones'>" +
        "<i class='fa fa-exclamation-circle' data-toggle='tooltip' title='La empresa no puede ser eliminada ya que tiene un equipo de consultores asociados.'></i>" +
        "</td>" +
        "</tr>";    
        $('#div_empresa_consultora table tbody').append(newRow); 
    <% end %>
<% end %>

<% if @equipo_temporal.tipo_equipo == 3 %>
    var newRow = "<tr>" +
    "<td class='contenido-form'>" + nombreCompleto + "</td>" +
    "<td class='contenido-form'>" + rut + "</td>" +
    "<td class='contenido-form'>" + telefono + "</td>" +
    "<td class='contenido-form'>" + email + "</td>" +
    "<td class='contenido-form'>" + profesion + "</td>" +
    "<td class='contenido-form'>" + funcionesProyecto + "</td>" +
    "<td class='contenido-form'>" + valorHH + "</td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.copia_ci.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td class='contenido-form'><a class='btn btn-sm btn-descargar btn-block tooltip-block px-5' data-original-title='' download='' href='<%= escape_javascript(@equipo_temporal.curriculum.url) %>' title=''><i class='fa fa-download'></i></a></td>" +
    "<td id='iconos-acciones-" + user_id + "' class='contenido-form dos iconos-acciones'>" +
    "<a data-user-id="+ user_id + " data-confirm='¿Está seguro que desea borrar este(a) Responsable?' class='eliminar-user-consultora' id='eliminar-postulante-"+ user_id +"' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_equipo_postulante/"+ tarea_pendiente_id +"?user_id="+ user_id +"' data-original-title='Eliminar al consultor'><i class='fa fa-trash' data-original-title='' title=''></i></a>" +
    "</td>" +
    "</tr>";     
    $('#div_postulante table tbody').append(newRow); 

    var $postulante = $('#open-modal-button_buscar_usuario_postulante');
    $postulante.removeClass('btn-danger').addClass('btn-primary');
    $postulante.attr('data-tooltip', 'false');

<% end %>