:javascript
  $(document).ready(function() {
    $('.tabla').DataTable({
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      responsive: true,
      paginate: false,
      searching: true,
      columnDefs: [ { targets: [0], orderable: true }], 
    });
    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });


    htmlErrorToTooltip('top');
  

    $('#auditoria').chosen(chosenOptions);
    $('#auditoria').change(function(){
      carga_seleccion();
    });
    $('#elemento_adherido').chosen(chosenOptions);
    $('#elemento_adherido').change(function(){
      carga_seleccion();
    });

    //DZC 2018-11-13 23:40:43 carga la seleccion
    function carga_seleccion(){
      instrumento_id = #{@instrumento.id};
      auditoria_id = $('#auditoria').val();
      elemento_adherido_id = $('#elemento_adherido').val();
      $.ajax({
        url: "#{cargar_seleccion_admin_reporte_automatizado_avances_path}",
        type: "GET",
        dataType: "script",
        data: { instrumento: instrumento_id, auditoria: auditoria_id, elemento_adherido: elemento_adherido_id },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    };
  
  });
- auditoria_especifica =  @auditoria.present? ? @auditoria : ((@auditorias.present? && @auditorias.size == 1) ? @auditorias[0] : nil)
- elemento_especifico =  @adhesion_elemento.present? ? @adhesion_elemento : ((@adhesion_elementos.present? && @adhesion_elementos.size == 1) ? @adhesion_elementos[0] : nil)
.row
  .col-12
    .card
      .card-header
        %h5
          %b=@instrumento.tipo_instrumento.nombre_tipo
          %br
          %b=@instrumento.subtipo_de_instrumento
          %br
          =@instrumento.nombre_instrumento
          %br
          %b ID
          =@instrumento.id
        .row.justify-content-left       
          .col-md-6
            - recargar = 'SELECCIONE ESTA OPCION PARA RECARGAR EL LISTADO'
            = select_tag :auditoria, options_from_collection_for_select(@auditorias, "id", "nombre_para_raa", :selected=>(@auditoria.blank? ? nil : @auditoria.id)), { class: 'form-control',:prompt => (@auditoria.present? ? recargar : 'Seleccione una Auditoría')}  
          .col-md-6
            = select_tag :elemento_adherido, options_from_collection_for_select(@adhesion_elementos, "id", "nombre_para_raa", :selected=>(@adhesion_elemento.blank? ? nil : @adhesion_elemento.id)), { class: 'form-control',:prompt => (@adhesion_elemento.present? ? recargar : 'Seleccione un Elemento Adherido')}
      .card-header
        - if @tipo_vista == 1
          %h5.no-margin=t(:resultado_por_accion_auditada)
        - else
          %h5.no-margin=t(:cumplimiento_de_acuerdo)

      - unless @auditoria_elementos.blank?
        - if @tipo_vista == 1
          .card-body.px-0
            %table.table.table-bordered.table-striped.mb-0.tabla
              %thead
                %tr
                  %th=t(:razon_social)
                  -#%th=t(:auditoria_id)
                  -#%th=t(:auditoria_nombre)
                  %th=t(:auditoria_elemento_id)
                  %th=t(:adhesion_elemento_id)
                  %th=t(:nombre_elemento_adherido)
                  %th=t(:nombre_accion)
                  %th=t(:nombre_informe_auditoria)
                  %th=t(:fecha_auditoria)
                  %th=t(:aplica)
                  %th=t(:motivo)
                  %th=t(:cumple)
              %tbody
                - @auditoria_elementos.each do |elemento|
                  %tr.accion
                    %td=elemento.adhesion_elemento.persona.contribuyente.razon_social                  
                    -#%td=elemento.auditoria.id
                    -#%td=(elemento.auditoria.nombre.blank? ? 'Auditoria sin nombre': elemento.auditoria.nombre)
                    %td=elemento.id
                    %td=elemento.adhesion_elemento.id
                    %td=elemento.adhesion_elemento.nombre_segun_alcance
                    %td=elemento.set_metas_accion.accion.nombre
                    %td
                      - if elemento.archivo_informe.present? && !elemento.archivo_informe.file.original_filename.blank?
                        =elemento.archivo_informe.file.original_filename
                        %br
                        = link_to elemento.archivo_informe.url, download: ''  do
                          %i.fa.fa-download
                      - else
                        Archivo de informe no encontrado
                    %td=elemento.fecha_auditoria
                    %td=elemento.aplica ? "Si" : "No"
                    %td=elemento.motivo
                    %td=elemento.cumple ? "Si" : "No"
          .card-header
            %h5.no-margin=t(:cumplimiento_de_acuerdo)
        .card-footer
          %hr
          .row
            .col-12
              %label.fs-14="Porcentaje cumplimiento: "+((@auditoria_elementos_aplica.to_f*100)/@auditoria_elementos_total.to_f).round().to_s+"%"
            .col-12
              %label.fs-14="Porcentaje avance: "+((@auditoria_elementos_cumple.to_f*100)/@auditoria_elementos_total.to_f).round().to_s+"%"
      - else
        .card-footer.px-0
          .col-md-12
            %label.fs-14="No hay elementos de auditoría asociados a ninguna auditoría"
.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:cumplimientos_por_institucion)
      .card-body.px-0
        %table.table.table-bordered.table-striped.mb-0.tabla
          %thead
            %tr
              %th=t(:razon_social)
              %th=t(:rut)
              %th=t(:porcentaje_cumplimiento)
          %tbody
            - @contribuyentes.each do |contribuyente|
              %tr
                %td=contribuyente.razon_social
                %td=contribuyente.rut_completo
                -#
                  %td=contribuyente.obtiene_procentaje_cumplimiento(@instrumento.id, @auditorias, @adhesion_elementos)
                %td=contribuyente.obtiene_procentaje_cumplimiento(@instrumento.id, auditoria_especifica, elemento_especifico)

.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:cumplimientos_por_elemento_adherido)
      .card-body.px-0
        %table.table.table-bordered.table-striped.mb-0.tabla
          %thead
            %tr
              %th=t(:fecha_adhesion)
              %th=t(:razon_social)
              %th=t(:nombre_encargado)
              %th=t(:alcance)
              %th=t(:nombre_elemento_adherido)
              %th=t(:porcentaje_cumplimiento)
          %tbody
            - @adhesion_elementos_tabla.each do |elemento|
              %tr
                %td=elemento.fila[:fecha_adhesion]
                %td=elemento.persona.contribuyente.razon_social
                %td=elemento.persona.user.nombre_completo
                %td=elemento.alcance.nombre
                %td=elemento.nombre_segun_alcance
                %td=elemento.obtiene_procentaje_cumplimiento(auditoria_especifica)
.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:cumplimientos_por_accion)
      .card-body.px-0
        %table.table.table-bordered.table-striped.mb-0.tabla
          %thead
            %tr
              %th=t(:meta)
              %th=t(:accion)
              %th=t(:materia)
              %th=t(:valor_referencia)
              %th=t(:alcance)
              %th=t(:criterio_inclusion_exclusion)
              %th=t(:descripcion_accion)
              %th=t(:detalle_medio_verificacion)
              %th=t(:plazo)
              %th=t(:porcentaje_cumplimiento)
          %tbody
            - @set_metas_acciones.each do |record|
              %tr
                %td=record.meta.nombre
                %td=record.accion.nombre
                %td=record.materia_sustancia.blank?? '--' : record.materia_sustancia.nombre
                %td=record.valor_referencia
                %td=record.alcance.blank?? '--' : record.alcance.nombre
                %td=record.criterio_inclusion_exclusion
                %td=record.descripcion_accion
                %td=record.detalle_medio_verificacion
                %td="#{record.plazo_valor} #{t(record.plazo_unidad_tiempo)}"
                %td=record.obtiene_procentaje_cumplimiento(auditoria_especifica, elemento_especifico)

.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:cumplimientos_por_meta)
      .card-body.px-0


.float-right
  - if @disponible 
    - url = root_path
  - else
    - url = admin_gestionar_mis_instrumentos_path
  = link_to t(:back), url, class: 'btn btn-sm btn-warning ml-1'
  -#
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled
