:javascript
	$(document).ready(function() {
		$('table.cargos').DataTable({
			responsive: true,
			lengthMenu: [[30], [30]],
			columnDefs: [ { targets: [3], orderable: false } ],
			order: [0,'asc'],
			language: {
				url: "#{asset_path('spanish.json')}"
			},
		});
	});
- titulo t(:cargos)
= link_to t(:agregar_, item: t(:cargo).downcase), new_admin_cargo_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
.card
	.card-header
		%h5.no-margin
			= t(:lista_de_, items: t(:cargos).downcase)
	.card-body
		%table.table.cargos.table-striped
			%thead
				%tr
					%th.id=t(:id)
					%th.cargo-nombre=t(:name)
					%th.cargo-descripcion=t(:description)
					%th=t(:mostrar_en_excel)
					%th.dos.iconos-acciones=t(:acciones)
			%tbody
				- @cargos.each do |cargo|
					- if ( [Cargo::ADMIN, Cargo::USER].include?(cargo.id) && current_user.is_root? ) || ! [Cargo::ADMIN, Cargo::USER].include?(cargo.id)
						%tr
							%td.id=cargo.id
							%td.cargo-nombre
								= cargo.nombre
							%td.cargo-descripcion
								= cargo.descripcion
							%td= cargo.mostrar_en_excel ? t(:yes_with_fa_check).html_safe : t(:no_with_fa_times).html_safe
							%td.dos.iconos-acciones
								%div
									= link_to edit_admin_cargo_path(cargo) do
										%i.fa.fa-edit
									= link_to admin_cargo_path(cargo), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:cargo)), remote: false } do
										%i.fa.fa-trash