:javascript
  $(document).ready(function() {
    $('table.flujo-tareas').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
  });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:flujo_tareas).downcase)
  .card-body
    .table-responsive
      %table.table.flujo-tareas.table-striped
        %thead
          %tr
            %th=t(:tarea_entrada)
            %th=t(:tarea_salida)
            %th=t(:rol_destinatarios)
            %th=t(:condición_de_salida)
            %th=t(:mensaje_salida_asunto)
            %th=t(:mensaje_salida_cuerpo)
            %th.dos.iconos-acciones=t(:acciones)

        %tbody
          - @flujo_tareas.each do |record|
            %tr
              %td=record.tarea_entrada.nombre
              - if record.sin_salida
                %td= "Sin salida"
              -else
                %td=record.tarea_salida.nombre
              %td=Rol.where(id: record.rol_destinatarios.map{|m|m unless m.blank?}.compact).all.map{|m|m.nombre}.join(", ")
              %td=record.condicion_de_salida
              %td.text-center=record.mensaje_salida_asunto.blank? ? '--' : record.mensaje_salida_asunto
              %td.text-center=record.mensaje_salida_cuerpo.blank? ? '--' : record.mensaje_salida_cuerpo
              %td.dos.iconos-acciones
                %div
                  = link_to edit_admin_flujo_tarea_path(record) do
                    %i.fa.fa-edit
                  -# DZC 2018-10-18 18:27:58 se indisponibiliza para evitar perdida de coherencia en el sistema 
                    = link_to admin_flujo_tarea_path(record), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:flujo_tarea).downcase), remote: false } do
                    %i.fa.fa-trash