- titulo t(:centro_de_costo)
= simple_form_for [:admin,@centro_de_costo], remote: true, html: { autocomplete: :off }, wrapper: :group_with_icon do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= action_label_of_(@centro_de_costo)
				.card-body
					.row
						.col-lg-6.pr-lg-0.col-12
							= f.input :nombre, label: t(:nombre), input_html: { class: 'required-field' }, placeholder: t(:indique_un_nombre), required: true
						.col-lg-3.pr-lg-0.col-12
							= f.input :ano_asignacion, label: t(:ano_asignacion), input_html: { class: 'required-field' }, placeholder: t(:indique_el_año_de_la_asignación), required: true
						.col-lg-3.col-12
							= f.input :monto_asignacion, label: t(:monto_asignacion), fa_icon: :dollar, input_html: { class: 'required-field moneda', type: :text }, placeholder: t(:indique_el_monto_de_la_asignación), required: true
						.col-12
							= f.input :descripcion, label: t(:descripción), input_html: { class: 'required-field', rows: 6 }, placeholder: t(:indique_una_descripción), required: true

	.float-right
		= link_to t(:back), admin_centro_de_costos_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled