- url = tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes,@set_metas_accion, accion: @manifestacion_de_interes.accion_en_set_metas_accion)
-#DZC se programa interacción de comentarios entre observaciones y respuestas por propuesta específica 
- externo = externo.nil? ? false : externo
- titulo t(:set_metas_accion) unless externo
= simple_nested_form_for [@tarea_pendiente,@manifestacion_de_interes,@set_metas_accion], url: url, remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= action_label_of_(@set_metas_accion)
				.card-body
					#messages-in-modal-remote-block
					.row
						.col-6
							= f.input :comentario, as: :text, input_html:{ class: "im-not-required-check-the-others", rows: 4}, disabled: (!observar_propuesta || responder_propuesta) 
						.col-6
							= f.input :comentario_respuesta, as: :text, input_html:{ class: "im-not-required-check-the-others", rows: 4}, disabled: (observar_propuesta || !responder_propuesta)						
	.float-right
		= link_to t(:back), tarea_pendiente_manifestacion_de_interes_set_metas_acciones_path(@tarea_pendiente,@manifestacion_de_interes), class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled