- externo = externo.nil? ? false : externo
:javascript
  var comentario = undefined;
  var tabla_metas_acciones;
  $(document).ready(function() {
    tabla_metas_acciones = $('table.entregables').DataTable({
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      lengthMenu: [[30], [30]],
      columnDefs: [
        { targets: [-1], orderable: false },
        { responsivePriority: 1, targets: 0 },
        { responsivePriority: 2, targets: -1 }
      ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
    if (metas_requieren_correcciones()){
      debeComentar($('input[name="manifestacion_de_interes[aprueba_set_metas_accion]"]:checked'),true);
    };
    $('input[name="manifestacion_de_interes[aprueba_set_metas_accion]"]').click(function(){
      if ($('input[name="manifestacion_de_interes[aprueba_set_metas_accion]"]:checked').val() == "true"){
        $('.fila_de_metas').each(function(){
          $(this).find('.meta_observada').prop('checked', false);
        });
      };
      debeComentar(this,true);
    });
    // DZC 2018-10-09 19:01:56  revisa si se selecciona la opción "requiere correcciones"
    $('.meta_observada').click(function(){
      if (metas_requieren_correcciones()){
        // DZC 2018-10-09 19:02:00  cambia la opción seleccionada en "aprueba propuesta de acuerdo" acorde a si se ha o no elegido la opción "requiere correcciones"
        $('input[name="manifestacion_de_interes[aprueba_set_metas_accion]"]:last').prop('checked', true);
        debeComentar($('input[name="manifestacion_de_interes[aprueba_set_metas_accion]"]:checked'),true);
      };
    });
    function debeComentar(checkbox,checkValidity) {
      c = $('#manifestacion_de_interes_comentarios_y_observaciones_set_metas_acciones');
      id  = $(checkbox).attr("id");
      if(~id.indexOf("false")) {
        c.removeAttr('disabled').addClass('required-field');
        $('label[for="manifestacion_de_interes_comentarios_y_observaciones_set_metas_acciones"] > abbr').show();
      } else if (~id.indexOf("true")) {
        c.attr('disabled','disabled').val("").removeClass('required-field');
        $('label[for="manifestacion_de_interes_comentarios_y_observaciones_set_metas_acciones"] > abbr').hide();
      }

      if ( checkValidity ) {
        checkFieldValidity(c);
      }
    }
    //DZC 2018-10-09 19:09:12 revisa si se encuentra seleccionado para corrección a lo menos un actor 
    function metas_requieren_correcciones(){
      var cantidad_que_requiere = 0;
      requieren = false;
      $('.fila_de_metas').each(function(){      
        if ($(this).find('.meta_observada').is(':checked')){
          cantidad_que_requiere += 1;
        };
      });
      if (cantidad_que_requiere >0){
        requieren = true;
      };
      return requieren;
    };
    $('#informe_acuerdo_archivos_anexos_posteriores_firmas').change(function (){
      //$('#archivos_cargados').find(".parciales").remove();
      $.each(this.files,function(index, value){
        li = "<li class='list-group-item d-flex justify-content-between align-items-center parciales'>";
        li += "<input name='por_eliminar[]' type='checkbox' value='"+this.name+"' />";
        li += "<span>"+this.name+"</span>";
        li += "<span>"+this.name+"</span>";
        li += "<span class='badge badge-pill'>";
        li += "<i class='fa fa-circle-o-notch fa-spin fa-2x'>";
        li += "</span></li>";
        $('#archivos_cargados').append(li);
      });
    });

  });

  $("a#set-metas-accion-tab").click(function(){
    //console.log(tabla_metas_acciones);
    //tabla_metas_acciones.responsive.rebuild();
    //tabla_metas_acciones.responsive.recalc();
  });

  $('a#set-metas-accion-tab').on('shown.bs.tab', function (e) {
    //console.log(e.target.prop("id"));
    tabla_metas_acciones.responsive.rebuild();
    tabla_metas_acciones.responsive.recalc();
  });
  
  $('body').on('click', '[data-toggle="modal"]', function(){
    hrefAttr = $(this).attr('href');
    if (typeof hrefAttr !== typeof undefined && hrefAttr !== false && hrefAttr !== '#') {
      $($(this).data("target")+' .modal-body').load(hrefAttr);
    }
  });

  $(document).on('click', '.btn-eliminar-grupo', function(e){
    e.preventDefault();
    mensaje = $(this).data("alerta");
    url = $(this).attr("href");
    dataConfirmModal.confirm({
      title: 'Confirme antes de continuar',
      text: mensaje,
      commit: 'Confirmar',
      cancel: 'Cancelar',
      zIindex: 10099,
      onConfirm: function() {
        $('.loading-data').show();
        window.location = url;
      },
      onCancel:  function() {
      },
      onHide:    function() {
      }
    });
  });

- propuestas_con_observaciones = @propuestas_con_observaciones.blank? ? [] : @propuestas_con_observaciones
- indicar_propuestas_con_observaciones = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_set_metas_accion == :revision )
- ver_propuestas_con_observaciones = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_set_metas_accion == :actualizacion )
- observar_propuestas = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_set_metas_accion == :observacion )
- responder_propuestas = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_set_metas_accion == :respuesta )
- comite_propuestas = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_set_metas_accion == :comite )
-# AON: no sabia si era ocupada en otra parte esta tabla, así que pasandole la variable apl, oculta elementos
- apl = defined?(apl).nil? ? nil : apl
= simple_form_for @manifestacion_de_interes, url: tarea_pendiente_manifestacion_de_interes_enviar_revision_path(@tarea_pendiente, @manifestacion_de_interes), method: :patch, remote: true do |f|
  .card{class: (@tarea.codigo == Tarea::COD_APL_019 ? 'mb-0' : '')}
    .card-body
      -#DZC boton para ejecutar modal
      - if comite_propuestas
        .row
          .col-12
            = link_to '#', "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-archivos-anexos-posteriores-firma", class: 'btn btn-sm btn-primary m-0 btn-sm float-right', style: "white-space: normal;" do
              Agregar archivos anexos posteriores a la firma
        -#
          .col-lg-9.ml-auto
            = link_to '#', "data-toggle"=>:modal, "data-target"=>"#DESCARGAR-SET-METAS", class: 'btn btn-sm btn-primary m-0 btn-sm float-left' do
              Descargar Set de Metas y Acciones

      - if apl.nil?
        .row.mt-2
          -@origenes.each do |combi, origen|
            .col-12.col-lg-3.mb-1
              .form-control.caja-borde-azul.d-flex.align-items-center
                %div{style:"border-radius: 2px;padding: 6px;background-color: #"+origen[:color].to_s}
                %label.control-label.mb-0.px-1.text-truncate.flex-grow-1{title: origen[:nombre].gsub("<b>","").gsub("</b>","")}=origen[:nombre].html_safe
                -if (ver_propuestas_con_observaciones || comite_propuestas) && ![Tarea::COD_APL_023].include?(@tarea.codigo) 
                  -alerta = "Se quitarán todas las acciones relacionadas a este estándar. ¿Está seguro que desea continuar?"
                  -if combi.split('-').last == "ManifestacionDeInteres"
                    -alerta = "Se quitarán todas las acciones del Acuerdo seleccionado previamente. ¿Está seguro que desea continuar?"
                  =link_to tarea_pendiente_manifestacion_de_interes_eliminar_grupo_combi_path(@tarea_pendiente, @manifestacion_de_interes, combi: combi), class: "btn btn-eliminar-acciones ml-auto text-secondary btn-eliminar-grupo", "data-alerta" => alerta do
                    &times;
      %table.table.entregables.table-striped
        %thead
          %tr
            - if apl.nil?
              %th
            %th=t(:meta)
            %th=t(:acción)
            %th=t(:materia)
            /%th=t(:tipo_cuantitativa)
            - if apl.nil?
              %th=t(:valor_referencia)
            %th=t(:alcance)
            %th=t(:criterio_inclusión_exclusión)
            %th=t(:descripción_acción)
            %th=t(:detalle_medio_verificación)
            %th=t(:plazo)
            - if (indicar_propuestas_con_observaciones || ver_propuestas_con_observaciones)  && @tarea.codigo != Tarea::COD_APL_018
              %th=t(:requiere_correcciones)
            -if !indicar_propuestas_con_observaciones
              %th=t(:acciones)

        %tbody
          - @set_metas_acciones.each do |record|
            - ms = record.materia_sustancia
            %tr.fila_de_metas
              - if apl.nil?
                %td.pt-3
                  -if !record.modelo_referencia.blank?
                    -origen = @origenes[record.llave_origen]
                    %div{style:"border-radius: 2px;width: 12px;height: 12px;background-color: #"+origen[:color].to_s, title: origen[:nombre].gsub("<b>","").gsub("</b>","")}
              -if observar_propuestas
                = hidden_field_tag "comentarios[#{record[:id]}]", nil
              %td=record.meta.nombre
              %td=record.accion.nombre
              %td=ms.blank? ? '--' : ms.nombre
              /%td=record.tipo_cuantitativa
              - if apl.nil?
                %td=record.valor_referencia
              %td=record.alcance.nombre
              %td=record.criterio_inclusion_exclusion
              %td=record.descripcion_accion
              %td=record.detalle_medio_verificacion
              %td
                -if !record.plazo_unidad_tiempo.blank?
                  ="#{record.plazo_valor} #{t(record.plazo_unidad_tiempo)}"
              - if  @tarea.codigo != Tarea::COD_APL_018
                - if indicar_propuestas_con_observaciones
                  %td.text-center=check_box_tag "manifestacion_de_interes[propuestas][]",record[:id], propuestas_con_observaciones.include?(record[:id].to_s), class: "meta_observada"
                - elsif ver_propuestas_con_observaciones
                  %td.text-center
                    = propuestas_con_observaciones.include?(record[:id].to_s) ? t(:yes_with_fa_times).html_safe : t(:no_with_fa_check).html_safe
              
              -if !indicar_propuestas_con_observaciones
                %td
                  .d-flex.align-items-start.flex-column.flex-lg-row
                    -
                    - edit_link_to = edit_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes,record, accion: @manifestacion_de_interes.accion_en_set_metas_accion)
                    - aa_link_to = acciones_relacionadas_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes,record)
                    -
                    - if record.es_editable(@tarea.codigo) == 'total' || record.es_editable(@tarea.codigo) == 'parcial'
                      = link_to aa_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: "Ver acciones relacionadas", class: "btn btn-tabla-sm my-1" do
                        %i.fa.fa-pagelines
                        .d-inline.d-lg-none Ver acciones relacionadas
                      = link_to edit_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: "Editar", class: "btn btn-tabla-sm my-1" do
                        %i.fa.fa-edit
                        .d-inline.d-lg-none Editar
                    - if observar_propuestas || responder_propuestas
                      - if (@tarea_20_finalizada || @tarea_20_no_enviada)
                        - texto_boton =  " Ver"
                        - clase_boton = 'fa-eye'
                      - else
                        - texto_boton = " Comentar"
                        - clase_boton = 'fa-comment'
                      = link_to edit_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: texto_boton, class: "btn btn-tabla my-1" do
                        %i.fa{class: clase_boton}
                        .d-inline
                          = texto_boton
                    -if @manifestacion_de_interes.tipo_manifestacion_metas != 2 && !observar_propuestas && !responder_propuestas && (@tarea.codigo != Tarea::COD_APL_023) && record.es_borrable?(@tarea.codigo) # DZC 2018-10-29 09:17:29 se elimina condición de que el usuario sea administrador, y mantiene condifició de que no se trate de un un estandar de certificación. DZC 2018-11-02 15:06:26 se agrega la condición de que no se trate de una tarea que consista en la mera observación del set de metas y acciones 
                      = link_to tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente, @manifestacion_de_interes,record, accion: @manifestacion_de_interes.accion_en_set_metas_accion), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:set_metas_accion)), remote: false }, class: "btn btn-tabla-sm my-1" do
                        %i.fa.fa-trash
                        .d-inline.d-lg-none Eliminar
      -if @tarea_pendiente.tarea.codigo == Tarea::COD_APL_013 || @tarea_pendiente.tarea.codigo == Tarea::COD_APL_014 || @tarea_pendiente.tarea.codigo == Tarea::COD_APL_018 || @tarea_pendiente.tarea.codigo == Tarea::COD_APL_023
        .col-md-8.mx-auto.p-2.my-4
          = link_to pdf_set_metas_manifestacion_de_interes_path , download: '', class: 'btn btn-sm btn-outline-secondary btn-block' do
            %i.fa.fa-download
            = t(:descarga_set_metas_y_accion)
      - if @manifestacion_de_interes.accion_en_set_metas_accion==:revision
        .row
          .col-12.col-lg-4
            .form-group.boolean.required.manifestacion_de_interes_aprueba_set_metas_accion{class: ('has-error' if f.object.errors.messages.has_key?(:aprueba_set_metas_accion))}
              %label.boolean.required{for: :manifestacion_de_interes_aprueba_set_metas_accion}
                %abbr{:title => "required"} *
                = t(:aprueba_set_metas_accion)
              .radio-buttons
                = f.collection_radio_buttons :aprueba_set_metas_accion, [[true, t(:yes)] ,[false, t(:no)]], :first, :last, checked: false
          .col-12.col-lg-8
            = f.input :comentarios_y_observaciones_set_metas_acciones, as: :text,label: t(:comentarios_y_observaciones_set_metas_acciones), required: true, input_html: {class: "required-field"}
      -if [:actualizacion, :revision].include?(@manifestacion_de_interes.accion_en_set_metas_accion) && @tarea.codigo != Tarea::COD_APL_018
        - comentarios = @manifestacion_de_interes.comentarios_y_observaciones_set_metas_acciones.blank? ? [] : @manifestacion_de_interes.comentarios_y_observaciones_set_metas_acciones
        - comentarios = comentarios.blank? && !@comentarios_set_metas_acciones.blank? ? @comentarios_set_metas_acciones : []
        -if comentarios.size > 0
          .row
            .col-12
              .form-group
                %label.string
                  = t(:comentarios)
              .table-responsive
                %table.table.table-striped
                  %thead
                    %tr
                      %th=t(:fecha_y_hora)
                      %th=t(:usuario)
                      %th=t(:texto)
                  %tbody
                    - comentarios.each do |c|
                      %tr
                        %td=l c[:datetime], format: '%d-%m-%Y %H:%M:%S'
                        %td=c[:user]
                        %td=c[:texto]
  - if comite_propuestas
    .card.mb-0
      .card-header
        %h5.m-0.float-left
          = t(:metas_acciones_definidas_posterioridad_firma_parentesis)
        - new_link_to = new_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes, accion: @manifestacion_de_interes.accion_en_set_metas_accion, anexo: true)
        = link_to t(:agregar_, item: t(:acción).downcase), new_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", class: 'btn btn-sm btn-primary m-0 btn-sm float-right'
      .card-body
        .table-responsive
          %table.table.entregables.table-striped
            %thead
              %tr
                %th=t(:meta)
                %th=t(:acción)
                %th=t(:materia)
                /%th=t(:tipo_cuantitativa)
                %th=t(:valor_referencia)
                %th=t(:alcance)
                %th=t(:criterio_inclusión_exclusión)
                %th=t(:descripción_acción)
                %th=t(:detalle_medio_verificación)
                %th=t(:plazo)
                - if indicar_propuestas_con_observaciones || ver_propuestas_con_observaciones
                  %th=t(:requiere_correcciones)
                %th

            %tbody
              - @set_metas_acciones_anexas.each do |record|
                - ms = record.materia_sustancia
                %tr
                  -if observar_propuestas
                    = hidden_field_tag "comentarios[#{record[:id]}]", nil
                  %td=record.meta.nombre
                  %td=record.accion.nombre
                  %td=ms.blank? ? '--' : ms.nombre
                  /%td=record.tipo_cuantitativa
                  %td=record.valor_referencia
                  %td=record.alcance.nombre
                  %td=record.criterio_inclusion_exclusion
                  %td=record.descripcion_accion
                  %td=record.detalle_medio_verificacion
                  %td="#{record.plazo_valor} #{t(record.plazo_unidad_tiempo)}"
                  - if indicar_propuestas_con_observaciones
                    %td.text-center=check_box_tag("manifestacion_de_interes[propuestas][]",record[:id], propuestas_con_observaciones.include?(record[:id].to_s))
                  - elsif ver_propuestas_con_observaciones
                    %td.text-center
                      = propuestas_con_observaciones.include?(record[:id].to_s) ? t(:yes_with_fa_times).html_safe : t(:no_with_fa_check).html_safe
                  %td
                    .d-flex.align-items-start.flex-column.flex-lg-row
                      - edit_link_to = edit_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes,record, accion: @manifestacion_de_interes.accion_en_set_metas_accion)
                      - aa_link_to = acciones_relacionadas_tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente,@manifestacion_de_interes,record)
                      -
                      - if record.es_editable(@tarea.codigo) == 'total' || comite_propuestas
                        = link_to aa_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: "Acciones relacionadas", class: "btn btn-tabla-sm my-1" do
                          %i.fa.fa-pagelines
                          .d-inline.d-lg-none Acciones relacionadas
                        = link_to edit_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: "Editar", class: "btn btn-tabla-sm my-1" do
                          %i.fa.fa-edit
                          .d-inline.d-lg-none Editar
                      - if observar_propuestas
                        = link_to edit_link_to, "data-toggle"=>:modal, "data-target"=>"#set-metas-accion-remote-modal-form", title: "Comentar", class: "btn btn-tabla-sm my-1" do
                          %i.fa.fa-comment
                          .d-inline.d-lg-none Comentar
                      - if comite_propuestas
                        = link_to tarea_pendiente_manifestacion_de_interes_set_metas_accion_path(@tarea_pendiente, @manifestacion_de_interes,record, accion: @manifestacion_de_interes.accion_en_set_metas_accion), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:set_metas_accion)), remote: false }, class: "btn btn-tabla-sm my-1" do
                          %i.fa.fa-trash
                          .d-inline.d-lg-none Eliminar

  - if !comite_propuestas && @tarea.codigo != Tarea::COD_APL_019
    .float-right.mr-3.mb-3.mt-3
      -if !externo
        = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
      = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "actualizar-mapa-de-actores-button btn btn-sm btn-primary btn-disabled", disabled: :disabled
- if comite_propuestas                      
  = render 'actualizar_comite_acuerdos/modal_archivos_anexos_posteriores_firmas', remote: true
