:javascript
  $(document).ready(function() {
    $('table.proveedores').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
  });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:proveedores).downcase)
  .card-body
    .table-responsive
      %table.table.proveedores.table-striped
        %thead
          %tr
            %th=t(:rut_instituci칩n)
            %th=t(:nombre_instituci칩n)
            %th=t(:establecimientos)
            %th=t(:tipo_instrumento)
            %th=t(:materia_sustancia)
            %th=t(:clasificaci칩n)
            %th=t(:alcance)
            %th=t(:tipo_proveedor)
            %th=t(:evaluacion)
            %th.dos.iconos-acciones=t(:acciones)

        %tbody
          - @proveedores.each do |record|
            - contribuyente = record.contribuyente
            -#establecimientos = contribuyente.determina_establecimientos
            - tipo_instrumento = record.tipo_instrumento
            - materia_sustancia = record.materia_sustancia
            - clasificacion = record.clasificacion
            - alcance = record.alcance
            - tipo_proveedores = record.proveedor_tipo_proveedores
            %tr
              %td=contribuyente.blank? ? '--' : "#{contribuyente.rut}-#{contribuyente.dv}"
              %td=contribuyente.blank? ? '--' : contribuyente.razon_social
              %td.dos.iconos-acciones
                %div
                  = link_to establecimientos_admin_proveedores_path(record), "data-toggle"=>:modal, "data-target"=>"#proveedor-establecimientos", data: {remote: true, method: :post} do
                    %i.fa.fa-industry
                  =# link_to '#', remote: false, "data-toggle"=>:modal, "data-target"=>"#proveedor-establecimientos" do
                  =# render 'modal_proveedor_establecimientos', record: record, establecimientos: establecimientos
              %td=tipo_instrumento.blank? ? '--' : tipo_instrumento.nombre
              %td=materia_sustancia.blank? ? '--' : materia_sustancia.nombre
              %td=clasificacion.blank? ? '--' : clasificacion.nombre
              %td=alcance.blank? ? '--' : alcance.nombre
              %td
                - if tipo_proveedores.size == 0
                  = '--'
                - else
                  = tipo_proveedores.map{|m|m.tipo_proveedor.nombre}.join(", ")
              - if record.evaluacion != 0    
                %td=record.evaluacion
              - else
                %td= '--'
              %td.dos.iconos-acciones
                %div
                  = link_to edit_admin_proveedor_path(record) do
                    %i.fa.fa-edit
                  = link_to admin_proveedor_path(record), method: :delete, data: { confirm: t(:est치_seguro_que_desea_borrar?, item: t(:proveedor).downcase), remote: false } do
                    %i.fa.fa-trash
-
= render 'modal_proveedor_establecimientos'
