<script>
  $(document).ready(function() {


    // filtro proveedores
    $('#tipo-proveedor-select, #region-select').change(function() {
      var tipoProveedor = $('#tipo-proveedor-select').val();
      var region = $('#region-select').val()


      // Show all rows if no filters are selected
      if (tipoProveedor === '' && region === '') {
        $('table.proveedores tbody tr').show();
        $('th.detalles').removeClass('d-none');
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all mat
        return;
      }

     // Filter the rows based on the selected values
      $('tr:not(.headers)').hide();
      if (tipoProveedor !== '' && region === '') {
        $('tr[data-tipo-proveedor="' + tipoProveedor + '"]').show();
    } else if (tipoProveedor === '' && region !== '') {
        $('tr[data-region="' + region + '"]').show();
        $('th.detalles').removeClass('d-none');
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all mat
    } else {
      // If both filters are selected, show the rows that match both filters
        $('tr[data-tipo-proveedor="' + tipoProveedor + '"][data-region="' + region + '"]').show();
    }

    if (tipoProveedor === 'Auditor APL') {
        $('#correlativo-th').removeClass('d-none');
        $('th.detalles').removeClass('d-none');
        $('#fecha-registro-th').removeClass('d-none');
        $('#fecha-actualizacion-th').removeClass('d-none');
        $('#promedio-th').removeClass('d-none');
        $('td.correlativo-td').removeClass('d-none'); // Show all matching <td> elements
        $('td.fecha-registro-td').removeClass('d-none');
        $('td.fecha-actualizacion-td').removeClass('d-none');
        $('td.promedio-td').removeClass('d-none');

      } else {
        $('th.detalles').removeClass('d-none');
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all matching <td> elements
      }
    });

    $(document).on('click', '.page-item', function () {
      var tipoProveedor = $('#tipo-proveedor-select').val();
      var region = $('#region-select').val()


      // Show all rows if no filters are selected
      if (tipoProveedor === '' && region === '') {
        $('table.proveedores tbody tr').show();
        $('th.detalles').removeClass('d-none');
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all mat
        return;
      }

     // Filter the rows based on the selected values
      $('tr:not(.headers)').hide();
      if (tipoProveedor !== '' && region === '') {
        $('tr[data-tipo-proveedor="' + tipoProveedor + '"]').show();
    } else if (tipoProveedor === '' && region !== '') {
        $('tr[data-region="' + region + '"]').show();
        $('th.detalles').removeClass('d-none');
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all mat
    } else {
      // If both filters are selected, show the rows that match both filters
        $('tr[data-tipo-proveedor="' + tipoProveedor + '"][data-region="' + region + '"]').show();
        $('th.detalles').removeClass('d-none');
    }

    if (tipoProveedor === 'Auditor APL') {
        $('#correlativo-th').removeClass('d-none');
        $('th.detalles').removeClass('d-none');
        $('#fecha-registro-th').removeClass('d-none');
        $('#fecha-actualizacion-th').removeClass('d-none');
        $('#promedio-th').removeClass('d-none');
        $('td.correlativo-td').removeClass('d-none'); // Show all matching <td> elements
        $('td.fecha-registro-td').removeClass('d-none');
        $('td.fecha-actualizacion-td').removeClass('d-none');
        $('td.promedio-td').removeClass('d-none');

      } else {
        $('#correlativo-th').addClass('d-none'); // Hide the <th> element
        $('td.correlativo-td').addClass('d-none');
        $('th.detalles').removeClass('d-none');
        $('#fecha-registro-th').addClass('d-none');
        $('#fecha-actualizacion-th').addClass('d-none');
        $('#promedio-th').addClass('d-none');
        $('td.fecha-registro-td').addClass('d-none');
        $('td.fecha-actualizacion-td').addClass('d-none');
        $('td.promedio-td').addClass('d-none'); // Hide all matching <td> elements
      }
    });
});


</script>
<div class="card">
  <div class="card-header">
    <h5 class="no-margin">
    <% if local_assigns[:retirados] %>
      <%= t(:lista_de_, items: t(:proveedores_retirados).downcase) %>
    <% else %>
      <%= t(:lista_de_, items: t(:proveedores).downcase) %>
    <% end %>
    </h5>
  </div>

  <div class="card-body pb-0">
    <div class="row justify-content-left">
     <% if !local_assigns[:retirados] %>
      <div class="col-md-6">
      <%= select_tag :tipo_proveedor, options_from_collection_for_select(@tipos_proveedor, "nombre", "nombre", :selected=>@tipo_proveedor), { class: 'form-control', :prompt => 'Seleccione un tipo de proveedor', id: 'tipo-proveedor-select' } %>
      </div>
    <div class="col-md-6">
      <%= select_tag :region, options_from_collection_for_select(@regiones, "nombre", "nombre", :selected=>@region), { class: 'form-control', :prompt => 'Seleccione una región', id: 'region-select' } %>
    </div>
  <% end %>
  </div>
</div>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table proveedores table-striped">
        <thead>
          <tr class = "headers" data-target="#proveedor-detalles">
            <th id='correlativo-th' class="d-none"><%= t(:correlativo) %></th>
            <th><%= t(:tipo_proveedor) %></th>
            <th><%= t(:nombre) %></th>
            <% if !local_assigns[:retirados]%>
              <th><%= t(:empresa) %></th>
            <% end %>
            <th><%= t(:profesion) %></th>
            <th><%= t(:region) %></th>
            <th><%= t(:telefono) %></th>
            <th><%= t(:correo_electronico) %></th>
            <% if !current_user %>
              <th id='fecha-registro-th' class="d-none">Fecha Registro</th>
              <th id='fecha-actualizacion-th' class="d-none">Fecha última actualización de registro</th>
              <th id='promedio-th' class="d-none">Promedio Evaluación</th>
            <% end %>
            <% if current_user && current_user.is_admin? %>
              <th><%= t(:fecha_ingreso_registro) %></th>
              <th>Fecha última actualización de registro</th>
              <% if local_assigns[:retirados]%>
                <th> <%= t(:fecha_retiro) %> </th>
              <% end %>
            <% end %>
            <th class="detalles">Detalles</th>
            <% if current_user && current_user.is_admin?%>
              <th class="dos iconos-acciones"><%= t(:acciones) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% registro = (local_assigns[:retirados] ? @registro_vencido : @registro_proveedores)%>

          <% registro.each do |record| %>
            <% correlativo = record.correlativo %>
            <% tipo = record.tipo_proveedor.nombre %>
            <% empresa = record.nombre_institucion %>
            <% nombre = record.nombre + ' '+ record.apellido %>
            <% profesion = record.profesion %>
            <% region = record.region %>
            <% telefono = record.telefono %>
            <% email = record.email %>
            <% fecha_ingreso = record.fecha_aprobado%>
            <% fecha_revalidacion = record.fecha_revalidacion %>
            <% fecha_retiro = record.updated_at.strftime('%F') %>
            <tr data-region="<%= region %>" data-tipo-proveedor="<%= tipo %>" >
              <td class="correlativo-td d-none"><%= correlativo.blank? ? '--' : correlativo %></td>
              <td><%= tipo.blank? ? '--' : tipo %></td>
              <td><%= nombre.blank? ? '--' : nombre %></td>
              <% if !local_assigns[:retirados]%>
                <td><%= empresa.blank? ? '--' : empresa %></td>
              <% end %>
              <td><%= profesion.blank? ? '--' : profesion %></td>
              <td><%= region.blank? ? '--' : region %></td>
              <td><%= telefono.blank? ? '--' : telefono %></td>
              <td><%= email.blank? ? '--' : email %></td>
              <% if !current_user %>
                <td class="fecha-registro-td d-none"><%= fecha_ingreso.blank? ? '--' : fecha_ingreso %></td>
                <td class="fecha-actualizacion-td d-none"><%= fecha_revalidacion.blank? ? '--' : fecha_revalidacion %></td>
                <td class="promedio-td d-none">5.0</td>
              <% end %>
              <% if current_user && current_user.is_admin? %>
                <td><%= fecha_ingreso.blank? ? '--' : fecha_ingreso %></td>
                <td><%= fecha_revalidacion.blank? ? '--' : fecha_revalidacion %></td>
                <% if local_assigns[:retirados] %>
                  <td><%= fecha_retiro.blank? ? '--' : fecha_retiro %></td>
                <% end %>
              <% end %>
              <td class="dos iconos-acciones">
                <%= link_to get_apls_registro_admin_proveedores_path(record.id), "data-toggle"=>:modal, "data-target"=>"#proveedor-detalles", data: {remote: true, method: :get} do %>
                  <i class="fa fa-info-circle"></i>
                <% end %>
              </td>
              <% if current_user && current_user.is_admin?%>
                <td class="dos iconos-acciones">
                  <%= link_to edit_registro_proveedor_path(record.id,editar: true) do %>
                    <i class='fa fa-edit'></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
       <%= render 'modal_proveedor_detalles'%>

</div>
