<h1><%= t(:proveedores) %></h1>

<% if current_user && current_user.is_admin? %>
  <%= link_to t(:agregar_, item: t(:proveedor).downcase), new_admin_proveedor_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm' %>
<% end %>

<div id="proveedor-remote-table">
  <%= render 'table' %>
</div>

<script>
  $(document).ready(function () {
    var $table = $('table.proveedores');

    // Find column index for "nombre" header before initializing DataTable
    var nombreIndex = $table.find('thead th').filter(function () {
      return $(this).text().trim().toLowerCase() === 'nombre';
    }).index();

    console.log("Nombre column index:", nombreIndex);

    // Now safely initialize DataTable using the index
    var table = $table.DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [{ targets: [-1], orderable: false }],
      language: { url: "<%= asset_path('spanish.json') %>" },
      order: nombreIndex !== -1 ? [[nombreIndex, 'asc']] : []
    });

    function toggleFields(tipoProveedor) {
      if (tipoProveedor === 'auditor apl') {
        $('#correlativo-th, #fecha-registro-th, #fecha-actualizacion-th, #promedio-th').removeClass('d-none');
        $('td.correlativo-td, td.fecha-registro-td, td.fecha-actualizacion-td, td.promedio-td').removeClass('d-none');
      } else {
        $('#correlativo-th, #fecha-registro-th, #fecha-actualizacion-th, #promedio-th').addClass('d-none');
        $('td.correlativo-td, td.fecha-registro-td, td.fecha-actualizacion-td, td.promedio-td').addClass('d-none');
      }
    }

    function filterTable() {
      var tipoProveedor = $('#tipo-proveedor-select').val().toLowerCase();
      var region = $('#region-select').val().toLowerCase();

      table.column(1).search(tipoProveedor ? '^' + tipoProveedor + '$' : '', true, false);
      table.column(5).search(region ? '^' + region + '$' : '', true, false);
      table.draw(false);

      toggleFields(tipoProveedor);
    }

    // Apply filtering when dropdowns change
    $('#tipo-proveedor-select, #region-select').change(filterTable);

    // Apply filtering when pagination is clicked
    table.on('draw', function () {
      toggleFields($('#tipo-proveedor-select').val().toLowerCase());
    });


  });

</script>

<% if current_user && current_user.is_admin? %>
  <div id="proveedor-remote-table">
    <%= render 'table', retirados: true %>
  </div>
<% end %>



	
