- titulo t(:editar_mi_cuenta)
:javascript
	$(document).ready(function(){
		htmlErrorToTooltip("top");
	})
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {  autocomplete: :off } ) do |f|
	- fields_visibility = f.object.fields_visibility
	.row
		.col-lg-4.col-12
			.card
				.card-header
					%h5.no-margin
						= "Datos personales"
				.card-body
					.row
						.col-lg-4.pr-lg-0.col-12
							= f.input :rut, required: true, label: t(:rut), placeholder: "Ingresar RUT", input_html: { class: 'required-field' }, disabled: ! @user.new_record?
						.col-12
							= f.input :nombre_completo, required: true, placeholder: "Ingresar nombre completo", input_html: { class: 'required-field' }
						.col-12
							= f.input :telefono, required: true, label: t(:teléfono), placeholder: "Ingresar teléfono", input_html: { class: 'required-field' }
						.col-12
							= f.input :web_o_red_social_1, label: t(:web_o_red_social_,n: 1), placeholder: "Ingresar web o red social 1", input_html: { class: 'im-not-required-check-the-others' }
						.col-12
							= f.input :web_o_red_social_2, label: t(:web_o_red_social_,n: 2), placeholder: "Ingresar web o red social 2", input_html: { class: 'im-not-required-check-the-others' }
		.col-lg-4.col-12
			.card
				.card-header
					%h5.no-margin
						= "Datos de cuenta"
				.card-body
					.row
						-#.col-12
							= f.input :current_password, required: true, placeholder: 'Ingrese su actual contraseña', label: t(:current_password), input_html: { class: 'required-field' }
						.col-12
							= f.input :email, required: true, label: t(:email), placeholder: "Ingresar email", input_html: { class: 'required-field' }
						.col-12
							- if devise_mapping.confirmable? && resource.pending_reconfirmation?
								%p
									Actualmente esperando la confirmacion de: #{resource.unconfirmed_email}
						.col-12
							= f.input :password, label: t(:password), placeholder: "Ingresar nueva contraseña", input_html: { class: 'im-not-required-check-the-others required' }, wrapper_class: 'required'
						.col-12
							= f.input :password_confirmation, label: t(:password_confirmation), placeholder: "Ingresar confirmar nueva contraseña", input_html: { class: 'im-not-required-check-the-others required' }, wrapper_class: 'required'
		.col-lg-4.col-12
			.card
				.card-header
					%h5.no-margin
						= "Privacidad"
				.card-body
					.row
						.col-12
							.alert.alert-info
								%i.fa.fa-info-circle
								Permitir a otros usuarios ver los siguientes campos
							- fields_visibility = {} if fields_visibility.blank?
							- @privacidad = PrivacidadPermiso.where(entidad: "usuarios").first
							%ul.p-0
								- [:rut,:nombre_completo,:telefono,:email,:web_o_red_social_1,:web_o_red_social_2].each do |attr|
									-if @privacidad.attributes["fields_visibility"].present? && @privacidad.fields_visibility[attr] == "Por usuario"
										%li.list-style-none
											= check_box_tag "user[fields_visibility][#{attr}]", ( fields_visibility[attr] ? 1 : 0 ), fields_visibility[attr], class: 'im-not-required-check-the-others'
											%label.string.control-label
												=t(attr)

	.float-right
		= link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled