:javascript 
	$(document).ready(function() {
		$("#select-materia").chosen();  
		$("#select-actividad").chosen();  

		var tabla = $('table.propiedades').DataTable({
			responsive: true,
			lengthMenu: [[20], [20]],
			columnDefs: [ { targets: [-1], orderable: false } ],
			language: {
				url: "#{asset_path('spanish.json')}"
			},
		});

		// Este medoto permite solucionar conflicto con los checkbox que no estan en el DOM, dado que son parte de un Datatable
		$("form").on('submit', function(e){
			 var $form = $(this);
			 // Recorrer todos los checkboxes en la tabla
			 tabla.$('input[type="checkbox"]').each(function(){
					// Para encontrar aquellos que ya no estan en el DOM
					if(!$.contains(document, this)){
						 // obtener los checkeados
						 if(this.checked){
								// Create a hidden element 
								$form.append(
									 $('<input>')
											.attr('type', 'hidden')
											.attr('name', this.name)
											.val(this.value)
								);
						 }
					} 
			 });          
		});


	});
- url = !@levantar.id.nil? ? admin_materia_rubro_relacion_path(@levantar) : admin_materia_rubro_relacions_path
= simple_form_for [:admin,@levantar], url: url, remote: true, html: { autocomplete: :off, class: 'propiedad-form' } do |f|
	.row
		.col-lg-12.column
			.card
				.card-header
					%h5.no-margin
						= action_label_of_(@levantar, true)
				.card-body
					.row
						.col-12.col-lg-6
							= f.input :materia_sustancia_id, collection: MateriaSustancia.all.map{|m|[m.nombre,m.id]}, input_html: { class: 'required-field validado chosen-control', id: "select-materia" , "data-placeholder" => "Seleccione una materia / sustancia"}, label: t(:materia_sustancia)
						.col-12.col-lg-6
							-if @levantar.new_record?
								= f.input :actividad_economica_ids, collection: ActividadEconomica.__select_arbol.map{|ae| [ae.first.html_safe, ae.last]}, input_html: { class: 'required-field', id: "select-actividad", multiple: true, "data-placeholder" => "Seleccione las actividades econ贸micas" }, label: t(:actividad_econ贸mica)
							-else
								= f.input :actividad_economica_id, collection: ActividadEconomica.__select_arbol.map{|ae| [ae.first.html_safe, ae.last]}, input_html: { class: 'required-field', id: "select-actividad", "data-placeholder" => "Seleccione una actividade econ贸mica" }, label: t(:actividad_econ贸mica)
		.col-lg-12.column
			.card
				.card-header
					%h5.no-margin
						=t(:lista_de_datos_productivos)
				.card-body.p-0
					.table-responsive
						%table.table.propiedades.table-striped
							%thead
								%tr
									%th=t(:nombre)
									%th=t(:descripcion)
									%th=t(:codigo_producto)
									%th=t(:unidad_base)
									%th=t(:unidad_compatible)
									%th=t(:seleccionar)

							%tbody
								- DatoRecolectado.all.each_with_index do |propiedad, index|
									%tr
										%td= propiedad.nombre
										%td= propiedad.descripcion
										%td= propiedad.cpc
										%td= propiedad.unidad_base
										%td= propiedad.unidades_compatibles.reject(&:empty?).to_sentence
										%td.text-center=check_box_tag("materia_rubro_relacion[materia_rubro_dato_relacions_attributes][#{index}][dato_recolectado_id]", propiedad.id, f.object.materia_rubro_dato_relacions.exists?(dato_recolectado_id: propiedad.id),  class: "not-required-if-other-like-me-is-present dato-recolectado")
	.float-right
		= link_to t(:back), admin_materia_rubro_relacions_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled