:javascript
  $(document).ready(function(){
    $("#auditorias_rechazadas").DataTable({
      responsive: true,
      paging: false,
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });

    $('.chosen-control').chosen({
      allow_single_deselect: false,
      no_results_text: 'No se encontraron resultados',
      width: '100%',
      search_contains: true,
      placeholder_text_single: "Seleccione"
    });

    $('.chosen-control').change(function(){
      window.location = '/manifestacion-de-interes/#{@tarea_pendiente.id}/#{@flujo.id}/auditoria/actualizar?adhesion_externa_id='+this.value;
    });
    $('.ver-mas').on('click', function(e) {
      e.preventDefault();
      $(this).siblings('.descripcion-corta, .descripcion-completa').toggleClass('d-none');
      $(this).text(function(i, text){
        return text === 'Ver más' ? 'Ver menos' : 'Ver más';
      });
    });

  });

- solo_lectura = @solo_lectura == 'solo_lectura'
- titulo t(:auditoria_carga_, item: "#{@auditoria.nombre.upcase}")
-if @tarea_pendiente.tarea_id == Tarea::ID_APL_032_1 && params[:adhesion_externa_id].blank?
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=titulo_instrumento.html_safe
          -if !@manifestacion_de_interes.blank?
            %h5.no-margin=titulo_acuerdo.html_safe
          -elsif !@proyecto.blank?
            %h5.no-margin=titulo_proyecto.html_safe
          -elsif !@ppp.blank?
            %h5.no-margin=titulo_programa.html_safe
          %h5.no-margin=datos_beneficiario.html_safe
        .card-header
          %h5.no-margin
            %b
            Seleccione una institución
        .card-body
          .row
            .col-12
              %select.form-control.chosen-control
                %option
                -@adhesiones_externas.each do |adh|
                  %option{value: adh.id}=adh.nombre_institucion_adherente
-else
  = simple_form_for @auditoria, url: guardar_actualizar_auditorias_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), method: :patch, remote: true do |f|
    .row
      .col-12
        .card
          .card-header
            %h5.no-margin=titulo_instrumento.html_safe
            -if @proyecto.blank?
              %h5.no-margin=titulo_acuerdo.html_safe
            -else
              %h5.no-margin=titulo_proyecto.html_safe
            %h5.no-margin=datos_beneficiario.html_safe    
            %h5
            %h5   
            %h5.no-margin=t(:estado_elementos_auditados)
          -if @tarea_pendiente.tarea_id == Tarea::ID_APL_032_1
            .card-header
              %h5.no-margin
                %b
                Seleccione una institución
            .card-body
              .row
                .col-12
                  %select.form-control.chosen-control
                    %option
                    -@adhesiones_externas.each do |adh|
                      %option{value: adh.id, selected: adh.id == params[:adhesion_externa_id].to_i}=adh.nombre_institucion_adherente
          .card-body
            %table.table.table-striped#auditorias_rechazadas
              %thead
                %tr
                  %th=t(:rut_institucion)
                  %th=t(:auditoria)
                  %th=t(:auditoria_id)
                  %th=t(:elemento_auditado)
                  %th=t(:elemento_auditado_id)
                  %th=t(:campos_acción)
                  %th=t(:aplica)
                  %th=t(:motivo)
                  %th=t(:cumple)
                  %th=t(:archivo_evidencia)
                  %th=t(:archivo_informe)
                  %th=t(:observaciones)
                  %th.direccion=t(:estado)
              %tbody
                - unless @auditoria_elementos.blank?
                  - @auditoria_elementos.each do |ae|
                    -adh = ae.adhesion_elemento
                    -aud = ae.auditoria
                    %tr
                      %td=adh.fila[:rut_institucion]
                      %td=aud.nombre
                      %td=aud.id
                      %td=adh.nombre_del_elemento_v2
                      %td=ae.id
                      %td
                        %span{class: "descripcion-corta"}= truncate(ae.set_metas_accion.descripcion_accion, length: 50)
                        %span{class: "descripcion-completa d-none"}= ae.set_metas_accion.descripcion_accion
                        %a{href: "#", class: "ver-mas"} Ver más
                      
                      %td=ae.aplica ? t(:yes_with_fa_check).html_safe : t(:no_with_fa_times).html_safe
                      %td=ae.motivo
                      %td=ae.cumple ? t(:yes_with_fa_check).html_safe : t(:no_with_fa_times).html_safe
                      %td.text-center
                        = link_to @archivos_auditoria[ae.archivo_evidencia_id], target: :_blank do
                          %i.fa.fa-download
                      %td.text-center
                        = link_to @archivos_auditoria[ae.archivo_informe_id], target: :_blank do
                          %i.fa.fa-download
                      %td=ae.observacion
                      %td= ae.estado_detalle
                -# else
                  %tr
                    %td.text-center{colspan: 13} No hay elementos de auditoría
            = will_paginate @auditoria_elementos
         

    .row
      .col-12.col-lg-6
        .card
          .card-header
            %h5.no-margin=t(:cargar_archivos_auditorías)
          .card-body
            .row
              .col-12.col-lg-6
                = f.input :archivos_informe, as: :file, input_html: {class: "form-control required-field auto-save", multiple: true},label: t(:archivos_informe), required: true, multiple: true
              .col-12.col-lg-6
                = f.input :archivos_evidencia, as: :file, input_html: {class: "form-control required-field auto-save", multiple: true},label: t(:archivos_evidencia), required: true
              .col-12
                = f.input :archivo_carga_auditoria, as: :file, input_html: {class: "form-control required-field auto-save"},label: t(:carga_resultados_auditoría), required: true
      .col-12.col-lg-6
        .card
          .card-header
            %h5.m-0
              = t(:descargar_archivos_formatos)
          .card-body
            .row
              .col-12
                = __mostrar_descargable_auditoria(@descargables, "#{@tarea_pendiente.tarea.codigo}-DES-001", t(:descargables_de_la_tarea), tarea_pendiente: @tarea_pendiente)
              .col-12
                .form-group
                  %label.string.control-label
                    = t(:formato_carga_auditorías)
                  = link_to descargar_auditorias_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes, adhesion_externa_id: params[:adhesion_externa_id]), class: 'btn btn-sm btn-outline-secondary btn-block' do
                    %i.fa.fa-download
                    = t(:formato_carga_auditorías)
    .float-right
      = volver_root
      - if !solo_lectura
        = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled button-send", disabled: :disabled


