:javascript
  var tabla;

  function cambio_estado_check(){
    check_length = tabla.$('.seleccionar-elemento-auditoria:checked').length
    total_length = tabla.$('.seleccionar-elemento-auditoria').length
    $('#boton_clasificar').prop('disabled', (check_length == 0));
    if(check_length > 1 || check_length == total_length){
      $('#boton_sel_todos').addClass("d-none");
      $('#boton_desel_todos').removeClass("d-none");
    }else{
      $('#boton_sel_todos').removeClass("d-none");
      $('#boton_desel_todos').addClass("d-none");
    }
  }

  $(document).ready(function() {
    tabla = $('#auditorias_pendientes').DataTable({
      dom: 'tip',
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      columnDefs: [
        { responsivePriority: 1, targets: 3 },
        { responsivePriority: 2, targets: -1, orderable: false },
        { responsivePriority: 3, targets: -2 }
      ]
    });

    htmlErrorToTooltip('top');

    $('.estado').change(function(){
      debeComentar(this,true);
    });


    $('.seleccionar-elemento-auditoria').click(function(){
      cambio_estado_check();
    });

    $('#boton_sel_todos').click(function(){
      tabla.$('.seleccionar-elemento-auditoria').prop("checked", true);
      cambio_estado_check();
    });

    $('#boton_desel_todos').click(function(){
      tabla.$('.seleccionar-elemento-auditoria').prop("checked", false);
      cambio_estado_check();
    });

    $('#auditoria_estado_elementos').change(function(){
      activar_guardar_modal_clasificar();
    });

    $('#auditoria_justificacion_elementos').on('input paste', function(){
      activar_guardar_modal_clasificar();
    });

    $('#enviar_modal_clasificar').click(function(){
      estado = $('#auditoria_estado_elementos option:selected');
      estado_val = estado.prop("value");
      estado_nombre = estado.text();
      justificacion = $('#auditoria_justificacion_elementos').val();

      tabla.$('.seleccionar-elemento-auditoria:checked').each(function(index, elem){
        posicion = elem.value;
        tr = tabla.$('tr[data-id="'+posicion+'"]');
        tr.find(".estado-elem").html(estado_nombre);
        div = $('.global-data[data-id="'+posicion+'"]');
        div.find(".estado-auditoria-elemento").val(estado_val);
        div.find(".observacion-auditoria-elemento").val(justificacion);
      });

      tabla.$('.seleccionar-elemento-auditoria').attr("checked", false);
      $('#boton_clasificar').prop('disabled', true);
      $('#modal_clasificar_elementos').modal("hide");
      $('#auditoria_estado_elementos').val("");
      $('#auditoria_justificacion_elementos').val("");
      $('#enviar_modal_clasificar').prop("disabled", true);
      $('#enviar_button').prop("disabled", false);
    });

    
  });

  function activar_guardar_modal_clasificar(){
    $('#enviar_modal_clasificar').prop('disabled', true);
    estado_val = $('#auditoria_estado_elementos').val();
    if(estado_val != ""){
      if( estado_val == "5"){
        $('#enviar_modal_clasificar').prop('disabled', false);
      }else{
        if($('#auditoria_justificacion_elementos').val() != ""){
          $('#enviar_modal_clasificar').prop('disabled', false);
        }
      }
    }
  }

  function debeComentar(elemento,checkValidity) {
    campo = $(elemento).closest("tr").children('td.comentario').find('textarea');
    var num = $(elemento).val();
    if( num == 3 || num == 4) {
      campo.addClass('required-field');
    } else{
      campo.removeClass('required-field');
    }

    if ( checkValidity ) {
      checkFieldValidity(campo);
    }
  }
- titulo t(:auditoria_revisa_, item: "#{@auditoria.nombre.upcase}")
= simple_form_for @auditoria, url: guardar_revisar_auditorias_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), method: :patch, remote: true, html: {multipart: true} do |f|
  =render 'modal_clasificar_elementos'
  = f.fields_for :auditoria_elementos do |ae|
    -if ae.object.estado == 2
      .global-data{"data-id" => ae.object.id}
        = ae.input :id, as: :hidden, wrapper: false
        = ae.input :estado, as: :hidden, wrapper: false, input_html: {class: "estado-auditoria-elemento", value: 2}
        = ae.input :observacion, as: :hidden, wrapper: false, input_html: {class: "observacion-auditoria-elemento"}

  .row
    .col-12
      .card
        .card-header
          .d-flex.justify-content-between.flex-column.flex-lg-row
            %div
              %h5.no-margin=titulo_instrumento.html_safe
              -if !@manifestacion_de_interes.blank?
                %h5.no-margin=titulo_acuerdo.html_safe
              -elsif !@proyecto.blank?
                %h5.no-margin=titulo_proyecto.html_safe
              -elsif !@ppp.blank?
                %h5.no-margin=titulo_programa.html_safe
              %h5.no-margin=datos_beneficiario.html_safe
            .card.mb-0.mt-3.mt-lg-0
              .card-body.px-3.py-2
                .form-group
                  %label.string.control-label
                    = t(:archivos_de_auditoria_y_documentacion)
                  = link_to descargar_compilado_auditorias_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), class: 'btn btn-sm btn-descargar btn-block' do
                    %i.fa.fa-download
                    = t(:descargar_documentaci贸n)
        .card-header
          .d-flex.justify-content-between.align-items-center
            %h5.no-margin=t(:elementos_a_revisar)
            %div
              %button.btn.btn-ascc.btn-sm#boton_clasificar{type: :button, "data-toggle" => "modal", "data-target" => "#modal_clasificar_elementos", disabled: true} Clasificar
              %button.btn.btn-ascc.btn-sm#boton_sel_todos{type: :button} Seleccionar todos
              %button.btn.btn-ascc.btn-sm#boton_desel_todos.d-none{type: :button} Deseleccionar todos
        .card-body.p-0
          %table.table.table-striped.table-bordered#auditorias_pendientes{style: "margin-top: 0 !important;margin-bottom:0 !important;"}
            %thead
              %tr
                %th=t(:rut_institucion)
                %th=t(:auditoria)
                %th=t(:auditoria_id)
                %th=t(:elemento_auditado)
                %th=t(:elemento_auditado_id)
                %th=t(:campos_acci贸n)
                %th=t(:aplica)
                %th=t(:motivo)
                %th=t(:cumple)
                %th=t(:archivo_evidencia)
                %th=t(:archivo_informe)
                %th=t(:estado_revisi贸n)
                %th=t(:seleccionar)
            %tbody
              - estado = [2]
              - estado = [3,4,5] if @tarea_pendiente.estado_tarea_pendiente_id == EstadoTareaPendiente::ENVIADA
              = f.fields_for :auditoria_elementos do |ae|
                - if estado.include? (ae.object.estado) 
                  %tr{"data-id" => ae.object.id}
                    -adh = ae.object.adhesion_elemento
                    -aud = ae.object.auditoria
                    %td=adh.fila[:rut_institucion]
                    %td=aud.nombre
                    %td=aud.id
                    %td=adh.nombre_del_elemento_v2
                    %td=ae.object.id
                    %td=ae.object.set_metas_accion.descripcion_accion
                    %td=ae.object.aplica ? t(:yes_with_fa_check).html_safe : t(:no_with_fa_times).html_safe
                    %td=ae.object.motivo
                    %td=ae.object.cumple ? t(:yes_with_fa_check).html_safe : t(:no_with_fa_times).html_safe
                    %td.text-center
                      -
                      = link_to @archivos_auditoria[ae.object.archivo_evidencia_id], target: :_blank, class: "btn btn-tabla" do
                        %i.fa.fa-file
                    %td.text-center
                      = link_to @archivos_auditoria[ae.object.archivo_informe_id], target: :_blank, class: "btn btn-tabla" do
                        %i.fa.fa-file
                    %td
                      %label.estado-elem
                        - if ae.object.estado.blank? || ae.object.estado == 2
                          ="Revisi贸n"
                        - elsif ae.object.estado == 3
                          ="Observaciones"
                        - elsif ae.object.estado == 4
                          ="Rechazado"
                        - elsif ae.object.estado == 5
                          ="Aprobado"
                    %td.text-center
                      %input.form-control.seleccionar-elemento-auditoria.mt-2{type: :checkbox, value: ae.object.id}
    .col-12
      .card
        .card-header
          %h5.m-0=t(:adjuntar_informes_o_documentos_de_revision)
        .card-body
          .row
            .col-12.col-lg-3
              =f.input :archivo_revision, as: :file, input_html: {class: "form-control"}, label: t(:adjuntar_documento_opcional)
              =f.input :archivo_revision_cache, as: :hidden
            .col-12.col-lg-3
              =__descargar_archivo(f.object.archivo_revision, f.object)
  .float-right
    = volver_root
    - unless @auditoria.auditoria_elementos.blank?
      = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'enviar_button', class: "btn btn-sm btn-primary", disabled: true