- if controller_name != 'sessions'
  .col-7.p-0
    = link_to new_session_path(resource_name), class: 'btn btn-sm btn-link btn-sm', remote: form_remote do
      %i.fa.fa-sign-in
      ="Ir al ingreso de usuarios"
- if devise_mapping.registerable? && controller_name != 'registrations' && ! Rails.env.production?
  /= link_to "Registro", new_registration_path(resource_name)
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .col-7.p-0
    = link_to new_password_path(resource_name), class: 'btn btn-sm btn-link btn-sm', remote: form_remote do
      %i.fa.fa-unlock-alt
      ="Recuperar contraseña"
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Reenviar instrucciones de confirmación", new_confirmation_path(resource_name)
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Reenviar instrucciones de desbloqueo", new_unlock_path(resource_name)
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Ingresar con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
.col-5.p-0
  = link_to '#', "data-toggle"=>:modal, "data-target"=>"#site-comments", class: 'btn btn-sm btn-link pull-right' do
    %i.fa.fa-commenting
    Comentar