- comentario = (@comentario.blank? ? Comentario.new : @comentario)
= simple_form_for comentario, remote: true, url: modal_response_comentarios_path, html: { autocomplete: :off, multipart: true } do |f|
  = f.input :url_referencia, as: :hidden, input_html: { value: session[:original_url] }
  = f.input :id, as: :hidden, input_html: { id: 'comentario_id' }
  = f.input :leido, as: :hidden, input_html: { id: 'leido' }
  = simple_nested_form_for comentario do |snf|
    .modal-header
      %h5.modal-title#siteCommentsResponseLabel
        =t(:respuesta_enviar_comentarios)
    .modal-body
      .row
        .col-12
          #comentario-messages-remote-block
        .col-12
          .alert.alert-info
            .row
              .col-lg-4
                .row
                  .col-12
                    = f.input :email_contacto, input_html: { class: 'required-field', id: 'email_contacto', readonly: true }, label: t(:correo_contacto), require: true

              .col-lg-8
                .row
                  .col-12
                    = f.input :comentario, input_html: { class: 'required-field', rows: 4, id: 'comentario_contacto' }, label: t(:respuesta_comentario), require: true, placeholder: "Escribe la respuesta al problema reportado."
                  .col-12
                    %label.control-label.string  Requiere envio de correo
                    = f.collection_radio_buttons :requiere_envio_correo, [[true, t(:yes)], [false, t(:no)]], :first, :last, item_wrapper_class: 'ml-3', label: 'Fondo de Producción Limpia', checked: true, id: 'fondo_produccion_limpia' do |b|
                      = b.radio_button onchange: 'habilitaOpciones(this);'
                      = b.label
    
    .modal-footer
      %button.btn.btn-sm.btn-secondary.descartar-button{type: :button, "data-dismiss"=>:modal}
        Descartar
      = button_tag "Enviar", "data-dismiss"=> false, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, id: 'enviar-respuesta-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled

:javascript
  // Esta función habilita o deshabilita los campos según el valor del radio button
  function habilitaOpciones(radio) {
    if ($(radio).val() == "false") {
      // Si "requiere_envio_correo" es falso, ocultamos los campos de email y comentario
      $('#email_contacto').closest('.col-12').hide();
      $('#comentario_contacto').closest('.col-12').hide();
      $('#enviar-respuesta-button').prop('disabled', false).removeClass('btn-disabled').addClass('btn-primary');
    } else {
      // Si "requiere_envio_correo" es verdadero, mostramos los campos
      $('#email_contacto').closest('.col-12').show();
      $('#comentario_contacto').closest('.col-12').show();
    }
    // No habilitamos el botón aquí. Solo cambiamos la visibilidad de los campos.
  }

  // Función para habilitar/deshabilitar el botón Enviar
  function checkEnviarButton() {
    // Verifica si el comentario tiene contenido y si el radio button "Sí" está seleccionado
    var comentario = $('#comentario_contacto').val().trim();
    var requiereEnvioCorreo = $('#comentario_requiere_envio_correo_true').prop('checked');

    // Si el comentario no está vacío y el radio button "Sí" está seleccionado
    if (comentario.length > 0 && requiereEnvioCorreo) {
      // Habilitamos el botón Enviar
      $('#enviar-respuesta-button').prop('disabled', false).removeClass('btn-disabled').addClass('btn-primary');
    } else {
      // Si no, deshabilitamos el botón
      $('#enviar-respuesta-button').prop('disabled', true).removeClass('btn-primary').addClass('btn-disabled');
    }
  }

  // Evento cuando el modal se muestra
  $('#site-comments-response').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);  // El botón que abrió el modal
    var id = button.data('id');           // El id del comentario
    var email = button.data('email');     // El email de contacto
    var leido = button.data('leido');
    var requiereEnvioCorreo = button.data('requiere-envio-correo');  // Obtener si requiere el envío de correo

    // Insertamos el ID y el correo en los campos del formulario
    $('#email_contacto').val(email);  
    $('#leido').val(leido);
    $('#comentario_id').val(id);        
    $('#comentario_contacto').val('');

    // Establecer el estado de los radio buttons según el valor de 'requiere_envio_correo'
    if (requiereEnvioCorreo === "true") {
      $('#comentario_requiere_envio_correo_true').prop('checked', true);
      $('#comentario_requiere_envio_correo_false').prop('checked', false);
    } else {
      $('#comentario_requiere_envio_correo_false').prop('checked', true);
      $('#comentario_requiere_envio_correo_true').prop('checked', false);
    }

    // Llamamos a habilitaOpciones para ajustar la visibilidad de los campos
    habilitaOpciones($('#comentario_requiere_envio_correo_true:checked')[0]);
    checkEnviarButton(); // Verificamos al abrir si el comentario tiene contenido
  });

  // Verificar al cargar el modal si el comentario tiene contenido y si el radio button está marcado
  $('#comentario_contacto').on('input', function() {
    checkEnviarButton();
  });

  // Esta función se llama para asegurar que el radio button se maneje correctamente al iniciar
  $('#site-comments-response').on('shown.bs.modal', function() {
    var requiereEnvioCorreo = $('#comentario_requiere_envio_correo').val(); // Obtener el valor actual

    // Si no tiene valor, asegurar que la opción 'Sí' esté seleccionada por defecto
    if (!requiereEnvioCorreo) {
      $('#comentario_requiere_envio_correo_true').prop('checked', true);
    }

    habilitaOpciones($('#comentario_requiere_envio_correo_true:checked')[0]);
    checkEnviarButton(); // Verificamos al abrir si el comentario tiene contenido
  });

