- comentario = (@comentario.blank? ? Comentario.new : @comentario)
= simple_form_for comentario, remote: true, url: modal_create_comentarios_path, html: { autocomplete: :off, multipart: true } do |f|
  = f.input :url_referencia, as: :hidden, input_html: { value: session[:original_url] }
  = simple_nested_form_for comentario do |snf|
    .modal-header
      %h5.modal-title#siteCommentsLabel
        =t(:enviar_comentarios)
    .modal-body
      .row
        .col-12
          #comentario-messages-remote-block
        .col-12
          .alert.alert-info
            .row
              .col-lg-4
                .row
                  .col-12
                    = f.input :tipo_comentario_id, collection: TipoComentario.all.map{|m|[m.nombre,m.id]}, input_html: { class: 'required-field' }, require: true, onclick: 'actualizarPlaceholderComentario();'
                  .col-12
                    = f.input :email_contacto, input_html: { class: 'required-field', value: (current_user.nil? ? nil : current_user.email) }, label: t(:correo_contacto), require: true
              .col-lg-8
                .row
                  .col-12
                    .col-12
                      = f.input :comentario, input_html: { class: 'required-field', rows: 4, id: 'comentario_contacto' }, label: t(:comentario), require: true, placeholder: "Escribe la respuesta al problema reportado."
      .row
        .col-12
          .alert.alert-info.center-text
            %p.no-margin
              Acompaña una captura de pantalla para que sea más fácil de entender.
            %p.no-margin
              Puedes agregar máximo 3 archivos
            = snf.link_to_add :comentario_archivos, data: { target: "#modal-comentario-archivos" }, class: 'modal-comentario-archivos' do
              %i.fa.fa-plus-square.fa-2x 
          = render 'comentarios/nested_form_archivos', snf: snf, target: "modal-comentario-archivos"
      .row
        .col-12.d-flex.justify-content-center
          = recaptcha_tags
    .modal-footer
      %button.btn.btn-sm.btn-secondary.descartar-button{type: :button, "data-dismiss"=>:modal}
        Descartar
      = button_tag "Enviar", "data-dismiss"=> false, 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, id: 'enviar-comentario-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled

:javascript
  $(document).ready(function() {
    function actualizarPlaceholderComentario() {
      var tipoComentarioId = $('#comentario_tipo_comentario_id').val(); // Obtener el valor correcto
      // Definir los placeholders según el tipo de comentario seleccionado
      if (tipoComentarioId == "3") {
        $('#comentario_contacto').attr('placeholder', 'Si deseas registrarte en la plataforma, debes incluir los siguientes datos: nombre, RUT, nombre de la institución, RUT de la institución, cargo, correo electrónico y teléfono.');
      } else {
        $('#comentario_contacto').attr('placeholder', 'Por favor, coméntanos cuál fue el problema o en qué podríamos mejorar. En caso de problemas, incluye una captura del error y detalla el paso a paso cuando ocurrió el problema.');
      }
    }

    // Asignar evento change al select correcto
    $('#comentario_tipo_comentario_id').change(actualizarPlaceholderComentario);

    // Ejecutar al cargar la página (por si hay un valor precargado)
    actualizarPlaceholderComentario();
  });
