%table.table.table-striped.no-margin.mb-0{id: target}
  %tbody
    = snf.fields_for :comentario_archivos, :wrapper => false  do |a|
      - o = a.object
      - unless o.new_record?
        - e   = o.archivo.file.extension.downcase
        - img = ( %w{jpg png jpg jpeg}.include?(e) )
        - doc = ( %w{pdf doc docx odt}.include?(e) )
        - da = "detalle-hito-de-prensa-modal-id-#{o.id}"
      %tr.fields
        %td.p-2
          - if o.new_record?
            - if o.archivo?
              %i.fa.fa-check-circle.text-success
              = o.archivo.path.split("/").last
            - else 
              %i.fa.fa-cloud-upload.text-secondary
            = a.input :archivo, as: :file, label: false, wrapper_html: { class: 'mb-0'}
            = a.hidden_field :archivo_cache
          - else
            = link_to '#', "data-toggle"=>:modal, "data-target"=>"##{da}", class: 'add-data-target' do
              Ver archivo
              %i.fa.fa-eye
            .modal.fade{id: da, tabindex: "-1", role: :dialog, "aria-labelledby"=>:detalleHitoDePrensaArchivoLabel, "aria-hidden"=>true}
              .modal-dialog.modal-dialog-centered.modal-lg{role: :document}
                .modal-content
                  .modal-header
                    %h5.modal-title#detalleHitoDePrensaArchivoLabel
                    %button.close{type: :button, "data-dismiss"=>:modal, "arial-label"=>:close}
                      %span{"aria-hidden"=>true}
                        &times;
                  .modal-body
                    - if img
                      = image_tag(o.archivo.url, style: 'width:100%')
                    - elsif doc
                      %embed{src: o.archivo.url, width: "100%", height: "720px", type: 'application/pdf'}
                  .modal-footer
                    %button.btn.btn-secondary{type: :button, "data-dismiss"=>:modal}
                      Cerrar
        %td.accion.no-padding.remove-row.p-0
          = a.link_to_remove do
            %i.fa.fa-times-circle.left.link-to-remove-row
