.table-responsive
  %table.table.comentarios.table-striped.no-margin
    %thead
      %tr{class: ((tipo==Comentario::ERRORES) ? 'alert-danger' : 'alert-info')}
        %th.comentario=t(:comentario)
        %th.email-contacto=t(:email_del_contacto)
        %th.url-referencia=t(:url_ref)
        %th.usuario=t(:usuario)
        %th.adjuntos=t(:adjuntos)
        %th.dos.iconos-acciones=t(:acciones)

    %tbody
      - @comentarios.each do |record|
        - if record.tipo_comentario_id == tipo
          %tr
            %td.comentario-comentario
              %div
                = strip_tags record.comentario
            %td= record.email_contacto
            %td.enlace
              - unless record.url_referencia.blank?
                .d-none=record.url_referencia
                = link_to record.url_referencia, target: "_blank" do
                  %i.fa.fa-external-link
              - else
                = '--'
            %td= record.user_id.blank? ? '--' : record&.user&.nombre_completo
            %td.text-center= render 'layouts/modal_archivos', item: record, adjuntos: record.comentario_archivos
            %td.dos.iconos-acciones
              - if record.leido
                %i.fa.fa-envelope-open.pr-1
              - else
                = link_to read_comentario_path(record), method: :put, data: { confirm: t(:está_seguro_que_desea_marcar_este_item_como_leído?, item: t(:comentario).downcase), remote: false } do
                  %i.fa.fa-envelope.pr-1
              - if record.resuelto
                %i.fa.fa-check.text-success
              - else
                = link_to solved_comentario_path(record), method: :put, data: { confirm: t(:está_seguro_que_desea_marcar_este_item_como_resuelto?, item: t(:comentario).downcase), remote: false } do
                  %i.fa.fa-fire-extinguisher.text-danger
