.table-responsive
  %table.table.comentarios.table-striped.no-margin
    %thead
      %tr{class: ((tipo==Comentario::ERRORES) ? 'alert-danger' : 'alert-info')}
        %th.id=t(:id)
        %th.fecha-ingreso=t(:fecha_ingreso)
        %th.comentario=t(:comentario)
        %th.email-contacto=t(:email_del_contacto)
        %th.url-referencia=t(:url_ref)
        %th.usuario=t(:usuario)
        %th.adjuntos=t(:adjuntos)
        %th.fecha-lectura=t(:fecha_lectura)   
        %th.fecha-resolucion=t(:fecha_resolucion)   
        %th.dos.iconos-acciones=t(:acciones)

    %tbody
      - @comentarios.each do |record|
        - if record.tipo_comentario_id == tipo
          %tr{id: "comentarios_#{record.id}"}
            %td=record.id
            %td=record[:created_at].strftime('%Y-%m-%d')
            %td.comentario-comentario
              %div
                = strip_tags record.comentario
            %td= record.email_contacto
            %td.enlace
              - unless record.url_referencia.blank?
                .d-none=record.url_referencia
                = link_to record.url_referencia, target: "_blank" do
                  %i.fa.fa-external-link
              - else
                = '--'
            %td= record.user_id.blank? ? '--' : record&.user&.nombre_completo
            %td.text-center= render 'layouts/modal_archivos', item: record, adjuntos: record.comentario_archivos
            %td{id: "comentarios_fechas_lectura_#{record.id}"}
              - if record.leido
                - if record.fecha_lectura.present?
                  = record.fecha_lectura.strftime('%Y-%m-%d')
                - else
                  = 'Fecha no disponible'
              - else
                = 'No Leído'
            %td{id: "comentarios_fechas_updated_#{record.id}"}
              - if record.resuelto
                =record[:updated_at].strftime('%Y-%m-%d')
              - else
                = 'No Resuelto'
            %td.dos.iconos-acciones{id: "comentarios_acciones_#{record.id}"}
              - if record.leido
                %i.fa.fa-envelope-open.pr-1
              - else
                = link_to "#", data: { remote: false, toggle: 'modal', target: '#site-comments-response', email: record.email_contacto, id: record.id, leido: true  } do
                  %i.fa.fa-envelope.pr-1
              - if record.resuelto
                %i.fa.fa-check.text-success
              - else
                = link_to "#", data: { remote: false, toggle: 'modal', target: '#site-comments-response', email: record.email_contacto, id: record.id, leido: false  } do
                  %i.fa.fa-fire-extinguisher.text-danger
