- titulo t(:comentarios)
:javascript
  $(document).ready(function() {
    $('table.comentarios').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      order: [[0, 'desc']],
      //columnDefs: [ { targets: [3,4,5,6], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      }
    });
  });  
- if current_user.is_root?
  = link_to t(:agregar_, item: t(:comentario).downcase), new_comentario_path, class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'

#tab-menu-controls.no-margin{role: :tabpanel}
  %ul#comentario.nav.nav-tabs{role: :tablist}
    %li.nav-item
      %a#errores-tab.nav-link.active{"aria-controls": :errores, "aria-expanded": :true, "data-toggle": :tab, href: "#errores", role: :tab}
        Errores
    %li.nav-item
      %a#sugerencias-tab.nav-link{"aria-controls": :sugerencias, "aria-expanded": false, "data-toggle": :tab, href: "#sugerencias", role: :tab}
        Sugerencias
    %li.nav-item
      %a#solicitudes-tab.nav-link{"aria-controls": :solicitudes, "aria-expanded": false, "data-toggle": :tab, href: "#solicitudes", role: :tab}
        Solicitudes
#comentario-content.tab-content
  #errores.tab-pane.fade.active.show{"aria-expanded": true, "aria-labelledby": "errores-tab", role: :tabpanel}
    .card
      .card-body
        = render 'table', tipo: Comentario::ERRORES
  #sugerencias.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "sugerencias-tab", role: :tabpanel}
    .card
      .card-body
        = render 'table', tipo: Comentario::SUGERENCIAS
  #solicitudes.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "solicitudes-tab", role: :tabpanel}
    .card
      .card-body
        = render 'table', tipo: Comentario::SOLICITUDES

- email = email.nil? ? nil : email   
- id = id.nil? ? nil : id  
.modal.fade{id: :"site-comments-response", tabindex: "-1", role: :dialog, "aria-labelledby": :siteCommentsLabel, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
    .modal-content#modal-response-comentario-remote-form
      = render 'comentarios/form_modal_response', email: email, id: id