:javascript
  $(document).ready(function(){
    $('.set-dummy-required').click(function(){
      __class = $(this).attr('class').replace('set-dummy-required','');
      dummyField=$("#"+$.trim(__class)+"_dummy_field");
      dummyField.val( $(this).val() );
      checkFieldValidity(dummyField);
    });

  });
- externo = externo.nil? ? false : externo
-# desactivado = (EncuestaUserRespuesta.where(encuesta_id: @encuesta.id).where(user_id: current_user.id).size >= @encuesta.encuesta_preguntas.where(obligatorio: true).size)
- titulo t(:responder_encuesta) unless externo
= simple_form_for @encuesta_user_respuesta, url: guardar_admin_encuesta_path(@tarea_pendiente,@encuesta), remote: true, html: { autocomplete: :off } do |f|
  = f.hidden_field :externo, value: externo
  .alert.alert-info
    .text-center
      %i.fa.fa-info-circle.fa-2x
      %p.m-0
        - if @desactivado
          = "Encuesta resuelta".html_safe
        -else
          = "Recuerde que tiene hasta el <b>#{l(@encuesta.dia_de_expiracion(@tarea_pendiente.created_at), format: :short_year)}</b> para contestar esta encuesta".html_safe

  - @encuesta.encuesta_preguntas.sort_by{|ep|ep.orden}.each do |ep|
    - pregunta        = ep.pregunta
    - tipo_respuesta  = pregunta.tipo_respuestas
    - label           = pregunta.texto
    - obligatorio     = ep.obligatorio
    - field_name      = "encuesta_user_respuesta[preguntas_y_respuestas][#{pregunta.id}][#{ep.obligatorio}]"
    - field_id        = "encuesta_user_respuesta_preguntas_y_respuestas_#{pregunta.id}"
    - has_error       = 'has-error' if @encuesta_user_respuesta.tiene_errores? && @encuesta_user_respuesta.errores.has_key?(pregunta.id.to_s)
    - rp              = EncuestaUserRespuesta.where(encuesta_id: @encuesta.id).where(user_id: current_user.id, flujo_id: @flujo.id).where(pregunta_id: ep.pregunta_id).first
    - respuesta       = rp.nil? ? nil : rp.respuesta

    .card.mb-2
      .card-body
        - if tipo_respuesta == 'escala_likert_numerica_0_7'
          .form-group.boolean{class: "#{(obligatorio ? :required : :optional)} #{has_error}" }
            .card-title.control-label.boolean{for: field_id, class: (obligatorio ? :required : :optional)}
              - if obligatorio
                %abbr{title: :required} *
              = label
            .radio-buttons
              %input{name: field_name, type: :hidden, value: nil}
              %input{type: :hidden, class: (obligatorio ? 'required required-field': 'im-not-required-check-the-others'), id: "#{field_id}_dummy_field"}
              - (0..7).each do |n|
                %span
                  %label{for: "#{field_id}_#{n}"}
                    %input{name: field_name, type: :radio, value: n, id: "#{field_id}_#{n}", class: "#{(obligatorio ? 'set-dummy-required': '')} #{field_id}", checked: !respuesta.nil? && n == respuesta.to_i, disabled: @desactivado}
                    %label.collection_radio_buttons{for: "#{field_id}_#{n}"}
                      = n
            - if has_error
              %span.help-block
                = @encuesta_user_respuesta.errores["#{pregunta.id}"]
        - elsif tipo_respuesta == 'texto_libre'
          .form-group.text{class: "#{(obligatorio ? :required : :optional)} #{has_error}" }
            .card-title.control-label.text{for: field_id, class: (obligatorio ? :required : :optional)}
              - if obligatorio
                %abbr{:title => "required"} *
              = label
            %textarea.form-control.text{name: field_name, class: (obligatorio ? 'required required-field': 'im-not-required-check-the-others'), disabled: @desactivado}
              =respuesta
            - if has_error
              %span.help-block
                = @encuesta_user_respuesta.errores["#{pregunta.id}"]
        - elsif tipo_respuesta == 'si_o_no'
          .form-group.boolean{class: "#{(obligatorio ? :required : :optional)} #{has_error}" }
            .card-title.control-label.boolean{for: field_id, class: (obligatorio ? :required : :optional)}
              - if obligatorio
                %abbr{title: :required} *
              = label
            .radio-buttons
              %input{name: field_name, type: :hidden, value: nil}
              %input{type: :hidden, class: (obligatorio ? 'required required-field': 'im-not-required-check-the-others'), id: "#{field_id}_dummy_field"}
              %span
                %label{for: "#{field_id}_true"}
                  %input{name: field_name, type: :radio, value: :true, id: "#{field_id}_true", class: "#{(obligatorio ? 'set-dummy-required': '')} #{field_id}", checked: respuesta == "true", disabled: @desactivado}
                  %label.collection_radio_buttons{for: "#{field_id}_true"}
                    = t(:sí)
              %span
                %label{for: "#{field_id}_false"}
                  %input{name: field_name, type: :radio, value: :false, id: "#{field_id}_false", class: "#{(obligatorio ? 'set-dummy-required': '')} #{field_id}", checked: respuesta == "false", disabled: @desactivado}
                  %label.collection_radio_buttons{for: "#{field_id}_false"}
                    = t(:no)
            - if has_error
              %span.help-block
                = @encuesta_user_respuesta.errores["#{pregunta.id}"]
  .float-right
    - unless externo || @desactivado
      = link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled