:javascript
  $(document).ready(function() {
    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
    $("input:file").on('change',function (){
      $(this).parent().siblings("label").html($(this)[0].files[0].name);
    });
    htmlErrorToTooltip('top');
  });
- @coordinadores = Persona.responsables_por_rol_tipo_instrumento_select(Rol::COORDINADOR,TipoInstrumento.fpl.map{|ti|ti.id})
- @cogestores = Persona.responsables_por_rol_tipo_instrumento_select(Rol::RESPONSABLE_ENTREGABLES,TipoInstrumento.fpl.map{|ti|ti.id})
- @revisores_tecnicos = Persona.responsables_por_rol_tipo_instrumento_select(Rol::REVISOR_TECNICO,TipoInstrumento.fpl.map{|ti|ti.id})
- @centros_de_costos = CentroDeCosto.to_select()
- titulo t(:responsables)
= simple_form_for @proyecto, url: actualizar_responsables_seguimiento_fpl_proyecto_path(@tarea_pendiente,@proyecto), html: { multipart: true, autocomplete: :off }, remote: true do |f|
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=t(:ingresar_responsables)
        .card-body
          .row
            .col-lg-6.col-12
              = f.input :coordinador_id, collection: @coordinadores, required: true, input_html: {class: "required-field chosen-control", type: :string, "data-placeholder"=>"Seleccione un Coordinador"}, label: t(:designar_coordinador)
            .col-lg-6.col-12
              = f.input :cogestor_id, collection: @cogestores, label: t(:designar_responsable_entregables), required: true, input_html: {class: "required-field chosen-control", type: :string, "data-placeholder"=>"Seleccione un responsable entregables"}, label: t(:designar_responsable_entregables)
            .col-lg-6.col-12
              = f.input :revisor_tecnico_id, collection: @revisores_tecnicos, required: true, input_html: {class: "required-field chosen-control", type: :string, "data-placeholder"=>"Seleccione un Revisor"}, label: t(:designar_revisor_tecnico)
            .col-lg-6.col-12
              = f.input :centro_costos_id, collection: @centros_de_costos, required: true, input_html: {class: "chosen-control not-required-if-other-like-me-is-present", type: :string, "data-placeholder"=>"Seleccione un Centro de costo"}, label: t(:designar_centro_de_costos)
            .col-lg-6.col-12
              - fecha_inicio = @proyecto.fecha_inicio_contrato.blank? ? "" : l(@proyecto.fecha_inicio_contrato,format: '%d-%m-%Y')
              = f.input :fecha_inicio_contrato, input_html: { class: 'required-field basic-datetimepicker', value: fecha_inicio}, as: :string, required: true, label: t(:señalar_fecha_inicio_contrato)
            .col-lg-6.col-12
              - fecha_fin = @proyecto.fecha_fin_contrato.blank? ? "" : l(@proyecto.fecha_fin_contrato,format: '%d-%m-%Y')
              = f.input :fecha_fin_contrato, input_html: { class: 'required-field basic-datetimepicker', value: fecha_fin}, as: :string, required: true, label: t(:señalar_fecha_finalización_contrato)
            .col-lg-6.col-12
              = f.input :archivo_resolucion, as: :file, label: t(:subir_archivo_resolucion), required: true, input_html: { class: 'form-control' }
              = f.hidden_field :archivo_resolucion_cache
            .col-lg-6.col-12
              = f.input :archivo_contrato, as: :file, label: t(:subir_archivo_contrato), required: true, input_html: { class: 'form-control' }
              = f.hidden_field :archivo_contrato_cache
  .float-right
    = volver_root
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled