- titulo t(:datos_restituci贸n)
= simple_form_for @proyecto, url: actualizar_restitucion_seguimiento_fpl_proyecto_path(@tarea_pendiente,@proyecto), remote: true do |f|
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=t(:ingreso_de_datos_de_restituci贸n)
        .card-body
          .row
            .col-12
              .row
                .col-12
                  .form-group
                    = f.label :nombre_proyecto
                    %h5=@proyecto.nombre
                .col-6
                  - fecha_restitucion = @proyecto.fecha_restitucion.blank? ? "" : l(@proyecto.fecha_restitucion, format: '%d-%m-%Y')
                  = f.input :fecha_restitucion, label: t(:fecha_de_restituci贸n), as: :string, input_html: { class: 'required-field basic-datetimepicker-min-today', value: fecha_restitucion}, required: true
                .col-6
                  = f.input :monto_restitucion, label: t(:monto_de_restituci贸n), as: :string, required: true, input_html: { class: 'required-field moneda'}
  .float-right
    = volver_root
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled