- monto_garantizado = @proyecto.monto_garantizado
- monto_rendido_fpl = @proyecto.monto_rendido_fpl
- monto_pagado = @proyecto.monto_pagado
- maximo_posible = monto_garantizado + monto_rendido_fpl - monto_pagado
= render 'layouts/remote_form', block: 'solicitud-pago', form_partial: 'table_solicitud_pago'
- clase_estado = @correcto ? 'alert-correcto' : 'alert-incorrecto'
$("tr#proyecto-#{@proyecto.id}").addClass("#{clase_estado}");
$('.loading-data').hide();
- unless @correcto
	showTooltipError("Monto debe ser mayor que 0", $(".monto-pagar-#{@proyecto.id}-input"), 'top') 
$('.moneda-maximo-#{@proyecto.id}').autoNumeric('init', {aSep: '.', aDec: ',', aPad: false, vMin: 0.0, vMax: "#{maximo_posible}"});    