:javascript
	$(document).ready(function() {
		var tablaOcultos = $('#tabla-mostrando-ocultos').DataTable({
			language: {
				url: "#{asset_path('spanish.json')}"
			},
			columnDefs: [ { targets: [-2,-1], orderable: false } ],
			responsive: true
		});
		var tablaVisibles = $('#tabla-mostrando-visibles').DataTable({
			language: {
				url: "#{asset_path('spanish.json')}"
			},
			columnDefs: [ { targets: [-2,-1], orderable: false } ],
			responsive: true
		});
		var tablaVisibles = $('#tabla-mostrando-iniciados').DataTable({
			language: {
				url: "#{asset_path('spanish.json')}"
			},
			columnDefs: [ { targets: [-1], orderable: false } ],
			responsive: true
		});

		$('.btn-row-ver-ocultar').bind('ajax:beforeSend', function() {
			// cambiar de una tabla a otra
			filaModificar = $(this).closest('tr');
			tablaOrigen = filaModificar.closest('table').attr('id');
			filaAgregar = tablaOrigen == "tabla-mostrando-ocultos" ? tablaOcultos.row(filaModificar)  : tablaVisibles.row(filaModificar)
			if (tablaOrigen == "tabla-mostrando-ocultos"){
				tablaVisibles.row.add(filaAgregar.data()).draw();
			}else{
				tablaOcultos.row.add(filaAgregar.data()).draw();				
			}
			filaAgregar.remove().draw();
			setTimeout(actualizarIconos, 750);
		})
		function actualizarIconos(){
		  // recorro todos los i y me aseguro que tengan el icono debido
		  $.each($('#tabla-mostrando-ocultos i.fa.fa-eye-slash'),function(){
		    $(this).removeClass('fa-eye-slash').addClass('fa-eye').attr('title','Mostrar');
		  })
		  $.each($('#tabla-mostrando-visibles i.fa.fa-eye'),function(){
		    $(this).removeClass('fa-eye').addClass('fa-eye-slash').attr('title','Ocultar');
		  })
		}
	});

- titulo t(:fondo_producción_limpia)

#tab-menu-controls.mb-0.mt-3{role: :tabpanel}
	%ul#proyecto.nav.nav-tabs{role: :tablist}
		%li.nav-item
			%a#iniciados-tab.nav-link.active{"aria-controls": :iniciados, "aria-expanded": true, "data-toggle": :tab, href: "#iniciados", role: :tab}
				=t(:iniciados)
				/%i.fa.fa-hourglass-start
		%li.nav-item
			%a#visibles-tab.nav-link{"aria-controls": :visibles, "aria-expanded": false, "data-toggle": :tab, href: "#visibles", role: :tab}
				=t(:visibles)
				/%i.fa.fa-eye
		%li.nav-item
			%a#ocultos-tab.nav-link{"aria-controls": :ocultos, "aria-expanded": false, "data-toggle": :tab, href: "#ocultos", role: :tab}
				=t(:ocultos)
				/%i.fa.fa-eye-slash
#proyecto-content.tab-content
	#iniciados.tab-pane.fade.active.show{"aria-expanded": true, "aria-labelledby": "iniciados-tab", role: :tabpanel}
		.card
			.card-body
				= render 'table', mostrar: :iniciados
	#visibles.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "visibles-tab", role: :tabpanel}
		.card
			.card-body
				= render 'table', mostrar: :visibles
	#ocultos.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "ocultos-tab", role: :tabpanel}
		.card
			.card-body
				= render 'table', mostrar: :ocultos
