.row
  .col-12
    .card
      .card-header
        .d-flex.flex-column.flex-md-row.justify-content-md-between.align-items-start.align-items-md-end
          -if !@instrumento.nil?
            %h5
              %b=@instrumento.tipo_instrumento.nombre_tipo
              %br
              %b=@instrumento.subtipo_de_instrumento
              %br
              =@instrumento.nombre_instrumento
              %br
              %b ID
              =@instrumento.id
          %h5
            = link_to t(:volver_a_cargar), admin_gestionar_mis_instrumentos_path, class: 'btn btn-sm btn-primary btn-sm float-right'
      -if current_user.is_admin? || current_user.is_ascc?
        .card-body.pb-0        
          .row.justify-content-left       
            .col-md-3
              = select_tag :apl, options_from_collection_for_select(@apls, "id", "nombre_para_raa", :selected=>@apl), { class: 'form-control',:prompt => 'Seleccione un Acuerdo de Producción Limpia' }
            .col-md-3
              = select_tag :ppf, options_from_collection_for_select(@ppfs, "id", "nombre_para_raa", :selected=>@ppf), { class: 'form-control',:prompt => 'Seleccione un Programa y/o Proyecto de Financiamiento' }  
            .col-md-3
              = select_tag :ppl, options_from_collection_for_select(@ppls, "id", "nombre_para_raa", :selected=>@ppl), { class: 'form-control',:prompt => 'Seleccione una Rendición / Seguimiento' }         
            .col-md-3
              = select_tag :fpl, options_from_collection_for_select(@fpls, "id", "nombre_para_raa", :selected=>@fpl), { class: 'form-control',:prompt => 'Seleccione un Fondo de Producción Limpia' }  
      .card-body.p-0
        .table-responsive.mis-instrumentos
          %table.table.table-bordered.table-striped{style: "margin-top: 0px !important;"}
            %thead
              %tr
                -#%th=t(:instrumento_tipo)
                -#%th=t(:id)                  
                -#%th=t(:instrumento_nombre)
                %th=t(:tarea_nombre)
                %th=t(:tarea_responsables)
                %th=t(:instancia)
                %th=t(:fecha_hora_activacion)
                %th=t(:fecha_hora_ejecucion)
                %th=t(:tarea_documentos_asociados)
                %th=t(:estado)
            %tbody
              - @instancias.each do |ins|
                %tr.accion
                  -#%td=ins[:tipo_instrumento]
                  -#%td=ins[:id_instrumento]
                  -#%td=ins[:nombre_instrumento]
                  %td=ins[:nombre_tarea]
                  %td=ins[:responsables].to_sentence
                  %td=ins[:instancia].to_sentence
                  %td=ins[:activacion]
                  %td=ins[:ejecucion]
                  %td
                    -# Botón de descarga de PDF Fondo Producción Limpia
                    - if ins[:tarea][:codigo] == 'FPL-06'
                      - ins[:tarea_fpl_06].each do |revision|
                        = link_to descargar_pdf_fondo_produccion_limpia_path(ins[:id_instrumento], revision: revision), class: "btn-tabla-instrumentos" do
                          = fa_icon 'file-pdf-o'
                          = "Revisión #{revision}"
                    - if ins[:tarea][:codigo] == 'FPL-11'
                      - if ins[:tarea_fpl_11] == true
                        = link_to descargar_resolucion_pdf_fondo_produccion_limpia_path(ins[:id_instrumento]), class: "btn-tabla-instrumentos" do
                          = fa_icon 'file-pdf-o'
                          = "Resolución"
                        = link_to descargar_contrato_pdf_fondo_produccion_limpia_path(ins[:id_instrumento]), class: "btn-tabla-instrumentos" do
                          = fa_icon 'file-pdf-o'
                          = "Contrato"
                    -# Se recorre arreglo con los documentos asociados a cada APL.
                    - ins[:documentos_asociados].each do |documento| 
                      - if documento[:url].blank?
                        =documento[:nombre]
                      - else
                        -if documento[:url] == "modal"
                          =render 'modal_descargas_especiales', manifestacion_de_interes: ins[:manifestacion_de_interes], tarea: ins[:tarea], lista: documento[:lista]
                          =link_to '#', "data-target" => "#modal_descargas_especiales-"+ins[:tarea].id.to_s, "data-toggle" => "modal", class: "btn-tabla-instrumentos" do
                            =fa_icon 'download'
                            =documento[:nombre]
                        -else
                          -enlace = documento[:metodo] ? public_send(documento[:url], *documento[:parametros]) : documento[:url]
                          =link_to enlace, class: "btn-tabla-instrumentos" do
                            =fa_icon 'download'
                            =documento[:nombre]
                          - if ins[:nombre_tarea] == 'APL-028- Aprobar Adhesión, Admisión y Certificación'
                            -data_url = url_segun_tarea(ins[:pendiente], ins[:tarea], @instrumento)
                            - f = data_url[:url] + '?action=revisar&controller=adhesion&format=xlsx'
                            =link_to f, {target: '_blank', class: 'mt-1 btn-tabla-instrumentos'} do
                              =fa_icon 'download'
                              ='Consolidado Adhesiones'


                        -# Método para añadir archivo solo aceptaba uno, el cual se setea en flujo.rb, para el caso de esta tarea era
                        -# el manifiesto de interes, por lo que se debe añadir la descarga de la ficha de interes de esta manera
                        -# Se modificó método descargar_archivo, añadiendo parámetro que indica si la descarga viene desde historial instrumentos
                        -# De manera que para descarga de un archivo singular se puede utilizar como se usa más abajo __descargar_archivo(objeto.archivo, objeto, true, true, nil, 'nombre del boton', false, true)
                        - if ins[:nombre_tarea] == 'APL-005-Revisar Pertinencia y Factibilidad Manifestación de Interés'
                          - vacio = ins[:manifestacion_de_interes].archivo_pertinencia_factibilidad.blank? || ins[:manifestacion_de_interes].archivo_pertinencia_factibilidad.nil?
                          = vacio ?  "Sin documentos aún" : __descargar_archivo(ins[:manifestacion_de_interes].archivo_pertinencia_factibilidad,ins[:manifestacion_de_interes], true,true,nil, "Ficha de Manifestacion",false,true) 

                  %td
                    - if ins[:puedo_ver_tarea]
                      -if ins[:auditorias_tarea_033].blank? && ins[:validaciones_tarea_034].blank?
                        -if ins[:estado] == "Ejecutada"
                          -data_url = url_segun_tarea(ins[:pendiente], ins[:tarea], @instrumento)
                          =link_to data_url[:url], class: "btn-tabla-instrumentos" do
                            =fa_icon 'eye'
                            =ins[:estado]
                        -else
                          -data_url = url_segun_tarea(ins[:pendiente], ins[:tarea], @instrumento)
                          - f = data_url[:url] + '/?q=solo_lectura'
                          =link_to f, class: "btn-tabla-instrumentos" do
                            =fa_icon 'eye'
                            =ins[:estado]
                      -elsif !ins[:auditorias_tarea_033].blank?
                        =render 'modal_auditorias_ejecutadas', manifestacion_de_interes: ins[:manifestacion_de_interes], tarea: ins[:tarea], lista: ins[:auditorias_tarea_033]
                        =link_to '#', "data-target" => "#modal_auditorias_ejecutadas-"+ins[:tarea].id.to_s, "data-toggle" => "modal", class: "btn-tabla-instrumentos" do
                          =fa_icon 'eye'
                          =ins[:estado]
                      -elsif !ins[:validaciones_tarea_034].blank?
                        =render 'modal_validaciones_ejecutadas', manifestacion_de_interes: ins[:manifestacion_de_interes], tarea: ins[:tarea], lista: ins[:validaciones_tarea_034]
                        =link_to '#', "data-target" => "#modal_validaciones_ejecutadas-"+ins[:tarea].id.to_s, "data-toggle" => "modal", class: "btn-tabla-instrumentos" do
                          =fa_icon 'eye'
                          =ins[:estado]
                    -else
                      =ins[:estado]

.float-right
  = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
  -#
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled

:javascript
  $(document).ready(function() {
    $('table.table-bordered').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: true } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      fixedHeader: true
    });

    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
    htmlErrorToTooltip('top');

    $('#apl').chosen(chosenOptions);
    $('#apl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_historial_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { apl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#ppl').chosen(chosenOptions);
    $('#ppl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_historial_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { ppl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#fpl').chosen(chosenOptions);
    $('#fpl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_historial_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { fpl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#ppf').chosen(chosenOptions);
    $('#ppf').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_historial_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { ppf: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });   
  });
