:javascript
	$(document).ready(function(){
		htmlErrorToTooltip('top');
	});
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-devise row'} ) do |f|
	= f.input :reset_password_token, as: :hidden
	.card.mb-2.col-12.p-0
		.card-header
			%h5.titulo-caja.text-center= "Cambie su contraseña"
		.card-body
			.text-center.mb-4
				= image_tag ("logo-ascc.png")
			= f.input :password, required: true, autofocus: true, placeholder: 'Nueva contraseña', label: false
			= f.input :password_confirmation, required: true, placeholder: "Confirme su nueva contraseña", label: false
			= f.button :submit, "Cambiar", class: 'btn btn-sm btn-primary btn-block'
	= render "devise/shared/links"
	