:javascript
	$(document).ready(function(){
		htmlErrorToTooltip('top');
	});
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-devise row'} ) do |f|
	.card.mb-2.col-12.p-0
		.card-header
			%h5.titulo-caja.text-center= "Recuperar contraseña"
		.card-body
			.text-center.mb-4
				= image_tag ("logo-ascc.png")
			= f.input :email, required: true, autofocus: true, placeholder: "Escriba su correo", label: false, input_html: { class: "validado" }
			= f.button :submit, "Recuperar", class: 'btn btn-sm btn-agencia btn-block'
	= render "devise/shared/links"