:javascript
  $(document).ready(function() {
    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
    htmlErrorToTooltip('top');
  });
- titulo t(:carga_de_auditoría)
= simple_form_for @manifestacion_de_interes, url: carga_auditoria_manifestacion_de_interes_path(@tarea_pendiente) do |f|
  = f.hidden_field :temporal, as: :boolean, value: true, input_html: { value: true }
  =# f.input :temporal, as: :hidden, wrapper: false, input_html: { value: true }
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=t(:elementos_observados_o_rechazados)
        .card-body.p-0
          %table.table.table-bordered.table-striped.mb-0
            %thead
              %tr
                %th=t(:rut)
                %th=t(:elemento_auditado)
                %th=t(:ponderado)
                %th=t(:archivo_informe)
                %th=t(:observación)
            %tbody
              -# @audit_rechazados.each do |audit|
              - (0..5).each do |audit|
                %tr
                  %td="Dato1"
                  %td="Dato2"
                  %td="Dato3"
                  %td
                    = link_to "#", title: "Descargar" do
                      %i.fa.fa-download
                  %td="Dato5"
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=t(:carga_resultados)
        .card-body
          .row
            .col-12.col-lg-6
              = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-001", t(:formato_informe), tarea_pendiente: @tarea_pendiente)
            .col-12.col-lg-6
              = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-002", t(:formato_carga_auditorías), tarea_pendiente: @tarea_pendiente)
            .col-12
              = f.input :archivo_carga_auditoria, as: :file, input_html: {class: "form-control required-field"},label: t(:carga_resultados_auditoría), required: true
  .float-right
    = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled