:javascript
  $(document).ready(function(){

    
    $('#guardar_button').click(function(){
      $('#enviar_button').removeAttr('data-disable-with');
      $('.loading-data').show()
    });
    $('#enviar_button').click(function(){
      $('#manifestacion_de_interes_temp_siguientes').val(false);
      $('#manifestacion_de_interes_temporal').val(false);
      $('#guardar_button').removeAttr('data-disable-with');
      $('.loading-data').show()
    });

    $('#manifestacion_de_interes_resultado_pertinencia').change(function(){
      carga_por_resultado($(this).val());
    });

    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });

    if($('#manifestacion_de_interes_resultado_pertinencia').val() != "aceptada"){
      $(".chosen-control").prop('disabled', true).trigger('chosen:updated');
    }

    $('#manifestacion a.nav-link').on('shown.bs.tab', function (e) {
      tab_selected = e.target;
      $('.accordionTabs .card-body a').removeClass('hide');
      if($(tab_selected).prop('id') != 'pertinencia-factibilidad-tab'){

        if($(tab_selected).prop('id') == 'pertinencia-factibilidad-externo'){
          $('#collapseTabs').removeClass("show");
          $('a.nav-link#pertinencia-factibilidad-tab').tab('show');
          $('.accordionTabs .card-header a').removeClass('active');
          $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');
        }else{
          $('#pertinencia-factibilidad-externo').removeClass('active');
          $('.accordionTabs .card-header a').addClass('active');
          $('.accordionTabs .card-header a .titulo-accordion').html($(tab_selected).html());
          if($('.accordionTabs .card-body a[tab="'+$(tab_selected).attr('aria-controls')+'"] span').length == 0){
            $('.accordionTabs .card-header a span').addClass('d-none');
          }else{
            $('.accordionTabs .card-header a span').removeClass('d-none');
          }
          $('.accordionTabs .card-body a[tab="'+$(tab_selected).attr('aria-controls')+'"]').addClass('hide');
        }
      }else{
        $('#pertinencia-factibilidad-externo').addClass('active');
        $('.accordionTabs .card-header a').removeClass('active');
        $('.accordionTabs .card-header a .titulo-accordion').html('Información de Acuerdo');
        $('.accordionTabs .card-header a span').removeClass('d-none');
      }
    });

    $('.collapse-tab-item').click(function(e){
      tab = $(this).attr('tab');
      $('#collapseTabs').removeClass("show");
      $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');
      $('a.nav-link#'+tab+'-tab').tab('show');

    });

    $('#collapseTabs').on('show.bs.collapse', function () {
      $('.accordionTabs .card-header a .fa-ellipsis-h').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v');

      $('#pertinencia-factibilidad-externo').removeClass('active');
      $('.accordionTabs .card-header a').addClass('active');
    });

    $('#collapseTabs').on('hide.bs.collapse', function () {
      $('.accordionTabs .card-header a .fa-ellipsis-v').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h');

      if($('.accordionTabs .card-header a .titulo-accordion').html() == 'Información de Acuerdo'){
        $('#pertinencia-factibilidad-externo').addClass('active');
        $('.accordionTabs .card-header a').removeClass('active');
      }
    });

  });

  function carga_por_resultado(val){
    var obs = $('#manifestacion_de_interes_observaciones_pertinencia_factibilidad');
    var comp = $('#manifestacion_de_interes_compromiso_pertinencia_factibilidad');
    if(val == "realiza_observaciones" || val == "solicita_condiciones_y_contiene_observaciones" || val == "no_aceptada"){
      required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", true);
    }else{
      required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", false);
    }
    if(val == "solicita_condiciones" || val == "solicita_condiciones_y_contiene_observaciones" || val == "no_aceptada"){
      required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", true);
    }else{
      required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", false);
    }
    $('#observaciones_label').html($('#observaciones_label').html().replace('<abbr title="required">*</abbr>',''));
    if(val == "aceptada"){
      $(".chosen-control").prop('disabled', false).trigger('chosen:updated');
      required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", true);
    }else{
      $(".chosen-control").prop('disabled', true).trigger('chosen:updated');
      $('#observaciones_label').html('<abbr title="required">*</abbr>'+$('#observaciones_label').html());
      required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", false);
    }
  }

- solo_lectura = @tarea_pendiente.estado_tarea_pendiente_id == EstadoTareaPendiente::ENVIADA || @solo_lectura == 'solo_lectura'
- titulo t(:responder_pertinencia_factibilidad)
= simple_form_for @manifestacion_de_interes, url: responder_pertinencia_factibilidad_manifestacion_de_interes_path(@tarea_pendiente), method: :patch, remote: false, html: { autocomplete: :off, multipart: true } do |f|
  = f.hidden_field :temporal, as: :boolean, value: true
  = f.hidden_field :temp_siguientes, as: :boolean, value: true
  = f.hidden_field :update_respuesta_pertinencia, as: :boolean, value: true
  = f.input :current_tab, as: :hidden, wrapper: false, input_html: { value: 'tipo-de-acuerdo-tab' }
  = f.submit "", class: 'd-none'
  .row
    .col-12
      .card
        .card-header.p-0
          .p-3
            %h5.no-margin=titulo_instrumento.html_safe
            %h5.no-margin=datos_beneficiario.html_safe
          #tab-menu-controls.parent-nav.mb-0.mt-3{:role => "tabpanel"}
            %ul#manifestacion.nav.nav-tabs{:role => "tablist"}
              %li.nav-item
                %a.nav-link{id: "pertinencia-factibilidad-externo", class: 'active', "aria-controls" => 'pertinencia-factibilidad-externo', "aria-expanded" => "true", "data-toggle" => "tab", :href => "#pertinencia-factibilidad-externo", :role => "tab"}
                  =t('pertinencia_factibilidad')
                - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(:"pertinencia-factibilidad") && @total_de_errores_por_tab[:"pertinencia-factibilidad"].size > 0
                  %small.total-error
                    %i.fa.fa-exclamation
        .card-body.border-tabs.px-2.pt-3
          - tabs = { "objetivo-acuerdo": false, "contexto-sector": false, "actores-y-partes-interesadas": false, "datos-institucion": false, "datos-proyecto": false, 'pertinencia-factibilidad': true }
          #tab-menu-controls.no-border.mb-0{:role => "tabpanel"}
            %ul#manifestacion.nav.nav-tabs.d-none.d-lg-flex{:role => "tablist"}
              - tabs.each do |tab,active|
                %li.nav-item{class: (tab.to_s == 'pertinencia-factibilidad' ? 'd-none' : '')}
                  %a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
                    =t(tab.to_s.gsub('-','_'))
                  - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
                    %small.total-error
                      %i.fa.fa-exclamation
            .accordionTabs.d-block.d-lg-none
              .card.mb-0
                .card-header.p-0
                  %a.d-flex.justify-content-left.align-items-center{'data-toggle': 'collapse', href: '#collapseTabs', role: 'button', 'aria-expanded': false, 'aria-controls': 'collapseTabs'}
                    .accordion-icon.text-center
                      =fa_icon "ellipsis-h"
                    .titulo-accordion.font-weight-bold Información de Acuerdo
                    -# if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.select{|error_tab, error_data| error_tab.to_s != 'pertinencia-factibilidad' && error_data.size > 0}.size > 0
                    %span.badge.badge-danger.badge-pill.ml-auto
                      %i.fa.fa-exclamation
                #collapseTabs.collapse.p-0
                  .card-body.p-0
                    .list-group.list-group-flush
                      - tabs.each do |tab,active|
                        -if tab.to_s != 'pertinencia-factibilidad'
                          %a.collapse-tab-item.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center{tab: "#{tab}"}
                            =t(tab.to_s.gsub('-','_'))
                            - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
                              %span.badge.badge-danger.badge-pill
                                %i.fa.fa-exclamation


            =# f.input :temporal, as: :hidden, wrapper: false, input_html: { value: true }
            = render "form_manifestacion_de_interes", tabs: tabs, f: f, solo_lectura: solo_lectura do
              #pertinencia-factibilidad.tab-pane.fade{"aria-expanded" => (tabs[:"pertinencia-factibilidad"] ? 'true' : 'false'), "aria-labelledby" => "pertinencia-factibilidad-tab", :role => "tabpanel", class: ("show active" if tabs[:"pertinencia-factibilidad"])}
                .card
                  .card-body
                    .row
                      .col-12
                        .row
                          .col-12.col-lg-6
                            -if !solo_lectura
                              = f.input :dato_temporal, input_html: { autocomnplete: 'off', value: @manifestacion_de_interes.resultado_pertinencia.humanize }, readonly: true, required: false, label: t(:resultado_de_la_pertinencia)
                            -else
                              .form-group
                                -no_data = f.object.resultado_pertinencia.blank?
                                %label.control-label.string=t(:resultado_de_la_pertinencia)
                                %p#manifestacion_de_interes_resultado_pertinencia.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                  =(no_data ? 'No se ingresó respuesta' : f.object.resultado_pertinencia.humanize)
                          -if @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones" || @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones"
                            .col-12.col-lg-6
                              -if !solo_lectura
                                = f.label "¿Acepta condiciones y/o compromisos?", required: true
                                = f.input :acepta_condiciones_pertinencia, as: :radio_buttons, collection: [["Si", true],["No", false]], label: false, required: true, item_wrapper_class: :radio, item_wrapper_tag: :div
                              -else
                                .form-group
                                  -no_data = f.object.acepta_condiciones_pertinencia.blank?
                                  %label.control-label.string="¿Acepta condiciones y/o compromisos?"
                                  %p#manifestacion_de_interes_acepta_condiciones_pertinencia.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                    =(no_data ? 'No se ingresó respuesta' : (f.object.acepta_condiciones_pertinencia ? "Si" : "No"))
                      -if @manifestacion_de_interes.resultado_pertinencia == "realiza_observaciones" || @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones"
                        .col-12
                          .row
                            .col-12.col-lg-6
                              -if !solo_lectura
                                = f.input :observaciones_pertinencia_factibilidad, as: :text, disabled: true, input_html: {rows: 4}
                              -else
                                .form-group
                                  -no_data = f.object.observaciones_pertinencia_factibilidad.blank?
                                  %label.control-label.string=t(:observaciones_y_comentarios)
                                  %p#manifestacion_de_interes_observaciones_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                    =(no_data ? 'No se ingresó respuesta' : f.object.observaciones_pertinencia_factibilidad)
                            .col-12.col-lg-6
                              -if !solo_lectura
                                =f.input :respuesta_observaciones_pertinencia_factibilidad, as: :text, required: true, input_html: {rows: 4}, label: t(:detalle_de_, item: t(:respuesta_a_observaciones_pertinencia_factibilidad).downcase)
                              -else
                                .form-group
                                  -no_data = f.object.respuesta_observaciones_pertinencia_factibilidad.blank?
                                  %label.control-label.string=t(:detalle_de_, item: t(:respuesta_a_observaciones_pertinencia_factibilidad).downcase)
                                  %p#manifestacion_de_interes_respuesta_observaciones_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                    =(no_data ? 'No se ingresó respuesta' : f.object.respuesta_observaciones_pertinencia_factibilidad)
                      -if @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones" || @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones"
                        .col-12
                          .row
                            .col-12.col-lg-6
                              -if !solo_lectura
                                = f.input :compromiso_pertinencia_factibilidad, as: :text, disabled: true, input_html: {rows: 4}, label: "Condiciones y/o compromisos solicitados"
                              -else
                                .form-group
                                  -no_data = f.object.compromiso_pertinencia_factibilidad.blank?
                                  %label.control-label.string="Condiciones y/o compromisos solicitados"
                                  %p#manifestacion_de_interes_compromiso_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                    =(no_data ? 'No se ingresó respuesta' : f.object.compromiso_pertinencia_factibilidad)
                            .col-12.col-lg-6
                              -if !solo_lectura
                                =f.input :respuesta_otros_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: "Comentarios sobre condiciones y/o compromisos solicitados"
                              -else
                                .form-group
                                  -no_data = f.object.respuesta_otros_pertinencia_factibilidad.blank?
                                  %label.control-label.string="Comentarios sobre condiciones y/o compromisos solicitados"
                                  %p#manifestacion_de_interes_respuesta_otros_pertinencia_factibilidad.fs-14{align: :justify, class: (no_data ? 'font-italic text-muted' : '')}
                                    =(no_data ? 'No se ingresó respuesta' : f.object.respuesta_otros_pertinencia_factibilidad)
                      .col-12.col-lg-6.align-self-end
                        -if !solo_lectura
                          .row.align-items-end
                            .col-12.col-lg-6
                              = f.input :archivo_respuesta_pertinencia_factibilidad, as: :file, input_html: {class: "form-control validado"}, label: "Archivo complementario a respuesta de pertinencia y factibilidad (opcional)"
                              = f.input :archivo_respuesta_pertinencia_factibilidad_cache, as: :hidden
                            .col-12.col-lg-6
                              .form-group
                                = __descargar_archivo(f.object.archivo_respuesta_pertinencia_factibilidad,f.object)
                        -else
                          .form-group
                            %label.string.control-label Archivo complementario a respuesta de pertinencia y factibilidad (opcional)
                            = __descargar_archivo(f.object.archivo_respuesta_pertinencia_factibilidad,f.object, false)

                      .col-12.col-lg-6.align-self-end
                        .form-group
                          %label.string.control-label Ficha de Manifestación de Interés
                          = __descargar_archivo(f.object.archivo_pertinencia_factibilidad,f.object, false)
    -if !solo_lectura
      .col-12
        .float-right
          = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
          = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary", id: "guardar_button"
          = button_tag 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, class: "btn btn-sm btn-success", id: "enviar_button" do
            %i.fa.fa-arrow-circle-right
            =t(:enviar)
-if !solo_lectura
  = render 'admin/users/buscador'
  - tipo_instrumento = @manifestacion_de_interes.tipo_instrumento_id.present? ? @manifestacion_de_interes.tipo_instrumento_id  : TipoInstrumento::ACUERDO_DE_PRODUCCION_LIMPIA
  = render 'admin/contribuyentes/buscador', es_para_seleccion: false, seleccion_basica: true, tipo_instrumento: tipo_instrumento
