:javascript
  var pais = 'Chile';//aún no se sabe como se manejará la internalización de este proyecto
  var desc = #{raw json_escape(@tipo_instrumentos.inject({}){|h,ti|h[ti.id]=ti.descripcion;h}.to_json)}
  $(document).ready(function(){

    $('body').on('change','.contribuyente-radio',function() {
      $('.seleccionar-contribuyente-button').removeAttr('disabled'); 
    });
    $('body').on('change','.usuario-radio',function() {
      $('.seleccionar-usuario-button').removeAttr('disabled'); 
    });
    
    $('.seleccionar-contribuyente-button').on('click', function() {
      try {
        data=JSON.parse($('.contribuyente-radio:checked').val());
        $("#manifestacion_de_interes_contribuyente_id").val(data.id);
        $("#manifestacion_de_interes_contribuyente_id").change();
      } catch(e) {
        alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
      }
    });
    //Permite que al seleccionar un usuario desde el modal se adjunte su información
    $('.seleccionar-usuario-button').click(function() {
      try {
        data=JSON.parse($('.usuario-radio:checked').val());
        $("#manifestacion_de_interes_representante_institucion_para_solicitud_id").append(new Option("--", data.id));
        $("#manifestacion_de_interes_representante_institucion_para_solicitud_id").val(data.id);
        $("#manifestacion_de_interes_representante_institucion_para_solicitud_id").change();
      } catch(e) {
        alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
      }
    });

    verificarPreinversion();
    //$("#area-influencia-proyecto-mapa").focusout(function(e){
      //if( $(document.activeElement).parents('div#area-influencia-proyecto-mapa').length ) {
        //console.log("yes");
      //}else{
        //console.log("no");
      //}

      //$('#manifestacion_de_interes_area_influencia_proyecto_data').trigger("change");
    //});

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('#manifestacion_de_interes_current_tab').val($(this).attr('id'));
    });
    $('#manifestacion_de_interes_tipo_instrumento_id').change(function(){
      if ( $(this).val() !== "" ) {
        $('#manifestacion_de_interes_descripcion_acuerdo').html(desc[$(this).val()]);
      }
    });

    function checkbox_related_element(c) {
      element = $('#'+$(c).parents('.form-group').find('label.boolean').attr('for'));
      if (element === undefined) {
        return jQuery.extend();
      } else {
        return element;
      }
    }

    function when_checkbox_is_true(checkbox) {
      relement=checkbox_related_element(checkbox);
      if ( relement.prop('tagName') == 'DIV' ) {
        relement.show('slow');
      } else {
        relement.removeAttr('readonly');
      }
    }

    function when_checkbox_is_false(checkbox) {
      relement=checkbox_related_element(checkbox);
      if ( relement.prop('tagName') == 'DIV' ) {
        relement.hide('slow');
      } else {
        relement.attr('readonly','readonly');
      }
    }

    __enable_fieds_if_checkbox_is_true($('[type="radio"]:checked'), when_checkbox_is_true, when_checkbox_is_false);
    $('[type="radio"]').click(function(){
      __enable_fieds_if_checkbox_is_true($(this), when_checkbox_is_true, when_checkbox_is_false);
    });

    //htmlErrorToTooltip("top");

    $('#enviar-manifestacion-button').click(function(e){
      $('#manifestacion_de_interes_temporal').val("");
    });

    //Validar que solo se leccione o un diagnostico o un estandar, no ambos.-
    if($('#manifestacion_de_interes_diagnostico_id').val() != '' && $('#manifestacion_de_interes_diagnostico_id').val() != null){
      console.log($('#manifestacion_de_interes_diagnostico_id').val())
      $('#manifestacion_de_interes_estandar_de_certificacion_id').attr('disabled', true);
      $('#manifestacion_de_interes_estandar_de_certificacion_id').val("");
    }
    if($('#manifestacion_de_interes_estandar_de_certificacion_id').val() != '' && $('#manifestacion_de_interes_estandar_de_certificacion_id').val() != null){
      $('#manifestacion_de_interes_diagnostico_id').attr('disabled', true);
      $('#manifestacion_de_interes_diagnostico_id').val("");
    }
  });
#manifestacionContent.tab-content
  #tipo-de-acuerdo.tab-pane.fade.disabled{"aria-expanded" => tabs[:"tipo-de-acuerdo"], "aria-labelledby" => "tipo-de-acuerdo-tab", :role => "tabpanel", class: ("show active" if tabs[:"tipo-de-acuerdo"])}
    .card
      .card-body
        .row
          .col-lg-7.col-12
            = f.input :tipo_instrumento_id, collection: @tipo_instrumentos.map{|m|[m.nombre,m.id]}, group_method: :last, input_html: { "data-tooltip" => true,class: 'auto-save required-field', :title => "Testeo de tooltips"}, required: true
          .col-lg-5.pl-lg-0.col-sm-12
            = f.input :proponente, input_html: { value: current_user.nombre_completo, class: 'required-field' }, readonly: true, required: true
          .col-lg-12.col-12
            
            = f.input :proponente_institucion_id, collection: @contribuyentes_del_proponente.map{|m|[(m.razon_social.blank? ? "Sin razón social. RUT: #{m.rut_completo}".upcase : m.razon_social),m.id]}, input_html: { class: 'auto-save required-field' }, prompt: t(:prompt_,g:nil,e:t(:institución).downcase), required: true, label: t(:institución)
          .col-12
            = f.input :descripcion_acuerdo, as: :text, input_html: { class: 'auto-save required-field', rows: 4 }, label: t(:descripción_acuerdo), readonly: true
  #datos-institucion.tab-pane.fade.disabled{"aria-expanded" => (tabs[:"datos-institucion"] ? 'true' : 'false'), "aria-labelledby" => "datos-institucion-tab", :role => "tabpanel", class: ("show active" if tabs[:"datos-institucion"])}
    .card
      .card-body
        .alert.alert-info
          %small
            %i.fa.fa-question-circle.fa-1-5x
            Datos Institución Gestora Acuerdo que actuará como contraparte de los organismos públicos firmantes
        .row
          .col-lg-2.col-12
            - unless @revisando
              .form-group.integer.required.proveedor_contribuyente_id
                %label.string.control-label.required
                  %abbr{title: :required}*
                  = t(:eligir_institucion)
                = link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente", class: 'form-control btn btn-primary btn-sm', id: "intitucion_cogestora" do
                  %i.fa.fa-search-plus
                  Buscar
          .col-lg-6.col-12
            = f.input :contribuyente_id, as: :hidden, wrapper: false, input_html: { class: 'auto-save'}
            = f.input :institucion_gestora_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:institución_gestora_acuerdo), required: true, readonly: true
          .col-lg-4.col-12
            = f.input :rut_institucion_gestora_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:rut_institución_gestora_acuerdo), required: true, readonly: true
          .col-lg-7.pr-lg-0.col-12
            .row
              .col-12
                = f.input :direccion_institucion_gestora_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:dirección_institución_gestora_acuerdo), required: true, readonly: true
              .col-lg-7.pr-lg-0.col-12
                = f.input :lugar_institucion_gestora_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:lugar_institución_gestora_acuerdo), required: true, readonly: true
              .col-lg-5.col-12
                = f.input :ubicacion_exacta, input_html: { class: 'auto-save required-field' }, label: t(:ubicación_exacta), required: true, readonly: true
              .col-12
                = f.input :tipo_contribuyente_de_institucion_gestora, input_html: { class: 'auto-save required-field' }, label: t(:tipo_contribuyente_de_institución_gestora), required: true, readonly: true
              .col-md-8.pr-md-0.col-12
                = f.input :numero_de_socios_institucion_gestora, as: :string, input_html: { class: 'auto-save required-field numero' }, label: t(:número_de_socios_institución_gestora), required: true
              .col-md-4.col-12
                = f.input :fecha_creacion_institucion, as: :string, input_html: { class: 'auto-save basic-datetimepicker-max-today required-field', value: ((f.object.fecha_creacion_institucion.blank?) ? nil : localize(f.object.fecha_creacion_institucion)) }, label: t(:fecha_creación_institución), required: true
              .col-12
                = f.input :experiencia_en_gestion_de_proyectos, as: :text, input_html: { class: 'auto-save  required-field' }, label: t(:experiencia_en_gestión_de_proyectos), required: true
          .col-lg-5.col-12
            %label
            #mapa-entidad-cogestora
          .col-md-3.col-12
            .form-group.integer.required.proveedor_contribuyente_id
              %label.string.control-label.required
                %abbr{title: :required}*
                = t(:eligir_representante)
              = link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-usuario", class: 'form-control btn btn-primary btn-sm', flujo_id: (@flujo.present? ? @flujo.id : nil) do
                %i.fa.fa-search-plus
                Buscar
          .col-md-3.pr-md-0.col-12
            = f.input :representante_institucion_para_solicitud_id, collection: @representantes, input_html: { class: 'auto-save required-field' }, label: t(:nombre_representante_institucion), required: true
          .col-md-3.pr-md-0.col-12
            = f.input :rut_representante_para_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:rut_representante_para_acuerdo), required: true, readonly: true
          .col-md-3.col-12
            = f.input :email_representante_para_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:mail_representante_para_acuerdo), required: true, readonly: true
          .col-md-4.pr-md-0.col-12
            = f.input :telefono_representante_para_acuerdo, input_html: { class: 'auto-save required-field' }, label: t(:teléfono_representante_para_acuerdo), required: true, readonly: true
          .col-md-4.col-9
            = f.input :carta_de_interes_institucion_gestora_firmada, as: :file, input_html: { class: 'form-control auto-save required-field' }, label: t(:subir_carta_de_interés_firmada), required: true
            = f.hidden_field :carta_de_interes_institucion_gestora_firmada_cache
          .col-3.col-md-1.align-self-end
            -#
              = __descargar_archivo(f.object.carta_de_interes_institucion_gestora_firmada,:carta_de_interes_institucion_gestora_firmada)
            = __descargar_archivo(f.object.carta_de_interes_institucion_gestora_firmada,f.object)
          .col-md-3.col-12
            = __mostrar_descargable(@descargables,'APL-001-DES-001', tarea_pendiente: @tarea_pendiente)
  #contexto-sector.tab-pane.fade.disabled{"aria-expanded" => (tabs[:"contexto-sector"] ? 'true' : 'false'), "aria-labelledby" => "contexto-sector-tab", :role => "tabpanel", class: ("show active" if tabs[:"contexto-sector"])}
    .card
      .card-body
        .alert.alert-info
          %small
            %i.fa.fa-question-circle.fa-1-5x
            Contexto Sector y/o Territorio Involucrado
        .row
          .col-12
            #checkbox-tree-selector-actividades-economicas.mb-3
              .card.m-0{class: ('has-error' if f.object.errors.messages.has_key?(:sectores_economicos))}
                .card-header.pt-1.pb-1.pl-3
                  %h5.no-margin.float-left
                    %abbr{title: :required} *
                    = t(:elegir_sectores_económicos)
                  .float-right
                    %i.fa.fa-chevron-right
                .card-body.p-0.group-hide.required
                  = f.input "sectores_economicos[0]", as: :hidden, wrapper: false, input_html: { value: nil }
                  = selector_de_actividades_economicas(@actecos_checked,:manifestacion_de_interes)
                  - if f.object.errors.messages.has_key?(:sectores_economicos)
                    %span.help-block
                      = f.object.errors.messages[:sectores_economicos].first
          .col-12
            #checkbox-tree-selector-regiones-provincias-comunas.mb-3
              .card.m-0{class: ('has-error' if f.object.errors.messages.has_key?(:territorios_regiones))}
                .card-header.pt-2.pb-1.pl-3
                  %h5.no-margin.float-left
                    %abbr{title: :required} *
                    = t(:elegir_territorios)
                  .float-right
                    %i.fa.fa-chevron-right
                .card-body.p-0.group-hide.required
                  .row
                    .col-lg-4.pr-lg-0.col-12
                      = selector_de_regiones_provincias_comunas(@rpc_checked,:manifestacion_de_interes)
                    .col-lg-8.pl-lg-0.col-12
                      = f.input "territorios_regiones[0]", as: :hidden, wrapper: false, input_html: { value: nil }
                      = f.input "territorios_provincias[0]", as: :hidden, wrapper: false, input_html: { value: nil }
                      = f.input "territorios_comunas[0]", as: :hidden, wrapper: false, input_html: { value: nil }
                      = f.input :coordernadas_territorios, as: :hidden, wrapper: false, input_html: {class: "auto-save"}
                      #representacion-seleccion-territorio-mapa
                  - if f.object.errors.messages.has_key?(:territorios_regiones)
                    %span.help-block
                      = f.object.errors.messages[:territorios_regiones].first
          .col-lg-6.pr-lg-0.col-12
            -#
              #textarea-caracterizacion-sector-territorio.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:caracterización_sector_territorio)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :caracterizacion_sector_territorio, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:caracterización_sector_territorio), wrapper_class: 'm-0', required: true
          .col-lg-6.col-12
            -#
              #textarea-principales_actores.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:principales_actores)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :principales_actores, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:principales_actores), wrapper_class: 'm-0', required: true
          .col-lg-4.pr-lg-0.col-12
            = f.input :numero_empresas, as: :string, input_html: { class: 'auto-save numero' }, label: t(:nro_empresas), required: true
          .col-lg-4.pr-lg-0.col-12
            - f.object.porcentaje_mipymes=(f.object.porcentaje_mipymes.blank? ? 0 : f.object.porcentaje_mipymes)
            = f.input :porcentaje_mipymes, input_html: { type: :range, class: 'auto-save', min: 0.0, max: 100, step: 0.1 }, label: t(:with_range_values_, label: t(:porcentaje_mipymes), init: f.object.porcentaje_mipymes ).html_safe, wrapper_class: 'range-slider', required: true
          .col-lg-4.col-12
            = f.input :produccion, as: :string, input_html: { class: 'auto-save' }, label: t(:producción), required: true
          .col-lg-4.pr-lg-0.col-12
            = f.input :ventas, as: :string, input_html: { class: 'moneda auto-save' }, label: t(:ventas), required: true
          .col-lg-4.pr-lg-0.col-12
            - f.object.porcentaje_exportaciones=(f.object.porcentaje_exportaciones.blank? ? 0 : f.object.porcentaje_exportaciones)
            = f.input :porcentaje_exportaciones, input_html: { type: :range, class: 'auto-save', min: 0.0, max: 100, step: 0.1 }, label: t(:with_range_values_, label: t(:porcentaje_exportaciones), init: f.object.porcentaje_exportaciones ).html_safe, wrapper_class: 'range-slider', required: true
          .col-lg-4.col-12
            = f.input :numero_trabajadores, as: :string, input_html: { class: 'auto-save numero' }, label: t(:nro_trabajadores), required: true
          .col-lg-6.pr-lg-0.col-12
            = f.input :principales_mercados, input_html: { class: 'auto-save' }, label: t(:principales_mercados), required: true
          .col-lg-6.col-12
            -#
              #textarea-vulnerabilidad-al-cambio-climatico-del-sector.mt-2.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:vulnerabilidad_al_cambio_climático_del_sector)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :vulnerabilidad_al_cambio_climatico_del_sector, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:vulnerabilidad_al_cambio_climático_del_sector), wrapper_class: 'm-0', required: true
          .col-lg-6.pr-lg-0.col-12
            -#
              #textarea-principales-impactos-socioambientales-del-sector.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:principales_impactos_socioambientales_del_sector)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :principales_impactos_socioambientales_del_sector, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:principales_impactos_socioambientales_del_sector), wrapper_class: 'm-0', required: true
          .col-lg-6.col-12
            -#
              #textarea-principales-problemas-y-desafios.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:principales_problemas_y_desafíos)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :principales_problemas_y_desafios, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:principales_problemas_y_desafíos), wrapper_class: 'm-0', required: true
          .col-lg-6.pr-lg-0.col-12
            -#
              #textarea-principales-conflictos.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      %abbr{title: :required} *
                      = t(:principales_conflictos)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            = f.input :principales_conflictos, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:principales_conflictos), wrapper_class: 'm-0', required: true
          .col-lg-6.col-12
            -#
              #textarea-estudios-sectoriales-territoriales-relevantes.mb-3
                .card.m-0
                  .card-header.pt-2.pb-1.pl-3
                    %h5.no-margin.float-left
                      = t(:otro_contexto_sector)
                    .float-right
                      %i.fa.fa-chevron-right
                  .card-body.p-0.group-hide
            
            = f.input :otro_contexto_sector, as: :text, input_html: { class: 'auto-save card-wrap' }, label: t(:otro_contexto_sector), wrapper_class: 'm-0'
          .col-lg-4.col-9
            = f.input :estudios_sectoriales_territoriales_relevantes, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:estudios_sectoriales_territoriales_relevantes), required: true
            = f.hidden_field :estudios_sectoriales_territoriales_relevantes_cache
          .col-lg-1.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.estudios_sectoriales_territoriales_relevantes,:estudios_sectoriales_territoriales_relevantes)
            = __descargar_archivo(f.object.estudios_sectoriales_territoriales_relevantes,f.object)   
          .col-lg-4.col-md-7.col-9
            
            = f.input :mapa_de_actores_archivo, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:subir_mapa_de_actores_actualizado), required: true
            = f.hidden_field :mapa_de_actores_archivo_cache
          .col-lg-1.col-3.align-self-end
            = __descargar_archivo(f.object.mapa_de_actores_archivo,f.object)
          .col-lg-2.col-md-3.pl-md-0.col-12
            =f.label t(:descargar_mapa_de_actores)
            - if (action_name.to_sym == :edit || action_name.to_sym == :observaciones_admisibilidad || action_name.to_sym == :resolver_observaciones_admisibilidad|| action_name.to_sym ==  :responder_pertinencia_factibilidad)
              -# url = descargar_mapa_de_actores_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes)
              = link_to descargar_mapa_de_actores_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download
                = t(:descargar_mapa_de_actores) 
            -elsif @tarea.codigo == Tarea::COD_APL_001
              = link_to descargar_mapa_de_actores_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download
                = t(:descargar_mapa_de_actores)            
            - elsif (action_name.to_sym == :admisibilidad || action_name.to_sym == :pertinencia_factibilidad)
              -# url = descargar_revisor_mapa_de_actores_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes)
              = link_to descargar_revisor_mapa_de_actores_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download
                = t(:descargar_mapa_de_actores)
            -#            
              %br
              = link_to url, class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download
                = t(:descargar_mapa_de_actores)
  #datos-proyecto.tab-pane.fade.disabled{"aria-expanded" => (tabs[:"datos-proyecto"] ? 'true' : 'false'), "aria-labelledby" => "datos-proyecto-tab", :role => "tabpanel", class: ("show active" if tabs[:"datos-proyecto"])}
    .card
      .card-body
        .row
          .col-12
            = f.input :nombre_proyecto, input_html: { class: 'auto-save' }, label: t(:nombre_proyecto), required: true
          .col-lg-6.pr-lg-0.col-12
            = f.input :descripcion_proyecto, as: :text, input_html: { class: 'auto-save' }, label: t(:descripción_proyecto), required: true
          .col-lg-6.col-12
            = f.input :justificacion_proyecto, as: :text, input_html: { class: 'auto-save' }, label: t(:justificación_proyecto), required: true
          .col-12
            .row
              .col-lg-6.pr-lg-0.col-12
                .row
                  -# .col-10.pr-0
                  -#  = f.input :area_influencia_proyecto_archivo, as: :file, input_html: { class: 'form-control auto-save border-right-0' }, label: t(:área_influencia_proyecto), required: true
                  -#  = f.hidden_field :area_influencia_proyecto_archivo_cache
                  = f.hidden_field :area_influencia_proyecto_data, class: 'auto-save'
                  -# .col-2.pl-0
                  -#  = __upload_status(f.object,:area_influencia_proyecto_archivo)
                  .col-12
                    %label.control-label.string
                      = t(:area_influencia_proyecto_mapa)
                    #area-influencia-proyecto-mapa
              .col-lg-6.col-12
                .row
                  -# .col-10.pr-0
                  -#  = f.input :alternativas_instalacion_archivo, as: :file, input_html: { class: 'form-control auto-save border-right-0' }, label: t(:alternativas_instalación), required: true
                  -#  = f.hidden_field :alternativas_instalacion_archivo_cache
                  = f.hidden_field :alternativas_instalacion_data, class: 'auto-save'
                  -# .col-2.pl-0
                  -#  = __upload_status(f.object,:alternativas_instalacion_archivo)
                  .col-12
                    %label.control-label.string
                      = t(:alternativas_instalacion_mapa)
                    #alternativas-instalacion-mapa
          -#
            .col-12
              %label.control-label.string
                = t(:representación_en_mapa_proyecto)
              #representacion-en-mapa-proyecto.mb-2
          .col-md-4.pr-md-0.col-12
            = f.input :monto_inversion, as: :string, input_html: { class: 'moneda auto-save' }, label: t(:monto_inversión), required: true
          .col-md-4.pr-md-0.col-12
            = f.input :tecnologia, input_html: { class: 'auto-save' }, label: t(:tecnología), required: true
          .col-md-4.col-12
            = f.input :estado_proyecto, input_html: { class: 'auto-save' }, label: t(:estado_proyecto), required: true
          .col-md-4.col-9
            = f.input :estudio_de_mercado, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:estudio_de_mercado), required: true
            = f.hidden_field :estudio_de_mercado_cache
          .col-md-2.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.estudio_de_mercado,:estudio_de_mercado)
            = __descargar_archivo(f.object.estudio_de_mercado, f.object)
          .col-md-4.col-9
            = f.input :anteproyecto, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:anteproyecto), required: true
            = f.hidden_field :anteproyecto_cache
          .col-md-2.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.anteproyecto,:anteproyecto)
            = __descargar_archivo(f.object.anteproyecto, f.object)
          .col-md-4.col-9
            = f.input :gantt_proyecto, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:gantt_proyecto), required: true
            = f.hidden_field :gantt_proyecto_cache
          .col-md-2.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.gantt_proyecto,:gantt_proyecto)
            = __descargar_archivo(f.object.gantt_proyecto,f.object)
          .col-md-4.col-9
            = f.input :otros_estudios, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:otros_estudios), required: true
            = f.hidden_field :otros_estudios_cache
          .col-md-2.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.otros_estudios,:otros_estudios)
            = __descargar_archivo(f.object.otros_estudios,f.object)
          .col-12
            = f.input :operador, input_html: { class: 'auto-save' }, label: t(:operador), required: true
          .col-lg-6.pr-lg-0.col-12
            = f.input :otros_proyectos_en_territorios_cercanos, as: :text, input_html: { class: 'auto-save' }, label: t(:otros_proyectos_del_desarrollador_operador_en_territorios_cercanos), required: true
          .col-lg-6.col-12
            = f.input :otro_datos_proyecto, as: :text, input_html: { class: 'auto-save' }, label: t(:otro_datos_proyecto), required: true
  #objetivo-acuerdo.tab-pane.fade.disabled{"aria-expanded" => (tabs[:"objetivo-acuerdo"] ? 'true' : 'false'), "aria-labelledby" => "objetivo-acuerdo-tab", :role => "tabpanel", class: ("show active" if tabs[:"objetivo-acuerdo"])}
    .card
      .card-body
        .alert.alert-info
          %small
            %i.fa.fa-question-circle.fa-1-5x
            Objetivos del Acuerdo y Compromiso con el mismo
        .row
          .col-12
            = f.input :nombre_acuerdo, input_html: { class: 'auto-save' }, label: t(:nombre_acuerdo), required: true
          .col-md-6.pr-md-0.col-12
            = f.input :motivacion_y_objetivos, as: :text, input_html: { class: 'auto-save' }, label: t(:motivación_y_objetivos), required: true
          .col-md-6.col-12
            = f.input :equipo_de_trabajo_comprometido, as: :text, input_html: { class: 'auto-save' }, label: t(:equipo_de_trabajo_comprometido), required: true
          .col-12
            = f.input :patrocinadores, as: :text, input_html: { class: 'auto-save' }, label: t(:patrocinadores), required: true
          .col-md-6.pr-md-0.col-12
            = f.input :monto_total_comprometido, as: :string, input_html: { class: 'moneda auto-save' }, label: t(:indicar_monto_total_comprometido), required: true
          .col-md-5.col-9
            = f.input :organigrama, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:organigrama), required: true
            = f.hidden_field :organigrama_cache
          .col-md-1.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.organigrama,:organigrama)
            = __descargar_archivo(f.object.organigrama,f.object)
          .col-12
            = f.input :otros_recursos_comprometidos, as: :text, input_html: { class: 'auto-save' }, label: t(:indicar_otros_recursos_comprometidos), required: true
          .col-md-5.col-9
            = f.input :carta_de_apoyo_y_compromiso, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:subir_cartas_de_apoyo_y_compromiso), required: true
            = f.hidden_field :carta_de_apoyo_y_compromiso_cache
          .col-md-1.col-3.align-self-end
            -#
              = __descargar_archivo(f.object.carta_de_apoyo_y_compromiso,:carta_de_apoyo_y_compromiso)
            = __descargar_archivo(f.object.carta_de_apoyo_y_compromiso,f.object)
          .col-lg-3.col-md-6.pr-md-0.col-12
            = __mostrar_descargable(@descargables,'APL-001-DES-003', tarea_pendiente: @tarea_pendiente.id)
          .col-lg-3.col-md-6.col-12
            = f.input :numero_participantes, as: :string, input_html: { class: 'auto-save numero' }, label: t(:nro_participantes), required: true
          .col-md-6.pr-md-0.col-12
            = f.input :lista_participantes, as: :text, input_html: { class: 'auto-save' }, label: t(:lista_participantes), required: true
          .col-md-6.col-12
            = f.input :priorizacion, as: :text, input_html: { class: 'auto-save' }, label: t(:priorización), required: true
          .col-12
            = f.input :otras_iniciativas_relacionadas_en_ejecucion, as: :text, input_html: { class: 'auto-save' }, label: t(:otras_iniciativas_relacionadas_en_ejecución), required: true
          .col-lg-3.pr-md-0.col-md-8.col-12
            = f.input :diagnostico_id, collection: ManifestacionDeInteres.con_diagnostico, input_html: { class: 'auto-save' }, label: t(:acuerdo_anterior)
          .col-lg-3.pr-lg-0.col-md-4.col-12
            - if f.object.diagnostico_id.present?
              = label_tag nil, t(:documentos_diagnostico), class: "string mb-1"
              = link_to descarga_documento_diagnosticos_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), download: '', class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download       
          .col-lg-3.pr-md-0.col-md-8.col-12
            = f.input :estandar_de_certificacion_id, collection: EstandarHomologacion.all.map{|m|[m.nombre,m.id]}, input_html: { class: 'auto-save' }, label: t(:estándar_homologación)
          .col-lg-3.col-md-4.col-12
            - if f.object.estandar_de_certificacion_id.present?
              = label_tag nil, t(:documentos_estandar_homologacion), class: "string mb-1"
              = link_to descarga_documento_diagnosticos_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes), download: '', class: 'btn btn-sm btn-outline-secondary btn-block' do
                %i.fa.fa-download
          .col-9
            = f.input :otros_estudios_relevantes, as: :file, input_html: { class: 'form-control auto-save' }, label: t(:otros_estudios_relevantes), required: true
            = f.hidden_field :otros_estudios_relevantes_cache
          .col-3.align-self-end
            -#
              = __descargar_archivo(f.object.otros_estudios_relevantes,:otros_estudios_relevantes)
            = __descargar_archivo(f.object.otros_estudios_relevantes,f.object)
          .col-12
            = f.input :otros_objetivos_acuerdo, as: :text, input_html: { class: 'auto-save' }, label: t(:otros_objetivos_acuerdo), required: true
  =yield
- ue =  @manifestacion_de_interes.ubicacion_exacta.blank? ? [] : @manifestacion_de_interes.ubicacion_exacta.split(",")
:javascript
  initializeUbicacionEntidadGestoraMap(#{ue[0].blank? ? 'null' : ue[0]}, #{ue[1].blank? ? 'null' : ue[1]});
  initializeRepresentacionSeleccionTerritorioMap(-30.0000000, -71.0000000);
  
  //carga la data desde el mapa, con el poligono
  var areaInfluenciaProyectoData  = #{@manifestacion_de_interes.area_influencia_proyecto_data.blank? ? false : (raw json_escape @manifestacion_de_interes.area_influencia_proyecto_data.to_json)};
  var alternativasInstalacionData = #{@manifestacion_de_interes.alternativas_instalacion_data.blank? ? false : (raw json_escape @manifestacion_de_interes.alternativas_instalacion_data.to_json)};

  //Permite cargar el mapa de area de inicia y alternativa de instalaciòn
  initializeAreaInfluenciaProyectoMap(-30.0000000, -71.0000000);
  initializeAlternativasInstalacionMap(-30.0000000, -71.0000000);
  //initializeRepresentacionEnMapaProyectoMap(-30.0000000, -71.0000000);

  $(document).ready(function() {    
    $('.rpc-checkbox').on('click',function(){
      places = [];
      $.each($('.name-region:checked'),function(ri,rc){
        nr=$(rc).val(); tp=0;
        $.each($(rc).siblings('ul').find('.name-provincia:checked'),function(pi,pc){
          np=$(pc).val(); tp++; tc=0;
          $.each($(pc).siblings('ul').find('.name-comuna:checked'),function(ci,cc){
            places.push ( $(cc).val()+" "+np+" "+ nr+" "+pais ); tc++;
          });
          if (tc == 0) { places.push ( np+" "+ nr+" "+pais ); }
        });
        if (tp == 0) { places.push ( nr+" "+pais ); }
      });
      setCoordinates();
    });

    $('.parent-checkbox').on('click', function() {
      ancestorBlock=$(this).parent();     
      childControl=ancestorBlock.children('i[class^="fa"]');
      if((this).checked){ 
        childGroup=ancestorBlock.children('.group-hide');
      }else{
        childGroup=ancestorBlock.children('.group-show'); 
        $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
      }
      __show_hide_(childGroup,childControl);      
    });

    setAllMarkers(#{raw json_escape @manifestacion_de_interes.coordernadas_territorios.blank? ? [] :  @manifestacion_de_interes.coordernadas_territorios},representacionSeleccionTerritorioMap)   

    
  }); 

  //Permite mostrar la pestaña datos del proyecto solo en caso de que se preinversion
  function verificarPreinversion(){    
    var tipoSeleccionado = $('#manifestacion_de_interes_tipo_instrumento_id').val();
    //En apl:003 al estar deshabilitado el input no es posible ller el valor.-
    if (tipoSeleccionado == null){
      tipoSeleccionado = '#{@manifestacion_de_interes.tipo_instrumento_id}'
    }
    if(tipoSeleccionado=="6"){
      $('#datos-proyecto-tab').removeClass('d-none');
    }else{
      $('#datos-proyecto-tab').addClass('d-none');
    }
  }
