:javascript
  $(document).ready(function(){
    $('#enviar-obs-admisibilidad-button').click(function(e){
      $('#manifestacion_de_interes_update_obs_admisibilidad').val(true);
      $('#manifestacion_de_interes_temporal').val(false);
      console.log($('#manifestacion_de_interes_update_obs_admisibilidad').val());
    });
  });
- titulo t(:observaciones_admisibilidad)
- tabs = { "tipo-de-acuerdo": false, "datos-institucion": false, "contexto-sector": false, "datos-proyecto": false, "objetivo-acuerdo": false, "admisibilidad": true }
-# formulario_remote = true #flag para mostrar/ocultar el botón de guardado
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
  %ul#manifestacion.nav.nav-tabs{:role => "tablist"}
    - tabs.each do |tab,active|
      %li.nav-item
        %a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
          =t(tab.to_s.gsub('-','_'))
        - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
          %small.total-error
            %i.fa.fa-exclamation
    -# if @manifestacion_de_interes.errors.messages.size < 1
      -# formulario_remote = false
= simple_form_for @manifestacion_de_interes, url: observaciones_admisibilidad_manifestacion_de_interes_path(@tarea_pendiente), method: :patch, remote: true, html: { autocomplete: :off, multipart: true } do |f|
  = f.hidden_field :temporal, as: :boolean, value: true
  = f.input :current_tab, as: :hidden, wrapper: false, input_html: { value: (f.object.current_tab.blank? ? 'tipo-de-acuerdo-tab' : f.object.current_tab) }
  = f.submit "", class: 'd-none'
  =# f.input :temporal, as: :hidden, wrapper: false, input_html: { value: true }
  = f.input :update_obs_admisibilidad, as: :hidden, wrapper: false, input_html: { value: "" }
  = render "form_manifestacion_de_interes", tabs: tabs, f: f do
    #admisibilidad.tab-pane.fade{"aria-expanded" => (tabs[:"admisibilidad"] ? 'true' : 'false'), "aria-labelledby" => "admisibilidad-tab", :role => "tabpanel", class: ("show active" if tabs[:"admisibilidad"])}
      .card
        .card-body
          .row
            .col-12
              = f.input :observaciones_admisibilidad, as: :text, input_html: {rows: 5}, label: t(:observaciones_y_comentarios), disabled: true
            .col-12
              = f.input :respuesta_observaciones_admisibilidad, as: :text, input_html: {rows: 5}, required: true
            .col-10
              = f.input :archivo_admisibilidad, as: :file, input_html: {class: 'form-control'}, label: t(:adjuntar_archivo)
            .col-2
              -#
                = __descargar_archivo(f.object.archivo_admisibilidad,:archivo_admisibilidad)
              = __descargar_archivo(f.object.archivo_admisibilidad,f.object)

  .float-right
    = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary", id: 'enviar-obs-admisibilidad-button'
= render 'admin/users/buscador'
- tipo_instrumento = @manifestacion_de_interes.tipo_instrumento_id.present? ? @manifestacion_de_interes.tipo_instrumento_id  : TipoInstrumento::ACUERDO_DE_PRODUCCION_LIMPIA
= render 'admin/contribuyentes/buscador', es_para_seleccion: false, seleccion_basica: true, tipo_instrumento: tipo_instrumento
