:javascript
	$(document).ready(function(){
		
		$(".disabled *").prop('disabled',true);
		//Habilita el desplegar los mapa dentro de contexto sector.
		$(".fa").prop('disabled',false);

		$('#manifestacion_de_interes_resultado_pertinencia').change(function(){
			carga_por_resultado($(this).val());
		});

		$('.chosen-control').chosen({
			allow_single_deselect: true,
			no_results_text: 'No se encontraron resultados',
			width: '100%'
		});

		if($('#manifestacion_de_interes_resultado_pertinencia').val() != "aceptada"){
			$(".chosen-control").prop('disabled', true).trigger('chosen:updated');
		}


	});

	function carga_por_resultado(val){
		var obs = $('#manifestacion_de_interes_observaciones_pertinencia_factibilidad');
		var comp = $('#manifestacion_de_interes_compromiso_pertinencia_factibilidad');
		if(val == "realiza_observaciones" || val == "solicita_condiciones_y_contiene_observaciones" || val == "no_aceptada"){
			required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", true);
		}else{
			required_dinamico(".manifestacion_de_interes_observaciones_pertinencia_factibilidad", false);
		}
		if(val == "solicita_condiciones" || val == "solicita_condiciones_y_contiene_observaciones" || val == "no_aceptada"){
			required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", true);
		}else{
			required_dinamico(".manifestacion_de_interes_compromiso_pertinencia_factibilidad", false);
		}
		$('#observaciones_label').html($('#observaciones_label').html().replace('<abbr title="required">*</abbr>',''));
		if(val == "aceptada"){
			$(".chosen-control").prop('disabled', false).trigger('chosen:updated');
			required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", true);
		}else{
			$(".chosen-control").prop('disabled', true).trigger('chosen:updated');
			$('#observaciones_label').html('<abbr title="required">*</abbr>'+$('#observaciones_label').html());
			required_dinamico(".manifestacion_de_interes_coordinador_subtipo_instrumento_id", false);
		}
	}

- titulo t(:revisar_pertinencia_factibilidad)
- tabs = { "tipo-de-acuerdo": false, "datos-institucion": false, "contexto-sector": false, "datos-proyecto": false, "objetivo-acuerdo": false, "pertinencia-factibilidad": true }
-# formulario_remote = true #flag para mostrar/ocultar el botón de guardado
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
	%ul#manifestacion.nav.nav-tabs{:role => "tablist"}
		- tabs.each do |tab,active|
			%li.nav-item
				%a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
					=t(tab.to_s.gsub('-','_'))
				- if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
					%small.total-error
						= @total_de_errores_por_tab[tab].size
		-# if @manifestacion_de_interes.errors.messages.size < 1
			-# formulario_remote = false 
= simple_form_for @manifestacion_de_interes, url: pertinencia_factibilidad_manifestacion_de_interes_path(@tarea_pendiente), method: :patch, remote: false, html: { autocomplete: :off, multipart: true } do |f|
	= f.hidden_field :temporal, as: :boolean, value: true
	= f.input :current_tab, as: :hidden, wrapper: false, input_html: { value: (f.object.current_tab.blank? ? 'tipo-de-acuerdo-tab' : f.object.current_tab) }
	= f.submit "", class: 'd-none'
	= f.input :update_pertinencia, as: :hidden, wrapper: false, input_html: { value: true }
	=# f.input :temporal, as: :hidden, wrapper: false, input_html: { value: true }
	= render "form_manifestacion_de_interes", tabs: tabs, f: f do
		#pertinencia-factibilidad.tab-pane.fade{"aria-expanded" => (tabs[:"pertinencia-factibilidad"] ? 'true' : 'false'), "aria-labelledby" => "pertinencia-factibilidad-tab", :role => "tabpanel", class: ("show active" if tabs[:"pertinencia-factibilidad"])}
			.card
				.card-body
					.row
						.col-12.col-lg-6
							= f.label t(:observaciones), id: "observaciones_label", required: @manifestacion_de_interes.resultado_pertinencia != "aceptada"
							%br
							.form-group.boolean.required.manifestacion_de_interes_secciones_observadas_pertinencia_factibilidad{class: ('has-error' if f.object.errors.messages.has_key?(:secciones_observadas_pertinencia_factibilidad))}
								-if @manifestacion_de_interes.tipo_instrumento_id == 6
									- checks = tabs.map{|l,v| l.to_s != "pertinencia-factibilidad" ? [I18n.t(l.to_s.gsub('-','_')), l.to_s] : nil}.compact
								-else
									- checks = tabs.map{|l,v| (l.to_s == "datos-proyecto" || l.to_s == "pertinencia-factibilidad") ? nil : [I18n.t(l.to_s.gsub('-','_')), l.to_s]}.compact								
								= f.collection_check_boxes :secciones_observadas_pertinencia_factibilidad, checks, :last, :first, item_wrapper_tag: false, boolean_style: :inline, checked: @manifestacion_de_interes.secciones_observadas_pertinencia_factibilidad, required: @manifestacion_de_interes.resultado_pertinencia != "aceptada" do |cb|
									= cb.check_box 
									= cb.label
									%br
								- if f.object.errors.messages.has_key?(:secciones_observadas_pertinencia_factibilidad)
									%span.help-block
										= f.object.errors.messages[:secciones_observadas_pertinencia_factibilidad].first
						.col-12.col-lg-6
							= f.input :resultado_pertinencia, collection: ManifestacionDeInteres.resultado_pertinencia.keys.map { |w| [w.humanize, w] }, required: true, label: t(:resultado_de_la_pertinencia)
						.col-12.col-lg-6
							- obs_req = (@manifestacion_de_interes.resultado_pertinencia != "realiza_observaciones" && @manifestacion_de_interes.resultado_pertinencia != "solicita_condiciones_y_contiene_observaciones")
							= f.input :observaciones_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: t(:observaciones_y_comentarios), required: !obs_req
						.col-12.col-lg-6
							- cond_req = (@manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones" || @manifestacion_de_interes.resultado_pertinencia == "solicita_condiciones_y_contiene_observaciones")
							= f.input :compromiso_pertinencia_factibilidad, as: :text, input_html: {rows: 4}, label: t(:compromiso_a_solicitar), required: cond_req
						.col-12.col-lg-6
							= f.input :coordinador_subtipo_instrumento_id, collection: @responsables.map{|p| [p.user.nombre_completo, p.id]}, required: @manifestacion_de_interes.resultado_pertinencia == "aceptada", label: t(:selección_de_coordinadores_subtipo_instrumento), input_html: {class: "chosen-control", type: :string, "data-placeholder"=>"Seleccione un Coordinador"}
						.col-12.col-lg-6
							= f.input :archivo_pertinencia_factibilidad, as: :file, input_html: {class: "form-control"}, label: t(:adjuntar_archivo)
					- if @nuevo_usuario
						.row
							.col-md-6.col-12.pt-2
								= label_tag t(:alerta_nuevo_usuario), nil, class: 'no-form label string'

	.float-right
		= link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary"
= render 'admin/users/buscador'
- tipo_instrumento = @manifestacion_de_interes.tipo_instrumento_id.present? ? @manifestacion_de_interes.tipo_instrumento_id  : TipoInstrumento::ACUERDO_DE_PRODUCCION_LIMPIA
= render 'admin/contribuyentes/buscador', es_para_seleccion: false, seleccion_basica: true, tipo_instrumento: tipo_instrumento