.modal.fade{id: :"advertencia-cambio", tabindex: "-1", role: :dialog, "aria-labelledby": :terminarActualizarAcuerdoActoresModalLabel, "aria-hidden": true}
  .modal-dialog.modal-xl.animated{role: :document}
    .modal-content
      = form_tag tarea_pendiente_manifestacion_de_interes_establecer_tipo_meta_path(@tarea_pendiente, @manifestacion_de_interes) do
        = hidden_field_tag :tipo
        .modal-body.p-0
          .card.m-0
            .card-header
              %h5.control-label.tipo-vista-2 Agregar desde est치ndar de certificaci칩n
              %h5.control-label.tipo-vista-3 Agregar desde otro Acuerdo
            .card-body
              .row
                .col-12.col-lg-6
                  .tipo-vista-2
                    = select_tag :estandar_adherido, options_from_collection_for_select(EstandarHomologacion.all, "id", "nombre"), { class: 'form-control selector-tipo-meta required-field',:prompt => "Seleccionar un Est치ndar de certificaci칩n"}
                  .tipo-vista-3
                    = select_tag :diagnostico_adherido, options_from_collection_for_select( ManifestacionDeInteres.where.not(diagnostico_fecha_termino: nil), "id", "nombre_acuerdo"), { class: 'form-control selector-tipo-meta required-field',:prompt => "Seleccionar un Acuerdo"}
                .col-12
                  %hr.my-3
                  %hr
                .col-12
                  #modal-tipo-meta-tabla
                .col-12
                  .pull-right
                    = button_tag t(:anadir), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "actualizar-mapa-de-actores-button btn btn-sm btn-primary btn-disabled button-send agregar-metas-acciones-relacionados", disabled: false
                    %button.btn.btn-sm.btn-secondary#cierre-modal-advertencia{type: :button, "data-dismiss"=>:modal}
                      Cerrar