:javascript
	$(document).ready(function() {
		var tipo_manifestacion = "#{@manifestacion_de_interes.tipo_manifestacion_metas}"
		$('#set-metas-accion-remote-modal-form').modal({backdrop:'static',show: false});
		$('#tipo_metas').change(function(){
			var tipo =  $(this).val();
			$('#advertencia-cambio').modal('toggle');
			$('#advertencia-cambio #tipo').val(tipo);
			if(tipo == 1){
				$('#advertencia-cambio #tipo-vista-1').show();
				$('#advertencia-cambio #tipo-vista-2, #tipo-vista-3').hide();
				$('#advertencia-cambio #estandar_adherido, #diagnostico_adherido').prop('required', false).removeClass('required-field');
				$('#advertencia-cambio form').find('.btn-disabled').removeAttr('disabled');
			}else if(tipo == 2){
				$('#advertencia-cambio #tipo-vista-2').show();
				$('#advertencia-cambio #tipo-vista-1, #tipo-vista-3').hide();
				$('#advertencia-cambio #diagnostico_adherido').prop('required', false).removeClass('required-field');
				$('#advertencia-cambio #estandar_adherido').prop('required', true).addClass('required-field');
				$('#advertencia-cambio form').find('.btn-disabled').attr('disabled', 'disabled');
			}else if(tipo == 3){
				$('#advertencia-cambio #tipo-vista-3').show();
				$('#advertencia-cambio #tipo-vista-2, #tipo-vista-1').hide();
				$('#advertencia-cambio #estandar_adherido').prop('required', false).removeClass('required-field');
				$('#advertencia-cambio #diagnostico_adherido').prop('required', true).addClass('required-field');
				$('#advertencia-cambio form').find('.btn-disabled').attr('disabled', 'disabled');
			}
		});
		$('#advertencia-cambio').on('hide.bs.modal', function(){
			$('#tipo_metas').val(tipo_manifestacion);
		});
	});
= render 'modal_advertencia_set_metas'
- titulo t(:cargar_actualizar_entregable_diagnóstico)
.float-right
	= link_to t(:back), root_path, class: 'volver-desde-mapa-de-actores-link btn btn-sm btn-warning ml-1'
- tabs = { "mapa-de-actores": true, "cargar-documentos-diagnostico": false, "set-metas-accion": false }
- (@tab_metas.present? && @tab_metas) ? tabs = { "mapa-de-actores": false, "cargar-documentos-diagnostico": false, "set-metas-accion": true } : ""
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
	%ul#manifestacion.nav.nav-tabs{:role => "tablist"}
		- tabs.each do |tab,active|
			%li.nav-item
				%a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
					=t(tab.to_s.gsub('-','_'))
				- if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
					%small.total-error
						= @total_de_errores_por_tab[tab].size
	#manifestacionContent.tab-content
		#mapa-de-actores.tab-pane.fade{"aria-expanded" => tabs[:"mapa-de-actores"], "aria-labelledby" => "mapa-de-actores-tab", :role => "tabpanel", class: ("show active" if tabs[:"mapa-de-actores"])}
			.card
				.card-body.p-0
					#actores-remote-table
						= render 'actores/table'
					#actualizar-remote-form
						= render 'actores/form', externo: true
		#cargar-documentos-diagnostico.tab-pane.fade{"aria-expanded" => tabs[:"cargar-documentos-diagnostico"], "aria-labelledby" => "cargar-documentos-diagnostico-tab", :role => "tabpanel", class: ("show active" if tabs[:"cargar-documentos-diagnostico"])}
			.card
				.card-body.p-0
					#documento-diagnostico-remote-form
					#documento-diagnostico-actualizar-remote-form
						= render 'documento_diagnosticos/form', externo: true
		#set-metas-accion.tab-pane.fade{"aria-expanded" => tabs[:"set-metas-accion"], "aria-labelledby" => "set-metas-accion-tab", :role => "tabpanel", class: ("show active" if tabs[:"set-metas-accion"])}
			.card
				.card-body.p-0
					.row.justify-content-end.form-group.my-3            
						-if  @manifestacion_de_interes.tipo_manifestacion_metas == 2
							.col-6
								%h5.titulo-body.m-2
									= "<b>Estandar: </b> #{@manifestacion_de_interes.estandar_homologacion.nombre} <br>".html_safe
						-if  @manifestacion_de_interes.tipo_manifestacion_metas == 3
							.col-6
								%h5.titulo-body.m-2
									= "<b>Acuerdo antiguo: </b> #{@manifestacion_de_interes.antiguo.nombre_acuerdo} <br>".html_safe
						.col-5
							= select_tag :tipo_metas, options_for_select([ ["Crear propio Set de Metas y Acciones", 1], ["Elegir Estándar de Homologación", 2], ["Elegir Metas y Acciones de otro acuerdo", 3] ], @manifestacion_de_interes.tipo_manifestacion_metas), { class: 'form-control chosen-control m2',:prompt => false}
						.col-1
					#propuestas-de-acuerdo-remote-table
						= render 'set_metas_acciones/table', externo: true
					-# Para evitar confusiones, este modal debería ir dentro de 'set_metas_acciones/table' pero el re-render produce errores					
					= render 'set_metas_acciones/modal'