:javascript
	$(document).ready(function() {
		$('#set-metas-accion-remote-modal-form').modal({backdrop:'static',show: false});
	});

- titulo t(:revisar_entregable_diagnóstico)
- url = termina_etapa_diagnostico_manifestacion_de_interes_path(@tarea_pendiente)
= simple_form_for @tarea_pendiente, url: url, remote: true, html: { autocomplete: :off } do |f|
	= link_to '#', "data-toggle"=>:modal, "data-target"=>"#terminar-diagnostico-pasar-acuerdo", class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm' do
		/%i.fa.fa-file-signature
		%i.fa.fa-file-text-o
		Terminar Etapa de Diagnostico General y Pasar a Propuesta de Acuerdo
	= render 'modal_terminar_diagnostico_pasar_acuerdo', f: f
- tabs = { "mapa-de-actores": true, "cargar-documentos-diagnostico": false, "set-metas-accion": false }
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
	%ul#manifestacion.nav.nav-tabs{:role => "tablist"}
		- tabs.each do |tab,active|
			%li.nav-item
				%a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
					=t(tab.to_s.gsub('-','_'))
				- if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
					%small.total-error
						= @total_de_errores_por_tab[tab].size
	#manifestacionContent.tab-content
		#mapa-de-actores.tab-pane.fade{"aria-expanded" => tabs[:"mapa-de-actores"], "aria-labelledby" => "mapa-de-actores-tab", :role => "tabpanel", class: ("show active" if tabs[:"mapa-de-actores"])}
			.card
				.card-body.p-0
					#actores-remote-table
						= render 'actores/table'
					#revisar-remote-form
						= render 'actores/form', externo: true
		#cargar-documentos-diagnostico.tab-pane.fade{"aria-expanded" => tabs[:"cargar-documentos-diagnostico"], "aria-labelledby" => "cargar-documentos-diagnostico-tab", :role => "tabpanel", class: ("show active" if tabs[:"cargar-documentos-diagnostico"])}
			.card
				.card-body.p-0
					#documento-diagnostico-remote-form
						= render 'documento_diagnosticos/form', externo: true
		#set-metas-accion.tab-pane.fade{"aria-expanded" => tabs[:"set-metas-accion"], "aria-labelledby" => "set-metas-accion-tab", :role => "tabpanel", class: ("show active" if tabs[:"set-metas-accion"])}
			.card
				.card-body.p-0
					#propuestas-de-acuerdo-remote-table
						= render 'set_metas_acciones/table', externo: true
					-# Para evitar confusiones, este modal debería ir dentro de 'set_metas_acciones/table' pero el re-render produce errores
					= render 'set_metas_acciones/modal'