:javascript
  $(document).ready(function() {
    $('#set-metas-accion-remote-modal-form').modal({backdrop:'static',show: false});
  });

- titulo t(:revisar_entregable_diagnóstico)
- url = termina_etapa_diagnostico_manifestacion_de_interes_path(@tarea_pendiente)
= simple_form_for @tarea_pendiente, url: url, remote: true, html: { autocomplete: :off } do |f|
  = render 'modal_terminar_diagnostico_pasar_acuerdo', f: f
.simple_form
  .card
    .card-header.p-0
      .p-3
        %h5.no-margin
          =titulo_instrumento.html_safe
        - if @proyecto.blank?
          %h5.no-margin
            =titulo_acuerdo.html_safe
        - else
          %h5.no-margin
            =titulo_proyecto.html_safe
        %h5.no-margin
          =datos_beneficiario.html_safe

      .d-flex.justify-content-start.px-3
        = link_to '#', "data-toggle"=>:modal, "data-target"=>"#terminar-diagnostico-pasar-acuerdo", class: 'btn btn-sm btn-primary margin-bottom-20 text-break', style: "white-space: normal;" do
          %i.fa.fa-file-text-o
          Terminar Etapa de Diagnóstico General y Pasar a Propuesta de Acuerdo
      .d-flex.justify-content-between
        - tabs = { "listado-de-actores": true, "cargar-documentos-diagnostico": false, "set-metas-accion": false }
        #tab-menu-controls.mb-0.w-100{:role => "tabpanel"}
          %ul#manifestacion.nav.nav-tabs.border-bottom-0{:role => "tablist"}
            - tabs.each do |tab,active|
              %li.nav-item.tab-block
                %a.nav-link.tab-block{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
                  =t(tab.to_s.gsub('-','_'))
                - if !@total_de_errores_por_tab.blank? && @total_de_errores_por_tab.has_key?(tab) && @total_de_errores_por_tab[tab].size > 0
                  %small.total-error
                    = @total_de_errores_por_tab[tab].size
    .card-body.p-0.with-top
      #manifestacionContent.tab-content
        #listado-de-actores.tab-pane.fade{"aria-expanded" => tabs[:"listado-de-actores"], "aria-labelledby" => "listado-de-actores-tab", :role => "tabpanel", class: ("show active" if tabs[:"listado-de-actores"])}
          .card.m-0
            .card-body.p-0
              #actores-remote-table
                = render 'actores/table', externo: true
              #revisar-remote-form
                = render 'actores/form', externo: true
        #cargar-documentos-diagnostico.tab-pane.fade{"aria-expanded" => tabs[:"cargar-documentos-diagnostico"], "aria-labelledby" => "cargar-documentos-diagnostico-tab", :role => "tabpanel", class: ("show active" if tabs[:"cargar-documentos-diagnostico"])}
          .card.m-0
            .card-body.p-0
              #documento-diagnostico-remote-form
                = render 'documento_diagnosticos/form', externo: false
        #set-metas-accion.tab-pane.fade{"aria-expanded" => tabs[:"set-metas-accion"], "aria-labelledby" => "set-metas-accion-tab", :role => "tabpanel", class: ("show active" if tabs[:"set-metas-accion"])}
          .card.m-0
            .card-body.p-0
              #propuestas-de-acuerdo-remote-table
                = render 'set_metas_acciones/table', externo: true
              -# Para evitar confusiones, este modal debería ir dentro de 'set_metas_acciones/table' pero el re-render produce errores
              = render 'set_metas_acciones/modal'