- todos = todos.nil? ? false : todos
:javascript
  function childFormat(data){
    return `
      <div style="padding: 10px; margin: 0;" class="entrada-cambio-unfold">
        <table style="width: 100%; border-collapse: collapse; margin: 0;">
          <tbody>
            ${data}
          </tbody>
        </table>
      </div>
    `;
  }

  function hideTareas(table){
    const r = document.querySelectorAll('.flujo_tareas');
    const re = []
    r.forEach((e, index) => {
      re.push(e.id)
    })
    var unique_array = [...new Set(re)];
    unique_array.forEach((e, index) => {
      let guiData = ""
      let row = null;
      document.querySelectorAll(`[data-flujo="${e}"]`).forEach((e, index) => {
        if ( index != 0 ) {
            const aTag = e.querySelector('a');
            splitted = e.textContent.split('\n').filter(item => item !== "i")
            splitted.splice(1, 5);
            guiData += `<tr>`;
            splitted.forEach(i => {
              guiData += `<td>${i}</td>`
            })
            guiData += `<td>${aTag.outerHTML}</td>`
            guiData += `</tr>`
            if (row){
              row.child(childFormat(guiData)).hide()
              table.row(e).remove();

            }
        }else{
          row = table.row(e)
        };
      })
    })
  }
  $(document).ready(function() {
   const table=  $('table.acuerdos-pendientes').DataTable({
      order: [[0, 'asc']],
      responsive: true,
      lengthMenu: [[10],[10]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      "defaultContent": "",
    });

    $('table.acuerdos-pendientes tbody').on('click', '.flujo_tareas', unfoldTareas);

  // Función principal para unfold
  function unfoldTareas(event) {
    const tr = $(this).closest('tr'); // Encuentra la fila más cercana
    const row = table.row(tr); // Obtiene la fila en DataTables
    const icon = $(this).find('i'); // Obtiene el icono dentro del botón
    // Toggle para mostrar u ocultar el contenido hijo
    if (row.child.isShown()) {
      row.child.hide();
      tr.removeClass('shown');
      icon.removeClass('fa-rotate-180');
    } else {
      row.child.show();
      tr.addClass('shown');
      icon.addClass('fa-rotate-180');
    }


  }


    hideTareas(table);

  })


- tiene_proyectos = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.proyecto_id}.compact.size == 0) ? false : true ) )
- tiene_acuerdos = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.manifestacion_de_interes_id.blank?}.compact.size == 0) ? false : true ) )
- tiene_programas = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.programa_proyecto_propuesta_id.blank?}.compact.size == 0) ? false : true ) )
.card
  .card-header
    %h5.no-margin
      = titulo
  .card-body
  - unless current_user.id == 1
    %%table.table.acuerdos-pendientes
      %thead
        %tr
          %th{style: "width: 80px !important;"}=t(:flujo_id)
          %th=t(:acuerdo_o_proyecto_o_programa)
          %th{class: 'd-none'} =t(:tarea)
          %th Estado del acuerdo
          %th.dos.iconos-acciones=t(:acciones)
      %tbody
        - unless pendientes.size == 0
          - pendientes.each_with_index do |pendiente, index|
            - tarea = pendiente.tarea
            - flujo = pendiente.flujo
            - encuesta = tarea.encuesta
            - proyecto = pendiente.flujo.proyecto
            - acuerdo = pendiente.flujo.manifestacion_de_interes
            - programa = pendiente.flujo.ppp
            - convocatoria = pendiente.es_minuta? ? pendiente.determina_convocatoria : nil
            - tipo_instrumento = flujo.tipo_instrumento.nombre_tipo
            - subtipo_instrumento = flujo.subtipo_de_instrumento
            - manifestacion_de_interes = flujo.manifestacion_de_interes
            - registro_proveedores = flujo.registro_proveedor
            %tr{:id => "flujo#{flujo.id}", :class => "flujo_tareas",  "data-flujo" => "flujo#{flujo.id}"}
              %td{:onClick => "", class: 'text-center d-flex align-items-center', style:"cursor: pointer;"}
                %i{ :class => "fa fa-caret-down flujo#{flujo.id}", :aria_hidden => 'true', style:'font-size: 25px; margin-right: 20px; cursor: pointer; color: #007bff;' }
                =flujo.id
              - fondo_produccion_limpia = nombre_tarea_fpl(flujo.id)
              - if fondo_produccion_limpia.present?
                %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word;", class:'nombre-instrumento-entrada'}
                  = fondo_produccion_limpia
              -else
                %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word;", class:'nombre-instrumento-entrada'}=flujo.nombre_instrumento
              %td
                -tarea_nombre = tarea.nombre
                -if pendiente.es_minuta?
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' para convocatoria "' + pendiente.determina_convocatoria.nombre + '"'
                -elsif pendiente.es_auditoria?
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                -elsif tarea.codigo == Tarea::COD_APL_021
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Firma de Acuerdo ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_037
                  - unless pendiente.determina_convocatoria.blank? || pendiente.determina_convocatoria.nombre.blank? #DZC 2019-07-04 16:40:19 se modifica por requerimiento de fecha 20190704
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Ceremonia de Certificación ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_039
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                =tarea_nombre
                %td{class: 'estado-tarea-entrada'}=manifestacion_de_interes.present? ? manifestacion_de_interes.estado_acuerdo : registro_proveedores&.estado
              %td.dos.iconos-acciones{class: 'icono-tarea-entrada'}
                -#Enlaces segun cod tarea
                -data_url = url_segun_tarea(pendiente, tarea, flujo, encuesta, proyecto)
                =link_to data_url[:icon].html_safe, data_url[:url]
                %p i

  -else
    %table.table.table-striped.acuerdos-pendientes
      %thead
        %tr
          %th{style: "width: 80px; !important"}=t(:flujo_id)
          - unless (Rails.env.production? && !current_user.is_admin?) #DZC 2018-10-05 11:49:52 solo muestra el id de tarea pendiente si se trata del administrador o el proyecto esta en ambiente de desarrollo
            %th=t(:tarea_pendiente_id)
          %th=t(:acuerdo_o_proyecto_o_programa)
          %th=t(:tipo_instrumento)
          %th=t(:subtipo)
          %th=t(:tarea)
          %th.dos.iconos-acciones=t(:acciones)
      %tbody
        - unless pendientes.size == 0
          - pendientes.each_with_index do |pendiente, index|
            - tarea = pendiente.tarea
            - flujo = pendiente.flujo
            - encuesta = tarea.encuesta
            - proyecto = pendiente.flujo.proyecto
            - acuerdo = pendiente.flujo.manifestacion_de_interes
            - programa = pendiente.flujo.ppp
            - convocatoria = pendiente.es_minuta? ? pendiente.determina_convocatoria : nil
            - tipo_instrumento = flujo.tipo_instrumento.nombre_tipo
            - subtipo_instrumento = flujo.subtipo_de_instrumento
            - registro_proveedores = flujo.registro_proveedor
            %tr
              %td=flujo.id
              - unless (Rails.env.production? && !current_user.is_admin?) #DZC 2018-10-05 11:49:52 solo muestra el id de tarea pendiente si se trata del administrador o el proyecto esta en ambiente de desarrollo
                %td=pendiente.id
              %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word;"}=flujo.nombre_instrumento
              %td=tipo_instrumento
              %td= registro_proveedores.present? ? registro_proveedores.estado : subtipo_instrumento
              %td
                -tarea_nombre = tarea.nombre
                -if pendiente.es_minuta?
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' para convocatoria "' + pendiente.determina_convocatoria.nombre + '"'
                -elsif pendiente.es_auditoria?
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                -elsif tarea.codigo == Tarea::COD_APL_021
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Firma de Acuerdo ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_037
                  - unless pendiente.determina_convocatoria.blank? || pendiente.determina_convocatoria.nombre.blank? #DZC 2019-07-04 16:40:19 se modifica por requerimiento de fecha 20190704
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Ceremonia de Certificación ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_039
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                =tarea_nombre
              %td.dos.iconos-acciones
                -#Enlaces segun cod tarea
                -data_url = url_segun_tarea(pendiente, tarea, flujo, encuesta, proyecto)
                =link_to data_url[:icon].html_safe, data_url[:url]
