- todos = todos.nil? ? false : todos
:javascript
  function hideTareas(){
    const r = document.querySelectorAll('.flujo_tareas');
    const re = []
    r.forEach((e, index) => {
      re.push(e.id)
    })
    var unique_array = [...new Set(re)];
    console.log(unique_array);
    unique_array.forEach((e, index) => {
      document.querySelectorAll("#" + `${e}`).forEach((e, index) => {
        if ( index != 0 ) { e.classList.add("d-none"); };
      })
    })
  }
  $(document).ready(function() {
    $('table.acuerdos-pendientes').DataTable({
      order: [[0, 'asc']],
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      "defaultContent": "",
    });


    hideTareas();

  })

  function unfoldTareas(evento) {
    const gui = document.querySelectorAll('#' + `${event.target.parentElement.id}`)
    const g = document.querySelectorAll('.' + `${event.target.parentElement.id}`)
    const jj = document.querySelectorAll('.nombre_tarea_guillo')
    gui.forEach((e, index) => {
      console.log(e.classList)
      if ( index != 0 ) { e.classList.toggle("d-none"); e.classList.add("guillo"); };
    })
    g.forEach((e, index) => {
        if ( index != 0 ) { e.classList.toggle("d-none"); };
        e.classList.toggle("fa-rotate-180");
      })
  }

- tiene_proyectos = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.proyecto_id}.compact.size == 0) ? false : true ) )
- tiene_acuerdos = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.manifestacion_de_interes_id.blank?}.compact.size == 0) ? false : true ) )
- tiene_programas = ((pendientes.size == 0) ? false : ((pendientes.map{|p|p unless p.flujo.programa_proyecto_propuesta_id.blank?}.compact.size == 0) ? false : true ) )
.card
  .card-header
    %h5.no-margin
      = titulo
  .card-body
  - if current_user.contribuyente_ids.first == 639391
    %%table.table.acuerdos-pendientes
      %thead
        %tr
          %th=t(:flujo_id)
          %th=t(:acuerdo_o_proyecto_o_programa)
          %th{class: 'd-none'} =t(:tarea)
          %th Estado del acuerdo
          %th.dos.iconos-acciones=t(:acciones)
      %tbody
        - unless pendientes.size == 0
          - pendientes.each_with_index do |pendiente, index|
            - tarea = pendiente.tarea
            - flujo = pendiente.flujo
            - encuesta = tarea.encuesta
            - proyecto = pendiente.flujo.proyecto
            - acuerdo = pendiente.flujo.manifestacion_de_interes
            - programa = pendiente.flujo.ppp
            - convocatoria = pendiente.es_minuta? ? pendiente.determina_convocatoria : nil
            - tipo_instrumento = flujo.tipo_instrumento.nombre_tipo
            - subtipo_instrumento = flujo.subtipo_de_instrumento
            - manifestacion_de_interes = flujo.manifestacion_de_interes
            - registro_proveedores = flujo.registro_proveedor
            %tr{:id => "flujo#{flujo.id}", :onClick => "unfoldTareas()", :class => "flujo_tareas", style:"cursor: pointer;"}
              %td
                %i{ :class => "fa fa-caret-down flujo#{flujo.id}", :aria_hidden => 'true', style:'font-size: 24px; margin-right: 20px; color: #007bff; cursor: not-allowed;' }
                =flujo.id
              %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word ;", class:'nombre_instrumento_guillo'}=flujo.nombre_instrumento
              %td{class: 'ssss'}
                -tarea_nombre = tarea.nombre
                -if pendiente.es_minuta?
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' para convocatoria "' + pendiente.determina_convocatoria.nombre + '"'
                -elsif pendiente.es_auditoria?
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                -elsif tarea.codigo == Tarea::COD_APL_021
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Firma de Acuerdo ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_037
                  - unless pendiente.determina_convocatoria.blank? || pendiente.determina_convocatoria.nombre.blank? #DZC 2019-07-04 16:40:19 se modifica por requerimiento de fecha 20190704
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Ceremonia de Certificación ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_039
                  - unless pendiente.determina_auditoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                =tarea_nombre
                %td{class: 'estado_tarea_guillo'}=manifestacion_de_interes.present? ? manifestacion_de_interes.estado_acuerdo : registro_proveedores&.estado
              %td.dos.iconos-acciones{class: 'icono_tarea_guillo'}
                -#Enlaces segun cod tarea
                -data_url = url_segun_tarea(pendiente, tarea, flujo, encuesta, proyecto)
                =link_to data_url[:icon].html_safe, data_url[:url]
                %p i

  -else
    %table.table.table-striped.acuerdos-pendientes
      %thead
        %tr
          %th=t(:flujo_id)
          - unless (Rails.env.production? && !current_user.is_admin?) #DZC 2018-10-05 11:49:52 solo muestra el id de tarea pendiente si se trata del administrador o el proyecto esta en ambiente de desarrollo
            %th=t(:tarea_pendiente_id)
          %th=t(:acuerdo_o_proyecto_o_programa)
          %th=t(:tipo_instrumento)
          %th=t(:subtipo)
          %th=t(:tarea)
          %th.dos.iconos-acciones=t(:acciones)
      %tbody
        - unless pendientes.size == 0
          - pendientes.each_with_index do |pendiente, index|
            - tarea = pendiente.tarea
            - flujo = pendiente.flujo
            - encuesta = tarea.encuesta
            - proyecto = pendiente.flujo.proyecto
            - acuerdo = pendiente.flujo.manifestacion_de_interes
            - programa = pendiente.flujo.ppp
            - convocatoria = pendiente.es_minuta? ? pendiente.determina_convocatoria : nil
            - tipo_instrumento = flujo.tipo_instrumento.nombre_tipo
            - subtipo_instrumento = flujo.subtipo_de_instrumento
            - registro_proveedores = flujo.registro_proveedor
            %tr
              %td=flujo.id
              - unless (Rails.env.production? && !current_user.is_admin?) #DZC 2018-10-05 11:49:52 solo muestra el id de tarea pendiente si se trata del administrador o el proyecto esta en ambiente de desarrollo
                %td=pendiente.id
              %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word;"}=flujo.nombre_instrumento
              %td=tipo_instrumento
              %td= registro_proveedores.present? ? registro_proveedores.estado : subtipo_instrumento
              %td
                -tarea_nombre = tarea.nombre
                -if pendiente.es_minuta?
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' para convocatoria "' + pendiente.determina_convocatoria.nombre + '"'
                -elsif pendiente.es_auditoria?
                  - unless pendiente.determina_auditoria.blank? 
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                -elsif tarea.codigo == Tarea::COD_APL_021
                  - unless pendiente.determina_convocatoria.blank?
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Firma de Acuerdo ','') + '"'                 
                -elsif tarea.codigo == Tarea::COD_APL_037
                  - unless pendiente.determina_convocatoria.blank? || pendiente.determina_convocatoria.nombre.blank? #DZC 2019-07-04 16:40:19 se modifica por requerimiento de fecha 20190704
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_convocatoria.nombre.gsub('Ceremonia de Certificación ','') + '"'
                -elsif tarea.codigo == Tarea::COD_APL_039
                  - unless pendiente.determina_auditoria.blank? 
                    -tarea_nombre += ' correspondiente a "' + pendiente.determina_auditoria.nombre + '"'
                =tarea_nombre
              %td.dos.iconos-acciones
                -#Enlaces segun cod tarea
                -data_url = url_segun_tarea(pendiente, tarea, flujo, encuesta, proyecto)
                =link_to data_url[:icon].html_safe, data_url[:url]

