- resultado_mostrados = resultado_mostrados.nil? ? 30 : resultado_mostrados

:javascript
  $(document).ready(function() {
    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
  });

= render 'admin/otros/resultado_consulta'

= simple_form_for(@otro, url: search_admin_otros_path, remote: true, html: { method: :put, class: 'filter', autocomplete: :off }) do |f|
  - if resultado_mostrados
    = f.input :resultado_mostrados, as: :hidden, input_html: { value: resultado_mostrados }, wrapper: false
  .row
    .col-lg-2.pr-lg-0.col-12
      = f.input :rut, label: false, input_html: { class: 'not-required-if-other-like-me-is-present form-control-sm m-0' }, placeholder: "R.U.T (sin DV) de la institución", as: :string, required: false
    .col-12.col-lg-3
      = f.input :razon_social, input_html: { class: 'not-required-if-other-like-me-is-present form-control-sm m-0', type: :string }, label: false, placeholder: 'Razón social de la institución', required: false
    .col-12.col-lg-3
      = f.input :nombre, input_html: { class: 'not-required-if-other-like-me-is-present form-control-sm m-0', type: :string }, label: false, placeholder: 'Nombre otro', required: false
    .col-12.col-lg-3
      = f.association :alcance, collection: Alcance::obtener_alcances_para_otros, input_html: { class: 'not-required-if-other-like-me-is-present form-control-sm m-0', type: :string }, label: false, prompt: "Seleccione alcance", placeholder: 'Alcance', required: false
    .col-lg-1.col-12
      = button_tag "<i class='fa fa-search fa-2x'></i>".html_safe, 'data-disable-with' => "<i class='fa fa-spinner fa-spin fa-2x'></i>".html_safe, id: 'consultar-button', class: "btn btn-sm btn-light btn-block p-0 btn-disabled", disabled: :disabled