-content_for :subheader do
  .subheader-home
    .container{class: (user_signed_in? ? 'fix-width' : '')}
      .d-flex.flex-column.my-3
        .title=@manifestacion_de_interes.nombre_acuerdo
        -if user_signed_in?
          .empresa="#{@manifestacion_de_interes.contribuyente.razon_social} - RUT: #{@manifestacion_de_interes.contribuyente.rut_completo}"
        -if !@manifestacion_de_interes.firma_fecha.nil?
          .firma="Firmado #{l(@manifestacion_de_interes.firma_fecha, format: '%e de %B del %Y')}"
        .d-flex.flex-column.flex-lg-row.mt-3.align-items-lg-center
          -if @manifestacion_de_interes.acciones.count > 0
            .acciones
              .numero="#{@manifestacion_de_interes.acciones.count} "
              acciones
          -if @manifestacion_de_interes.empresas_adheridas.count > 0
            =link_to empresas_y_elementos_adheridos_path(acuerdo_id: params[:acuerdo_id], clasificacion_id: params[:clasificacion_id]), class: "btn boton ml-lg-2 mt-1 mt-lg-0" do
              .numero="#{@manifestacion_de_interes.empresas_adheridas.count} "
              empresas adheridas
          -if @manifestacion_de_interes.empresas_certificadas.count > 0
            =link_to empresas_y_elementos_certificados_path(acuerdo_id: params[:acuerdo_id], clasificacion_id: params[:clasificacion_id]), class: "btn boton ml-lg-2 mt-1 mt-lg-0" do
              .numero="#{@manifestacion_de_interes.empresas_certificadas.count} "
              empresas certificadas
          -if !user_signed_in?
            .btn-group.ml-lg-auto.mt-1.mt-lg-0
              =link_to "Metas", acuerdo_seleccionado_path(acuerdo_id: @manifestacion_de_interes.id, clasificacion_id: params[:clasificacion_id], vista: :metas), class: "btn btn-meta-clasificacion #{(@vista == 'metas' ? 'active' : '')}"
              =link_to "Clasificaciones", acuerdo_seleccionado_path(acuerdo_id: @manifestacion_de_interes.id, clasificacion_id: params[:clasificacion_id], vista: :clasificaciones), class: "btn btn-meta-clasificacion #{(@vista == 'clasificaciones' ? 'active' : '')}"
        -if user_signed_in?
          .d-flex.flex-column.flex-lg-row.justify-content-between.mt-2
            =link_to descargar_reporte_sustentabilidad_admin_gestionar_mis_instrumentos_path(@manifestacion_de_interes.id), class: 'btn btn-dark-blue' do
              =fa_icon :download
              Descargar Reporte
            .btn-group.mt-2.mt-lg-0
              =link_to "Metas", acuerdo_seleccionado_path(acuerdo_id: @manifestacion_de_interes.id, clasificacion_id: params[:clasificacion_id], vista: :metas), class: "btn btn-meta-clasificacion #{(@vista == 'metas' ? 'active' : '')}"
              =link_to "Clasificaciones", acuerdo_seleccionado_path(acuerdo_id: @manifestacion_de_interes.id, clasificacion_id: params[:clasificacion_id], vista: :clasificaciones), class: "btn btn-meta-clasificacion #{(@vista == 'clasificaciones' ? 'active' : '')}"

.row
  .col-12
    -@clasificaciones_del_acuerdo.each_slice(3) do |sub_grupo|
      .row
        -sub_grupo.each do |clasificacion|
          .col-12.col-lg-4.py-2.px-lg-2
            .flip-card
              .flip-card-inner
                .flip-card-front{style: "background-image:url('#{clasificacion.imagen.url}');background-repeat:no-repeat;background-size:cover;"}
                  .d-flex.flex-column.h-100
                    .flip-card-icon.d-flex.align-items-center.justify-content-center{style: "background-color: #{clasificacion.color};"}
                      %img{src: clasificacion.icono.url}
                    .flip-card-name-container{style: "background-color: #{clasificacion.color};"}
                      =clasificacion.nombre
                .flip-card-back
                  .d-flex.flex-column.h-100
                    .d-flex.mb-2
                      .flip-card-name=clasificacion.nombre
                      .flip-card-icon-back.ml-auto.d-flex.align-items-center.justify-content-center{style: "background-color: #{clasificacion.color};"}
                        %img{src: clasificacion.icono.url}
                    .flip-card-description.mb-2=clasificacion.descripcion
                    .d-flex.w-100.justify-content-between
                      .flip-number.w-25
                        .number
                          -if @vista == "clasificaciones"
                            =clasificacion.metas_comprometidas(@manifestacion_de_interes).count
                          -else
                            =clasificacion.set_metas_acciones_comprometidas_de_meta(@manifestacion_de_interes).count
                        .title 
                          -if @vista == "clasificaciones"
                            Metas comprometidas
                          -else
                            Acciones comprometidas
                      .flip-number.w-25
                        .number=clasificacion.empresas_comprometidas(@manifestacion_de_interes, @vista).length
                        .title Empresas comprometidas
                      .flip-number.w-25
                        .number="#{clasificacion.cumplimiento_promedio(@manifestacion_de_interes, @vista)}%"
                        .title Cumplimiento promedio
                      .flip-number.w-25
                        .number=clasificacion.elementos_comprometidos(@manifestacion_de_interes, @vista).count
                        .title Elementos Comprometidos totales
                    .d-flex.mt-auto.align-items-center
                      =link_to "#info-#{clasificacion.id}", class: "flip-more-info", "data-toggle" => "collapse" do
                        Más información
          .col-12.px-lg-2.order-lg-last.collapse{id: "info-#{clasificacion.id}"}
            .card.card-home.bordered.mb-0
              .card-header
                .title=t(:cumplimiento_de_acuerdo)
              .card-body
                -if @vista == "clasificaciones"
                  -acciones_ids = clasificacion.set_metas_acciones_comprometidas(@manifestacion_de_interes).pluck(:id)
                  -clasificacion.metas_comprometidas(@manifestacion_de_interes).each do |meta|
                    .meta-title.mb-2=meta.nombre
                    .table-responsive
                      %table.tabla-simple
                        %tbody
                          -meta.set_metas_acciones_comprometidas_de_meta(@manifestacion_de_interes).each do |accion|
                            -if acciones_ids.include?(accion.id)
                              %tr
                                %td{title: accion.descripcion_accion}="#{accion.accion.nombre}#{(accion.materia_sustancia.blank? ? '' : '/'+accion.materia_sustancia.nombre)}"
                                %td="#{accion.obtiene_porcentaje_avance} Porcentaje avance"
                                %td="#{accion.obtiene_procentaje_cumplimiento.gsub("%","").to_f}% Porcentaje cumplimiento"
                -else
                  .table-responsive
                    %table.tabla-simple
                      %tbody
                        -clasificacion.set_metas_acciones_comprometidas_de_meta(@manifestacion_de_interes).each do |accion|
                          %tr
                            %td{title: accion.descripcion_accion}="#{accion.accion.nombre}#{(accion.materia_sustancia.blank? ? '' : '/'+accion.materia_sustancia.nombre)}"
                            %td="#{accion.obtiene_porcentaje_avance} Porcentaje avance"
                            %td="#{accion.obtiene_procentaje_cumplimiento.gsub("%","").to_f}% Porcentaje cumplimiento"
:javascript
  $(document).ready(function(){
    $('.collapse').on('show.bs.collapse', function (e) {
      $('.collapse.show').collapse("hide");
    })
  });