:javascript
  function habilitaOpciones(radio) {
    var valorSeleccionado = radio.value === 'true';
    if (valorSeleccionado) {
      document.getElementById('tipo_linea_seleccionada').disabled = false;
    } else {
      document.getElementById('tipo_linea_seleccionada').disabled = true;
    }
  }

%br 
.card
  .card-header
    %h5.no-margin
      = t(:postulacion_fondo_produccion_limpia)
  .card-body 
    .col-12.mb-3
      .row   
        .col-6
          .form-group
          %label.control-label.string=t(:postular_a_fondo_produccion_limpia)
          %br
          - if @flujos_con_tipo_instrumento.present?
            = f.collection_radio_buttons :fondo_produccion_limpia, [[true, t(:yes)], [false, t(:no)]], :first, :last, item_wrapper_class: 'ml-3', label: 'Fondo de Producción Limpia:', checked: true, id: 'fondo_produccion_limpia', disabled: true do |b|
              = b.radio_button(disabled: true, onchange: 'habilitaOpciones(this);')
              = b.label
          - else
            = f.collection_radio_buttons :fondo_produccion_limpia, [[true, t(:yes)], [false, t(:no)]], :first, :last, item_wrapper_class: 'ml-3', label: 'Fondo de Producción Limpia:', checked: true, id: 'fondo_produccion_limpia' do |b|
              = b.radio_button onchange: 'habilitaOpciones(this);'
              = b.label
        .col-6
          - primer_id = @lineas_fpl.first.id if @lineas_fpl.present?
          - if @flujos_con_tipo_instrumento.present?
            = f.input :tipo_linea_seleccionada, collection: (@lineas_fpl.present? ? @lineas_fpl.map{|p| [p.nombre, p.id]} : []), label: t(:seleccion_de_linea), input_html: {class: "chosen-control", "data-placeholder" => "Seleccione una Línea", id: 'tipo_linea_seleccionada', disabled: true}, selected: @instrumento_seleccionado
          - else
            = f.input :tipo_linea_seleccionada, collection: (@lineas_fpl.present? ? @lineas_fpl.map{|p| [p.nombre, p.id]} : []), label: t(:seleccion_de_linea), input_html: {class: "chosen-control", "data-placeholder" => "Seleccione una Línea", id: 'tipo_linea_seleccionada', disabled: false}, selected: primer_id
        %br 