- no_data=no_data.nil? ? false : no_data
.table-responsive
	%table.table.instrumentos.table-striped
		%thead
			%tr
				%th.nombre=t(:nombre)
				%th.accion-agregar=t(:tipo)
				%th=t(:subtipo)
				%th=t(:contribuyente)
				%th

		%tbody
			- if no_data
				-if @manifestaciones.present?
					- @manifestaciones.each do |manifestacion|
						%tr
							-#DZC 2019-06-18 10:48:04 se corrige para que muestre nombre o "sin nombre"
							%td= manifestacion.flujo.nombre_instrumento
							%td= manifestacion.tipo_instrumento.tipo.nombre
							%td= manifestacion.tipo_instrumento.nombre
							%td= manifestacion.contribuyente.razon_social if manifestacion.contribuyente.present?
							%td
								= link_to '#', class: 'btn-sm', id: "#{manifestacion.id}-asociar-instrumento", data: { nombre: "#{manifestacion.flujo.nombre_instrumento}", flujo_id:  "#{manifestacion.flujo.id}"} do 
									= t(:asociar)
				-if @proyectos.present?
					- @proyectos.each do |proyecto|
						-if proyecto.flujo.present?
							%tr
								-#DZC 2019-06-18 10:48:04 se corrige para que muestre nombre o "sin nombre"
								%td= proyecto.flujo.nombre_instrumento
								%td= proyecto.tipo_instrumento.tipo.nombre
								%td= proyecto.tipo_instrumento.nombre
								%td= proyecto.contribuyente.razon_social if proyecto.contribuyente.present?
								%td
									= link_to '#', class: 'btn-sm', id: "#{proyecto.id}-asociar-instrumento", data: { nombre: "#{proyecto.flujo.nombre_instrumento}", flujo_id:  "#{proyecto.flujo.id}"} do 
										= t(:asociar)
				-if @programas.present?
					- @programas.each do |programa|
						%tr
							-#DZC 2019-06-18 10:48:04 se corrige para que muestre nombre o "sin nombre"
							%td= programa.flujo.nombre_instrumento
							%td= programa.tipo_instrumento.tipo.nombre
							%td= programa.tipo_instrumento.nombre
							%td= programa.contribuyente.razon_social if programa.contribuyente.present?
							%td
								= link_to '#', class: 'btn-sm', id: "#{programa.id}-asociar-instrumento", data: { nombre: "#{programa.flujo.nombre_instrumento}", flujo_id:  "#{programa.flujo.id}"} do 
									= t(:asociar)