:javascript
	var subtipos=#{raw json_escape TipoInstrumento.por_padre(:id, false, false).to_json};
	$(document).ready(function() {
		$('#tipo_instrumento_id').change(function() {
			$('#sub_tipo_id').empty().append($("<option>Seleccione un subtipo de instrumento</option>"));
			$.each(subtipos[$(this).val()],function(k,v){
				$('#sub_tipo_id').append($("<option value='"+v[1]+"'>"+v[0]+"</option>"));
			})
		});
	});
= form_tag search_instrumentos_admin_hitos_de_prensa_path, remote: true, html: { method: :post, class: 'filter', autocomplete: :off } do
	.row
		.col-12
			= label_tag t(:instrumentos)
		.col-lg-6.col-12.mt-2
			= collection_select nil, :tipo_instrumento_id,TipoInstrumento.where(tipo_instrumento_id: nil).all, :id, :nombre, {:prompt => 'Selecciona un tipo de instrumento'}, { class: 'form-control', type: :string }
		.col-lg-6.col-12.mt-2
			= collection_select nil, :sub_tipo_id,[], :id, :nombre, {prompt: "Seleccione un subtipo de instrumento"}, { class: 'form-control', type: :string }
	.row
		.col-lg-9.col-12.d-none.d-lg-block
		.col-lg-3.col-12.mt-2
			= button_tag "Buscar", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Buscando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-sm btn-block btn-disabled"# float-right", disabled: :disabled
%br
