- titulo t(:tarea)
:javascript
	$(document).ready(function() {
		$('.chosen-control').chosen(chosenOptionsNoRemove);
		var currentInput;
		$('.recordatorio').each(function(k,v) {
			currentInput=$(v);
			update_previsualizacion();
		});
		$('.recordatorio').on('change keyup',function() {
			currentInput=$(this);
			update_previsualizacion();
		});
		$('.availables-tags > span').click(function(){
			if ( currentInput !== undefined ) {
				textWithTag=$(currentInput).val() + $(this).text().replace(/[\s]+/,'')
				currentInput.val( textWithTag );
				update_previsualizacion();
			}
		});
		function update_previsualizacion() {
			previsualizacion=$('#previsualizacion-'+currentInput.attr("aria-label"))
			previsualizacion.text(currentInput.val());
			$.each(#{raw json_escape @tarea.metodos(current_user).to_json},function(k,v){
				if ( previsualizacion.html() ) {
					previsualizacion.html( previsualizacion.html().replace(k,v).replace(/\n/,"<br />") );
				}
			})
		}
		$('#tarea_es_una_encuesta').click(function(){
			if ( $(this).is(':checked')) {
				$('div.div-tarea').removeClass('d-none');
				$('#tarea_encuesta_id').addClass('required-field');
			} else {
				$('div.div-tarea').addClass('d-none');
				$('#tarea_encuesta_id').removeClass('required-field');
			}
		});
		$('#tarea_limitar_duracion').click(function(){
			if ( $(this).is(':checked')) {
				$('div.tarea_duracion').removeClass('d-none');
				$('#tarea_duracion').addClass('required-field');
			} else {
				$('div.tarea_duracion').addClass('d-none');
				$('#tarea_duracion').removeClass('required-field');
				$('#tarea_duracion').val('');
			}
		});
		$('#tarea_duracion').on('focusout',function(e){
			e.preventDefault();
			if($(this).val() == ''){
				// do nothing
			}else if($(this).val() < 10){
				$(this).val(10);
			}
		});
		htmlErrorToTooltip('top');

		$(document).on('nested:fieldAdded:encuesta_descarga_roles', function(e){
			checkFieldValidity($('#tarea_nombre'));
			$(e.target).find('select.edr-rol').chosen(chosenOptionsNoRemove);
		});
		
		$(document).on('nested:fieldRemoved:encuesta_descarga_roles', function(e){
			submitBtn = $(e.target).parents('form').find('.btn-disabled');
			if ( $('select.edr-rol').parents('.fields:not([style="display: none;"])').length == 0 ) {
				submitBtn.attr('disabled','disabled');
			} else {
				submitBtn.removeAttr('disabled');
			}
			checkFieldValidity($('#tarea_nombre'));
		});

		$(document).on('nested:fieldAdded:encuesta_ejecucion_roles', function(e){
			checkFieldValidity($('#tarea_nombre'));
			$(e.target).find('select.eer-rol').chosen(chosenOptionsNoRemove);
		});
		
		$(document).on('nested:fieldRemoved:encuesta_ejecucion_roles', function(e){
			submitBtn = $(e.target).parents('form').find('.btn-disabled');
			if ( $('select.eer-rol').parents('.fields:not([style="display: none;"])').length == 0 ) {
				submitBtn.attr('disabled','disabled');
			} else {
				submitBtn.removeAttr('disabled');
			}
			checkFieldValidity($('#tarea_nombre'));
		});
	});

= simple_nested_form_for [:admin,@tarea], remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= "Datos básicos"
				.card-body
					.row
						.col-lg-6.pr-lg-0.col-12
							.row
								.col-12
									= f.input :nombre, label: t(:nombre), placeholder: "Ingrese el nombre de la tarea", input_html: { class: 'required-field' }, required: true
								.col-12
									= f.input :descripcion, label: t(:descripción), placeholder: "Ingrese la descripción de la tarea", input_html: { class: 'required-field descripcion-tarea', rows: 4 }, required: true
						.col-lg-6.col-12
							.row
								.col-lg-6.pr-lg-0.col-12
									- desactivado = (action_name == "edit") ? true : false
									= f.input :codigo, input_html: { class: 'required-field', placeholder: "Ej. APL-001" }, label: t(:código), readonly: desactivado
								.col-lg-6.col-12
									= f.input :etapa_id, collection: Etapa.all.map{|m|[m.nombre,m.id]}, label: t(:etapa), input_html: { class: 'im-not-required-check-the-others' }
								.col-12
									= f.input :tipo_instrumento_id, label: t(:tipo_instrumento), as: :grouped_select, collection: TipoInstrumento.por_padre(), group_method: :last, input_html: { class: 'required-field' }, required: true
								.col-12
									= f.input :rol_id, collection: Rol.order(id: :asc).all.map{|m|[m.nombre,m.id]}, label: t(:role), input_html: { class: 'chosen-control required-field', type: :string, "data-placeholder"=>"Seleccione un rol" }, required: true
								.col-md-12.pt-lg-2.col-12
									%label.string.control-label
										=t(:cualquiera_con_rol_o_usuario_asignado)
									= f.input :cualquiera_con_rol_o_usuario_asignado, as: :boolean, wrapper: false, label: false, input_html: { class: 'im-not-required-check-the-others' }
								.col-12.col-md-12.pt-lg-2.col-12
									%label.string.control-label
										=t(:posee_formulario)
									= f.input :posee_formulario, as: :boolean, wrapper: false, label: false, input_html: { class: 'im-not-required-check-the-others' }
								
		.col-12
			.card
				.card-header
					%h5.no-margin
						= "Configuración de tarea"
				.card-body
					.row
						.col-lg-6.col-12
							.col-12
								%label.string.control-label
									%i.fa.fa-exclamation-triangle.text-warning{title: "Realizar este cambio podría afectar al flujo del sistema"}
									Limitar duración
								= f.input :limitar_duracion, as: :boolean, wrapper: false, label: false, input_html: { class: 'im-not-required-check-the-others', checked: !f.object.duracion.blank? }
							.col-12
								= f.input :duracion, as: :string,label: t(:duracion_en_dias), input_html: { class: ' numero-dias-duracion' }, wrapper_class: (!f.object.duracion.blank? ? nil : 'd-none')
						.col-lg-6.col-12
							.col-12
								%label.string.control-label
									=t(:es_una_encuesta)
								= f.input :es_una_encuesta, as: :boolean, wrapper: false, label: false, input_html: { class: 'im-not-required-check-the-others' }
							.col-12.div-tarea{class: @tarea.es_una_encuesta ? '' : 'd-none'}
								- es_una_encuesta = (f.object.es_una_encuesta==true)
								= f.input :encuesta_id, collection: Encuesta.all.map{|m|[m.titulo,m.id]}, label: t(:encuesta), required: true, wrapper_class: (es_una_encuesta ? nil : 'd-none'), input_html: { class: (es_una_encuesta ? 'required-field' : nil) }
							.col-12.div-tarea{class: @tarea.es_una_encuesta ? '' : 'd-none'}
								%div.mt-3
									%label.integer.float-left.m-0
										= "Roles adicionales para ejecución"
									= f.link_to_add :encuesta_ejecucion_roles, data: { target: "#encuesta-ejecucion-roles" }, class: 'float-right' do
										%i.fa.fa-plus-circle
								%table#encuesta-ejecucion-roles.table.table-striped.mb-0
									%tbody
										= f.fields_for :encuesta_ejecucion_roles, :wrapper => false  do |eer|
											%tr.fields
												%td.p-0
													= eer.input :rol_id, label: false, collection: Rol.order(id: :asc).all.map{|m|[m.nombre,m.id]}, input_html: { class: 'eer-rol chosen-control required-field', 'data-placeholder': 'Seleccione un rol' }, required: true, wrapper_class: 'm-0'
												%td.accion.no-padding.remove-row
													= eer.link_to_remove do
														%i.fa.fa-times-circle.left.link-to-remove-row
							.col-12.div-tarea{class: @tarea.es_una_encuesta ? '' : 'd-none'}
								%div.mt-3
									%label.integer.float-left.m-0
										= "Roles autorizados a descargar encuesta"
									= f.link_to_add :encuesta_descarga_roles, data: { target: "#encuesta-descarga-roles" }, class: 'float-right' do
										%i.fa.fa-plus-circle
								%table#encuesta-descarga-roles.table.table-striped.mb-0
									%tbody
										= f.fields_for :encuesta_descarga_roles, :wrapper => false  do |edr|
											%tr.fields
												%td.p-0
													= edr.input :rol_id, label: false, collection: Rol.order(id: :asc).all.map{|m|[m.nombre,m.id]}, input_html: { class: 'edr-rol chosen-control required-field', 'data-placeholder': 'Seleccione un rol' }, required: true, wrapper_class: 'm-0'
												%td.accion.no-padding.remove-row
													= edr.link_to_remove do
														%i.fa.fa-times-circle.left.link-to-remove-row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= t(:recordatorio)
				.card-body
					.row
						.col-lg-6.col-12
							.row
								.col-12
									.form-group
										%label.control-label.string
											= t(:lista_de_, items: t(:campos_disponibles).downcase)
										#notificacion_tarea_lista_campos_disponibles.form-control.text.rounded-0.border-0.pl-0.availables-tags
											- @tarea.metodos(current_user).each do |k,tag|
												%span.mr-2{class: tag}
													=k
								.col-12
									= f.input :recordatorio_tarea_asunto, label: t(:recordatorio_asunto), placeholder: "Ingrese el asunto del recordatorio para esta tarea", input_html: {  class: 'required im-not-required-check-the-others recordatorio asunto', "aria-label"=> :asunto }
								.col-12
									%label.control-label
										=t(:recordatorio_frecuencia)
									= f.input :recordatorio_tarea_frecuencia, label: false, wrapper_html: {class: "input-group"} do
										= f.input_field :recordatorio_tarea_frecuencia, class: "required im-not-required-check-the-others form-control validado", placeholder: "Ingrese la frecuencia del recordatorio para esta tarea"
										.input-group-append
											%button.btn.btn-outline-secondary#help_recordatorio{type: "button", "data-toggle" => "modal", "data-target" => "#helpRecordatorio"}
												%i.fa.fa-question
								.col-12
									= f.input :recordatorio_tarea_cuerpo, label: t(:recordatorio_cuerpo), placeholder: "Ingrese el contenido del recordatorio para esta tarea", input_html: { class: 'required im-not-required-check-the-others recordatorio cuerpo', "aria-label"=> :cuerpo }
						.col-lg-6.col-12
							.row
								.col-12
									%label.string.control-label
										=t(:previsualización_recordatorio)
									#tarea_recordatorio_previsualizacion.form-control.text
										%h5#previsualizacion-asunto
										%p#previsualizacion-cuerpo.mb-0
	.float-right
		= link_to t(:back), admin_tareas_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled
.modal.fade{id: :"helpRecordatorio", tabindex: "-1", role: :dialog, "aria-labelledby": :helpRecordatorioLabel, "aria-hidden": true}
	.modal-dialog.modal-dialog-centered.modal-lg.animated{role: :document}
		.modal-content
			.modal-header
				%h5.modal-title#helpRecordatorioLabel Frecuencia recordatorio
				%button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "close"}
					%span{"aria-hidden" => "true"} &times;
			.modal-body
				Recuerde que debe indicar 5 valores, puede utilizar asteriscos para todos los casos o especificar lo siguiente: 
				%ol
					%li minuto (0-59)
					%li hora (0-23)
					%li día del mes (1-31)
					%li mes (1-12)
					%li día de la semana (0-6 donde 0=Domingo)
				Ejemplo:
				%ul
					%li 0 10 * * * (Todos los días a las 10 am)
					%li 30 * * * 0 (Cada 30 minutos sólo los domingos)
					%li 0 8 15 * * (La quincena de cada mes a las 8 am)

			.modal-footer
				%button.btn.btn-secondary{type: "button", "data-dismiss" => "modal"} Cerrar