:javascript
  $(document).ready(function() {
    $('table.tareas').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: false } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
  });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:tareas).downcase)
  .card-body
    .table-responsive
      %table.table.tareas.table-striped
        %thead
          %tr
            %th=t(:id)
            %th=t(:nombre)
            %th=t(:rol_asociado)
            %th=t(:tipo_instrumento_asociado)
            %th=t(:cualquiera_con_rol_o_usuario_asignado)
            %th=t(:posee_formulario)
            %th=t(:descargables)
            %th.dos.iconos-acciones=t(:acciones)

        %tbody
          - @tareas.each do |record|
            - rol=record.rol
            - tipo_instrumento=record.tipo_instrumento
            %tr
              %td.text-center=record.id
              %td=record.nombre
              %td=rol.blank? ? '--' : rol.nombre
              %td=tipo_instrumento.blank? ? '--' : tipo_instrumento.nombre
              %td.vertical-align-middle.si-no=record.cualquiera_con_rol_o_usuario_asignado.blank? ? t(:no_with_fa_times).html_safe : t(:yes_with_fa_check).html_safe
              %td.vertical-align-middle.si-no=record.posee_formulario.blank? ? t(:no_with_fa_times).html_safe : t(:yes_with_fa_check).html_safe
              %td.text-center
                - total_tareas = record.descargable_tareas.size
                %div
                  = link_to admin_tarea_descargable_tareas_path(record), class: (total_tareas > 0 ? 'text-primary' : 'text-secondary') do
                    %i.fa.fa-external-link-square
                    - if total_tareas > 0
                      = "[#{total_tareas.to_s.rjust(3,'0')}]"
              %td.dos.iconos-acciones
                %div
                  = link_to edit_admin_tarea_path(record) do
                    %i.fa.fa-edit
                  -# DZC 2018-10-18 18:27:58 se indisponibiliza para evitar perdida de coherencia en el sistema 
                    = link_to admin_tarea_path(record), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:tarea)), remote: false } do
                    %i.fa.fa-trash