- if @responsable.contribuyente_id.blank?
	- sin_contribuyente = true
- else
	- contribuyente = @responsable.contribuyente
- i_collection = contribuyente ? [[contribuyente.razon_social,contribuyente.id]] : []
- ti_collection = TipoInstrumento.__select_arbol
- r_collection = Rol.__select
- c_collection = Cargo.__select
- ae_collection_all = ActividadEconomica.__select_arbol
- tc_collection_all = TipoContribuyente.__select_arbol
- ae_collection = contribuyente ? contribuyente.actividad_economica_contribuyentes.map{|m|f=m.actividad_economica;["<label>#{f.codigo_ciiuv4}</label> - #{f.descripcion_ciiuv4}".html_safe,f.id]}.uniq : ae_collection_all
- tc_collection = contribuyente ? contribuyente.dato_anual_contribuyentes.order(periodo: :desc).map{|m|[m.tipo_contribuyente.nombre,m.tipo_contribuyente_id]}.uniq : tc_collection_all

- titulo t(:responsables)
:javascript

	$(document).ready(function() {
		var actecos=#{raw json_escape ae_collection_all.to_json}
		var tipos_contr=#{raw json_escape tc_collection_all.to_json}
		$('.chosen-control').chosen({
			allow_single_deselect: true,
			no_results_text: 'No se encontraron resultados',
			width: '100%'
		});

		//DZC 2018-10-25 10:59:01 se habilita la visualizacioón del boton de eliminación del contribuyente
		$("i.deseleccionar-contribuyente").show();

		$("i.deseleccionar-contribuyente").click(function() {
			reset_actectos_tipo_contribuyente();
			
			//DZC 2018-10-25 11:54:58 se modifica la permitiendo la deselección del contribuyente y su eliminación de la tabla

			$("select#responsable_contribuyente_id option:not([value=''])").remove();

			//DZC 2018-10-25 11:56:43 agrega la opción contribuyente eliminado a la lista
			$("select#responsable_contribuyente_id").append('<option value="">Contribuyente eliminado</option>');
	
			//DZC 2018-10-25 11:57:22 selecciona la opción de contribuyente eliminado
			$("select#responsable_contribuyente_id option:selected").val("");
			$("input#responsable_contribuyente_id").val("");

			//DZC 2018-10-25 11:55:58 asigna el valor null al contribuyente para la tabla
			$('.contribuyente-valor').val(null);

			checkFieldValidity($("select#responsable_tipo_contribuyente_id"));

			//$(this).hide();
		});

		function reset_actectos_tipo_contribuyente() {	
			srae="select#responsable_actividad_economica_id"
			fillSelector(srae,actecos);
			$(srae).val("").trigger("chosen:updated");
			srtc="select#responsable_tipo_contribuyente_id"
			fillSelector(srtc,tipos_contr);
			$(srtc).val("").trigger("chosen:updated");		
		}

		function rellena_tipo_contribuyente(desordenado, ordenado){
			srtc="select#responsable_tipo_contribuyente_id"
			tcs = ordenaArray(desordenado, ordenado);
			fillSelector(srtc,tcs);
			$(srtc).val("").trigger("chosen:updated");		
		}

		//DZC 2018-10-22 18:04:13 devuelve el array ordenado acorde al array de comparación
		function ordenaArray(desordenado, ordenado){
			var final = [];
			for (var i=0; i < ordenado.length; i++){
				var encontrado = false;
				for (var j=0; j < desordenado.length && !encontrado; j++){
					if(desordenado[j][1] == ordenado[i]) {
					final.push(desordenado[j]);
					encontrado = true;
					}
				}
			}
			return final;
		}

		//DZC 2019-06-17 14:00:37 se modifica para usar la función verificarModal()
		//$('body').on('change','.contribuyente-radio',function() { 
		//	$('.seleccionar-contribuyente-button').removeAttr('disabled'); 
		//});
		verificarModal();

		$('.seleccionar-contribuyente-button').click(function() {
			try {
				//DZC 2019-06-17 13:44:59 se modifica para considerar el contribuyente que ha sido escogido en otra página
				//data=JSON.parse($('.contribuyente-radio:checked').val());
				data=JSON.parse($('table.contribuyentes').DataTable().$('.contribuyente-radio:checked').val());

				$("select#responsable_contribuyente_id").append($("<option selected='selected' value='"+data.id+"'>"+data.razon_social+"</option>"));
				$("input#responsable_contribuyente_id").val(data.id);
				checkFieldValidity($("select#responsable_contribuyente_id"));
				$("i.deseleccionar-contribuyente").show();
				reset_actectos_tipo_contribuyente();
				//rellena_tipo_contribuyente(tipos_contr, data.tipo_contribuyentes);
				$.each($("select#responsable_actividad_economica_id option"),function(k,v) {
					if ( $.inArray( parseInt( $(v).val() ), data.actividades_economicas) == -1 ) { $(v).remove(); }
				});
				$.each($("select#responsable_tipo_contribuyente_id option"),function(k,v) {
					if ( $.inArray(parseInt( $(v).val() ), data.tipo_contribuyentes) == -1 ) { $(v).remove(); }
				});
				$("select#responsable_actividad_economica_id").trigger("chosen:updated");
				$("select#responsable_tipo_contribuyente_id").trigger("chosen:updated");
			} catch(e) {
				alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
			}

			$('.chosen-control').on('chosen:showing_dropdown', function(evt, params) {
				console.log('lala');
				console.log($(this).find('option'));
		    //compress()
		  });

		});
		htmlErrorToTooltip('top');
	});
:css
	.dataTables_filter input[type="search"] {
		margin-right: 10px;
	}
	div.dataTables_wrapper div.dataTables_paginate { 
		margin-right: 10px;
	}
= simple_form_for [:admin,@responsable], remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= action_label_of_(@responsable, true)
				.card-body
					.row
						.col-lg-7.pr-lg-0.col-12
							= f.input :tipo_instrumento_id, label: t(:tipo_instrumento), collection: ti_collection, input_html: { class: 'required-field' }, required: true, label_method: ->(obj){ obj.first.html_safe }
						.col-lg-5.col-12
							= f.input :cargo_id, label: t(:cargo), collection: c_collection, input_html: { class: 'chosen-control required-field', type: :string, "data-placeholder"=>"Seleccione un cargo" }, required: true
						.col-lg-4.pr-lg-0.col-12
							= f.input :rol_id, label: t(:rol), collection: r_collection, input_html: { class: 'chosen-control required-field', type: :string, "data-placeholder"=>"Seleccione un rol" }, required: true
						.col-lg-1.col-12.pr-lg-1
							= link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente", class: 'buscar-contribuyente btn-sm btn btn-block mt-lg-3' do
								%i.fa.fa-search-plus.fa-2x
						.col-lg-7.pl-lg-0.col-12
							= f.input :contribuyente_id, as: :hidden, wrapper: false
							= f.input :contribuyente_id, label: t(:contribuyente), collection: i_collection, input_html: { class: 'not-required-if-other-like-me-is-present float-left', disabled: :true }, prompt: "Seleccione una institución desde el buscador"
							%i.fa.fa-times.deseleccionar-contribuyente
						.col-lg-8.col-12
							= f.input :actividad_economica_id, collection: ae_collection, input_html: { class: 'chosen-control not-required-if-other-like-me-is-present', type: :string, "data-placeholder"=>"Seleccione una actividad económica" }, label: t(:actividad_económica), label_method: ->(obj){ obj.first.html_safe }
						.col-lg-4.pl-lg-0.col-12
							= f.input :tipo_contribuyente_id, collection: tc_collection, input_html: { class: 'chosen-control not-required-if-other-like-me-is-present', type: :string, "data-placeholder"=>"Seleccione un tipo de contribuyente" }, label: t(:tipo_contribuyente), label_method: ->(obj){ obj.first.html_safe }
	.float-right
		= link_to t(:back), admin_responsables_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled

= render 'admin/contribuyentes/buscador', es_para_seleccion: true
