%p= "El usuario #{@comentario.email_contacto} ha escrito el siguiente comentario para indicar #{@comentario.tipo_comentario_id==2 ? 'una' : 'un'} #{@comentario.tipo_comentario.nombre}:"
%p.m-0= @comentario.comentario
%p.m-0
	="URL de referencia: "
	=@comentario.url_referencia
= link_to "Ver comentario en el sistema", comentario_url(@comentario)