:javascript
	$(document).ready(function(){
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			$('#manifestacion_de_interes_current_tab').val($(this).attr('id'));
			if($(this).attr('id') === "convocatoria-remote-form-tab"){
				if ("#{@convocatoria_existe}" == "false"){
					$.ajax({
						url: "#{reset_convocatoria_ceremonia_certificaciones_path(@tarea_pendiente)}",
						type: "POST"
					}).done(function() {
					});
				}else {
					$.ajax({
						url: "#{edit_convocatoria_ceremonia_certificaciones_path(@tarea_pendiente)}",
						type: "GET"
					}).done(function() {
					});
				}
			}
		});
	});
- titulo t(:actualizar_mapa_actores_convocatoria_certificacion)
- tabs = { "listado-de-actores": true, "convocatoria-remote-form": false }
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
	%ul#manifestacion.nav.nav-tabs{:role => "tablist"}
		- tabs.each do |tab,active|
			%li.nav-item
				%a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
					=t(tab.to_s.gsub('-remote-form','').gsub('-','_'))
#manifestacionContent.tab-content
	#listado-de-actores.tab-pane.fade{"aria-expanded" => tabs[:"listado-de-actores"], "aria-labelledby" => "listado-de-actores-tab", :role => "tabpanel", class: ("show active" if tabs[:"listado-de-actores"])}
		.card
			.card-body.p-0
				#actores-remote-table
					= render 'actores/table'
				#actualizar-remote-form
					= render 'actores/form', externo: true
	#convocatoria-remote-form.tab-pane.fade{"aria-expanded" => tabs[:"convocatoria-remote-form"], "aria-labelledby" => "convocatoria-remote-form-tab", :role => "tabpanel", class: ("show active" if tabs[:"convocatoria-remote-form"])}