/PRO-007
- pick_a_institucion="Seleccione una institución desde el buscador"
- pick_a_contribuyente="Seleccione un establecimiento"
= simple_form_for @registro_proveedor, url: "/registro_proveedores/#{@registro_proveedor.id}/update_plazo_proveedor", method: :patch, remote: true do |f|
  .row
    .col-12.mt-3
      - if @registro_proveedor.estado == 'actualizar_observado'
        %h1.titulo='Actualizar Observación Registro Proveedor'
      - else
        %h1.titulo='Actualizar Registro Proveedor'
      .col-12
        - if @registro_proveedor.estado == 'actualizar_observado'
          .card
            .card-header
              %h5.no-margin
                %b Actualización con observaciones
              %h5.no-margin=titulo_acuerdo.html_safe
            .card-body
              .row
                .col-12
                  = f.input :comentario, as: :text, as: :text, disabled: true, label: 'Comentario de Revisor', input_html: { style: 'width: 100%', rows: 5 }
        .card
          .card-header
            %h5.no-margin
              %b Datos Solicitante
            %h5.no-margin=titulo_acuerdo.html_safe
          .card-body
            .row
              .col-12.col-lg-3
                = f.input :rut, required: true, label: t(:rut), placeholder: "Ingresar RUT", input_html: { class: 'identificacion required-field', disabled: true }
              .col-12.col-lg-4
                =f.input :nombre, input_html: { disabled: true }
              .col-12.col-lg-4
                =f.input :apellido, required: true, input_html: {class: "validado check-boton-llenado", disabled: true}
              .col-12.col-lg-6
                =f.input :email, error: true, input_html: {class: "form-control help-block email_validator", disabled: true}
              .col-12.col-lg-6
                =f.input :telefono, as: :integer, label: 'Teléfono'
              .col-12.col-lg-4
                =f.input :profesion, label: 'Profesión'
              .col-12
                =f.input :direccion, label: 'Dirección'
              .col-12.col-lg-4
                = f.label 'Región'
                = f.input_field :region, collection: Region.all, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, selected: @region, wrapper: false, class: "form-control select2", label: false, style: 'width: 100%'
                / = select_tag :region, options_from_collection_for_select(Region.all, "id", "nombre"), { class: 'form-control select2 validado', required: true, prompt: 'Selecciona uno' }
              .col-12.col-lg-4
                = f.label 'Comuna'
                = f.input_field :comuna, collection: Comuna.all, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, selected: @comuna, wrapper: false, class: "form-control select2", label: false
                / / = select_tag :comuna, options_from_collection_for_select(Comuna.all, "id", "nombre"), { class: 'form-control select2', prompt: 'Selecciona uno'}
                / =f.input :comuna, collection: {}, value_method: :id, selected: @comuna, label: false, input_html: {class: 'validado select2', style: "width: 100%"}
              .col-12.col-lg-4
                =f.input :ciudad, label: 'Ciudad', class: 'form-control'
              .col-12
              /  =f.input :asociar_institucion,as: :boolean, input_html: {onclick: "HideOrShowFields()", disabled: true}, label: 'Asociar institución'
              .col-12
                .contribuyente_fields{style: "display: none"}
                  - if @registro_proveedor.contribuyente_id.present?
                    .col-12
                      =f.label 'Contribuyente'
                      %input#form_control{:value => "#{Contribuyente.find(@registro_proveedor.contribuyente_id).razon_social}", disabled: true }
                  - else
                    .row
                      .col-12.col-lg-4
                        = f.input :rut_institucion, input_html: { class: 'identificacion required-field', disabled: true }, label: 'RUT institución'
                      .col-12.col-lg-4
                        =f.input :nombre_institucion, input_html: { class: 'required-field', disabled: true }, label: 'Nombre institución'
                      .col-12.col-lg-4
                        / =f.input :tipo_contribuyente, collection: TipoContribuyente.all.map{|c| [c.nombre, c.id]}, wrapper: false
                      .col-12
                        =f.input :direccion_casa_matriz, required: true, input_html: { class: 'required-field', disabled: true }, label: 'Dirección casa matriz'
                      .col-12.col-lg-4
                        = f.input :region_casa_matriz, label: 'Región casa matriz', input_html: { disabled: true }
                      .col-12.col-lg-4
                        = f.input :comuna_casa_matriz, label: 'Comuna casa matriz', input_html: { disabled: true }
                      .col-12.col-lg-4
                        =f.input :ciudad_casa_matriz, required: true, input_html: { class: 'required-field', disabled: true }
        .card
          .card-header
            %h5.no-margin
              %b Registro
          .card-body
            .row
              .col-12.col-lg-4
                <label class="string optional">¿A qué postulas?</label>
                = f.input_field :tipo_proveedor_id, collection: @tipo_de_proveedores, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, wrapper: false, class: "form-control select2 mb-5", label: false, disabled: true, style: "width: 100%; margin-bottom: 100px;"
              .col-12
                = f.simple_fields_for :certificado_proveedor_extras do |certificado|
                  = render 'certificado_proveedor_extra_fields', f: certificado
                .links
                  = link_to_add_association raw('<i class="fa fa-plus"></i>'), f, :certificado_proveedor_extras, class: 'btn btn-success btn-sm px-3 mt-3'
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Documentación
          .card-body
            .row
              .col-12
                = f.simple_fields_for :documento_proveedor_extras do |documento|
                  = render 'documento_proveedor_extra_fields', f: documento
                .links
                  = link_to_add_association raw('<i class="fa fa-plus"></i>'), f, :documento_proveedor_extras, class: 'btn btn-success btn-sm px-3 mt-3'
                .pt-3
                  =f.input :terminos_y_servicion, as: :boolean, label: 'Acepto que la información proporcionada con motivo de la presente postulación sea publicada por la ASCC en el correspondiente registro', class: 'form-check-label'
        .row
          .col-12.col-lg-6
            .card
              .card-header
                %h5.m-0
                  Formatos
              .card-body
                .row
                  .col-12
                    =__mostrar_descargable_simple(@tarea,"#{@tarea.codigo}-DES-001",'Plantilla de Apelación')
  .float-right
    = link_to t(:back), root_path, class: 'btn btn-warning '
    =f.submit 'Enviar', class: 'btn btn-primary'

  / = render 'admin/contribuyentes/buscador', es_para_seleccion: true

:javascript

  $(document).ready(function(){

    $('.select2').select2({
      placeholder: "Selecciona uno",
      allowClear: true
    })

    $('#contribuyente_rut_fields').on('click' ,function() {
      $('.select2-search__field').attr('id','contribuyente_rut');
    });

    $('body').on('keyup blur','#contribuyente_rut',function() {
      $(this).val($.formatRut($(this).val()) );
    });

    $("#registro_proveedor_contribuyente_id").select2({
      minimumInputLength: 10,
      ajax: {
        url: "/get_contribuyentes", //URL for searching companies
        dataType: "json",
        delay: 200,
        data: function (params) {
          console.log(params.term)
          return {
            search: params.term, //params send to companies controller
          };
        },
        processResults: function (data) {
          var arr = []
          $.each(data, function (index, value) {
            arr.push({
              id: value.id,
              text: `${value.rut}-${value.dv} - ${value.razon_social}`
            })
          })
          return {
            results: arr
          };
        },
        cache: true
      },
      placeholder: 'Ingrese un rut',
      allowClear: true,
    });


    $('form').on('cocoon:after-insert', function() {
      $('.select2').select2({
        placeholder: "Selecciona uno",
        allowClear: true
      })

      $("#registro_proveedor_contribuyente_id").select2({
        minimumInputLength: 10,
        ajax: {
          url: "/get_contribuyentes", //URL for searching companies
          dataType: "json",
          delay: 200,
          data: function (params) {
            console.log(params.term)
            return {
              search: params.term, //params send to companies controller
            };
          },
          processResults: function (data) {
            var arr = []
            $.each(data, function (index, value) {
              arr.push({
                id: value.id,
                text: `${value.rut}-${value.dv} - ${value.razon_social}`
              })
            })
            return {
              results: arr
            };
          },
          cache: true
        },
        placeholder: 'Ingrese un rut',
        allowClear: true,
      });
    });


    if ($("#registro_proveedor_contribuyente_id").val() === null) {
      $('.contribuyente_footer_fields').show()
    } else {
      $('.contribuyente_footer_fields').hide()
    }


    if ($('#registro_proveedor_asociar_institucion').is(':checked')) {
      console.log('true')
      $('.contribuyente_fields').toggle()
    } else {
      console.log('false')
      $('.contribuyente_fields').hide()
    }

    $( "#registro_proveedor_contribuyente_id" ).change(function() {
      if ($(this).val() === null) {
        console.log('vacio');
        $('.contribuyente_footer_fields').show()
      } else {
        $('.contribuyente_footer_fields').hide()
      }
    });

    $('#registro_proveedor_region').change(function(){
        $.ajax({
          url: "#{registro_get_comunas_path}",
          method: 'get',
          data: {id: this.value}
        });
      });

    $('#registro_proveedor_region_casa_matriz').change(function(){
        $.ajax({
          url: "#{registro_get_comunas_casa_matriz_path}",
          method: 'get',
          data: {id: this.value}
        });
      });

  })

  function HideOrShowFields() {
    const contribuyente = document.querySelector('.contribuyente_fields');

    if (contribuyente.style.display === "none") {
      contribuyente.style.display = "block";
    } else {
      contribuyente.style.display = "none";
    }
  }
