.nested-fields
  .row.mt-3
    .col-12.col-lg-5
      =f.input :archivo_certificado, input_html: {class: "validado form-control"}
    .col-12.col-lg-3
      = f.label 'Materia'
      = f.input_field :materia_sustancia_id, collection: MateriaSustancia.all, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, wrapper: false, class: "select2", label: false, style: "width: 100%"
    .col-12.col-lg-3
      = f.label 'Actividad economica'
      = f.input_field :actividad_economica_id, collection: @actividad_economica.map{|r| ["#{r.codigo_ciiuv4} - #{r.descripcion_ciiuv4}", r.id]}, required: true, wrapper: false, class: "select2", label: false, style: "width: 100%"
    .col-12.col-lg-1
      = link_to_remove_association raw('<i class="fa fa-minus"></i>'), f, class: 'btn btn-danger btn-sm mt-4'



