- pick_a_institucion="Seleccione una institución desde el buscador"
- pick_a_contribuyente="Seleccione un establecimiento"
= simple_form_for @registro_proveedor, remote: true do |f|
  .row
    .col-12.mt-3
      %h1.titulo='Solicitud de Registro'
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Datos Solicitante
            %h5.no-margin=titulo_acuerdo.html_safe
          .card-body
            .row
              .col-12.col-lg-3
                = f.input :rut, required: true, label: t(:rut), placeholder: "Ingresar RUT", input_html: { class: 'identificacion required-field' }
              .col-12.col-lg-4
                =f.input :nombre, error: "algo nuevo"
              .col-12.col-lg-4
                =f.input :apellido, required: true, input_html: {class: "validado check-boton-llenado"}
              .col-12.col-lg-6
                =f.input :email, error: true, input_html: {class: "form-control help-block"}
              .col-12.col-lg-6
                =f.input :telefono
              .col-12.col-lg-4
                =f.input :profesion
              .col-12
                =f.input :direccion
              .col-12.col-lg-4
                = f.label 'Region'
                = select_tag :region, options_from_collection_for_select(Region.all, "id", "nombre"), { class: 'form-control select2 validado', required: true, prompt: 'Selecciona uno'}
              .col-12.col-lg-4
                = f.label 'Comuna'
                = select_tag :comuna, options_from_collection_for_select(Comuna.all, "id", "nombre"), { class: 'form-control select2', prompt: 'Selecciona uno'}
              .col-12.col-lg-4
                =f.label 'Ciudad'
                =f.input :ciudad, label: false, class: 'form-control'
              .col-12
                =f.input :asociar_institucion,as: :boolean, input_html: {onclick: "guillo()"}
              .col-12
                .contribuyente_fields{style: "display: none"}
                  .col-12
                    = f.label 'Contribuyente'
                    = select_tag :contribuyente_id, options_from_collection_for_select(Contribuyente.last(20000), "id", "razon_social"), { class: 'form-control select2', required: true, label: 'Guillermo'}
                  .row
                    .col-12.col-lg-4
                      = f.input :rut_institucion, required: true, label: 'RUT institucion', placeholder: "Ingresar RUT", input_html: { class: 'identificacion required-field' }
                    .col-12.col-lg-4
                      =f.input :nombre_institucion
                    .col-12.col-lg-4
                      / =f.input :tipo_contribuyente, collection: TipoContribuyente.all.map{|c| [c.nombre, c.id]}, wrapper: false
                    .col-12
                      =f.input :direccion_casa_matriz
                    .col-12.col-lg-4
                      =f.input :region_casa_matriz, collection: Region.all.map{|r| [r.nombre, r.id]}, wrapper: false
                    .col-12.col-lg-4
                      =f.input :comuna_casa_matriz, collection: Comuna.all.map{|c| [c.nombre, c.id]}, wrapper: false
                    .col-12.col-lg-4
                      =f.input :ciudad_casa_matriz
        .card
          .card-header
            %h5.no-margin
              %b Registro
          .card-body
            .row
              .col-12.col-lg-4
                =f.input :tipo_proveedor_id, collection: TipoProveedor.all.map{|tc| [tc.nombre, tc.id] } , label: 'A que postula?',input_html: {class: ''}
              .col-12
                = f.simple_fields_for :certificado_proveedores do |certificado|
                  = render 'certificado_proveedor_fields', f: certificado
                .links
                  = link_to_add_association raw('<i class="fa fa-plus"></i>'), f, :certificado_proveedores, class: 'btn btn-success btn-sm px-3 mt-3'
      .col-12
        .card
          .card-header
            %h5.no-margin
              %b Documentacion
          .card-body
            .row
              .col-12
                = f.simple_fields_for :documento_registro_proveedores do |documento|
                  = render 'documento_registro_proveedor_fields', f: documento
                .links
                  = link_to_add_association raw('<i class="fa fa-plus"></i>'), f, :documento_registro_proveedores, class: 'btn btn-success btn-sm px-3 mt-3'
                .pt-3
                  =f.input :terminos_y_servicion, as: :boolean, label: 'acepto que la información proporcionada con motivo de la presente postulación sea publicada por la ASCC en el correspondiente registro'
  .float-right
    = link_to t(:back), adherir_a_un_acuerdo_path, class: 'btn btn-warning btn-sm'
    =f.submit 'Enviar', class: 'btn btn-primary btn-sm'

  / = render 'admin/contribuyentes/buscador', es_para_seleccion: true

:javascript

  $(document).ready(function(){

    $('.select2').select2({minimumInputLength: 7});


    $('#registro_proveedor_contribuyente_id').chosen({
        allow_single_deselect: false,
        no_results_text: 'No se encontraron resultados',
        width: '100%',
        search_contains: true,
        placeholder_text_single: "Seleccione un contribuyente",
      });
  })

  function guillo() {
    console.log('click');
    const contribuyente = document.querySelector('.contribuyente_fields');
    if (contribuyente.style.display === "none") {
      contribuyente.style.display = "block";
    } else {
      contribuyente.style.display = "none";
    }
  }
%style{media: "screen"}


