/PRO-003
=render 'modal_evaluar'
- titulo 'Evaluar Proveedores'
= simple_form_for 'registro_proveedor', url: "#", method: :patch do |f|
  .card-header
    .d-flex.justify-content-between.align-items-center
      %h5.no-margin Proveedores
      %div
        %button.btn.btn-ascc.btn-sm#boton_clasificar{type: :button, "data-toggle" => "modal", "data-target" => "#modal_evaluar", disabled: true} Ingresar evaluacion
        %button.btn.btn-ascc.btn-sm#boton_sel_todos{type: :button} Seleccionar todos
        %button.btn.btn-ascc.btn-sm#boton_desel_todos.d-none{type: :button} Deseleccionar todos
  .card-body.p-0
    %table.table.table-striped.table-bordered#adhesiones_pendientes{style: "margin-top: 0 !important;margin-bottom:0 !important;"}
      %thead
        %tr
          %th
          %th RUT Proveedor
          %th Tipo de Proveedor
          %th Nombre APL
          %th Evaluaciones Anteriores
          %th Nota
          %th Seleccionar
      %tbody
        %tr{"data-id" => "#{1}","id" => "#{1}"}
          %td 1
          %td 434234343-k
          %td Facilitado APL
          %td APL - Prueba nombre apl
          %td
            %button.btn.btn-primary.btn-sm#boton_evaluacion{type: :button, "data-toggle" => "modal", "data-target" => "#modal_evaluacion"} Ver
          %td
            %label.estado-elem Pendiente
          %td.text-center
            %input.form-control.seleccionar-elemento-adhesion.mt-2{type: :checkbox, value: 1}
          =render "modal_evaluacion"

    .float-right
      = volver_root
      = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'enviar_button', class: "btn btn-sm btn-primary", disabled: true

:javascript

  function cambio_estado_check(){
    check_length = $('.seleccionar-elemento-adhesion:checked').length
    total_length = $('.seleccionar-elemento-adhesion').length
    $('#boton_clasificar').prop('disabled', (check_length == 0));
    if(check_length > 1 || check_length == total_length){
      $('#boton_sel_todos').addClass("d-none");
      $('#boton_desel_todos').removeClass("d-none");
    }else{
      $('#boton_sel_todos').removeClass("d-none");
      $('#boton_desel_todos').addClass("d-none");
    }
  }

  function activar_guardar_modal_clasificar(){
    $('#enviar_modal_evaluar').prop('disabled', true);
    console.log(`${$('#adhesion_estado_elementos').val()}`);
    $('abbr').remove();
    if($('#adhesion_estado_elementos').val() != ""){
      $("<abbr title='Campo requerido'>*</abbr>").insertBefore("#comentario_label");
      if($('#adhesion_estado_elementos').val() == "1"){
        $('abbr').remove();
        $('#enviar_modal_evaluar').prop('disabled', false);
      }else{
        if($('#adhesion_justificacion_elementos').val() != ""){
          $('#enviar_modal_evaluar').prop('disabled', false);
        }
      }
    }
  }

  $(document).ready(function(){
    $('.seleccionar-elemento-adhesion').click(function(){
      cambio_estado_check();
    });

    $('#boton_sel_todos').click(function(){
      $('.seleccionar-elemento-adhesion').prop("checked", true);
      cambio_estado_check();
    });

    $('#boton_desel_todos').click(function(){
      $('.seleccionar-elemento-adhesion').prop("checked", false);
      cambio_estado_check();
    });

    $('#adhesion_estado_elementos').change(function(){
      activar_guardar_modal_clasificar();
    });

    $('#adhesion_justificacion_elementos').on('input paste', function(){
      activar_guardar_modal_clasificar();
    });



    $('#adhesiones_pendientes').DataTable({
      dom: 't',
      paging: false,
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      columnDefs: [
        { responsivePriority: 1, targets: 3 },
        { responsivePriority: 2, targets: -1, orderable: false },
        { responsivePriority: 3, targets: -2 }
      ]
    });

    $('#enviar_modal_evaluar').click(function(){
      estado = $('#adhesion_estado_elementos option:selected');
      estado_val = estado.prop("value");
      estado_nombre = estado.text();
      comentario = $('#adhesion_justificacion_elementos').val();

      $('.seleccionar-elemento-adhesion:checked').each(function(index, elem){
        posicion = elem.value;
        tr = $('#adhesiones_pendientes tr[data-id="'+posicion+'"]');
        console.log(tr);
        tr.find(".estado-elem").html(estado_nombre);
        console.log(`${tr.find("input[name='aceptado["+posicion+"]']")}`)
        tr.find("input[name='estado["+posicion+"]']").val(estado_val)
        tr.find("input[name='aceptado["+posicion+"]']").val(estado_val);
        tr.find("input[name='comentario["+posicion+"]']").val(comentario);
      });

      $('.seleccionar-elemento-adhesion').attr("checked", false);
      $('#boton_clasificar').prop('disabled', true);
      $('#modal_evaluar').modal("hide");
      $('#adhesion_estado_elementos').val("");
      $('#adhesion_justificacion_elementos').val("");
      $('#enviar_modal_evaluar').prop("disabled", true);
      $('#enviar_button').prop("disabled", false);
    });
  });
