%h1 Listing admin_privacidad_permisos

%table
  %thead
    %tr
      %th Entidad
      %th Fields visibility
      %th
      %th
      %th

  %tbody
    - @admin_privacidad_permisos.each do |admin_privacidad_permiso|
      %tr
        %td= admin_privacidad_permiso.entidad
        %td= admin_privacidad_permiso.fields_visibility
        %td= link_to 'Show', admin_privacidad_permiso
        %td= link_to 'Edit', edit_admin_privacidad_permiso_path(admin_privacidad_permiso)
        %td= link_to 'Destroy', admin_privacidad_permiso, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Privacidad permiso', new_admin_privacidad_permiso_path
