%p#notice= notice

%p
  %b Entidad:
  = @admin_privacidad_permiso.entidad
%p
  %b Fields visibility:
  = @admin_privacidad_permiso.fields_visibility

= link_to 'Edit', edit_admin_privacidad_permiso_path(@admin_privacidad_permiso)
\|
= link_to 'Back', admin_privacidad_permisos_path
