- titulo t(:roles)
- url = (@rol.nil? or @rol.id.nil?) ? admin_roles_path : admin_rol_path
= simple_form_for @rol, url: url, remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= action_label_of_(@rol)
				.card-body
					.row
						.col-12
							-# desactivado = (action_name == "edit") ? true : false
							= f.input :nombre, label: t(:nombre), placeholder: "Ingrese nombre del rol", input_html: { class: 'required-field' }, required: true
						.col-12
							= f.input :descripcion, label: t(:descripción), input_html: { class: 'required-field', rows: 6 }, placeholder: "Ingrese una descripción para este rol"
	.float-right
		= link_to t(:back), admin_roles_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled 