:javascript
  $(document).ready(function() {
    $('table.roles').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [3], orderable: false } ],
      order: [0,'asc'],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
  });
.card
  .card-header
    %h5.no-margin
      = t(:lista_de_, items: t(:roles).downcase)
  .card-body
    %table.table.roles.table-striped
      %thead
        %tr
          %th.id=t(:id)
          %th=t(:nombre)
          %th=t(:descripción)
          %th.dos.iconos-acciones=t(:acciones)

      %tbody
        - @roles.each do |record|
          %tr
            %td.id= record.id
            %td= record.nombre
            %td= record.descripcion
            %td.dos.iconos-acciones
              %div
                = link_to edit_admin_rol_path(record) do
                  %i.fa.fa-edit
                -# DZC 2018-10-18 18:27:58 se indisponibiliza para evitar perdida de coherencia en el sistema
                  = link_to admin_rol_path(record), method: :delete, data: { confirm: t(:está_seguro_que_desea_borrar?, item: t(:rol)), remote: false } do
                    %i.fa.fa-trash