= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), wrapper: :group_with_icon, html: { class: 'form-devise row p-0', autocomplete: :off }, method: :put ) do |f|
  = f.input :invitation_token, as: :hidden
  .card.mb-2.col-12.p-0
    .card-header
      %h5.titulo-caja.text-center= "Aceptar invitación"
    .card-body
      .text-center.mb-4
        = image_tag ("logo-ascc.png")
      = f.input :password, required: true, placeholder: 'Contraseña', label: false, fa_icon: :key, input_html: { class: 'required-field' }
      = f.input :password_confirmation, required: true, placeholder: 'Confirmar contraseña', label: false, fa_icon: :key, input_html: { class: 'required-field' }
      = f.button :submit, "Aceptar", class: 'btn btn-sm btn-agencia btn-block mt-3 btn-disabled', disabled: :disabled
:javascript
  htmlErrorToTooltip('top');
  __tooltip({placement: 'right'});
