- i_collection= []
:javascript
  var seleccionado="";
  var seleccionado_clase="";
  var url_entregables = "#{usuarios_cargo_entregables_entregables_manifestacion_de_interes_path(@tarea_pendiente)}"
  var url_carga_datos = "#{usuarios_cargo_entregables_carga_datos_manifestacion_de_interes_path(@tarea_pendiente)}"
  $(document).ready(function() {
    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
    $("i.deseleccionar-entregables").click(function() {
      $("select#mapa_de_actor_institucion_entregables option:not([value=''])").remove();
      $("#mapa_de_actor_usuario_entregables").html("");
      $(this).hide();
    });
    $("i.deseleccionar-carga-datos").click(function() {
      $("select#mapa_de_actor_institucion_carga_datos option:not([value=''])").remove();
      $("#mapa_de_actor_usuario_carga_datos").html("");
      $(this).hide();
    });

    $('body').on('change','.contribuyente-radio',function() { $('.seleccionar-contribuyente-button').removeAttr('disabled'); });
    $('.seleccionar-contribuyente-button').click(function() {
      try {
        data=JSON.parse($('.contribuyente-radio:checked').val());
        $("select#mapa_de_actor_institucion_"+seleccionado).append($("<option selected='selected' value='"+data.id+"'>"+data.razon_social+"</option>"));
        $("input#mapa_de_actor_institucion_"+seleccionado).val(data.id);
        checkFieldValidity($("select#mapa_de_actor_institucion_"+seleccionado));
        $("i.deseleccionar-"+seleccionado_clase).show();
        $("#contribuyente_id").val(data.id);
        //se usa de esta forma para enviar el form a travez de una llamada js, submit normal lo envia como 'remote: false'
        Rails.fire(document.querySelector('#filtro_contribuyente'), 'submit');
      } catch(e) {
        alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
      }
    });
    $('.buscar-entregables').click(function() {
      seleccionado="entregables";
      seleccionado_clase=seleccionado;
      $('#filtro_contribuyente').attr('action', url_entregables);
    });
    $('.buscar-carga-datos').click(function() {
      seleccionado="carga_datos";
      seleccionado_clase="carga-datos";
      $('#filtro_contribuyente').attr('action', url_carga_datos);
    });
    htmlErrorToTooltip('top');
  });
:css
  .dataTables_filter input[type="search"] {
    margin-right: 10px;
  }
  div.dataTables_wrapper div.dataTables_paginate { 
    margin-right: 10px;
  }


= simple_form_for(@mapa_actor, remote: true, url: update_usuarios_cargo_entregables_manifestacion_de_interes_path(@tarea_pendiente)) do |f|
  .card
    .card-header
      %h5.no-margin=t(:asignar_usuarios_a_cargo_de_entregables_certificación)
    .card-body
      .row
        .col-12.col-lg-6
          .col-12
            .row
              .col-lg-11.col-12.pr-lg-0
                = f.input :institucion_entregables, as: :hidden, wrapper: false
                = f.input :institucion_entregables, label: t(:institución_entregables), collection: @instituciones_e, input_html: { class: 'im-not-required-check-the-others float-left', disabled: :true }, required: false, prompt: "Seleccione una institución desde el buscador"
                %i.fa.fa-times.deseleccionar-contribuyente.deseleccionar-entregables
              .col-lg-1.col-12
                = link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente", class: 'buscar-contribuyente buscar-entregables btn-sm btn btn-block mt-lg-3 px-0' do
                  %i.fa.fa-search-plus.fa-2x
          .col-12
            = f.input :usuario_entregables, collection: @usuarios_e, input_html: { class: "required-field" }, required: true 
          .col-12
            = f.input :observacion_entregables, label: t(:comentarios_entregables), as: :text, required: false
        .col-12.col-lg-6
          .col-12
            .row
              .col-lg-11.col-12.pr.lg-0
                = f.input :institucion_carga_datos, as: :hidden, wrapper: false
                = f.input :institucion_carga_datos, label: t(:institución_carga_datos), collection: @instituciones_c, input_html: { class: 'im-not-required-check-the-others float-left', disabled: :true }, required: false, prompt: "Seleccione una institución desde el buscador"
                %i.fa.fa-times.deseleccionar-contribuyente.deseleccionar-carga-datos
              .col-lg-1.col-12.pr-1
                = link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente", class: 'buscar-contribuyente buscar-carga-datos btn-sm btn btn-block mt-lg-3 px-0' do
                  %i.fa.fa-search-plus.fa-2x
          .col-12
            = f.input :usuario_carga_datos, collection: @usuarios_c, input_html: { class: "required-field" }, required: true
          .col-12
            = f.input :observacion_carga_datos, label: t(:comentarios_carga_datos),as: :text, required: false
  .float-right
    = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled
= form_tag "", id: :filtro_contribuyente, remote: true, authenticity_token: true do
  = hidden_field_tag(:contribuyente_id)
= render 'admin/contribuyentes/buscador', es_para_seleccion: true