:javascript
	var map;
	var uluru = {lat: -33.4429091, lng: -70.6538699};
	var marker;
	var geocoder;

	$(document).ready(function() {
		$('.destinatarios').DataTable({
			language: {
				url: "#{asset_path('spanish.json')}"
			},
			responsive: true,
			paginate: false,
			searching: false,
			columnDefs: [ { targets: [0], orderable: false }], 
		});

		$('#btn_mostrar_mapa').click(function(e){
			e.preventDefault();
			hideTooltipError($(this));
			direccionAMapa();
		});

		$('#convocatoria_direccion').on('keyup',function(){
			if($('.tipo-reunion:checked').val() == "presencial"){
				if($(this).val() != ""){
					$('#btn_mostrar_mapa').removeClass('d-none');					
				}else{
					$('#btn_mostrar_mapa').addClass('d-none');
				}
			}
		});

		$('#convocatoria_fecha_hora').on('change',function(){
		});

		$('#virtual_meeting').on('change',function(){
			if (this.checked){
				$("input[name='convocatoria[direccion]']").prop('type', "hidden")
				$('.string.required.virtual-label').hide()
				if ($("input[name='convocatoria[direccion]']").val() == ""){
				$("input[name='convocatoria[direccion]']").prop('value', "true")
				}
			}else{
				$("input[name='convocatoria[direccion]']").prop('type', "text")
				$('.string.required.virtual-label').show()
				if ($("input[name='convocatoria[direccion]']").val() == "true"){
				$("input[name='convocatoria[direccion]']").prop('value', "")
				}
			}
		});

		$('#seleccionar').change(function(){
			$("input[name='seleccionados[]']").prop('checked', $(this).is(':checked'));
		});

		$('.tipo-reunion').click(function(){
			if(this.value == 'presencial'){
				$("input[name='virtual_meeting']").prop('checked', false); //uncheck google calendar
				$('.presencial').removeClass('d-none');
				$("input[name='convocatoria[direccion]']").prop('type', "text")
				$('.string.required.virtual-label').show()
				$('.virtual').addClass('d-none');
			}else{
				$('.presencial').addClass('d-none');
				$('.virtual').removeClass('d-none');
				$('#btn_mostrar_mapa').addClass('d-none');
				$('#convocatoria_lat').val("");
				$('#convocatoria_lng').val("");
				marker.setMap(null);
				map.setCenter(uluru);
				map.setZoom(5);
			}
			$('#convocatoria_direccion').val("");
		});

		loadScript();

	});

	function initMap(){
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 5,
			center: uluru
		});

		marker = new google.maps.marker.AdvancedMarkerElement({
			position: uluru,
			map: null
		});

		map.addListener('click', function(e) {
			marker.setPosition(e.latLng);
			marker.setMap(map);
			mapaADireccion(e.latLng);
		});

		geocoder = new google.maps.Geocoder();

		direccionAMapa();

	}

	function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&language=es&callback=initMap";
		document.body.appendChild(script);
	}


	function direccionAMapa() {
		var address = $('#convocatoria_direccion').val();
		geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == 'OK') {
				map.setCenter(results[0].geometry.location); 
				map.setZoom(18);
				marker.setPosition(results[0].geometry.location);
				marker.setMap(map);
				$('#convocatoria_lat').val(""+results[0].geometry.location.lat());
				$('#convocatoria_lng').val(""+results[0].geometry.location.lng());
			} else {
				console.log('Geocode was not successful for the following reason: ' + status);
			}
		});
	}

	function mapaADireccion(latLng) {
		geocoder.geocode({'location': latLng}, function(results, status) {
			if (status === 'OK') {
				if (results[0]) {
					$('#convocatoria_direccion').val(results[0].formatted_address);
					$('#convocatoria_lat').val(""+latLng.lat());
					$('#convocatoria_lng').val(""+latLng.lng());
				} else {
					$('#convocatoria_direccion').val('Direcci贸n no cargada');
				}
			} else {
				$('#convocatoria_direccion').val('Direcci贸n no cargada');
			}
		});
	}


- titulo "#{@tarea.nombre[8..-1]}" rescue ''

- if @tarea.codigo == Tarea::COD_APL_021
	-url = nueva_convocatoria_actores_convocatorias_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes, method: :patch)
- else 
	- url = @convocatoria.new_record? ? create_tarea_pendiente_convocatoria_path(@tarea_pendiente) : tarea_pendiente_convocatoria_path(@tarea_pendiente)
= simple_form_for @convocatoria, url: url, remote: true, html: { autocomplete: :off } do |f|
	=#f.hidden_field :flujo_id, value: @flujo.id
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin=titulo_instrumento.html_safe
					-if !@manifestacion_de_interes.blank?
						%h5.no-margin=titulo_acuerdo.html_safe
					-elsif !@proyecto.blank?
						%h5.no-margin=titulo_proyecto.html_safe
					-elsif !@ppp.blank?
						%h5.no-margin=titulo_programa.html_safe
					%h5.no-margin=datos_beneficiario.html_safe
				.card-body
					.row
						.col-lg.col-12
							.row                
								.col-12
									= f.input :nombre, label: t(:indicar_nombre_convocatoria), input_html: { class: 'required-field'}, placeholder: "Ingrese nombre de convocatoria", as: :string, required: true
								.col-12
									= f.input :fecha_hora, label: t(:indicar_fecha_reunion), input_html: { class: 'required-field full-datetimepicker', value: @convocatoria.fecha_hora.strftime("%d-%m-%Y %H:%M")}, as: :string, required: true
								.col-12
									= f.label t(:indicar_tipo_reunion)
									%div
										-Convocatoria.tipo_reuniones.keys.each do |tipo_reu|
											= f.radio_button :tipo_reunion, tipo_reu, class: 'tipo-reunion'
											= f.label tipo_reu.to_s.titleize
								.col-12
									.presencial{class: @convocatoria.virtual? ? 'd-none' : ''}
										= f.label t(:indicar_lugar_reunion), required: true
										
									.virtual{class: @convocatoria.presencial? ? 'd-none' : ''}
										= check_box_tag 'virtual_meeting', '1', false
										= f.label t(:crear_en_google_calendar)
										%br
										= f.label t(:indicar_lugar_reunion), required: true, class: 'virtual-label'
									= f.input :direccion, label: false , required: true, input_html: { class: 'required-field' }
									= f.hidden_field :lat
									= f.hidden_field :lng
								.col-12
									= button_tag class: "btn btn-success btn-sm d-none", id: "btn_mostrar_mapa" do
										%i.fa.fa-map-marker
										=t(:mostrar_en_mapa)
								.col-12
									= f.input :caracterizacion, label: t(:caracterizacion_convocatoria), as: :text, readonly: false, input_html: { class: 'im-not-required-check-the-others', rows: 10}
								.col-12
									= render 'convocatorias/table_descargables'# se debe colocar la url absoluta respecto de la ruta, para que pueda ser leida desde otro controlador/vista
								.pr-0.col-10
									= f.input :archivo_adjunto, as: :file, input_html: {class: "form-control border-right-1 validado", multiple: true}, label: t(:adjuntar_archivos)
									= f.hidden_field :archivo_adjunto_cache
								-#
									.pl-0.col-2
										= __upload_status(f.object,:archivo_adjunto)
								.col-2
									= __descargar_archivo(f.object.archivo_adjunto,f.object)

						.col-lg-6.col-12.mt-3.presencial{class: @convocatoria.virtual? ? 'd-none' : ''}
							%div#map{style: "height: 300px;"}
				%hr
				.card-body
					.row
						.col-12
							.form-inputs
								= f.input :mensaje_encabezado, label: t(:asunto_del_mensaje), readonly: false, required: true, input_html: {class: 'required-field'}
								/%input{type: "hidden", id: "encabezado_base", value: @encabezado}
								= f.input :mensaje_cuerpo, label: t(:mensaje), as: :text, readonly: false, required: true, input_html: { class: 'required-field', rows: 10}
								/%input{type: "hidden", id: "mensaje_base", value: @cuerpo_mensaje}

	.row
		.col-12
			.card
				.card-header
					%h5.no-margin=t(:destinatarios)
				.card-body
					%table.table.table-striped.destinatarios
						%thead
							%tr
								%th
									= check_box_tag :seleccionar, '', false, class: "not-required-if-other-like-me-is-present"
								%th=t(:nombre)
								%th=t(:rut)
								%th=t(:instituci贸n)
								%th=t(:rut_instituci贸n)
								%th=t(:rol)
						%tbody
							- @destinatarios.each do |dest|
								%tr
									%td
										= check_box_tag "seleccionados[]", dest[:id], dest[:convocado], class: "not-required-if-other-like-me-is-present"
									%td=dest[:nombre_completo]
									%td=dest[:rut]
									%td=dest[:institucion]
									%td=dest[:rut_institucion]
									%td=dest[:rol]
	.float-right
		- if @tarea.codigo == Tarea::COD_APL_021
			= volver_root
		- else
			= link_to t(:back), tarea_pendiente_convocatorias_path(@tarea_pendiente), class: 'btn btn-warning btn-sm'
		- if !@convocatoria.terminada?
			= button_tag t(:enviar), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled button-send", disabled: :disabled
		%br
		%br
