- solo_lectura = @solo_lectura == 'solo_lectura'
= titulo t(:convocatorias_, item: "#{@tipo.descripcion}")
- if @tarea.codigo == Tarea::COD_APL_016
  - url = termina_etapa_negociacion_manifestacion_de_interes_path(@tarea_pendiente)

  .d-flex.justify-content-between
    = simple_form_for @manifestacion_de_interes, url: url, remote: true, html: { autocomplete: :off } do |f|
      = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-001", t(:guia_practica), tarea_pendiente: @tarea_pendiente, nombre_boton: "Descargar guía práctica para redacción de APL")
      %br
      = link_to '#', "data-toggle"=>:modal, "data-target"=>"#terminar-negociacion-acuerdo", class: 'btn btn-sm btn-primary margin-bottom-20' do
        %i.fa.fa-file-text-o
        =t(:iniciar_proceso_de_consulta_pública)
		 
      = render 'terminar_negociacion_acuerdo', f: f, comentarios_y_observaciones_negociacion_acuerdo: @comentarios
    %div
      -if !@manifestacion_de_interes.detenido
        = link_to '#', "data-toggle"=>:modal, "data-target"=>"#detener-acuerdo", class: 'btn btn-sm btn-danger margin-bottom-20' do
          %i.fa.fa-file-text-o
          =t(:detener_acuerdo)
        = render 'actualizar_comite_acuerdos/detener_acuerdo', remote: true
      = link_to  descargar_compilado_adjuntos_path(tarea_pendiente_id:@tarea_pendiente.id, codigo: @tarea.codigo.to_s[-3..-1]), class: 'btn btn-sm btn-primary margin-bottom-20' do
        %i.fa.fa-download
        =t(:descargar_compilado_archivos)
-# Si la tarea es de código 011 o 030 solo aparece boton de descargar y no el de terminar acuerdo.
- if @tarea.codigo == Tarea::COD_APL_011 || @tarea.codigo == Tarea::COD_APL_030
  .d-flex.justify-content-between
    %div
      = link_to  descargar_compilado_adjuntos_path(tarea_pendiente_id:@tarea_pendiente.id, codigo: @tarea.codigo.to_s[-3..-1]), class: 'btn btn-sm btn-primary margin-bottom-20' do
        %i.fa.fa-download
        =t(:descargar_compilado_archivos)

- if !solo_lectura
  = link_to t(:agregar_, item: t(:convocatoria).downcase), new_tarea_pendiente_convocatoria_path(@tarea_pendiente), class: 'btn btn-sm btn-primary margin-bottom-20 btn-sm'
#convocatorias-remote-table
  = render 'table_convocatorias'
.float-right
  = link_to t(:volver), root_path, class: 'btn btn-sm btn-warning'

