
.row  
  .col-12.col-lg-4
    = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-001", nil, tarea_pendiente: @tarea_pendiente, nombre_boton: "Descargar guía práctica para redacción de APL")
%br
/ ================= VIGENCIA APL =================
.card.mb-4
  .card-header
    %h5.no-margin= t(:vigencia_acuerdo)
  .card-body
    .row.mt-3
      .col-12.col-md-6
        = f.input :plazo_vigencia_acuerdo,
          as: :string,
          input_html: { class: 'numero required' },
          label: t(:vigencia_del_acuerdo_anios)

/ ================= MECANISMO IMPLEMENTACIÓN =================
.card.mb-4
  .card-header
    %h5.no-margin= t(:mecanismo_de_adhesión_implementación_y_evaluación_de_cumplimiento)
  .card-body
    .row.mt-3
      .col-12
        %label.form-label
          = t(:plazo_de_implemetación_y_certificación)

        = f.input :tipo_acuerdo,
          as: :radio_buttons,
          collection: InformeAcuerdo.tipo_acuerdos.keys.map { |w| [ w == "desde_firma_acuerdo" ? "Desde resolución ASCC que aprueba APL" : t(w), w ] },
          label: false,
          input_html: { class: 'mr-2' }

    .row.mt-3
      .col-12.col-lg-6
        = f.input :plazo_maximo_adhesion,
          label: t(:plazo_máximo_adhesión_en_meses),
          input_html: { class: "numero required" },
          as: :string


      .col-12.col-lg-6
        = f.input :plazo_finalizacion_implementacion,
          label: t(:plazo_finalización_implementación),
          input_html: { class: "numero required", value: f.object.plazo_finalizacion_implementacion.presence || f.object.manifestacion_de_interes.flujo.plazo_maximo_acciones_meses }, as: :string

    / ================= AUDITORÍAS =================
    .card.mt-4
      .card-header.d-flex.justify-content-between.align-items-center
        %strong= t(:auditorías)
        %button.btn.btn-sm.btn-outline-primary.add-auditoria{ type: "button" }
          %i.fa.fa-plus
          = t(:agregar)

      .card-body.p-0
        .table-responsive
          %table.table.table-sm.table-striped.table-bordered#tabla_auditoria
            %thead.thead-light
              %tr
                %th= t(:auditoría)
                %th.text-center= t(:plazo_apertura_meses)
                %th.text-center= t(:plazo_cierre_meses)
                %th.text-center= t(:certificable_si_no)
                %th.text-center= t(:con_validación)
                %th.text-center= t(:final)
                %th.text-center= t(:mantención)
                %th

            %tbody
              - @auditorias.each_with_index do |aud, index|
                -begin
                  -id = aud.id
                  -id_real = id
                  -nombre = aud.nombre
                  -plazo_apertura = aud.plazo_apertura
                  -plazo_cierre = aud.plazo_cierre
                  -con_cert = aud.con_certificacion?
                  -con_val = aud.con_validacion?
                  -final = aud.final?
                  -con_man = aud.con_mantencion?
                -rescue
                  -id = "id_temporal_#{index}"
                  -id_real = 'no'
                  -nombre = aud[:nombre]
                  -plazo_apertura = aud[:plazo_apertura]
                  -plazo_cierre = aud[:plazo_cierre]
                  -con_cert = aud[:con_certificacion] == "true"
                  -con_val = aud[:con_validacion] == "true"
                  -final = aud[:final] == "true"
                  -con_man = aud[:con_mantencion] == "true"

                %tr.auditoria-row{"data-id" => id}
                  %td
                    = text_field_tag "informe_acuerdo[auditorias][#{id}][nombre]",
                      nombre,
                      class: "form-control",
                      onchange: "cambio_nombre_auditoria('#{id}');"

                  %td.text-center
                    = text_field_tag "informe_acuerdo[auditorias][#{id}][plazo_apertura]",
                      plazo_apertura,
                      class: "form-control numero"

                  %td.text-center
                    = text_field_tag "informe_acuerdo[auditorias][#{id}][plazo_cierre]",
                      plazo_cierre,
                      class: "form-control numero"

                  %td.text-center
                    = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_certificacion]", false
                    = check_box_tag "informe_acuerdo[auditorias][#{id}][con_certificacion]", true, con_cert,
                      class: "con-certificacion",
                      onclick: "certificacion_activa_validacion('#{id}');"

                  %td.text-center
                    = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_validacion]", false
                    = check_box_tag "informe_acuerdo[auditorias][#{id}][con_validacion]", true, con_val,
                      class: "con-validacion",
                      disabled: !con_cert

                  %td.text-center
                    = hidden_field_tag "informe_acuerdo[auditorias][#{id}][final]", false
                    = radio_button_tag "informe_acuerdo[auditorias][#{id}][final]", true, final,
                      class: "auditoria-final",
                      onclick: "solo_una_auditoria_final('#{id}');"

                  %td.text-center
                    = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_mantencion]", false
                    = check_box_tag "informe_acuerdo[auditorias][#{id}][con_mantencion]", true, con_man,
                      class: "con-mantencion",
                      readonly: !final

                  %td.text-center
                    = hidden_field_tag "informe_acuerdo[auditorias][#{id}][id]", id_real, class: 'auditoria-id'
                    = link_to '#', class: 'text-danger', onclick: "remover_auditoria('#{id}',event);" do
                      %i.fa.fa-times-circle

/ ================= VIGENCIA CERTIFICACIÓN =================
.card.mb-4
  .card-header
    %h5.no-margin= t(:vigencia_certificación) 
  .card-body
    .row.mt-3
      .col-12.col-md-6
        = f.input :vigencia_certificacion_final,
          label: t(:vigencia_certificación_final),
          input_html: { class: "numero-1-7 required" },
          as: :string

    .row.mt-3#auditorias-vigencia
      - @auditorias.each_with_index do |aud, index|
        -begin
          -id = aud.id
          -nombre = aud.nombre
          -plazo = aud.plazo
          -auditoria_niveles = aud.auditoria_niveles
          -con_cert = aud.con_certificacion?
          -final = aud.final?
        -rescue
          -id = "id_temporal_#{index}"
          -nombre = aud[:nombre]
          -plazo = aud[:plazo]
          -auditoria_niveles = (aud[:auditoria_niveles].values rescue [])
          -con_cert = aud[:con_certificacion] == "true"
          -final = aud[:final] == "true"

        - if con_cert && !final
          = render 'form_auditoria_vigencia',
            aud_id: id,
            nombre: nombre,
            plazo: plazo,
            auditoria_niveles: auditoria_niveles

/ ================= CARGAR INFORME =================
.card.mb-4
  .card-header
    %h5.no-margin= t(:cargar_informe)
  .card-body
    .row.mt-3
      .col-lg-12.col-12
        .row  
          .col-12.col-lg-4
            = f.input :archivo_informe, as: :file, input_html: { class: 'form-control required-field' }, label: t(:subir_informe), required: true
          .col-12.col-lg-4
            = __descargar_archivo(f.object.archivo_informe,f.object)
            -#
              = __upload_status(f.object,:archivo_informe)