:javascript
  $(document).ready(function(){
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('#manifestacion_de_interes_current_tab').val($(this).attr('id'));
      if($(this).attr('id') === "construccion-informe-remote-form-tab"){
        $('.loading-data').show();
        $.ajax({
          url: "#{reload_informe_manifestacion_de_interes_path(@tarea_pendiente, @manifestacion_de_interes)}",
          type: "POST"
        }).success(function() {
          $('.loading-data').hide();
          console.log("carga realizada");
        }).error(function(jqXHR, textStatus, errorThrown){
          $('.loading-data').hide();
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        });
      }
    });
  });
- titulo t(:manifestación_de_acuerdo)
.float-right
  = link_to t(:back), root_path, class: 'volver-desde-mapa-de-actores-link btn btn-sm btn-warning ml-1'
- (@tab_metas.present? && @tab_metas) ? tabs = { "mapa-de-actores": false, "set-metas-accion": true, "construccion-informe-remote-form": false  } : tabs = { "mapa-de-actores": true, "set-metas-accion": false, "construccion-informe-remote-form": false } # DZC 2018-11-05 12:35:08 se agrega para posicionar la vista en la pestaña set de metas y acciones  
#tab-menu-controls.mb-0.mt-3{:role => "tabpanel"}
  %ul#manifestacion.nav.nav-tabs{:role => "tablist"}
    - tabs.each do |tab,active|
      %li.nav-item
        %a.nav-link{id: "#{tab}-tab", class: (:active if active), "aria-controls" => tab, "aria-expanded" => "true", "data-toggle" => "tab", :href => "##{tab}", :role => "tab"}
          =t(tab.to_s.gsub('-remote-form','').gsub('-','_'))
#manifestacionContent.tab-content
  #mapa-de-actores.tab-pane.fade{"aria-expanded" => tabs[:"mapa-de-actores"], "aria-labelledby" => "mapa-de-actores-tab", :role => "tabpanel", class: ("show active" if tabs[:"mapa-de-actores"])}
    .card
      .card-body.p-0
        #actores-remote-table
          = render 'actores/table'
        #actualizar-remote-form
          = render 'actores/form', externo: true
  #set-metas-accion.tab-pane.fade{"aria-expanded" => tabs[:"set-metas-accion"], "aria-labelledby" => "set-metas-accion-tab", :role => "tabpanel", class: ("show active" if tabs[:"set-metas-accion"])}
    .card
      .card-body.p-0
        #propuestas-de-acuerdo-remote-table
          = render 'set_metas_acciones/table', externo: true
        -# Para evitar confusiones, este modal debería ir dentro de 'set_metas_acciones/table' pero el re-render produce errores
        = render 'set_metas_acciones/modal'
  #construccion-informe-remote-form.tab-pane.fade{"aria-expanded" => tabs[:"construccion-informe-remote-form"], "aria-labelledby" => "construccion-informe-remote-form-tab", :role => "tabpanel", class: ("show active" if tabs[:"construccion-informe-remote-form"])}