%tr.auditoria-row{"data-id" => 'id_temporal'}

  %td
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][nombre]",
      nil,
      class: "form-control",
      onchange: "cambio_nombre_auditoria('id_temporal');"

  %td.text-center
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][plazo_apertura]",
      nil,
      class: "form-control numero"

  %td.text-center
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][plazo_cierre]",
      nil,
      class: "form-control numero"

  %td.text-center
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][con_certificacion]", false
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_certificacion]", true, false,
      class: "con-certificacion",
      onclick: "certificacion_activa_validacion('id_temporal');"

  %td.text-center
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][con_validacion]", false
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_validacion]", true, false,
      class: "con-validacion",
      disabled: true

  %td.text-center
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][final]", false
    = radio_button_tag "informe_acuerdo[auditorias][id_temporal][final]", true, false,
      class: "auditoria-final",
      onclick: "solo_una_auditoria_final('id_temporal');"

  %td.text-center
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][con_mantencion]", false
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_mantencion]", true, false,
      class: "con-mantencion",
      readonly: true

  %td.text-center
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][id]", "no", class: "auditoria-id"
    = link_to '#', class: 'text-danger', onclick: "remover_auditoria('id_temporal',event);" do
      %i.fa.fa-times-circle

