:javascript

  $(document).ready(function() {
    iniciarAutoNumeric();
    $(".modal.reload-previsualizar").on('hide.bs.modal', function () {
      previsualizar();
    });

    $('#informe_acuerdo_archivos_anexos').change(function (){
      //$('#archivos_cargados').find(".parciales").remove();
      $.each(this.files,function(index, value){
        li = "<tr>";
        li += "<td style='width: 15%;min-width: 15%;max-width: 15%' class='text-center'><input name='por_eliminar[]' type='checkbox' value='"+this.name+"' /></td>";
        li += "<td class='text-center' style='overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 25%;min-width: 25%;max-width: 25%' title='"+this.name+"'>"+this.name+"</td>";
        li += "<td class='text-center' style='width: 15%;min-width: 15%;max-width: 15%'>";
        li += "<span class='badge badge-pill'>";
        li += "<i class='fa fa-circle-o-notch fa-spin fa-2x'>";
        li += "</span>";
        li += "</td>";
        li += "</tr>";
        $('#archivos_cargados').append(li);
      });
    });

    /*
    $('.calcula-adhesiones-etapa').change(function(){
      var adhesiones = "true";
      var pma = $('#informe_acuerdo_plazo_maximo_adhesion').val();
      var pfi = $('#informe_acuerdo_plazo_finalizacion_implementacion').val();
      if(parseInt(pma) < parseInt(pfi)){
        adhesiones = "false";
      }
      $("input[name='informe_acuerdo[adhesiones]']").val([adhesiones]);
    });
    */

    $("input[name='informe_acuerdo[tipo_acuerdo]']").change(function(){
      //$('#informe_acuerdo_plazo_maximo_adhesion').val("");
      if(this.value == "desde_firma_acuerdo"){
        //$('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('init', {aSep: '', vMin: 0, vMax: 100, mDec: 0, wEmpty: 'empty'});
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('set', '');
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: $('#informe_acuerdo_plazo_finalizacion_implementacion').val()});
      }else{
        //$('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('set', '');
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: 10000000000000});
      }
    });

    $('#informe_acuerdo_plazo_finalizacion_implementacion').on('input paste keyup', function(){
      if($('#informe_acuerdo_tipo_acuerdo_desde_firma_acuerdo').is(":checked")){
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('set', '');
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: this.value});
      }
    });

    $('#informe_acuerdo_vigencia_certificacion_final').change(function(){
      max_value = this.value;
      $('.vigencia-cert-intermedia-plazo').each(function(index, elemento){
        if(parseInt(max_value) < parseInt($(elemento).val())){
          $(elemento).autoNumeric('set', '');
        }
        $(elemento).autoNumeric('update', {vMax: max_value});
      });
    }).trigger("change");

    $('#consultar-button').click(function(e){
      $("input[name='informe_acuerdo[adhesiones]']").removeAttr('disabled');
    });

    $('.add-auditoria').click(function(){
      var id_temporal = 'id_temporal_'+$.now();
      var partial_auditorias = "#{ j render partial: 'form_auditoria'}";
      partial_auditorias = partial_auditorias.replace(/id_temporal/g, id_temporal);
      $('#tabla_auditoria').append(partial_auditorias);
      // $('#tabla_auditoria').append("#{ j render partial: 'form_auditoria'}");
      
      iniciarAutoNumeric();
    });

    mostrar_auditoria_vigencia();
    
  });
:css 
  #previsualizacion { font-size: 10px; }
  #previsualizacion p[style=''] { height: 15px; }
  #previsualizacion br { line-height: 31px; }
.card.m-0
  .card-body
    .row
      .col-12.mb-2
        .row
          .col-12.col-lg-5
            .form-group
              = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-002",tarea_pendiente: @tarea_pendiente, carta_interes: t(:instrucciones_para_auditorías_plazos_y_certificaciones))
      .col-12.col-lg-6
        %ul.list-group
          %li.list-group-item
            ="Partes que suscriben el Acuerdo:"
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-1" do
            %li.list-group-item
              =t(:fundamentos_antecedentes_y_normativas_aplicables)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-2" do
            %li.list-group-item
              =t(:alcance_campo_de_aplicación_y_definiciones)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-3" do
            %li.list-group-item
              =t(:objetivo_general_y_específico)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-10" do
            %li.list-group-item
              =t(:vigencia_del_acuerdo_de_producción_limpia)
          -#
            = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-4" do
              %li.list-group-item
                =t(:mecanismo_de_implementación)
            = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-5" do
              %li.list-group-item
                =t(:mecanismo_de_evaluación_de_cumplimiento)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-11" do
            %li.list-group-item
              =t(:mecanismo_de_adhesión_implementación_y_evaluación_de_cumplimiento)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-12" do
            %li.list-group-item
              =t(:vigencia_certificación)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-6" do
            %li.list-group-item
              =t(:derechos_y_obligaciones_de_las_partes_que_suscriben_el_acuerdo)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-7" do
            %li.list-group-item
              =t(:difusión_promoción_incentivos_y_sanciones)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-8" do
            %li.list-group-item
              =t(:personerías_ejemplares_y_firmas)
          = link_to '#', "data-toggle"=>:modal, "data-target"=>"#modal-9" do
            %li.list-group-item
              =t(:anexos)

      .col-12.col-lg-6
        .card
          .card-header
            %h5.no-margin.float-left
              = t(:previsualización)
          .card-body.table-responsive
            #previsualizacion_base{style: "font-size: 11px; min-width: 450px; height: 600px"}
              = render 'informe'
    = simple_form_for @informe, url: guardar_informe_manifestacion_de_interes_path(@tarea_pendiente,@manifestacion_de_interes), remote: true, method: :patch do |f|
      = render 'modal_1', f: f
      = render 'modal_2', f: f
      = render 'modal_3', f: f
      =# render 'modal_4', f: f
      =# render 'modal_5', f: f
      = render 'modal_6', f: f
      = render 'modal_7', f: f
      = render 'modal_8', f: f
      = render 'modal_9', f: f
      = render 'modal_10', f: f
      = render 'modal_11', f: f
      = render 'modal_12', f: f
      = render 'modal_asociar_estandar'
      .float-right
        = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary"

              
