.modal.fade.reload-previsualizar{id: :"modal-11", tabindex: "-1", role: :dialog, "aria-labelledby": :modal4Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-xxl.animated{role: :document}
    .modal-content
      .modal-header
        =t(:mecanismo_de_adhesión_implementación_y_evaluación_de_cumplimiento)
      .modal-body
        .row
          .col-12.col-lg-6
            = f.input :mecanismo_de_implementacion, label: t(:mecanismo_de_adhesión_implementación_y_evaluación_de_cumplimiento), as: :ckeditor, input_html: {value: @datos["mecanismo_de_implementacion"], ckeditor: {height: 300}}
          .col-12.col-lg-6
            .row
              .col-12
                = f.label t(:palabras_claves)
                %br
                  - InformeAcuerdo.palabras_claves("mecanismo_de_implementacion").keys.each do |palabra|
                    ="[#{palabra}] "
              .col-12.mt-2
                = f.label t(:plazo_de_implemetación_y_certificación)
                = f.input :tipo_acuerdo, as: :radio_buttons, collection: InformeAcuerdo.tipo_acuerdos.keys.map { |w| [t(w), w] }, label: false, input_html: { class: 'mr-2'}
              .col-12.col-lg-6
                = f.input :plazo_maximo_adhesion, label: t(:plazo_máximo_adhesión_en_meses), input_html: { class: "numero required" }, as: :string
              .col-12.col-lg-6
                = f.input :plazo_finalizacion_implementacion, label: t(:plazo_finalización_implementación), input_html: {class: "numero required", value: f.object.manifestacion_de_interes.flujo.plazo_maximo_acciones_meses }, as: :string
              .col-12
                .card.mt-2
                  .card-header
                    %label.control-label=t(:auditorías)
                    = link_to '#', class: 'pull-right add-auditoria' do
                      %i.fa.fa-plus-circle
                      = t(:agregar)
                  .card-body.p-0
                    .table-responsive
                      %table.table.table-striped.table-bordered#tabla_auditoria
                        %thead
                          %tr
                            %th=t(:auditoría)
                            %th=t(:plazo_apertura_meses)
                            %th=t(:plazo_cierre_meses)
                            %th=t(:certificable_si_no)
                            %th=t(:con_validación)
                            %th=t(:final)
                            %th=t(:mantención)
                            %th
                        %tbody
                          - @auditorias.each_with_index do |aud, index|
                            -begin
                              -id = aud.id
                              -id_real = id
                              -nombre = aud.nombre
                              -plazo_apertura = aud.plazo_apertura
                              -plazo_cierre = aud.plazo_cierre
                              -con_cert = aud.con_certificacion?
                              -con_val = aud.con_validacion?
                              -final = aud.final?
                              -con_man = aud.con_mantencion?
                            -rescue
                              -id = 'id_temporal_'+index.to_s
                              -id_real = 'no'
                              -nombre = aud[:nombre]
                              -plazo_apertura = aud[:plazo_apertura]
                              -plazo_cierre = aud[:plazo_cierre]
                              -con_cert = aud[:con_certificacion] == "true"
                              -con_val = aud[:con_validacion] == "true"
                              -final = aud[:final] == "true"
                              -con_man = aud[:con_mantencion] == "true"

                            %tr.auditoria-row{"data-id" => id}
                              %td
                                = text_field_tag "informe_acuerdo[auditorias][#{id}][nombre]", nombre, {class: "form-control informe_acuerdo_auditoria_nombre", onchange: "cambio_nombre_auditoria('#{id}');"}
                              %td{style: "width:70px;min-width:70px;max-width:70px;"}
                                = text_field_tag "informe_acuerdo[auditorias][#{id}][plazo_apertura]", plazo_apertura, class: "form-control numero"
                              %td{style: "width:70px;min-width:70px;max-width:70px;"}
                                = text_field_tag "informe_acuerdo[auditorias][#{id}][plazo_cierre]", plazo_cierre, class: "form-control numero"
                              %td
                                = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_certificacion]", false
                                = check_box_tag "informe_acuerdo[auditorias][#{id}][con_certificacion]", true, con_cert, {class: "form-control con-certificacion", onclick: "certificacion_activa_validacion('#{id}');"}
                              %td
                                = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_validacion]", false
                                = check_box_tag "informe_acuerdo[auditorias][#{id}][con_validacion]", true, con_val, class: "form-control con-validacion", disabled: !con_cert
                              %td
                                = hidden_field_tag "informe_acuerdo[auditorias][#{id}][final]", false
                                = radio_button_tag "informe_acuerdo[auditorias][#{id}][final]", true, final, {class: "form-control auditoria-final", onclick: "solo_una_auditoria_final('#{id}');"}
                              %td
                                = hidden_field_tag "informe_acuerdo[auditorias][#{id}][con_mantencion]", false
                                = check_box_tag "informe_acuerdo[auditorias][#{id}][con_mantencion]", true, con_man, {class: "form-control auditoria-final con-mantencion", readonly: !final}
                              %td
                                = hidden_field_tag "informe_acuerdo[auditorias][#{id}][id]", id_real, class: 'auditoria-id'
                                = link_to '#', {class: 'remove-auditoria', onclick: "remover_auditoria('#{id}');"} do
                                  %i.fa.fa-times-circle.link-to-remove-row
      .modal-footer
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar
