.modal.fade.reload-previsualizar{id: :"modal-4", tabindex: "-1", role: :dialog, "aria-labelledby": :modal4Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-xxl.animated{role: :document}
    .modal-content
      .modal-header
        =t(:mecanismo_de_implementación)
      .modal-body
        .row
          .col-12.col-lg-6
            = f.input :mecanismo_de_implementacion, label: t(:mecanismo_de_implementación), as: :ckeditor, input_html: {value: @datos["mecanismo_de_implementacion"], ckeditor: {height: 300}}
          .col-12.col-lg-6
            .col-12
              = f.label t(:palabras_claves)
              %br
                - InformeAcuerdo.mecanismo_implementacion_palabras_claves.keys.each do |palabra|
                  ="[#{palabra}] "
            .col-12
              = f.label t(:tipo_acuerdo)
              = f.input :tipo_acuerdo, as: :radio_buttons, collection: InformeAcuerdo.tipo_acuerdos.keys.map { |w| [w.humanize, w] }, label: false
            .col-12
              = f.input :plazo_maximo_adhesion, label: t(:plazo_máximo_adhesión_en_meses), input_html: { class: "calcula-adhesiones-etapa numero" }, as: :string
            .col-12
              = f.input :plazo_finalizacion_implementacion, label: t(:plazo_finalización_implementación), input_html: {class: "calcula-adhesiones-etapa numero" }, as: :string
            .col-12
              .card
                .card-header
                  =t(:auditorías)
                  = link_to '#', class: 'pull-right add-auditoria' do
                    %i.fa.fa-plus-circle
                    = t(:agregar).downcase
                .card-body.p-0
                  %table.table.table-striped.table-bordered#tabla_auditoria
                    %thead
                      %tr
                        %th
                        %th=t(:auditoría_intermedia)
                        %th=t(:plazo)
                        %th=t(:certificable_si_no)
                        %th=t(:con_validación)
                        %th=t(:final)
                    %tbody
                      - @auditorias.each do |aud|
                        %tr
                          %td
                            = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][id]", aud.id
                            = link_to '#', class: 'remove-auditoria' do
                              %i.fa.fa-times-circle.link-to-remove-row
                          %td
                            = text_field_tag "informe_acuerdo[auditorias][#{aud.id}][nombre]", aud.nombre, class: "form-control informe_acuerdo_auditoria_nombre"
                          %td{style: "max-width:70px"}
                            = text_field_tag "informe_acuerdo[auditorias][#{aud.id}][plazo]", aud.plazo, class: "form-control numero"
                          %td
                            = check_box_tag "informe_acuerdo[auditorias][#{aud.id}][con_certificacion]", true, aud.con_certificacion?, class: "form-control con-certificacion" 
                          %td
                            = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][con_validacion]", false
                            = check_box_tag "informe_acuerdo[auditorias][#{aud.id}][con_validacion]", true, aud.con_validacion?, class: "form-control con-validacion", disabled: !aud.con_certificacion?
                          %td
                            = radio_button_tag "informe_acuerdo[auditorias][#{aud.id}][final]", true, aud.final?, class: "form-control"
      .modal-footer
        -#
          %button.btn.btn-secondary{disabled: true}
            Seleccionar otro acuerdo como base
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar
