.modal.fade{id: :"modal-5", tabindex: "-1", role: :dialog, "aria-labelledby": :modal5Label, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-xl.animated{role: :document}
    .modal-content
      .modal-header
        =t(:mecanismo_de_evaluación_de_cumplimiento)
      .modal-body
        .row
          .col-12.col-lg-6
            = f.input :mecanismo_evaluacion_cumplimiento, label: t(:mecanismo_de_evaluación_de_cumplimiento), as: :ckeditor, input_html: {value: @datos["mecanismo_evaluacion_cumplimiento"], ckeditor: {height: 300}}
          .col-12.col-lg-6
            .col-12
              = f.label t(:palabras_claves)
              %br
                - InformeAcuerdo.mecanismo_evaluacion_palabras_claves.keys.each do |palabra|
                  ="[#{palabra}] "
            .col-12
              = f.input :plazo_maximo_neto, as: :integer, input_html: {class: 'numero-natural', value: @datos["plazo_maximo_neto"]}, label: t(:plazo_maximo_neto_iniciar_certificacion_final)
            .col-12
              = f.input :plazo_maximo, as: :integer, input_html: {class: 'numero-natural', value: @datos["plazo_maximo"]}, label: t(:plazo_maximo_iniciar_certificacion_final)
            .col-12
              %label.control-label
                = t(:hay_adhesiones_durante_esta_etapa)
              .form-inline
              = f.label t(:sí)
              = f.radio_button :adhesiones, true, disabled: true, readonly: true
              = f.label t(:no)
              = f.radio_button :adhesiones, false, disabled: true, readonly: true
      .modal-footer
        -#
          %button.btn.btn-secondary{disabled: true}
            Seleccionar otro acuerdo como base
        %button.btn.btn-primary.terminar-button{type: :button, "data-dismiss"=>:modal}
          Terminar