- titulo t(:programa_proyecto_propuesta)
= simple_form_for @programa_proyecto_propuesta, url: guardar_revisor_ppf_tarea_pendiente_programa_proyecto_propuesta_path, method: :patch, remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= t(:asignar_revisor)
				.card-body
					.row
						.col-12
							- # DZC 2018-10-03 17:34:09 Se modifica para utilizar el tipo de instrumento de la instancia
							= f.input :revisor_id, collection: @programa_proyecto_propuesta.usuarios_para_lista(Rol::REVISOR_TECNICO), label: t(:revisor), input_html: { class: 'required-field' }, placeholder: "Indique un nombre", required: true             
						.col-12
							= f.input :comentario_al_asignar_revisor, label: t(:comentario_al_asignar_revisor), input_html: { class: 'im-not-required-check-the-others', rows: 4 }, placeholder: "Indique una descripción"
	.float-right
		= link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, id: 'guardar-revisor-button', class: "btn btn-primary btn-sm float-right ml-1 btn-disabled", disabled: :disabled