- titulo t(:programa_proyecto_propuesta)
= simple_form_for @programa_proyecto_propuesta, url: subir_carta_de_apoyo_ppf_tarea_pendiente_programa_proyecto_propuesta_path, method: :patch, remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= t(:subir_carta_de_apoyo)
				.card-body
					.row
						.pr-0.col-md-6.col-10
							= f.input :carta_de_apoyo_coordinador, as: :file, input_html: { class: 'required form-control required-field border-right-0' }, label: t(:carta_de_apoyo)
							= f.hidden_field :carta_de_apoyo_coordinador_cache
						.pl-0.col-2
							= __upload_status(f.object,:carta_de_apoyo_coordinador)
						.col-md-4.col-12
							= __mostrar_descargable(@descargables,'PPF-005-DES-001', {tarea_pendiente: @tarea_pendiente})
	.float-right
		= link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, id: 'guardar-revisor-button', class: "btn btn-primary btn-sm float-right ml-1 btn-disabled", disabled: :disabled