- resultado_mostrados = resultado_mostrados.nil? ? 30 : resultado_mostrados
:javascript
	var blockID=null
	$(document).ready(function() {
		$('body').on('change','.contribuyente-radio',function() {
			parentBlock=$(this).parents("[id^=buscar-contribuyente-]");
			blockID=$(parentBlock).attr('id');
			parentBlock.find('.seleccionar-contribuyente-button').removeAttr('disabled');
			console.log(blockID);
		});

		$('.chosen-control').chosen({
			allow_single_deselect: true,
			no_results_text: 'No se encontraron resultados',
			width: '100%'
		});
		
		$('.seleccionar-contribuyente-button').click(function() {
			if ( blockID == 'buscar-contribuyente-visitas') {
				selector = $("select#programa_proyecto_propuesta_institucion_visitas_id");
				hiddenInput=$('#institucion-visitas-id');
			} else if ( blockID == 'buscar-contribuyente-carga-datos') {
				selector = $("select#programa_proyecto_propuesta_institucion_carga_datos_id");
				hiddenInput=$('#institucion-carga-datos-id');
			}
			try {
				//DZC 2019-06-17 13:44:59 se modifica para considerar el contribuyente que ha sido escogido en otra página
				//data=JSON.parse($('.contribuyente-radio:checked').val());
				data=JSON.parse($('table.contribuyentes').DataTable().$('.contribuyente-radio:checked').val());				
				hiddenInput.val(data.id);
				selector.empty().append("<option value='"+data.id+"'>"+data.razon_social+"</option>");
				checkFieldValidity(hiddenInput);
				$.ajax({
					url: "#{asignar_usuarios_a_cargo_ejecucion_programa_ppf_tarea_pendiente_programa_proyecto_propuesta_path}",
					type: "GET",
					dataType: "script",
					data: { institucion_visita_id: $('#institucion-visitas-id').val(), institucion_carga_datos_id: $('#institucion-carga-datos-id').val() },
					beforeSend: function(){
						loadingParent = $(".loading-data").parent().parent()[0]
						$('.loading-data').height(loadingParent.scrollHeight).show();
						spinner = $('.loading-data > .spinner').css({'display':'block'})
						scrollTop = document.documentElement.scrollTop || document.body.scrollTop
						spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
					}
				}).fail(function(e) {
					alert( "Error: Verifique su conexión a internet y vuelva a intentar"+ "ERROR:"+ e );
					$('.loading-data').hide();
				}).success(function(){
					$('.loading-data').hide();
				});
			} catch(e) {
				alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
			}
		});

		$('#programa_proyecto_propuesta_institucion_visitas_id').change(function() {

		});

		htmlErrorToTooltip('top');
	});


- titulo t(:programa_proyecto_propuesta)
= simple_form_for @programa_proyecto_propuesta, url: guardar_usuarios_a_cargo_ejecucion_programa_ppf_tarea_pendiente_programa_proyecto_propuesta_path, method: :patch, remote: true, html: { autocomplete: :off } do |f|
	.row
		.col-12
			.card
				.card-header
					%h5.no-margin
						= t(:asignar_usuarios_ejecucion_programa)
				.card-body
					.row
						.col-md-6.pr-md-0.col-12
							.row
								.pr-sm-0.col-sm-2.col-12
									- unless @revisando
										= link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente-visitas", class: 'buscar-contribuyente btn-sm btn btn-block mt-lg-3' do
											%i.fa.fa-search-plus.fa-2x
								.pl-sm-0.col-sm-10.col-12
									- instituciones = []
									- institucion = Contribuyente.new
									- unless @programa_proyecto_propuesta.institucion_visitas_id.blank?
										- institucion = @programa_proyecto_propuesta.institucion_visitas
										- instituciones << [institucion.razon_social, institucion.id]
									= f.input :institucion_visitas_id, label: t(:institucion_responsable_de_visitas), collection: instituciones, input_html: { class: 'auto-save float-left', disabled: true}, required: false, prompt: "Seleccione una institución desde el buscador"
									%i.fa.fa-times.deseleccionar-contribuyente
									= f.input :institucion_visitas_id, wrapper: false, as: :hidden, input_html: { id: 'institucion-visitas-id', value: institucion.id}, disabled: @revisando
								.col-12
									= f.input :usuario_visitas_id, label: t(:usuario_responsable_de_realizar_visitas), collection: @visitas, input_html: { class: 'chosen-control', type: :string, "data-placeholder"=>"Seleccione un usuario" }, required: true									
								.col-12
									= f.input :comentarios_visitas, as: :text, label: t(:comentarios_para_responsable_de_realizar_visitas), input_html: { class: 'textarea-in-form' }, placeholder: "Indique un comentario", required: true
						
						.col-md-6.col-12
							.row
								.pr-sm-0.col-sm-2.col-12
									- unless @revisando
										= link_to '#', "data-toggle"=>:modal, "data-target"=>"#buscar-contribuyente-carga-datos", class: 'buscar-contribuyente btn-sm btn btn-block mt-lg-3' do
											%i.fa.fa-search-plus.fa-2x
								.pl-sm-0.col-sm-10.col-12
									- instituciones = []
									- institucion = Contribuyente.new
									- unless @programa_proyecto_propuesta.institucion_carga_datos_id.blank?
										- institucion = @programa_proyecto_propuesta.institucion_carga_datos
										- instituciones << [institucion.razon_social, institucion.id]
									= f.input :institucion_carga_datos_id, label: t(:institucion_responsable_de_cargar_datos_productivos), collection: instituciones, input_html: { class: 'auto-save float-left', disabled: true}, required: false, prompt: "Seleccione una institución desde el buscador"
									%i.fa.fa-times.deseleccionar-contribuyente
									= f.input :institucion_carga_datos_id, wrapper: false, as: :hidden, input_html: { id: 'institucion-carga-datos-id', value: institucion.id}, disabled: @revisando
								.col-12
									= f.input :usuario_carga_datos_id, label: t(:usuario_responsable_de_cargar_datos_productivos), collection: @cargadores, input_html: { class: 'chosen-control', type: :string, "data-placeholder"=>"Seleccione un usuario" }, required: true
								.col-12
									= f.input :comentarios_carga_datos, as: :text, label: t(:comentarios_para_responsable_de_cargar_datos_productivos), input_html: { class: 'textarea-in-form' }, placeholder: "Indique un comentario", required: true
	.float-right
		= link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
		= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Enviando...".html_safe, id: 'guardar-revisor-button', class: "btn btn-primary btn-sm float-right ml-1"# btn-disabled", disabled: :disabled



= render 'admin/contribuyentes/buscador', es_para_seleccion: true, custom_id: "-visitas", data_table: false
= render 'admin/contribuyentes/buscador', es_para_seleccion: true, custom_id: "-carga-datos", data_table: false