- proyecto_minimo_nuevo_anticipo = @proyecto.minimo_nuevo_anticipo
- proyecto_maximo_nuevo_anticipo = @proyecto.maximo_nuevo_anticipo
- no_puede_pedir_anticipo = proyecto_maximo_nuevo_anticipo < proyecto_minimo_nuevo_anticipo
:javascript
  $(document).ready(function() {
    $('#nuevo-anticipo-modal').modal({backdrop:'static',show: false});
  });
= simple_nested_form_for @proyecto, url: seguimiento_fpl_proyecto_proyecto_actividades_nuevo_anticipo_path(@tarea_pendiente,@proyecto), wrapper: :group_with_icon, remote: true, html: { autocomplete: :off } do |f|
  .modal-header
    %h5.modal-title#nuevoAnticipoModalLabel.m-0
      =t(:modificación_anticipo)
  .modal-body
    - if no_puede_pedir_anticipo
      .alert.alert-warning.m-0
        .text-center
          %i.fa.fa-warning.fa-2x
          %p.m-0
            Usted no puede solicitar anticipo
    - else
      .alert.alert-info
        .text-center
          %i.fa.fa-info-circle.fa-2x
          %ul.m-0.p-0.list-style-none
            %li
              %b
                Valor mínimo: #{number_to_currency(proyecto_minimo_nuevo_anticipo)} 
              %small.d-block
                [ Suma del monto garantizado + lo rendido (y en proceso de rendición) ]
            %li
              %b
                Valor máximo: #{number_to_currency(proyecto_maximo_nuevo_anticipo)}
              %small.d-block
                [ Total cofinanciado - lo ya rendido (y en proceso de rendición) + lo anticipado ]
      #nuevo-anticipo-messages-remote-block
      %table.table.table-striped.table-bordered.m-0.table-responsive-lg
        %thead
          %th.total-confinaciamiento=t(:total_confinaciamiento)
          %th.total-transferido=t(:total_transferido_anticipado_más_reembolsado)
          %th.total-garantizado=t(:total_garantizado)
          %th.total-confinaciamiento-rendido=t(:total_confinaciamiento_rendido_más_total_en_proceso_de_rendición)
          %th.total-anticipo_aprobado=t(:total_anticipo_aprobado)
          %th.total-nuevo-anticipo=t(:nuevo_total_anticipo)
        %tbody
          %tr.fields
            %td=number_to_currency(@proyecto.calcular_total_cofinanciamiento)
            %td=number_to_currency(@proyecto.calcular_total_transferido)
            %td=number_to_currency(@proyecto.total_garantizado_no_vencido)
            %td=number_to_currency(@proyecto.calcular_total_cofinanciamiento_rendido_mas_total_en_proceso_de_rendicion)
            %td=number_to_currency(@proyecto.total_anticipo)
            %td= f.input :total_nuevo_anticipo, label: false, as: :string, fa_icon: :dollar, input_html:{ class: 'moneda m-0 required-field' }, wrapper_class: 'm-0', required: true
        
  .modal-footer
    %button.btn.btn-sm.btn-secondary.salir-nuevo-anticipo-modal-button{type: :button, "data-dismiss"=>:modal}
      Salir
    - unless no_puede_pedir_anticipo
      = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'nuevo-anticipo-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled