:javascript
  $(document).ready(function() {
    var glosa_id = 0;
    $(document).on('nested:fieldAdded:actividad_item', function(e){
      $(e.target).find('input.glosa-id').val($(this.activeElement).attr('id'));
      iniciarAutoNumeric()
      eliminarOpciones(e.field)
    });
    $(document).on('nested:fieldRemoved:actividad_item', function(e){
      $(e.target).closest('tr').addClass('nested-row-removed');
      checkFieldValidity($('#proyecto_actividad_nombre'));
    });

    $('.guardar').on('click',function(e){
      //recorro todas las tablas y les asigno la glosa segun el id de la tabla
      e.preventDefault()
      $('.table-striped.m-0').each(function(){
        id = $(this).attr('id');
        glosa_id = id.replace(/#?[a-z]*_?/g,"")
        $("#"+id).find(".glosa_id").val(glosa_id) 
      });
      $('#consultar-button').trigger('click');
    });
    $('.link-add-item').on('click',function(){
      //defino la glosa_id segun el link que presiona
      id = $(this).attr('data-target');
      glosa_id = id.replace(/#?[a-z]*_?/g,"")
    })
    function eliminarOpciones(elemento){
      opcionesEliminar = glosa_id == 1 ? ['2','3'] : (glosa_id == 2 ? ['1'] : [0] )
      // busco todos los select en mi tabla y le elimino valores que no son posibles
      $(elemento).find('select').find('option').each(function(){
        if ( opcionesEliminar.includes($(this).attr('value')) )  {
          $(this).remove();
        }
      })
    }
  });

- titulo @se_esta_creando ? t(:creación_de_actividad) : t(:modificación_de_actividad)
- clase_disabled = @bloqueado ? "disabled" : ""
- url = @se_esta_creando ? seguimiento_fpl_proyecto_proyecto_actividades_path(@tarea_pendiente,@proyecto) : seguimiento_fpl_proyecto_proyecto_actividad_path(@tarea_pendiente,@proyecto,((@proyecto_actividad.id.to_i==0)?params[:id]:@proyecto_actividad))
= simple_nested_form_for @proyecto_actividad, url: url, remote: true, html: { autocomplete: :off}, method: :post do |f|
  - item = f.object.actividad_item
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin
            =t(:actividad)
        .card-body
          .row
            .col-12
              =f.input :nombre, disabled: @bloqueado, input_html: {class: "required-field #{clase_disabled}"}
            .col-6
              = label_tag t(:estado_actividad), nil, class: 'no-form label string control-label disabled'
              = text_field_tag :estado_actividad, @estado_actividad, class: 'form-control disabled', disabled: true
            .col-6
              - fecha_final = f.object.fecha_finalizacion.blank? ? "" : l(f.object.fecha_finalizacion, format: '%d-%m-%Y')
              = f.input :fecha_finalizacion, label: t(:fecha_finalización), disabled: @bloqueado, input_html: { class: "required-field basic-datetimepicker #{clase_disabled}", value: fecha_final}, as: :string
    .col-12
      .card
        .card-header
          %h5.m-0
            = t(:lista_de_, items: t(:items).downcase)
        .card-body
          .tabs-container
            #tab-menu-controls.no-margin{role: :tabpanel}
              %ul#actividad-proyecto.nav.nav-tabs{role: :tablist}
                %li.nav-item
                  %a#rrhh-propio-tab.nav-link.active{"aria-controls": :visibles, "aria-expanded": :true, "data-toggle": :tab, href: "#rrhh-propio", role: :tab}
                    =Glosa.glosa_por_id(1)
                  - errors1 = item.map{|m|m if (m.errors.size>0&&m.glosa_id==1)}.compact.size
                  - if errors1 > 0
                    %small.total-error=errors1
                %li.nav-item
                  %a#rrhh-externo-tab.nav-link{"aria-controls": :ocultos, "aria-expanded": false, "data-toggle": :tab, href: "#rrhh-externo", role: :tab}
                    =Glosa.glosa_por_id(2)
                  - errors2 = item.map{|m|m if m.errors.size>0&&m.glosa_id==2}.compact.size
                  - if errors2 > 0
                    %small.total-error=errors2
                %li.nav-item
                  %a#gastos-operacionales-tab.nav-link{"aria-controls": :ocultos, "aria-expanded": false, "data-toggle": :tab, href: "#gastos-operacionales", role: :tab}
                    =Glosa.glosa_por_id(3)
                  - errors3 = item.map{|m|m if m.errors.size>0&&m.glosa_id==3}.compact.size
                  - if errors3 > 0
                    %small.total-error=errors3
                %li.nav-item
                  %a#gastos-administrativos-tab.nav-link{"aria-controls": :ocultos, "aria-expanded": false, "data-toggle": :tab, href: "#gastos-administrativos", role: :tab}
                    =Glosa.glosa_por_id(4)
                  - errors4 = item.map{|m|m if m.errors.size>0&&m.glosa_id==4}.compact.size
                  - if errors4 > 0
                    %small.total-error=errors4

            #actividad-proyecto-content.tab-content
              #rrhh-propio.rrhh-propio-tab.tab-pane.fade.active.show{"aria-expanded": true, "aria-labelledby": "rrhh-propio-tab", role: :tabpanel}
                .card.append-group.m-0.with-border
                  .card-header.pt-2.pb-2
                    %h5.m-0.float-left
                      = t(:items)
                    - unless @bloqueado
                      = f.link_to_add :actividad_item, data: { target: "#actividad_items_glosa1" }, id: "1", class: 'link-add-item float-right to-add-target' do
                        %i.fa.fa-plus-circle
                        = t(:agregar)
                  .card-body.p-0
                    %table.table.table-striped#actividad_items_glosa1.m-0
                      %thead
                        %tr
                          %th=t(:nombre)
                          %th=t(:tipo_aporte)
                          %th=t(:monto)
                          - unless @bloqueado
                            %th.remove-cell
                      %tbody
                        = f.fields_for :actividad_item, item.map{|m|m if m.glosa_id==1}.compact, :wrapper => false do |ai1|
                          %tr.fields
                            %td.p-0
                              = ai1.input :nombre , label: false, wrapper_class: 'm-0', disabled: @bloqueado, input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}
                            %td.p-0
                              = ai1.input :tipo_aporte_id, collection:  @tipo_aportes.where(id: 1),label: false, label_method: :nombre, include_blank: false, disabled: @bloqueado, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}
                            %td.p-0
                              = ai1.input :monto , label: false, wrapper_class: 'm-0', as: :string, disabled: @bloqueado, input_html: { class: "required-field m-0 rounded-0 moneda #{clase_disabled}"}
                              = ai1.input :estado_tecnica_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :estado_respaldo_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :glosa_id, as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              - unless ai1.object.gb_id.blank?
                                = ai1.input :gb_id, as: :hidden, wrapper: false, input_html: { value: ai1.object.gb_id }
                            - unless @bloqueado
                              %td.remove-cell
                                =ai1.link_to_remove class: 'm-0 text-center' do
                                  %i.fa.fa-times-circle.link-to-remove-row
              #rrhh-externo.rrhh-externo-tab.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "rrhh-externo-tab", role: :tabpanel}
                .card.append-group.m-0
                  .card-header.pt-2.pb-2
                    %h5.m-0.float-left
                      = t(:items)
                    - unless @bloqueado
                      = f.link_to_add :actividad_item, data: { target: "#actividad_items_glosa2" }, id: "2", class: 'link-add-item float-right to-add-target' do
                        %i.fa.fa-plus-circle
                        = t(:agregar)
                  .card-body.p-0
                    %table.table.table-striped#actividad_items_glosa2.m-0
                      %thead
                        %tr
                          %th=t(:nombre)
                          %th=t(:tipo_aporte)
                          %th=t(:monto)
                          - unless @bloqueado
                            %th.remove-cell
                      %tbody
                        = f.fields_for :actividad_item, item.map{|m|m if m.glosa_id==2}.compact, :wrapper => false do |ai1|
                          %tr.fields
                            %td.p-0
                              = ai1.input :nombre , label: false, wrapper_class: 'm-0', disabled: @bloqueado, input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}
                            %td.p-0
                              = ai1.input :tipo_aporte_id, collection:  @tipo_aportes.where(id: [2,3]),label: false, label_method: :nombre, include_blank: false, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}, disabled: @bloqueado
                            %td.p-0
                              = ai1.input :monto , label: false, wrapper_class: 'm-0',as: :string, input_html: { class: "required-field m-0 rounded-0 moneda #{clase_disabled}"}, disabled: @bloqueado
                              = ai1.input :estado_tecnica_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :estado_respaldo_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :glosa_id, as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 2 }
                              - unless ai1.object.gb_id.blank?
                                = ai1.input :gb_id, as: :hidden, wrapper: false, input_html: { value: ai1.object.gb_id }
                            - unless @bloqueado
                              %td.remove-cell
                                =ai1.link_to_remove class: 'm-0 text-center' do
                                  %i.fa.fa-times-circle.link-to-remove-row
              #gastos-operacionales.gastos-operacionales-tab.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "gastos-operacionales-tab", role: :tabpanel}
                .card.append-group.m-0
                  .card-header.pt-2.pb-2
                    %h5.m-0.float-left
                      = t(:items)
                    - unless @bloqueado
                      = f.link_to_add :actividad_item, data: { target: "#actividad_items_glosa3" }, id: "3", class: 'link-add-item float-right to-add-target' do
                        %i.fa.fa-plus-circle
                        = t(:agregar)
                  .card-body.p-0
                    %table.table.table-striped#actividad_items_glosa3.m-0
                      %thead
                        %tr
                          %th=t(:nombre)
                          %th=t(:tipo_aporte)
                          %th=t(:monto)
                          - unless @bloqueado
                            %th.remove-cell
                      %tbody
                        = f.fields_for :actividad_item, item.map{|m|m if m.glosa_id==3}.compact, :wrapper => false do |ai1|
                          %tr.fields
                            %td.p-0
                              = ai1.input :nombre , label: false, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}, disabled: @bloqueado
                            %td.p-0
                              = ai1.input :tipo_aporte_id, collection:  @tipo_aportes,label: false, label_method: :nombre, include_blank: false, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}, disabled: @bloqueado
                            %td.p-0
                              = ai1.input :monto , label: false, wrapper_class: 'm-0',as: :string, input_html: { class: "required-field m-0 rounded-0 moneda #{clase_disabled}"}, disabled: @bloqueado
                              = ai1.input :estado_tecnica_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :estado_respaldo_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :glosa_id, as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 3 }
                              - unless ai1.object.gb_id.blank?
                                = ai1.input :gb_id, as: :hidden, wrapper: false, input_html: { value: ai1.object.gb_id }
                            - unless @bloqueado
                              %td.remove-cell
                                =ai1.link_to_remove class: 'm-0 text-center' do
                                  %i.fa.fa-times-circle.link-to-remove-row
              #gastos-administrativos.gastos-administrativos-tab.tab-pane.fade{"aria-expanded": false, "aria-labelledby": "gastos-administrativos-tab", role: :tabpanel}
                .card.append-group.m-0
                  .card-header.pt-2.pb-2
                    %h5.m-0.float-left
                      = t(:items)
                    - unless @bloqueado
                      = f.link_to_add :actividad_item, data: { target: "#actividad_items_glosa4" }, id: "4", class: 'link-add-item float-right to-add-target' do
                        %i.fa.fa-plus-circle
                        = t(:agregar)
                  .card-body.p-0
                    %table.table.table-striped#actividad_items_glosa4.m-0
                      %thead
                        %tr
                          %th=t(:nombre)
                          %th=t(:tipo_aporte)
                          %th=t(:monto)
                          - unless @bloqueado
                            %th.remove-cell
                      %tbody
                        = f.fields_for :actividad_item, item.map{|m|m if m.glosa_id==4}.compact, :wrapper => false do |ai1|
                          %tr.fields
                            %td.p-0
                              = ai1.input :nombre , label: false, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}, disabled: @bloqueado
                            %td.p-0
                              = ai1.input :tipo_aporte_id, collection:  @tipo_aportes,label: false, label_method: :nombre, include_blank: false, wrapper_class: 'm-0', input_html: { class: "required-field m-0 rounded-0 #{clase_disabled}"}, disabled: @bloqueado
                            %td.p-0
                              = ai1.input :monto , label: false, wrapper_class: 'm-0',as: :string, input_html: { class: "required-field m-0 rounded-0 moneda #{clase_disabled}"} , disabled: @bloqueado          
                              = ai1.input :estado_tecnica_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :estado_respaldo_id , as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 1 }
                              = ai1.input :glosa_id, as: :hidden, disabled: @bloqueado, wrapper: false, input_html: { value: 4, class: 'glosa-id' }
                              - unless ai1.object.gb_id.blank?
                                = ai1.input :gb_id, as: :hidden, wrapper: false, input_html: { value: ai1.object.gb_id }
                            - unless @bloqueado
                              %td.remove-cell
                                =ai1.link_to_remove class: 'm-0 text-center' do
                                  %i.fa.fa-times-circle.link-to-remove-row
  .float-right
    = link_to t(:back), seguimiento_fpl_proyecto_proyecto_actividades_path(@tarea_pendiente,@proyecto), class: 'btn btn-sm btn-warning'
    - unless @bloqueado
      = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled
%br
%br