:javascript
  var fecha_firma = new Date('#{@informe.fecha_firma.strftime("%F")} 00:00:00');
  $(document).ready(function() {

    $('.add-auditoria').click(function(){
      var id_temporal = 'id_temporal_'+$.now();
      var partial_auditorias = "#{ j render('form_auditoria', puede_ver_fecha: (@informe.tipo_acuerdo == 'desde_firma_acuerdo'))}";
      partial_auditorias = partial_auditorias.replace(/id_temporal/g, id_temporal);
      $('#tabla_auditoria').append(partial_auditorias);
      iniciarAutoNumeric();
      set_orden_auditorias();
    });

    $('#informe_acuerdo_vigencia_certificacion_final').change(function(){
      max_value = this.value;
      $('.vigencia-cert-intermedia-plazo').each(function(index, elemento){
        if(parseInt(max_value) < parseInt($(elemento).val())){
          $(elemento).autoNumeric('set', '');
        }
        $(elemento).autoNumeric('update', {vMax: max_value});
      });
    }).trigger("change");

    mostrar_auditoria_vigencia();
    set_orden_auditorias();

    $('.edit_informe_acuerdo').submit(function(){
      $('.auditoria-row input[type="checkbox"], .auditoria-row input[type="radio"]').each(function(index, elem){
        if($(elem).is(':checked')){
          $('input[type="hidden"][name="'+$(elem).prop("name")+'"]').prop('disabled', true);
        }
      });
    });

    if(#{@informe.desde_firma_acuerdo?}){
      $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: $('#informe_acuerdo_plazo_finalizacion_implementacion').val()});
    }else{
      $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: 10000000000000});
    }

    $('#informe_acuerdo_plazo_finalizacion_implementacion').on('input paste keyup', function(){
      if(#{@informe.desde_firma_acuerdo?}){
        if(this.value == "" || parseInt(this.value) < parseInt($('#informe_acuerdo_plazo_maximo_adhesion').val())){
          $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('set', '');
        }
        $('#informe_acuerdo_plazo_maximo_adhesion').autoNumeric('update', {vMax: this.value});
      }
    });

    $('#informe_acuerdo_vigencia_certificacion_final').on('input paste keyup', function(){
      upd_value = this.value;
      $(".vigencia-cert-intermedia-plazo").each(function(index,elem){
        if(upd_value == "" || parseInt(elem.value) > parseInt(upd_value)){
          $(elem).autoNumeric('set', '');
        }
        $(elem).autoNumeric('update', {vMax: upd_value});
      });
    });

    $('#informe_acuerdo_plazo_vigencia_acuerdo').on('input paste keyup', function(){
      plazo_vigencia_fecha = new Date(fecha_firma.getFullYear(), fecha_firma.getMonth(), fecha_firma.getDate());
      if(this.value != ""){
        plazo_vigencia_fecha.setFullYear(plazo_vigencia_fecha.getFullYear() + parseInt(this.value));
      }
      year = plazo_vigencia_fecha.getFullYear();
      month = ("0"+(plazo_vigencia_fecha.getMonth()+1)).slice("-2");
      day = ("0"+plazo_vigencia_fecha.getDate()).slice("-2");
      $('#informe_acuerdo_fecha_vigencia_acuerdo').val(day+"/"+month+"/"+year);
    });

    $('#informe_acuerdo_plazo_maximo_adhesion').on('input paste keyup', function(){
      plazo_maximo_adhesion_fecha = new Date(fecha_firma.getFullYear(), fecha_firma.getMonth(), fecha_firma.getDate());
      if(this.value != ""){
        plazo_maximo_adhesion_fecha.setMonth(plazo_maximo_adhesion_fecha.getMonth() + parseInt(this.value));
      }
      year = plazo_maximo_adhesion_fecha.getFullYear();
      month = ("0"+(plazo_maximo_adhesion_fecha.getMonth()+1)).slice("-2");
      day = ("0"+plazo_maximo_adhesion_fecha.getDate()).slice("-2");
      $('#informe_acuerdo_fecha_plazo_maximo_adhesion').val(day+"/"+month+"/"+year);
    });

    $('#informe_acuerdo_plazo_finalizacion_implementacion').on('input paste keyup', function(){
      plazo_finalizacion_implementacion_fecha = new Date(fecha_firma.getFullYear(), fecha_firma.getMonth(), fecha_firma.getDate());
      if(this.value != ""){
        plazo_finalizacion_implementacion_fecha.setMonth(plazo_finalizacion_implementacion_fecha.getMonth() + parseInt(this.value));
      }
      year = plazo_finalizacion_implementacion_fecha.getFullYear();
      month = ("0"+(plazo_finalizacion_implementacion_fecha.getMonth()+1)).slice("-2");
      day = ("0"+plazo_finalizacion_implementacion_fecha.getDate()).slice("-2");
      $('#informe_acuerdo_fecha_plazo_finalizacion_implementacion').val(day+"/"+month+"/"+year);
    });

  });

  function certificacion_activa_validacion(id){
    var validacion = $("#informe_acuerdo_auditorias_"+id+"_con_certificacion").closest("tr").find(".con-validacion");
    if($("#informe_acuerdo_auditorias_"+id+"_con_certificacion:checked").length > 0){
      validacion.prop("disabled", false);

      if(!$("#informe_acuerdo_auditorias_"+id+"_final_true:checked").length > 0){
        
        nombre = $("#informe_acuerdo_auditorias_"+id+"_nombre").val();

        //agrego a vigencia
        var partial_auditoria_vigencia = "#{ j render('acuerdo_actores/form_auditoria_vigencia', aud_id: 'aud_id_temp', nombre: 'nombre_temp')}";
        partial_auditoria_vigencia = partial_auditoria_vigencia.replace(/aud_id_temp/g, id);
        partial_auditoria_vigencia = partial_auditoria_vigencia.replace(/nombre_temp/g, nombre);
        $('#auditorias-vigencia').append(partial_auditoria_vigencia);

        iniciarAutoNumeric();
        $('.vigencia-cert-intermedia-plazo').autoNumeric('update', {vMax: $('#informe_acuerdo_vigencia_certificacion_final').val()});
      }

    }else{
      validacion.prop("disabled", true);
      validacion.prop("checked", false);

      $('#auditorias-vigencia .auditoria-row[data-id="'+id+'"]').remove();

    }
    mostrar_auditoria_vigencia();
  }

  function solo_una_auditoria_final(id){
    $('.auditoria-final:checked').not("#informe_acuerdo_auditorias_"+id+"_final_true").each(function(index, elemento){
      $(elemento).prop("checked", false);
      id_descheck = $(elemento).closest("tr").data("id");
      if($("#informe_acuerdo_auditorias_"+id_descheck+"_con_certificacion:checked").length > 0){
        console.log('si entra '+id_descheck);
        nombre = $("#informe_acuerdo_auditorias_"+id_descheck+"_nombre").val();

        //agrego a vigencia
        var partial_auditoria_vigencia = "#{ j render('acuerdo_actores/form_auditoria_vigencia', aud_id: 'aud_id_temp', nombre: 'nombre_temp')}";
        partial_auditoria_vigencia = partial_auditoria_vigencia.replace(/aud_id_temp/g, id_descheck);
        partial_auditoria_vigencia = partial_auditoria_vigencia.replace(/nombre_temp/g, nombre);
        $('#auditorias-vigencia').append(partial_auditoria_vigencia);

        iniciarAutoNumeric();
        $('.vigencia-cert-intermedia-plazo').autoNumeric('update', {vMax: $('#informe_acuerdo_vigencia_certificacion_final').val()});
      }
      
    });
    con_mantencion = $("#informe_acuerdo_auditorias_"+id+"_final_true").closest("tr").find(".con-mantencion");
    if($('.con-mantencion:checked').length == 0 || $('.con-mantencion:checked').prop("id") != con_mantencion.prop("id")){
      $('.con-mantencion').prop("checked", false).prop("disabled", true);
      con_mantencion.prop("disabled", false);
      $('#auditorias-vigencia .auditoria-row[data-id="'+id+'"]').remove();
    }
  }

  function remover_auditoria(id){
    $(".auditoria-row[data-id='"+id+"']").remove();

    mostrar_auditoria_vigencia();
    set_orden_auditorias();
  }

  function mostrar_auditoria_vigencia(){
    if($('#tabla_auditoria .con-certificacion:checked').length == 0){
      $('#div-certificaciones-intermedias').hide();
    }else{
      $('#div-certificaciones-intermedias').show();
    }
  }

  function asociar_estandar(id){
    //aqui muestro el modal con estandares y sus niveles
    $('#modal_asociar_estandar_auditoria_id').val(id);
    $('.modal_asociar_estandar_nivel_id').prop("checked", false);
    $('.auditoria-row[data-id="'+id+'"] .auditoria-niveles .auditoria-nivel-row').each(function(index, elem){
      nivel_id = $(elem).data("id");
      $('input[name="modal_asociar_estandar['+nivel_id+'][id]"]').prop("checked", true);
    });
    $('#modal-asociar-estandar').modal("show");
  }



  function anadir_estandar(){
    aud_id = $('#modal_asociar_estandar_auditoria_id').val();
    $('.modal_asociar_estandar_nivel_id:checked').each(function(index, elem){
      nivel_id = elem.value;
      if($(".auditoria-row[data-id='"+aud_id+"'] .auditoria-nivel-row[data-id='"+nivel_id+"']").length == 0){
        nombre_estandar = $('input[name="modal_asociar_estandar['+nivel_id+'][nombre_estandar]"]').val();
        nombre_nivel = $('input[name="modal_asociar_estandar['+nivel_id+'][nombre_nivel]"]').val();
        var partial_auditoria_nivel = "#{ j render('acuerdo_actores/form_auditoria_nivel', aud_id: nil, nivel: nil)}";
        partial_auditoria_nivel = partial_auditoria_nivel.replace(/aud_id_temp/g, aud_id);
        partial_auditoria_nivel = partial_auditoria_nivel.replace(/nivel_id_temp/g, nivel_id);
        partial_auditoria_nivel = partial_auditoria_nivel.replace(/nombre_estandar_temp/g, nombre_estandar);
        partial_auditoria_nivel = partial_auditoria_nivel.replace(/nombre_nivel_temp/g, nombre_nivel);
        $('.auditoria-row[data-id="'+aud_id+'"] .auditoria-niveles').append(partial_auditoria_nivel);

        iniciarAutoNumeric();
        $('.vigencia-cert-intermedia-plazo').autoNumeric('update', {vMax: $('#informe_acuerdo_vigencia_certificacion_final').val()});
      }
    });
    $('.auditoria-row[data-id="'+aud_id+'"] .auditoria-niveles .auditoria-nivel-row').each(function(index, elem){
      nivel_id = $(elem).data("id");
      if(!$('input[name="modal_asociar_estandar['+nivel_id+'][id]"]').prop("checked")){
        remover_auditoria_nivel(aud_id, nivel_id);
      }
    });
    $('#modal-asociar-estandar').modal("hide");
  }

  function remover_auditoria_nivel(aud_id, id){
    $(".auditoria-row[data-id='"+aud_id+"'] .auditoria-nivel-row[data-id='"+id+"']").remove();
  }

  function cambio_nombre_auditoria(id){
    nombre = $('#informe_acuerdo_auditorias_'+id+'_nombre').val();
    $('.auditoria-row[data-id="'+id+'"] .nombre-auditoria-vigencia').html(nombre);
  }

  function set_orden_auditorias(){
    $('.auditoria-orden').each(function(index, elemento){
      $(elemento).val(index+1);
    });
  }

  function actualiza_fecha_de_plazo_auditoria(clase, element){
    temp_fecha = new Date(fecha_firma.getFullYear(), fecha_firma.getMonth(), fecha_firma.getDate());
    if(element.value != ""){
      temp_fecha.setMonth(temp_fecha.getMonth() + parseInt(element.value));
    }
    year = temp_fecha.getFullYear();
    month = ("0"+(temp_fecha.getMonth()+1)).slice("-2");
    day = ("0"+temp_fecha.getDate()).slice("-2");
    $(element).siblings('.'+clase).html(day+"/"+month+"/"+year);
  }


.card.m-0
  .card-body
    = simple_form_for @informe, url: guardar_comite_actualizar_acuerdos_actores_manifestacion_de_interes_path(@tarea_pendiente,@manifestacion_de_interes), remote: true, method: :patch do |f|

      .row
        .col-12.mb-3
          .row
            .col-12.col-lg-6
              = __mostrar_descargable(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-002", tarea_pendiente: @tarea_pendiente, carta_interes: t(:instrucciones_para_auditorías_plazos_y_certificaciones))
            .col-12.col-lg-6
              - if !@solo_lectura
                = link_to '#', "data-toggle"=>:modal, "data-target"=>"#terminar-acuerdo", class: 'btn btn-danger btn-outline btn-primary m-0 btn-sm float-left' do
                  %i.fa.fa-file-text-o
                  Terminar Acuerdo
        .col-12
          .card
            .card-header
              %label.control-label Resumen Acuerdo
            .card-body{style: "font-size: 14px;"}
              .row
                .col-12.col-lg-3
                  = f.input :fecha_firma, as: :string, input_html: {value: (@informe.calcula_fecha_firma.strftime("%d/%m/%Y"))}, label: t(:fecha_firma_acuerdo), required: false, disabled: true
                .col-12.col-lg-5
                  = f.label t(:vigencia_acuerdo_anios), class: "mb-1"
                  .row
                    .col-12.col-lg-6.d-flex.align-items-center
                      = f.input :plazo_vigencia_acuerdo, as: :string, label: false, required: true, wrapper: false, input_html: {class: "numero"}
                    .col-12.col-lg-6.d-flex.align-items-center
                      .mr-1.texto-hasta Hasta:
                      = f.input :fecha_vigencia_acuerdo, as: :string, input_html: {value: @informe.fecha_vigencia_acuerdo.strftime("%d/%m/%Y")}, label: false, required: false, disabled: true, wrapper: false
                .col-12.col-lg-4.desactivado_ta
                  = f.label t(:plazos_de_implementación_y_certificación_se_miden_desde), required: false
                  = f.input :tipo_acuerdo, as: :radio_buttons, collection: InformeAcuerdo.tipo_acuerdos.keys.map { |w| [t(w+"_apl_023"), w] }, label: false, checked: @informe.tipo_acuerdo, input_html: {class: 'ta mr-2'}, required: false, disabled: true
                  
              .row.mt-3
                .col-12.col-lg-5
                  = f.label t(:plazo_máximo_adhesión_desde_firma_acuerdo_meses), class: "mb-1"
                  .row
                    .col-12.col-lg-6.d-flex.align-items-center
                      = f.input :plazo_maximo_adhesion, as: :string, label: false, required: true, wrapper: false, input_html: {class: "numero"}
                    .col-12.col-lg-6.d-flex.align-items-center
                      .mr-1.texto-hasta Hasta:
                      = f.input :fecha_plazo_maximo_adhesion, as: :string, input_html: {value: @informe.fecha_plazo_maximo_adhesion.strftime("%d/%m/%Y")}, label: false, required: false, disabled: true, wrapper: false
                .col-12.col-lg-5
                  = f.label t(:plazo_finalización_implementación_meses), class: "mb-1"
                  .row
                    .col-12.col-lg-6.d-flex.align-items-center
                      = f.input :plazo_finalizacion_implementacion, as: :string, label: false, required: true, wrapper: false, input_html: {class: "numero"}
                    .col-12.col-lg-6.d-flex.align-items-center
                      .mr-1.texto-hasta Hasta:
                      = f.input :fecha_plazo_finalizacion_implementacion, as: :string, input_html: {value: @informe.fecha_plazo_finalizacion_implementacion.strftime("%d/%m/%Y")}, label: false, required: false, disabled: true, wrapper: false
        .col-12
          .card
            .card-header
              %label.control-label=t(:auditorías)
              - if !@solo_lectura
                = link_to '#', class: 'pull-right add-auditoria fw-400' do
                  %i.fa.fa-plus-circle
                  = t(:agregar)
            .card-body.p-0
              .table-responsive
                %table.table.table-striped.table-bordered#tabla_auditoria
                  %thead
                    %tr
                      %th=t(:orden)
                      %th=t(:auditoría)
                      %th=t(:plazo_apertura_meses)
                      %th=t(:plazo_cierre_meses)
                      %th=t(:certificable_si_no)
                      %th=t(:con_validación)
                      %th=t(:final)
                      %th=t(:mantención)
                  %tbody
                    - @auditorias.order(created_at: :asc).each do |aud|
                      -puede_editar = true
                      -#if @informe.tipo_acuerdo == "desde_firma_acuerdo"
                        -puede_editar = Date.today <= (@informe.fecha_firma + aud.plazo_cierre.months)
                      -#else
                        -puede_editar = Date.today <= @informe.fecha_plazo_maximo_adhesion
                      %tr.auditoria-row{"data-id" => aud.id}
                        %td{style: "width:70px;min-width:70px;max-width:70px;"}
                          %input.form-control.auditoria-orden{type: :text, disabled: true}
                          = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][id]", aud.id, class: 'auditoria-id'
                        %td
                          = text_field_tag "informe_acuerdo[auditorias][#{aud.id}][nombre]", aud.nombre, {class: "form-control informe_acuerdo_auditoria_nombre", onkeyup: "cambio_nombre_auditoria('#{aud.id}');", readonly: !puede_editar}
                        %td{style: "width:90px;min-width:90px;max-width:90px;"}
                          = text_field_tag "informe_acuerdo[auditorias][#{aud.id}][plazo_apertura]", aud.plazo_apertura, class: "form-control numero", readonly: !puede_editar, onkeyup: "actualiza_fecha_de_plazo_auditoria('plazo_apertura_fecha', this);"
                          -if @informe.tipo_acuerdo == "desde_firma_acuerdo"
                            .plazo_apertura_fecha.mt-2{style: "white-space: nowrap;"}=(@informe.calcula_fecha_firma + aud.plazo_apertura.months).strftime("%d/%m/%Y")
                        %td{style: "width:90px;min-width:90px;max-width:90px;"}
                          = text_field_tag "informe_acuerdo[auditorias][#{aud.id}][plazo_cierre]", aud.plazo_cierre, class: "form-control numero", readonly: !puede_editar, onkeyup: "actualiza_fecha_de_plazo_auditoria('plazo_cierre_fecha', this);"
                          -if @informe.tipo_acuerdo == "desde_firma_acuerdo"
                            .plazo_cierre_fecha.mt-2{style: "white-space: nowrap;"}=(@informe.calcula_fecha_firma + aud.plazo_cierre.months).strftime("%d/%m/%Y")
                        %td
                          = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][con_certificacion]", (!puede_editar && aud.con_certificacion?)
                          = check_box_tag "informe_acuerdo[auditorias][#{aud.id}][con_certificacion]", true, aud.con_certificacion?, class: "form-control con-certificacion", onclick: "certificacion_activa_validacion('#{aud.id}');", disabled: !puede_editar
                        %td
                          = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][con_validacion]", (!puede_editar && aud.con_validacion?)
                          = check_box_tag "informe_acuerdo[auditorias][#{aud.id}][con_validacion]", true, aud.con_validacion?, class: "form-control con-validacion", disabled: (!aud.con_certificacion? || !puede_editar)
                        %td
                          = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][final]", (!puede_editar && aud.final?)
                          = radio_button_tag "informe_acuerdo[auditorias][#{aud.id}][final]", true, aud.final?, {class: "form-control auditoria-final", onclick: "solo_una_auditoria_final('#{aud.id}');", disabled: !puede_editar}
                        %td
                          = hidden_field_tag "informe_acuerdo[auditorias][#{aud.id}][con_validacion]", (!puede_editar && aud.con_mantencion?)
                          = check_box_tag "informe_acuerdo[auditorias][#{aud.id}][con_mantencion]", true, aud.con_mantencion?, {class: "form-control auditoria-final con-mantencion", disabled: (!aud.final? || !puede_editar)}
        .col-12
          .card
            .card-header
              %label.control-label=t(:vigencia_certificación)
            .card-body.p-0
              .row
                .col-12
                  = f.input :vigencia_certificacion_final, label: t(:vigencia_certificación_final), input_html: { class: "numero-1-7" }, as: :string, wrapper_html: {class: "p-3"}
                .col-12#div-certificaciones-intermedias
                  .table-responsive-sm
                    .row#auditorias-vigencia
                      - @auditorias.order(created_at: :asc).each do |aud|
                        -puede_editar = true
                        -if @informe.tipo_acuerdo == "desde_firma_acuerdo"
                          -puede_editar = Date.today <= (@informe.fecha_firma + aud.plazo_cierre.months)
                        -else
                          -puede_editar = Date.today <= @informe.fecha_plazo_maximo_adhesion
                        -if aud.con_certificacion && !aud.final
                          =render 'acuerdo_actores/form_auditoria_vigencia', aud_id: aud.id, nombre: aud.nombre, plazo: aud.plazo, auditoria_niveles: aud.auditoria_niveles, puede_editar: puede_editar
        .col-12
          .card
            .card-header
              %label.control-label=t(:modificaciones)
            .card-body.p-0
              .table-responsive
                %table.table.table-striped.table-bordered
                  %thead
                    %tr
                      %th=t(:nombre_archivo)
                      %th=t(:fecha_modificacion)
                      %th=t(:descargar)
                  %tbody
                    - @informe.archivos_anexos_posteriores_firmas.each_with_index do |aapf, index|
                      %tr
                        %td.text-center{style: "overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 25%;min-width: 25%;max-width: 25%", title: aapf.file.filename}=aapf.file.filename
                        %td.text-center{style: 'width: 15%;min-width: 15%;max-width: 15%'}
                          = @informe.updated_at.strftime("%d/%m/%Y")
                        %td.text-center{style: 'width: 15%;min-width: 15%;max-width: 15%'}
                          = link_to aapf.url do
                            %i.fa.fa-download.fa-2x     
        .col-12
          - if !@solo_lectura
            .float-right
              = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "actualizar-mapa-de-actores-button btn btn-sm btn-primary button-send"
= render 'terminar_acuerdo', remote: true
= render 'acuerdo_actores/modal_asociar_estandar'
