%tr.auditoria-row{"data-id" => 'id_temporal'}
  %td{style: "width:70px;min-width:70px;max-width:70px;"}
    %input.form-control.auditoria-orden{type: :text, disabled: true}
  %td
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][nombre]", nil, {class: "form-control informe_acuerdo_auditoria_nombre", onkeyup: "cambio_nombre_auditoria('id_temporal');"}
  %td{style: "width:70px;min-width:70px;max-width:70px;"}
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][plazo_apertura]", nil, class: "form-control numero"
  %td{style: "width:70px;min-width:70px;max-width:70px;"}
    = text_field_tag "informe_acuerdo[auditorias][id_temporal][plazo_cierre]", nil, class: "form-control numero"
  %td
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_certificacion]", true, false, {class: "form-control con-certificacion", onclick: "certificacion_activa_validacion('id_temporal');"}
  %td
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][con_validacion]", false
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_validacion]", true, false, class: "form-control con-validacion", disabled: true
  %td
    = radio_button_tag "informe_acuerdo[auditorias][id_temporal][final]", true, false, {class: "form-control auditoria-final", onclick: "solo_una_auditoria_final('id_temporal');"}
  %td
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][con_mantencion]", false
    = check_box_tag "informe_acuerdo[auditorias][id_temporal][con_mantencion]", true, false, {class: "form-control con-mantencion", disabled: true}
  %td
    = hidden_field_tag "informe_acuerdo[auditorias][id_temporal][id]", "no"
    = link_to '#', {class: 'remove-auditoria', onclick: "remover_auditoria('id_temporal');"} do
      %i.fa.fa-times-circle.link-to-remove-row