- url = @informe_impacto.new_record? ? informe_impactos_path(@tarea) : informe_impacto_path(@tarea,@informe_impacto)
= simple_form_for(@informe_impacto, remote: true, url: url) do |f|
  .card
    .card-header
      %h5.no-margin=t(:cargar_informe_de_impactos)
    .card-body
      .row
        - class_documento = @informe_impacto.documento.url.blank? ? 'col-md-6 col-sm-12' : 'col-md-5 col-sm-10'
        - unless @informe_impacto.observacion.blank?
          .col-12
            = f.input :observacion, disabled: :disabled, input_html: { disabled: :disabled }
        %div{class: class_documento}
          = f.label :documento
          = f.input :documento, as: :file, label: false, input_html: { class: 'form-control' }
          = f.hidden_field :documento_cache
        - unless @informe_impacto.documento.url.blank?
          .col-md-1.col-sm-2.col-xs-2
            = link_to @informe_impacto.documento.url, target: :_blank do
              %i.fa.fa-download.margin-top-35{title: "Descargar #{@informe_impacto.nombre_documento}"}
        .col-md-1
          %label.string.control-label= t(:público)
          = f.input :publico,label: false, input_html: {class: 'margin-top-10'}
          = f.hidden_field :manifestacion_de_interes_id, input_html: {value: @manifestacion.id}
        .col-md-3
          = f.hidden_field :subida_parcial,value: false
          = f.input :nombre_documento, input_html: { class: 'required-field' }
        .col-md-2
          = link_to  t(:subir_documento),'#', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Subiendo...".html_safe, class: "btn btn-sm btn-primary margin-top-25 upload-document"
        .col-md-12
  .row
    .col-12
      .float-right
        = link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
        = button_tag t(:enviar), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled
  .row.pt-2
    .col-sm-12
      = render 'convocatorias/table_descargables'
    - texto_observacion = @tarea.data[:observacion_tarea_anterior].blank? ? nil : @tarea.data[:observacion_tarea_anterior][Rol::RESPONSABLE_ENTREGABLES]
    - col_siguiente = texto_observacion.blank? ? 'col-md-4 col-sm-12' : 'col-12'
    - unless texto_observacion.blank?
      .col-md-4.col-sm-12
        .card
          .card-header
            %h5.no-margin= t(:observaciones_coordinador)
          .card-body
            = text_area_tag :obs_coordinador, texto_observacion, class: 'form-control disabled min-height-170', readonly: true

    

:javascript
  $(document).ready(function(){
    $('.upload-document').on('click',function(){
      $('#informe_impacto_subida_parcial').val('true');
      $('#consultar-button').attr('disabled',false).trigger('click')
    });
  });