-titulo t(:revisar_informe_de_impactos)
= simple_form_for(@informe_impacto, remote: true, url: dirigir_revision_manifestacion_de_interes_path(@tarea,:aceptar),authenticity_token: true) do |f|
  .card
    .card-header
      .p-1
        %h5.no-margin
          =titulo_instrumento.html_safe
        - if @proyecto.blank?
          %h5.no-margin
            =titulo_acuerdo.html_safe
        - else
          %h5.no-margin
            =titulo_proyecto.html_safe
        %h5.no-margin
          =datos_beneficiario.html_safe
    .card-body
      .row.align-items-end
        .col-lg-4.col-12
          = f.input :nombre_documento, disabled: :disabled, input_html: { disabled: :disabled }
        .col-lg-2.col-12.offset-lg-6.pb-1
          = link_to @informe_impacto.documento.url, target: :_blank, class: 'btn btn-sm btn-primary float-right btn-block' do
            %i.fa.fa-download{title: @informe_impacto.nombre_documento}
            = t(:descargar)
        .col-12.mt-2.mt-lg-0
          = f.input :observacion, input_html: {class: 'required'}, label: t(:observaciones_sobre_el_documento_para_encargado_de_entregar_informe)
  .row
    .col
      .float-right
        = link_to t(:back), root_path, class: 'btn btn-sm btn-warning'
        = button_tag t(:aceptar), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Aceptando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary"
        = link_to t(:rechazar), '#','data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Rechazando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-danger rechazar"
  .row.pt-2
    .col-sm-12
      = render 'convocatorias/table_descargables'
    
:javascript
  $(document).ready(function(){
    $('.rechazar').on('click',function(){
      observaciones = $('#informe_impacto_observacion').val();
      $.ajax({
        url: "#{dirigir_revision_manifestacion_de_interes_path(@tarea,:rechazar)}",
        type: 'POST',
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
        data: {observaciones: observaciones}
      })
    });
  });