.row
  .col-12
    .card
      .card-header
        %h5.no-margin=t(:mis_instrumentos)
        %h5.m-0.float-right
          = link_to t(:volver_a_cargar), admin_gestionar_mis_instrumentos_path, class: 'btn btn-sm btn-primary m-1 btn-sm float-right'
      .card-body.pb-0
        .row.justify-content-left       
          .col-md-3
            = select_tag :apl, options_from_collection_for_select(@apls, "id", "nombre_para_raa", :selected=>@apl), { class: 'form-control',:prompt => 'Seleccione un Acuerdo de Producción Limpia' }
          .col-md-3
            = select_tag :ppf, options_from_collection_for_select(@ppfs, "id", "nombre_para_raa", :selected=>@ppf), { class: 'form-control',:prompt => 'Seleccione un Programa y/o Proyecto de Financiamiento' }  
          .col-md-3
            = select_tag :ppl, options_from_collection_for_select(@ppls, "id", "nombre_para_raa", :selected=>@ppl), { class: 'form-control',:prompt => 'Seleccione una Rendición / Seguimiento' }         
          .col-md-3
            = select_tag :fpl, options_from_collection_for_select(@fpls, "id", "nombre_para_raa", :selected=>@fpl), { class: 'form-control',:prompt => 'Seleccione un Fondo de Producción Limpia' }               
      .card-body.p-0
        .table-responsive.mis-instrumentos
          %table.table.table-bordered.table-striped{style: "margin-top: 0px !important;"}
            %thead
              %tr
                %th=t(:instrumento_tipo)
                %th=t(:subtipo)
                %th=t(:id)                  
                %th=t(:instrumento_nombre)
                %th=t(:roles)
                %th=t(:acciones_actividades_comprometidas)
                %th=t(:auditorias_rendiciones)
                %th=t(:historial)
            %tbody
              - @instancias.each do |ins|
                %tr.accion
                  %td=ins[:tipo_instrumento]
                  %td=ins[:subtipo_instrumento]
                  %td=ins[:id_instrumento]                  
                  %td{style:"max-width: 150px; min-width: 150px; overflow-wrap: break-word;"}=ins[:nombre_instrumento]
                  %td=ins[:roles]
                  - if ins[:acciones_actividades][:url].blank?
                    %td=ins[:acciones_actividades][:texto]
                  - else
                    %td
                      =link_to public_send(ins[:acciones_actividades][:url], ins[:acciones_actividades][:objeto_uno],ins[:acciones_actividades][:objeto_dos]), class: "btn-tabla-instrumentos" do
                        =fa_icon 'eye'
                        =ins[:acciones_actividades][:texto]
                  %td
                    -if ins[:auditorias_rendiciones][:url].blank? && ins[:manifestacion_de_interes_id].blank?
                      =ins[:auditorias_rendiciones][:texto]
                    -elsif !ins[:auditorias_rendiciones][:url].blank?
                      =link_to public_send(ins[:auditorias_rendiciones][:url], ins[:auditorias_rendiciones][:objeto_uno],ins[:auditorias_rendiciones][:objeto_dos]), class: "btn-tabla-instrumentos mb-2" do
                        =fa_icon 'eye'
                        =ins[:auditorias_rendiciones][:texto]
                    -if !ins[:manifestacion_de_interes_id].blank?  
                      =link_to acuerdo_seleccionado_path(acuerdo_id: ins[:manifestacion_de_interes_id]), class: "btn-tabla-instrumentos" do
                        =fa_icon 'eye'
                        Mi Reporte Sustentabilidad
                  %td
                    =link_to cargar_instrumento_admin_historial_instrumentos_path(instrumento: ins[:id_instrumento]), class: "btn-tabla-instrumentos" do
                      =fa_icon 'eye'
                      =t(:ver)
.float-right
  = link_to t(:back), root_path, class: 'btn btn-sm btn-warning ml-1'
  -#
    = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled

:javascript
  $(document).ready(function() {
    $('table.table-bordered').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: true } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      order: [[2, "desc"]],
      fixedHeader: true
    });

    $('.chosen-control').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%'
    });
    htmlErrorToTooltip('top');

    $('#apl').chosen(chosenOptions);
    $('#apl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_gestionar_mis_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { apl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#ppl').chosen(chosenOptions);
    $('#ppl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_gestionar_mis_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { ppl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#fpl').chosen(chosenOptions);
    $('#fpl').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_gestionar_mis_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { fpl: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });
    $('#ppf').chosen(chosenOptions);
    $('#ppf').change(function(){
      $.ajax({
        url: "#{cargar_instrumento_admin_gestionar_mis_instrumentos_path}",
        type: "GET",
        dataType: "script",
        data: { ppf: $(this).val() },
        beforeSend: function(){
          loadingParent = $(".loading-data").parent().parent()[0]
          $('.loading-data').height(loadingParent.scrollHeight).show();
          spinner = $('.loading-data > .spinner').css({'display':'block'})
          scrollTop = document.documentElement.scrollTop || document.body.scrollTop
          spinner.css({'margin-top':window.innerHeight/2+scrollTop-spinner.height()/2});
        }
      }).fail(function() {
        alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
        $('.loading-data').hide();
      }).success(function(){
        $('.loading-data').hide();
      });
    });   
  });