.cover
  .triangle
    .imagen
      =app_helpers.image_tag(app_helpers.wicked_pdf_asset_base64('logo-ascc.png'), width: 250, class: "imagen")
  %table.w-100.h-100
    %tr
      %td.w-50
      %td.w-50
        %div
          .titulo Reporte de cumplimiento APL
          .subtitulo y su aporte a los ODS

.alwaysbreak

.row.mx-4
  .col-12.nobreak
    .pdf-title
      .label=reporte_sustentabilidad.nil? ? 'Introducción' : reporte_sustentabilidad.titulo_intro
      .limiter
        -(0..9).each do |e|
          .red
        -(0..9).each do |e|
          .blue
  .col-12.mb-2.nobreak.ignore-css=reporte_sustentabilidad.nil? ? '' : reporte_sustentabilidad.cuerpo_intro.html_safe

.alwaysbreak

.w-100.intro-pdf.mb-3
  %table.w-100
    %tr
      %td.px-4
        =app_helpers.image_tag(app_helpers.wicked_pdf_asset_base64('logo-ascc.png'), width: '100%')
      %td.w-70.py-4.px-5.borde-izquiedo
        %table.w-100
          -if manifestacion_de_interes.nil?
            %tr
              %td.w-50.pb-3
                .titulo Acuerdos Firmados:
                .detalle=acuerdos_firmados
              %td.w-50.pb-3
                .titulo Empresas adheridas:
                .detalle=empresas_adheridas
            %tr
              %td.w-50
                .titulo Empresas Certificadas:
                .detalle=empresas_certificadas
              %td.w-50
                .titulo Acciones:
                .detalle=acciones
          -else
            %tr
              %td{colspan:2}
                .pdf-title
                  .label=manifestacion_de_interes.nombre_acuerdo
                  .limiter
                    -(0..9).each do |e|
                      .red
                    -(0..9).each do |e|
                      .blue
            %tr
              %td.w-50.pb-3
                .titulo Estado del Acuerdo:
                .detalle=manifestacion_de_interes.estado_acuerdo
              %td.w-50.pb-3
                .titulo Fecha Firma:
                -_firma_fecha = manifestacion_de_interes.firma_fecha_hora.blank? ? manifestacion_de_interes.firma_fecha : manifestacion_de_interes.firma_fecha_hora
                .detalle=(_firma_fecha.blank? ? 'Aún no firmado' : _firma_fecha.strftime("%d-%m-%Y"))
            %tr
              %td.w-50
                .titulo Institución:
                -if contribuyente.nil?
                  .detalle=manifestacion_de_interes.contribuyente.razon_social
                -else
                  .detalle=contribuyente.razon_social
              %td.w-50
                .titulo Fecha creación documento:
                .detalle=Date.today.strftime("%d-%m-%Y")
            -if !adhesion_elemento.nil?
              %tr
                %td{colspan:2, style: "padding-top: 15px;"}
                  .titulo Unidad Funcional:
                  .detalle=adhesion_elemento.nombre_del_elemento_v2



.row.mx-4
  .col-12.nobreak
    .pdf-title
      .label Contribución a los ODS
      .limiter
        -(0..9).each do |e|
          .red
        -(0..9).each do |e|
          .blue
  .col-12.mb-2.nobreak
    %table
      -contribucion_ods.each_slice(3) do |sub_grupo|
        %tr
          -sub_grupo.each do |clasificacion|
            %td.w-33.pr-1.pb-1
              .pdf-flip-card
                %table
                  %tr
                    %td.align-top{colspan: 4}
                      .w-100
                        .flip-card-name.d-inline-block.w-90=clasificacion.nombre
                        .flip-card-icon-back.float-right.d-inline-block.text-center{style: "background-color: #{clasificacion.color};"}
                          -if !clasificacion.icono.nil? && !clasificacion.icono.url.nil?
                            =app_helpers.image_tag(app_helpers.img64(clasificacion.icono.url,request))
                  %tr
                    %td{colspan: 4}
                      .flip-card-description.mb-2=clasificacion.descripcion
                  %tr
                    %td.flip-number.w-25.align-top
                      .number=clasificacion.metas_comprometidas(manifestacion_de_interes, flujos_ids, alcances_ids).count
                      .title Metas
                    %td.flip-number.w-25.align-top
                      .number=clasificacion.set_metas_acciones_comprometidas(manifestacion_de_interes, flujos_ids, alcances_ids).uniq.count
                      .title Acciones
                    -if adhesion_elemento.nil?
                      %td.flip-number.w-25.align-top
                        .number=clasificacion.elementos_comprometidos(manifestacion_de_interes, 'clasificaciones', flujos_ids, elementos_adheridos_ids).count
                        .title Unidades funcionales
          -(sub_grupo.length..2).each do |e|
            %td.w-33.pr-1.pb-1

  .alwaysbreak

  .col-12.nobreak
    .pdf-title
      .label Metas y cumplimientos
      .limiter
        -(0..9).each do |e|
          .red
        -(0..9).each do |e|
          .blue
  .col-12.mb-2.nobreak
    %table
      -metas_cumplimientos.each_slice(3) do |sub_grupo|
        %tr
          -sub_grupo.each do |clasificacion|
            %td.w-33.pr-1.pb-1
              .pdf-flip-card
                %table
                  %tr
                    %td.align-top{colspan: 4}
                      .w-100
                        .flip-card-name.d-inline-block.w-90=clasificacion.nombre
                        .flip-card-icon-back.float-right.d-inline-block.text-center{style: "background-color: #{clasificacion.color};"}
                          -if !clasificacion.icono.nil? && !clasificacion.icono.url.nil?
                            =app_helpers.image_tag(app_helpers.img64(clasificacion.icono.url,request))
                  %tr
                    %td{colspan: 4}
                      .flip-card-description.mb-2=clasificacion.descripcion
                  %tr
                    %td.flip-number.w-25.align-top
                      .number=clasificacion.set_metas_acciones_comprometidas_de_meta(manifestacion_de_interes, flujos_ids, alcances_ids).count
                      .title Acciones
                    %td.flip-number.w-25.align-top
                      .number="#{clasificacion.cumplimiento_promedio(manifestacion_de_interes, 'metas', flujos_ids, elementos_adheridos.to_a)}%"
                      .title Cumplimiento promedio
                    -if adhesion_elemento.nil?
                      %td.flip-number.w-25.align-top
                        .number=clasificacion.elementos_comprometidos(manifestacion_de_interes, 'metas', flujos_ids, elementos_adheridos_ids).count
                        .title Unidades funcionales
          -(sub_grupo.length..2).each do |e|
            %td.w-33.pr-1.pb-1



  .col-12.mb-2.nobreak
    %table.tabla-metas-ods
      %tbody
        %tr
          %td
          -odss.each do |ods|
            %td
              -if !ods.icono.nil? && !ods.icono.url.nil?
                -#%img{src: ods.icono.url, width: 20, height: 20}
                =#wicked_pdf_image_tag(ods.icono.url, width: 20, height: 20)
                =app_helpers.image_tag(app_helpers.img64(ods.icono.url,request), width: 20, height: 20)
        -metas.each do |meta|
          %tr
            %td
              -if !meta[:icono].blank?
                -#%img{src: meta[:icono], width: 20, height: 20}
                =#wicked_pdf_image_tag(meta[:icono], width: 20, height: 20)
                =app_helpers.image_tag(app_helpers.img64(meta[:icono],request), width: 20, height: 20)
            -odss.each do |ods|
              -color = meta[:color]
              -color = '#C4C4C4' if color.nil?
              %td{style: "color: #{color}"}
                -if meta[:clasificaciones].include?(ods.id)
                  -#%i.fa.fa-user{style: "color: #{color};"}
                  =app_helpers.svg_inline('tint-solid.svg', {width: 20, height: 20})
  .col-12.mb-4
    %table
      %tbody
        -metas.each do |meta|
          %tr
            %td
              -if !meta[:icono].blank?
                -#%img{src: meta[:icono], width: 20, height: 20}
                =#wicked_pdf_image_tag(meta[:icono], width: 20, height: 20)
                =app_helpers.image_tag(app_helpers.img64(meta[:icono],request), width: 20, height: 20)
            %td=meta[:nombre]

  -if !manifestacion_de_interes.nil?
    -#
      .col-12.nobreak
        .pdf-title
          .label Resumen certificaciones obtenidas
          .limiter
            -(0..9).each do |e|
              .red
            -(0..9).each do |e|
              .blue
      -niveles.each do |nivel|
        .col-12.nobreak
          .pdf-card-nivel
            %table
              %tr
                %td.w-15
                  -if !nivel[:icono].nil?
                    =app_helpers.image_tag(app_helpers.img64(nivel[:icono],request), height: 120)
                %td
                  .titulo="CERTIFICACIÓN NIVEL #{nivel[:nombre]}"
                  .descripcion=nivel[:descripcion]
                %td.w-15.text-center
                  .numero=nivel[:elementos].length
                  .titulo Elementos
                %td.w-15
                  -if !nivel[:grafica].blank?
                    =app_helpers.image_tag(app_helpers.img64(nivel[:grafica],request), width: '100%', height: '100%')


    .col-12.nobreak
      .pdf-title
        .label Plan de auditorías
        .limiter
          -(0..9).each do |e|
            .red
          -(0..9).each do |e|
            .blue
    .col-12
      %table.tabla-pdf
        %thead
          %tr
            %th="Nombre"
            %th="Fecha inicio"
            %th="Fecha fin"
            %th="Certificación auditoría"
            %th="Validación auditoría"
            %th="Tipo de auditoría"
            %th="Mantención auditoría"

        %tbody
          -auditorias.each do |auditoria|
            -plazo_apertura = auditoria.plazo_apertura.nil? ? 0 : auditoria.plazo_apertura.months
            -plazo_cierre = auditoria.plazo_cierre.nil? ? 0 : auditoria.plazo_cierre.months
            -_firma_fecha = manifestacion_de_interes.firma_fecha_hora.blank? ? manifestacion_de_interes.firma_fecha : manifestacion_de_interes.firma_fecha_hora
            %tr
              %td=auditoria.nombre
              %td=(_firma_fecha.blank? ? '' : (_firma_fecha+plazo_apertura).strftime("%d-%m-%Y"))
              %td=(_firma_fecha.blank? ? '' : (_firma_fecha+plazo_cierre).strftime("%d-%m-%Y"))
              %td=auditoria.con_certificacion ? "Con certificación" : "Sin certificación"
              %td=auditoria.con_validacion ? "Con validación" : "Sin validación"
              %td=auditoria.final ? "Final" : "intermedia"
              %td=auditoria.con_mantencion ? "Con mantención" : "Sin mantención"



    .col-12.nobreak
      .pdf-title
        .label Estado consolidado cumplimiento de acciones / compromisos
        .limiter
          -(0..9).each do |e|
            .red
          -(0..9).each do |e|
            .blue
    -metas_cumplimientos.each_with_index do |clasificacion, _idx|
      .col-12.nobreak
        .pdf-card-clasificacion-padre
          %table.w-100
            %tr
              %td.w-30
                -if !clasificacion.imagen.nil? && !clasificacion.imagen.url.blank?
                  =app_helpers.image_tag(app_helpers.img64(clasificacion.imagen.url,request), width: '100%', height: '220')
              %td.align-top{style: "padding-left: 20px;"}
                .pdf-title
                  .label="Meta #{_idx+1}"
                  .label=clasificacion.nombre
                .descripcion=clasificacion.descripcion
            %tr
              %td{colspan: 2}
                %table.tabla-acciones.mt-3
                  %tr
                    %th.titulo{style: "background-color: #{clasificacion.color}"} Acciones (Unidad funcional a la que aplica)
                    %th.titulo{style: "background-color: #{clasificacion.color};text-align: right;"} Porcentaje cumplimiento
                  -clasificacion.set_metas_acciones_comprometidas_de_meta(manifestacion_de_interes, flujos_ids, alcances_ids).each do |accion|
                    %tr
                      %td{title: accion.descripcion_accion}
                        ="#{accion.accion.nombre}#{(accion.materia_sustancia.blank? ? '' : '/'+accion.materia_sustancia.nombre)}"
                        %label{style: "color: blue;"}="(#{accion.alcance.nombre})"
                      %td{style: "text-align: right;"}
                        -porcentaje_cumple = accion.obtiene_procentaje_cumplimiento(nil, elementos_adheridos_ids).gsub("%","").to_f
                        .porcentaje-avance.d-inline-block.w-50
                          .barra-avance{style: "width: #{porcentaje_cumple}%;"}
                          .texto="#{porcentaje_cumple}%"

    -#
      .col-12.nobreak
        .pdf-title
          .label Certificaciones y detalle de Elementos y vigencia
          .limiter
            -(0..9).each do |e|
              .red
            -(0..9).each do |e|
              .blue
      -niveles.each do |nivel|
        .col-12.nobreak
          .pdf-card-clasificacion-padre
            %table.w-100
              %tr
                %td.w-15
                  -if !nivel[:icono].nil?
                    =app_helpers.image_tag(app_helpers.img64(nivel[:icono],request), height: 120)
                %td
                  .titulo="CERTIFICACIÓN NIVEL #{nivel[:nombre]}"
                  .descripcion=nivel[:descripcion]
                %td.w-15.text-center
                  .numero=nivel[:elementos].length
                  .titulo Elementos
                %td.w-15
                  -if !nivel[:grafica].blank?
                    =app_helpers.image_tag(app_helpers.img64(nivel[:grafica],request), width: '100%', height: '100%')
              %tr
                %td{colspan: 4}
                  %table.tabla-acciones.sin-titulo.mt-3
                    %tr
                      %th.accion Nombre
                      %th.accion Tipo (Alcance)
                      %th.accion Otro dato
                      %th.accion Fecha certificación
                      %th.accion Vigencia certificación
                    -nivel[:elementos].each do |elemento|
                      -fecha_cert = elemento.fecha_certificacion
                      %tr
                        %td=elemento.nombre_segun_alcance
                        %td=elemento.alcance.nombre
                        %td=elemento.otro_dato
                        %td=fecha_cert.strftime("%d-%m-%Y")
                        %td=elemento.vigencia_certificacion(nivel[:plazo], fecha_cert).strftime("%d-%m-%Y")

    -#
      .col-12.nobreak
        .pdf-title
          .label Reporte de Avance
          .limiter
            -(0..9).each do |e|
              .red
            -(0..9).each do |e|
              .blue
      .col-12
        %table.tabla-pdf
          %thead
            %tr
              %th Meta por elemento
              %th Acción
              %th Detalle del medio de verificación
              %th Porcentaje de cumplimiento
          %tbody
            - set_metas_acciones.each do |set_meta_accion|
              %tr
                %td=set_meta_accion.meta.nombre
                %td=set_meta_accion.accion.nombre
                %td=set_meta_accion.detalle_medio_verificacion
                %td=set_meta_accion.obtiene_procentaje_cumplimiento
