.card.mb-0
  .card-header
    = link_to t(:back), admin_gestionar_mis_instrumentos_path, class: 'btn btn-sm btn-warning float-right m-1' 
    %h5.no-margin=titulo_instrumento.html_safe
    %h5.no-margin=titulo_proyecto.html_safe
    %h5.no-margin=datos_beneficiario.html_safe    
  .card-body
    .table-responsive
      %h5.m-0.float-left
        = t(:lista_de_, items: t(:acciones).downcase)  
      %table.table.entregables.table-striped
        %thead
          %tr
            %th=t(:id_establecimiento)
            %th=t(:establecimiento_nombre)
            %th=t(:meta)
            %th=t(:acción)
            %th=t(:materia)
            %th=t(:valor_referencia)
            %th=t(:criterio_inclusión_exclusión)
            %th=t(:descripción_acción)
            %th=t(:detalle_medio_verificación)
            %th=t(:plazo)
            %th=t(:estado)
        %tbody
          - @set_metas_acciones.each do |record|
            - ms = record.materia_sustancia
            %tr.meta-accion
              %td=record.ppf_metas_establecimiento.establecimiento_contribuyente.id
              %td=record.ppf_metas_establecimiento.establecimiento_contribuyente.nombre_de_establecimiento
              %td=record.meta.nombre
              %td=record.accion.nombre
              %td=ms.blank? ? '--' : ms.nombre
              %td=record.valor_referencia
              %td=record.criterio_inclusion_exclusion
              %td=record.descripcion_accion
              %td=record.detalle_medio_verificacion
              %td="#{record.plazo_valor} #{t(record.plazo_unidad_tiempo)}"
              %td.text-center=record.estado_gestionar_instrumentos
:javascript
  var comentario = undefined;
  $(document).ready(function() {
    $('table.entregables').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: [ { targets: [-1], orderable: [1] } ],
      language: {
        url: "#{asset_path('spanish.json')}"
      }, 

    });
  });