- custom_id = custom_id.blank? ? nil : custom_id
- data_table = data_table.nil? ? true : data_table
-#DZC agregado por nosotros
- es_maquinaria = es_maquinaria.blank? ? false : es_maquinaria
-#DZC
- es_para_seleccion = es_para_seleccion.blank? ? false : es_para_seleccion
- seleccion_basica = seleccion_basica.nil? ? false : seleccion_basica
- buscar_por_actividad_economica = buscar_por_actividad_economica.blank? ? false : buscar_por_actividad_economica
- resultado_mostrados = resultado_mostrados.nil? ? 30 : resultado_mostrados
- tipo_instrumento = tipo_instrumento.nil? ? TipoInstrumento::PPP_EJECUTADOS_POR_TERCEROS : tipo_instrumento
- solo_tabla = solo_tabla.nil? ? false : solo_tabla
- lista_contribuyentes = lista_contribuyentes.nil? ? (@contribuyentes.nil? ? [] : @contribuyentes) : lista_contribuyentes

.modal.fade{id: :"buscar-contribuyente#{custom_id}", tabindex: "-1", role: :dialog, "aria-labelledby": :buscarContribuyenteLabel, "aria-hidden": true}
  .modal-dialog.modal-dialog-centered.modal-lg.modal-lg-fix.animated{role: :document}
    .modal-content
      .modal-body
        .container-fluid{id: "body-contribuyente-buscador#{custom_id}"}
          =render 'admin/contribuyentes/buscador_form', custom_id: custom_id, data_table: data_table, es_maquinaria: es_maquinaria, es_para_seleccion: es_para_seleccion, seleccion_basica: seleccion_basica, buscar_por_actividad_economica: buscar_por_actividad_economica, resultado_mostrados: resultado_mostrados, tipo_instrumento: tipo_instrumento, solo_tabla: solo_tabla, lista_contribuyentes: lista_contribuyentes
      .modal-footer
        %button.btn.btn-secondary{type: :button, "data-dismiss"=>:modal}
          Cerrar
:javascript

  $(document).on('nested:fieldAdded:actividad_economica_contribuyentes', function(event){
    __chosen_actecos();
    nuevo_contribuyente_temporal_validaciones();
  })

  $(document).on('nested:fieldAdded:establecimiento_contribuyentes', function(){
    __chosen_actecos();
    nuevo_contribuyente_temporal_validaciones();
  });

  $(document).on('nested:fieldRemoved:actividad_economica_contribuyentes', function(event){
    nuevo_contribuyente_temporal_validaciones();
  })

  $(document).on('nested:fieldRemoved:establecimiento_contribuyentes', function(){
    nuevo_contribuyente_temporal_validaciones();
  });

  $(document).on('click','#nuevo-contribuyente-button', function(e){
    e.preventDefault();
    $.ajax({
      url: "#{edit_modal_admin_contribuyentes_path}",
      type: "GET",
      data: {
        id: "",
        flujo_id: "#{@manifestacion_de_interes.nil? ? '' : @manifestacion_de_interes.flujo.id}"
      }
    }).fail(function(a, b, c) {
      alert( "Error: Verifique su conexi贸n a internet y vuelva a intentar" );
      $('.loading-data').hide();
    }).success(function(data){
      $('#body-contribuyente-buscador#{custom_id}').html(data);
      $('.loading-data').hide();
    });
  });
  $(document).on('click','#deshacer-contribuyente-button', function(e){
    e.preventDefault();    
    $('#body-contribuyente-buscador#{custom_id}').html("#{j render 'admin/contribuyentes/buscador_form', custom_id: custom_id, data_table: data_table, es_maquinaria: es_maquinaria, es_para_seleccion: es_para_seleccion, seleccion_basica: seleccion_basica, buscar_por_actividad_economica: buscar_por_actividad_economica, resultado_mostrados: resultado_mostrados, tipo_instrumento: tipo_instrumento}");
  });
  //solo es para modal nuevo contribuyente
  $(document).on('change keyup', '.form-temporal-boton-guardar', function(){
    nuevo_contribuyente_temporal_validaciones();
  });

  $(document).on('change', '.checkbox-casa-matriz', function(){
    if($(this).prop("checked") == false){
      $(".checkbox-casa-matriz").prop("checked", false);
    }else{
      $(".checkbox-casa-matriz").prop("checked", false);
      $(this).prop("checked", true);
    }
    nuevo_contribuyente_temporal_validaciones();
  });

  $(document).on('change', '.contribuyente-establecimiento-region', function(){
    var codigo = this.id.replace(/\D/g, "");
    $.ajax({
      url: "#{region_comunas_admin_contribuyentes_path}",
      type: "GET",
      dataType: "script",
      data: { codigo: codigo, region_id: this.value },
      beforeSend: function(){
        loadingParent = $(".loading-data").parent().parent()[0]
        $('.loading-data').height(loadingParent.scrollHeight).show();
        //$('.loading-data').show();
      }
    }).fail(function(a, b, c) {
      alert( "Error: Verifique su conexi贸n a internet y vuelva a intentar" );
      $('.loading-data').hide();
    }).success(function(){
      $('.loading-data').hide();
    });
  });

  $(document).on('click', '.seleccionar-y-actualizar-contribuyente-button', function(){
    data=JSON.parse($('#contribuyentes-remote-table#{custom_id}').find('.contribuyente-radio:checked').val());
    $.ajax({
      url: "#{edit_modal_admin_contribuyentes_path}",
      type: "GET",
      data: {
        id: data.id,
        flujo_id: "#{@manifestacion_de_interes.nil? ? '' : @manifestacion_de_interes.flujo.id}",
        contribuyente_id: data.id
      }
    }).fail(function(a, b, c) {
      alert( "Error: Verifique su conexi贸n a internet y vuelva a intentar" );
      $('.loading-data').hide();
    }).success(function(data){
      $('#body-contribuyente-buscador#{custom_id}').html(data);
      $('.loading-data').hide();
    });
  });

  $(document).ready(function(){

    $('#intitucion_cogestora').click(function(e){
      e.preventDefault();
      $('#body-contribuyente-buscador#{custom_id}').html("");
      if(#{!@contribuyente_temporal.nil? && !@contribuyente_temporal.new_record?}){
        $.ajax({
          url: "#{edit_modal_admin_contribuyentes_path}",
          type: "GET",
          data: {
            id: "#{@contribuyente_temporal.nil? ? '' : @contribuyente_temporal.id}",
            flujo_id: "#{@manifestacion_de_interes.nil? ? '' : @manifestacion_de_interes.flujo.id}"
          }
        }).fail(function(a, b, c) {
          alert( "Error: Verifique su conexi贸n a internet y vuelva a intentar" );
          $('.loading-data').hide();

          $('#buscar-contribuyente#{custom_id}').modal("show");
        }).success(function(data){
          $('#body-contribuyente-buscador#{custom_id}').html(data);
          $('.loading-data').hide();
          $('#buscar-contribuyente#{custom_id}').modal("show");
        });
      }else{
        $('#body-contribuyente-buscador#{custom_id}').html("#{j render 'admin/contribuyentes/buscador_form', custom_id: custom_id, data_table: data_table, es_maquinaria: es_maquinaria, es_para_seleccion: es_para_seleccion, seleccion_basica: seleccion_basica, buscar_por_actividad_economica: buscar_por_actividad_economica, resultado_mostrados: resultado_mostrados, tipo_instrumento: tipo_instrumento}");
        $('#buscar-contribuyente#{custom_id}').modal("show");
      }
    });
  });

  function __chosen_actecos() {
    
    $('.contribuyente-acteco').chosen({
      allow_single_deselect: true,
      no_results_text: 'No se encontraron resultados',
      width: '100%',
      search_contains: true
    });
  }

  function nuevo_contribuyente_temporal_validaciones(){
    /*
    var rut = $('#contribuyente_rut').val() != "";
    var dv = $('#contribuyente_dv').val() != "";
    var razon_social = $('#contribuyente_razon_social').val() != "";
    var contribuyente_actetos = true;
    var contribuyente_establecimientos = true;

    if($('#contribuyente-actecos > tbody > tr[style!="display: none;"]').length > 0){
      $('#contribuyente-actecos > tbody > tr[style!="display: none;"]').each(function(index){
        var select = $(this).find('.contribuyente-acteco').first();
        if(select.val() == ""){
          contribuyente_actetos = false;
        }
      });
    }else{
      contribuyente_actetos = false;
    }

    if($('#establecimiento-actecos > tbody > tr[style!="display: none;"]').length > 0){
      if($('#establecimiento-actecos > tbody > tr[style!="display: none;"] > td.casa-matriz > div > div > label > input:checked').length != 1){
        contribuyente_establecimientos = false;
      }
      $('#establecimiento-actecos > tbody > tr[style!="display: none;"]').each(function(index){
        var direccion = $(this).find('.establ-direccion').first();
        var ciudad = $(this).find('.establ-ciudad').first();
        var region = $(this).find('.contribuyente-establecimiento-region').first();
        var comuna = $(this).find('.contribuyente-establecimiento-comuna').first();
        if(direccion.val() == "" || ciudad.val() == "" || region.val() == "" || comuna.val() == ""){
          contribuyente_establecimientos = false;
        }
      });
    }else{
      contribuyente_establecimientos = false;
    }
    if(rut && dv && razon_social && contribuyente_actetos && contribuyente_establecimientos){
      $('.guarda-contribuyente-button').removeAttr("disabled");
    }else{
      $('.guarda-contribuyente-button').attr("disabled", true);
    }
    */
    $('.guarda-contribuyente-button').removeAttr("disabled");
  }

  