-# Variable para verificar si es una edicion desde mis instituciones
= simple_form_for [:admin,contribuyente_actor], remote: true, html: { autocomplete: :off } do |f|
  = f.input :temporal, as: :hidden, wrapper: false
  = f.input :flujo_id, as: :hidden, wrapper: false
  = f.input :contribuyente_id, as: :hidden, wrapper: false, input_html: { id: 'contribuyente_id' }

  = simple_nested_form_for [:admin,contribuyente_actor] do |snf|
    .row
      -unless @error_extra.blank?
        .col-12.mt-2
          .alert.alert-danger
            =@error_extra
      .col-12.mt-2
        .card
          .card-header
            %h5.no-margin
              = t(:agregar_nueva_institucion)
          .card-body{style: 'background-color: #e9ecef; padding: 0.25rem 9px 0.5rem'}
            .col-12.mt-2
              .card
                .card-header
                  %h5.no-margin
                    = t(:institucion) 
                .card-body
                  .row
                    .col-l-6.col-xl-3
                      %label.string.control-label
                        %abbr{title: :required}*
                        =t(:rut)
                      .row
                        .col-lg-8.desactivado
                          = f.input :rut, label: false, required: true, as: :string, input_html: { class: 'form-temporal-boton-guardar numero', readonly: !contribuyente_actor.contribuyente_id.nil?}
                        .col-lg-4.desactivado
                          = f.input :dv, label: false, required: true, input_html: { class: 'form-temporal-boton-guardar dv', readonly: !contribuyente_actor.contribuyente_id.nil? }
                    .col-lg-9.col-md-8.desactivado
                      = f.input :razon_social, label: t(:razón_social), required: true, input_html: { class: 'form-temporal-boton-guardar'}
                  .row
                    .col-12.col-lg-6.mt-2 
                      %label.string.control-label
                        %abbr{title: :required}*
                        Tipo institución
                      = f.input :tipo_institucion, collection: TipoContribuyente.__select, placeholder: "Seleccione tipo institución", input_html: { class: 'form-temporal-boton-guardar'}, label: false
                    .col-12.col-lg-6.mt-2
                      %label.string.control-label
                        %abbr{title: :required}*
                        Dirección
                      - contribuyente_id = contribuyente_actor.contribuyente_id
                      - if contribuyente_id.nil?
                        = f.input :direccion, as: :string, placeholder: "Ingrese dirección", input_html: { class: 'form-temporal-boton-guardar', readonly: false, id: "direccion_input" }, label: false
                      - else
                        = f.input :direccion, collection: EstablecimientoContribuyente.__select(contribuyente_id), placeholder: "Seleccione dirección", input_html: { class: 'form-temporal-boton-guardar', id: "direccion_select" }, label: false
                        = f.input :direccion, as: :string, placeholder: "Ingrese dirección", input_html: { class: 'form-temporal-boton-guardar', readonly: false, id: "direccion_input", style: 'display: none;' }, label: false
                        = check_box_tag :seleccionar, '1', false, class: "not-required-if-other-like-me-is-present", id: "sin_direccion_checkbox"
                        %label{ for: "sin_direccion_checkbox" } Nueva Dirección
                  .row
                    .col-12.col-lg-6.mt-2 
                      %label.string.control-label
                        %abbr{title: :required}*
                        Región
                      = f.input_field :region, collection: Region.all, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, wrapper: false, class: "form-control select2", label: false, style: 'width: 100%', id: 'region_select', label: false
                    .col-12.col-lg-6.mt-2 
                      %label.string.control-label
                        %abbr{title: :required}*
                        Comuna
                      = f.input_field :comuna, collection: {}, label_method: lambda { |p| p.nombre }, value_method: :id, required: true, wrapper: false, class: "form-control select2", label: false, id: 'registro_proveedor_comuna', label: false

      .col-12.mt-2.text-right
        %button.btn.btn-primary#deshacer-contribuyente-button{type: :button, 'data-disable-with' => t(:volver_a_lista)}
          =t(:volver_a_lista)
        %button.btn.btn-primary.guarda-contribuyente-actor-button{type: :submit, disabled: :disabled, 'data-disable-with' => '<i class="fa fa-spinner fa-spin"></i> Guardando...'.html_safe}
          Agregar
:javascript

  $(document).ready(function(){
    __chosen_actecos();
    iniciarAutoNumeric();
    iniciarDigitoVerificador();
    htmlErrorToTooltip('top');
    nuevo_contribuyente_temporal_validaciones();

    // Manejador para el botón "Guardar Usuario"
    $(document).on('click', '.guarda-contribuyente-actor-button', function(e) {
      e.preventDefault();  // Evitar el envío del formulario por defecto

      var contribuyente_id = $('#contribuyente_id').val();
      var rut = $('#contribuyente_rut').val() + '-' + $('#contribuyente_dv').val();
      var razon_social = $('#contribuyente_razon_social').val();
      var tipo_institucion = $('#contribuyente_tipo_institucion').val();
      var comuna = $('#registro_proveedor_comuna option:selected').text();
      var direccion = '';

      if ($('#direccion_input').val()) {
        direccion = $('#direccion_input').val();
      }else{
        direccion = $('#direccion_select option:selected').text();
      }

      // Si deseas setear los valores en otros campos de tu formulario:
      $("#contribuyente_id_mapa_actores").val(contribuyente_id);
      $("#rut_contribuyente_mapa_actores").val(rut);
      $("#razon_social_contribuyente_mapa_actores").val(razon_social);
      $("#tipo_institucion_id_mapa_actores").val(tipo_institucion);
      $("#comuna_institucion_mapa_actores").val(comuna);
      $("#tipo_institucion_mapa_actores").val($('#contribuyente_tipo_institucion option:selected').text());   

      $("#direccion_usuario_mapa_actores").val(direccion);
      
      $('#buscar-contribuyente').modal("hide");
      agregar_usuario_actor_validaciones();
    });

    // Escuchar el cambio de selección en el select de región
    $('#region_select').on('change', function() {
      var regionId = $(this).val(); // Obtener el valor de la región seleccionada

      // Aquí puedes ejecutar una función adicional, por ejemplo, mostrar una alerta
      //alert('Seleccionaste la región con ID: ' + regionId);
      
      // Realizar la solicitud AJAX para obtener las comunas asociadas a la región seleccionada
      $.ajax({
        url: "#{registro_get_comunas_path}",  // Reemplaza con la ruta correcta
        method: 'get',
        data: { id: regionId },
        success: function(response) {
          // Aquí procesas la respuesta de las comunas y actualizas los campos correspondientes
          //console.log(response);
          // Aquí puedes agregar lógica para actualizar la lista de comunas, si es necesario
        },
        error: function() {
          alert('Hubo un error al obtener las comunas');
        }
      });
    });

    toggleDireccion();

    // Detecta el cambio en el checkbox y actualiza la visibilidad de los campos
    $('#sin_direccion_checkbox').on('change', function() {
      toggleDireccion();
    });

    function toggleDireccion() {
      if ($('#sin_direccion_checkbox').is(':checked')) {
        // Si "Nueva Dirección" está seleccionado, muestra la caja de texto y oculta el combo box
        $('#direccion_input').show(); // Mostrar el campo de texto
        $('#direccion_select').hide(); // Ocultar el select
      } else {
        // Si no está seleccionado, muestra el combo box y oculta la caja de texto
        $('#direccion_input').hide(); // Ocultar el campo de texto
        $('#direccion_select').show(); // Mostrar el select
      }
    }

  });
