-no_acceso = (@encargado || current_user.is_admin?)? false : true #DZC 2018-11-05 17:44:13 se usa para controlar acceso a quien no es administrador o encargado de institución
:javascript
	function __chosen_actecos() {
		$('.contribuyente-acteco').chosen({
			allow_single_deselect: true,
			no_results_text: 'No se encontraron resultados',
			width: '100%',
			search_contains: true
		});
	}
	$(document).ready(function(){
		__chosen_actecos();

		// DZC 2018-11-05 17:41:54 se agrega para controlar el acceso a quienes no son admin ni encargado de la institución
		if (#{no_acceso}){
			$(".desactivado *").prop('disabled',true);
		};

	});

	$(document).on('nested:fieldAdded:actividad_economica_contribuyentes', function(event){
		__chosen_actecos();
		checkFieldValidity($("#contribuyente_rut"));
	})

	$(document).on('nested:fieldAdded:establecimiento_contribuyentes', function(){
		__chosen_actecos();
		checkFieldValidity($("#contribuyente_rut"));
	});

	//Al momento de agregar dato anual
	$(document).on('nested:fieldAdded:dato_anual_contribuyentes', function(){
		__chosen_actecos();
		checkFieldValidity($("#contribuyente_rut"));
	});


	$(document).on('nested:fieldRemoved', function(){
		checkFieldValidity($("#contribuyente_rut"));
	});

	$("body").on('change', '.checkbox-casa-matriz', function(){
		if($(this).prop("checked") == false){
			$(".checkbox-casa-matriz").prop("checked", false);
		}else{
			$(".checkbox-casa-matriz").prop("checked", false);
			$(this).prop("checked", true);
		}
	});

	$("body").on('change', '.contribuyente-establecimiento-region', function(){
		var codigo = this.id.replace(/\D/g, "");
		$.ajax({
			url: "#{region_comunas_admin_contribuyentes_path}",
			type: "GET",
			dataType: "script",
			data: { codigo: codigo, region_id: this.value },
			beforeSend: function(){
				loadingParent = $(".loading-data").parent().parent()[0]
				$('.loading-data').height(loadingParent.scrollHeight).show();
				//$('.loading-data').show();
			}
		}).fail(function(a, b, c) {
			alert( "Error: Verifique su conexión a internet y vuelva a intentar" );
			$('.loading-data').hide();
		}).success(function(){
			$('.loading-data').hide();
		});
	});
-# Variable para verificar si es una edicion desde mis instituciones
= simple_form_for [:admin,@contribuyente], remote: true, html: { autocomplete: :off } do |f|
	= simple_nested_form_for [:admin,@contribuyente] do |snf|
		.row
			.col-lg-12.column
				.card
					.card-header
						%h5.no-margin
							= action_label_of_(@contribuyente)
					.card-body
						.row
							.col-lg-3.col-md-6
								%label.string.control-label
									%abbr{title: :required}*
									=t(:rut)
								.row
									-if @mis_instituciones
										.col-lg-8.desactivado
											= f.input :rut, label: false, as: :string, input_html: { class: 'readonly',readonly: true }
										.col-lg-4.desactivado
											= f.input :dv, label: false, input_html: { class: 'readonly',readonly: true}
									-else
										.col-lg-8.desactivado
											= f.input :rut, label: false, required: true, as: :string, input_html: { class: 'required-field' }
										.col-lg-4.desactivado
											= f.input :dv, label: false, required: true, input_html: { class: 'required-field' }
							.col-lg-9.col-md-6.desactivado
								= f.input :razon_social, label: t(:razón_social), required: true, input_html: { class: 'required-field' }
			.col-lg-12.column
				.card
					.card-header
						%h5.no-margin
							=t(:actividad_económica)
							- unless no_acceso 
								= snf.link_to_add :actividad_economica_contribuyentes, data: { target: "#contribuyente-actecos" }, class: 'float-right desactivado' do
									%i.fa.fa-plus-circle
									= t(:agregar)
					.card-body.table
						.row
							.col-lg-12.col-md-6
								%table#contribuyente-actecos.table.table-striped
									%thead
										%tr.fields
											%th.codigo-acteco=t(:código_descripción)
											- unless no_acceso
												%th
									%tbody
										= snf.fields_for :actividad_economica_contribuyentes, :wrapper => false  do |actecos|
											%tr.fields
												%td.no-padding
													= actecos.input :actividad_economica_id, collection: (no_acceso ? actecos.object.actividad_economica.para_lista : ActividadEconomica.__select), input_html: { class: 'form-control-sm  contribuyente-acteco desactivado required-field', type: :string, "data-placeholder"=>"Seleccione una actividad económica" }, label: false, wrapper_html: { class: 'mb-0'}
												- unless no_acceso 
													%td.accion.no-padding.remove-row.desactivado
														= actecos.link_to_remove do
															%i.fa.fa-times-circle.left.link-to-remove-row 
			.col-lg-12.column
				.card
					.card-header
						%h5.no-margin
							=t(:establecimientos)
							- unless no_acceso
								= snf.link_to_add :establecimiento_contribuyentes, data: { target: "#establecimiento-actecos" }, class: 'float-right desactivado' do
									%i.fa.fa-plus-circle
									=t(:agregar)
					.card-body.table
						.row
							.col-lg-12.col-md-6
								%table#establecimiento-actecos.table.table-striped.mb-0
									%thead
										%tr.fields
											%th.casa-matriz=t(:c_matriz)
											%th.direccion=t(:dirección)
											%th.ciudad=t(:ciudad)
											%th.region=t(:región)
											%th.comuna=t(:comuna)
											- unless no_acceso
												%th.accion
									%tbody
										= snf.fields_for :establecimiento_contribuyentes, :wrapper => false  do |establ|
											-# Permite saber si el establecimiento se encuentra en adherido
											-if establ.object.adherido_activo?
												%tr.fields.desactivado
													%td.no-padding.casa-matriz=establ.input :casa_matriz, as: :boolean, label: false, disabled: true, input_html: { class: "not-required-if-other-like-me-is-present" }
													%td.no-padding.direccion=establ.input :direccion, label: false, readonly: true
													%td.no-padding.ciudad=establ.input :ciudad, label: false, readonly: true
													%td.no-padding.region=establ.select :region_id, Region.__select, {}, { class: 'form-control contribuyente-acteco', disabled: true}
													%td.no-padding.comuna=establ.select :comuna_id, Comuna.__select, {}, { class: 'form-control', disabled: true}
													- unless no_acceso
														%td.accion.no-padding.remove-row
											-else
												%tr.fields.desactivado
													%td.no-padding.casa-matriz=establ.input :casa_matriz, as: :boolean, label: false, input_html: {class: "checkbox-casa-matriz not-required-if-other-like-me-is-present"}
													%td.no-padding.direccion=establ.input :direccion, input_html: { class: 'form-control'}, label: false
													%td.no-padding.ciudad=establ.input :ciudad, input_html: { class: 'form-control letras'}, label: false
													-regiones = Region.__select
													-region_selec = establ.object.region_id.nil? ? regiones.first.last : establ.object.region_id
													%td.no-padding.region=establ.select :region_id, regiones, {}, { class: 'form-control contribuyente-establecimiento-region contribuyente-acteco required-field', "data-placeholder"=>"Seleccione una región"}
													%td.no-padding.comuna=establ.select :comuna_id, Comuna.__select(nil,region_selec), {}, { class: 'form-control contribuyente-establecimiento-comuna contribuyente-acteco required-field', "data-placeholder"=>"Seleccione una comuna" }
													- unless no_acceso
														%td.accion.no-padding.remove-row
															= establ.link_to_remove do
																%i.fa.fa-times-circle.left.link-to-remove-row

			- unless @contribuyente.new_record?
				.col-lg-12.column
					.card
						- if @mis_instituciones
							.card-header
								%h5.no-margin
									=t(:datos_anuales)
							.card-body.table
								.row
									.col-lg-12.col-md-6
										%table#establecimiento-dato-anual.table.table-striped.mb-0
											%thead
												%tr.fields
													%th.periodo-dato-anual=t(:período)
													%th.tipo-contribuyente=t(:tipo_contribuyente)
													%th.rango-venta=t(:rango_venta)
													%th.numero-trabajadores=t(:nro_trabajadores)
													%th.f22_c645=t(:f22_c645)
													%th.f22_c646=t(:f22_c646)
											%tbody
												= snf.fields_for :dato_anual_contribuyentes, :wrapper => false  do |dato_anual|
													%tr.fields.desactivado
														%td.no-padding.periodo-dato-anual.desactivado=dato_anual.input :periodo, readonly: true, label: false
														%td.no-padding.tipo-contribuyente=dato_anual.input :tipo_contribuyente_id, readonly: true, label: false
														%td.no-padding.rango-venta=dato_anual.input :rango_venta_contribuyente_id, readonly: true, label: false
														%td.no-padding.numero-trabajadores=dato_anual.input :numero_trabajadores, readonly: true, label: false
														%td.no-padding.f22_c645=dato_anual.input :f22c_645, label: false, readonly: true
														%td.no-padding.f22_c646=dato_anual.input :f22c_646, label: false, readonly: true
						- else
							.card-header
								%h5.no-margin
									=t(:datos_anuales)
									- unless no_acceso
										= snf.link_to_add :dato_anual_contribuyentes, data: { target: "#establecimiento-dato-anual" }, class: 'float-right' do
											%i.fa.fa-plus-circle
											=t(:agregar)
							.card-body.table
								.row
									.col-lg-12.col-md-6
										%table#establecimiento-dato-anual.table.table-striped.mb-0
											%thead
												%tr.fields
													%th.periodo-dato-anual=t(:período)
													%th.tipo-contribuyente=t(:tipo_contribuyente)
													%th.rango-venta=t(:rango_venta)
													%th.numero-trabajadores=t(:nro_trabajadores)
													%th.f22_c645=t(:f22_c645)
													%th.f22_c646=t(:f22_c646)
													- unless no_acceso
														%th.accion
											%tbody
												= snf.fields_for :dato_anual_contribuyentes, :wrapper => false  do |dato_anual|
													%tr.fields.desactivado
														%td.no-padding.periodo-dato-anual=dato_anual.input :periodo, input_html: { class: 'im-not-required-check-the-others form-control', min: 1900, max: Date.today.year  }, label: false
														%td.no-padding.tipo-contribuyente=dato_anual.select :tipo_contribuyente_id, TipoContribuyente::__select, {}, { class: 'im-not-required-check-the-others form-control contribuyente-acteco'}
														%td.no-padding.rango-venta=dato_anual.select :rango_venta_contribuyente_id, RangoVentaContribuyente::__select, {}, { class: 'im-not-required-check-the-others form-control contribuyente-acteco'}
														%td.no-padding.numero-trabajadores=dato_anual.input :numero_trabajadores, label: false
														%td.no-padding.f22_c645=dato_anual.input :f22c_645, label: false
														%td.no-padding.f22_c646=dato_anual.input :f22c_646, label: false
														- unless no_acceso
															%td.accion.no-padding.remove-row
																= dato_anual.link_to_remove do
																	%i.fa.fa-times-circle.left.link-to-remove-row 
			-if @contribuyente.persisted? && PrivacidadPermiso.posee_eleccion_usuario("instituciones") && (!current_user.posee_rol_ascc?([Rol::JEFE_DE_LINEA, Rol::REVISOR_TECNICO]) || current_user.is_admin?)
				= render 'privacidad', fields_visibility: @contribuyente.fields_visibility
																									
		.float-right
			= link_to t(:back), admin_contribuyentes_path, class: 'btn btn-sm btn-warning'
			- unless no_acceso
				= button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary btn-disabled", disabled: :disabled