-if @contribuyente.temporal
  $('#body-contribuyente-buscador').html("#{j render 'admin/contribuyentes/form_temporal', cont_temporal: @contribuyente_temporal}");
  -if @contribuyente_temporal.errors.blank? && @error_extra.blank?
    $('#buscar-contribuyente#{@custom_id}').modal("hide");
    $("#manifestacion_de_interes_contribuyente_id").val(#{@contribuyente_temporal.id});
    $("#manifestacion_de_interes_contribuyente_id").change();
    $("#manifestacion_de_interes_representante_institucion_para_solicitud_id").val("");
    $("#manifestacion_de_interes_representante_institucion_para_solicitud_id").change();
    $("#guardar-manifestacion-temporal-button").trigger("click");
  -else
    $('.loading-data').hide();
-else
  -if @contribuyente.es_fpl == "true"
    $('#body-contribuyente-buscador').html("#{j render 'admin/contribuyentes/form_temporal', cont_temporal: @contribuyente}");
    -if @contribuyente.errors.blank? && @error_extra.blank?

      $('#buscar-contribuyente#{@custom_id}').modal("hide");
      - contribuyente = @contribuyente
      :plain
        const tarea_pendiente = window.location.pathname.split("/")[1];
        var razonSocial = '#{contribuyente.razon_social}';
        var rut = '#{format_rut("#{contribuyente.rut || ''}#{contribuyente.dv || ''}")}';
        var contribuyente_id = '#{@empresa.id}';
        var tarea_pendiente_id = tarea_pendiente;

        var newRow = "<tr>" +
          "<td class='contenido-form'>" + razonSocial + "</td>" +
          "<td class='contenido-form'>" + rut + "</td>" +
          "<td class='contenido-form dos iconos-acciones'>" +
          "<a data-contribuyente--id=" + contribuyente_id + " data-confirm='¿Está seguro que desea borrar este(a) Contribuyente?' class='eliminar-empresa' id='eliminar-empresa-" + contribuyente_id + "' data-remote='true' rel='nofollow' data-method='delete' href='/eliminar_empresa/" + tarea_pendiente_id + "?contribuyente_id=" + contribuyente_id + "' data-original-title='Eliminar Contribuyente'>" +
          "<i class='fa fa-trash' data-original-title='' title=''></i></a>" +
          "</td>" +
          "</tr>";

        $('#div_empresa_consultora table tbody').append(newRow);

        var $empresa = $('#intitucion_cogestora');
        $empresa.removeClass('btn-danger').addClass('btn-primary');
        $empresa.attr('data-tooltip', 'true');
        $empresa.attr('data-original-title', 'Debe tener a lo menos un registro');

        $('#intitucion_cogestora').prop('disabled', true);
        $('#open-modal-button_buscar_usuario_consultora').prop('disabled', false);
        $('#div_equipo_consultora_empresa').css('display', 'block');
        $('#opcion_2').prop('disabled', true);
        document.getElementById('Tipo_0_Option').value = 1;
        $('.loading-data').hide();
    -else
      $('.loading-data').hide();
  -else
    = render 'layouts/remote_form', block: 'contribuyente'
