:javascript
  $(document).ready(function() {
    listadoActoresTemporal();
  });

  function listadoActoresTemporal() {
    $.ajax({
      url: "#{listado_actores_temporal_manifestacion_de_interes_path(@tarea_pendiente)}",
      data: {
        id: "#{@manifestacion_de_interes.nil? ? '' : @manifestacion_de_interes.id}"
      },
      method: "GET",
      success: function(response) {
      },
      error: function(error) {
        console.error("Error al llamar al método del controlador", error);
      }
    });
  }

.card.m-0
  .card-header
    %h5.no-margin= t(:agregar_actores)
  .card-body
    = simple_form_for @mapa_actor, url: crear_actor_manifestacion_de_interes_path(@tarea_pendiente), remote: true, method: :patch do |f|
      .row
        .col-12.mt-3
          .col-12
            .card
              .card-body
                .row
                  .col-12.col-lg-2.mt-4
                    = link_to '#', class: 'form-control btn btn-primary btn-sm tooltip-block', flujo_id: (@flujo.present? ? @flujo.id : nil), id: 'usuario_representante' do
                      %i.fa.fa-search-plus
                      Buscar actor    
                .row
                  = f.input :actor_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'usuario_id_mapa_actores', class: 'form-control' } 
                  = f.input :rol_en_acuerdo_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'rol_id_usuario_mapa_actores', class: 'form-control' } 
                  = f.input :cargo_institucion_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'cargo_id_usuario_mapa_actores', class: 'form-control' } 
                  

                  .col-12.col-lg-2.mt-2  
                    = f.input :rol_en_acuerdo, input_html: { id: 'rol_usuario_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-2.mt-2
                    = f.input :nombre_actor, input_html: { id: 'nombre_usuario_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-2.mt-2
                    = f.input :rut_actor, input_html: { id: 'rut_usuario_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-2.mt-2
                    = f.input :cargo_institucion, input_html: { id: 'cargo_usuario_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-2.mt-2
                    = f.input :email_institucional, input_html: { id: 'email_usuario_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-2.mt-2   
                    = f.input :telefono_institucional, input_html: { id: 'telefono_usuario_mapa_actores', class: 'form-control', readonly: true }               
                .row
                  .col-12.col-lg-2.mt-4    
                    = link_to '#', class: 'form-control btn btn-primary btn-sm tooltip-block', id: "intitucion_cogestora" do
                      %i.fa.fa-search-plus
                      Buscar institución
                .row
                  = f.input :contribuyente_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'contribuyente_id_mapa_actores', class: 'form-control' }
                  = f.input :tipo_institucion_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'tipo_institucion_id_mapa_actores', class: 'form-control' }
                  .col-12.col-lg-3.mt-2
                    = f.input :razon_social_institucion, input_html: { id: 'razon_social_contribuyente_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-3.mt-2
                    = f.input :rut_institucion, input_html: { id: 'rut_contribuyente_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-3.mt-2
                    = f.input :tipo_institucion, input_html: { id: 'tipo_institucion_mapa_actores', class: 'form-control', readonly: true }
                  .col-12.col-lg-3.mt-2
                    = f.input :comuna_institucion, input_html: { id: 'comuna_institucion_mapa_actores', class: 'form-control', readonly: true }
      .float-right.mr-3.mb-3
        =f.submit 'Agregar', class: 'btn btn-sm btn-primary'
      = render 'actores/table_mapa_de_actores', externo: true 