:javascript
  $(document).ready(function() {
    var instrumentoSeleccionado =  #{@instrumento_seleccionado};
    var instrumentoSeleccionado1_3 = #{@instrumento_seleccionado_1_3}; 

    if (instrumentoSeleccionado.length === 1 && instrumentoSeleccionado1_3.length === 0) {
        document.getElementById('grabar-postulacion-fpl-button').disabled = false;
    } else if (instrumentoSeleccionado.length === 1 && instrumentoSeleccionado1_3.length === 1) {
        document.getElementById('grabar-postulacion-fpl-button').disabled = true;
    } else {
        document.getElementById('grabar-postulacion-fpl-button').disabled = false;
    }
  });

  function habilitaOpciones(radio) {
    var valorSeleccionado = radio.value === 'true';
    var botonGuardar = document.getElementById('grabar-postulacion-fpl-button');
    document.getElementById('tipo_linea_seleccionada').disabled = !valorSeleccionado;
    botonGuardar.disabled = !valorSeleccionado;
  }

  function habilitaOpcionesL13(radio) {
      var valorSeleccionado = radio.value === 'true';
      var botonGuardar = document.getElementById('grabar-postulacion-fpl-button');
      document.getElementById('tipo_linea_seleccionada_l13').disabled = !valorSeleccionado;
      botonGuardar.disabled = !valorSeleccionado;
  }

  function confirmarGuardar(event) {
    var instrumentoSeleccionado =  #{@instrumento_seleccionado};
    var fondo_produccion_limpia = document.getElementById('fondo_produccion_limpia');
    var fondo_produccion_limpia_l13 = document.getElementById('fondo_produccion_limpia_l13');

    if (document.getElementById('grabar-postulacion-fpl-button').disabled) {
        event.preventDefault();
        return;
    }

    if (instrumentoSeleccionado.length === 1) {
      if (confirm('Se recomienda que, al iniciar la etapa de Certificación de APL, la etapa de Implementación del APL esté cerrada.')) {
        $.ajax({
          url: "#{grabar_postulacion_fondo_produccion_limpia_path}",
          data: {
            flujo_id: "#{@manifestacion_de_interes.nil? ? '' : @manifestacion_de_interes.flujo.id}",
            tarea_pendiente_id: "#{@tarea_pendiente.nil? ? '' : @tarea_pendiente.id}",
            fondo_produccion_limpia: fondo_produccion_limpia,
            fondo_produccion_limpia_l13: fondo_produccion_limpia_l13
          },
          method: "GET",
          success: function(response) {

          },
          error: function(error) {
 
          }
        });
      }
    }
  }

.card.m-0
  .card-header
    %h5.no-margin= t(:agregar_actores)
  .card-body
    = simple_form_for @mapa_actor, url: grabar_postulacion_fondo_produccion_limpia_path(@tarea_pendiente), remote: true, method: :patch do |f|
      .row
        .col-12.mt-3
          .col-12
            .card
              .card-body
                .row
                  .col-12.col-lg-2.mt-4
                    = link_to '#', class: 'form-control btn btn-primary btn-sm tooltip-block', flujo_id: (@flujo.present? ? @flujo.id : nil), id: 'usuario_representante' do
                      %i.fa.fa-search-plus
                      Buscar actor    
                .row
                  = f.input :id_usuario, as: :hidden, wrapper: false, label: false, input_html: { id: 'id_usuario_mapa_actores', class: 'form-control' } 
                  = f.input :rol_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'rol_id_usuario_mapa_actores', class: 'form-control' } 
                  = f.input :cargo_id, as: :hidden, wrapper: false, label: false, input_html: { id: 'cargo_id_usuario_mapa_actores', class: 'form-control' } 
                  

                  .col-12.col-lg-2.mt-2  
                    = f.input :rol, input_html: { id: 'rol_usuario_mapa_actores', class: 'form-control' }, disabled: true
                  .col-12.col-lg-2.mt-2
                    = f.input :nombre_usuario, input_html: { id: 'nombre_usuario_mapa_actores', class: 'form-control' }, disabled: true  
                  .col-12.col-lg-2.mt-2
                    = f.input :rut_usuario, input_html: { id: 'rut_usuario_mapa_actores', class: 'form-control' }, disabled: true
                  .col-12.col-lg-2.mt-2
                    = f.input :cargo, input_html: { id: 'cargo_usuario_mapa_actores', class: 'form-control' }, disabled: true
                  .col-12.col-lg-2.mt-2
                    = f.input :email_institucion, input_html: { id: 'email_usuario_mapa_actores', class: 'form-control' }, disabled: true 
                  .col-12.col-lg-2.mt-2   
                    = f.input :telefono_institucion, input_html: { id: 'telefono_usuario_mapa_actores', class: 'form-control' }, disabled: true                    
                .row
                  .col-12.col-lg-2.mt-4    
                    = link_to '#', class: 'form-control btn btn-primary btn-sm tooltip-block', id: "intitucion_cogestora" do
                      %i.fa.fa-search-plus
                      Buscar institución
                .row
                  = f.input :id_contribuyente, as: :hidden, wrapper: false, label: false, input_html: { id: 'mapa_actores_contribuyente_id', class: 'form-control' }, disabled: true 
                  .col-12.col-lg-3.mt-2
                    = f.input :nombre_contribuyente, input_html: { id: 'mapa_actores_nombre_contribuyente', class: 'form-control' }, disabled: true 
                  .col-12.col-lg-3.mt-2
                    = f.input :rut_contribuyente, input_html: { id: 'mapa_actores_rut_contribuyente', class: 'form-control' }, disabled: true
                  .col-12.col-lg-3.mt-2
                    = f.input :tipo_institucion, input_html: { id: 'tipo_institucion_mapa_actores', class: 'form-control' }, disabled: true 
                  .col-12.col-lg-3.mt-2
                    = f.input :comuna_institucion, input_html: { id: 'comuna_institucion_mapa_actores', class: 'form-control' }, disabled: true 
                -#.row
                -# .col-12.col-lg-4.mt-2
                -#    = f.input :codigo_ciiuv4, input_html: { id: 'codigo_ciiuv4_mapa_actores', class: 'form-control' }   
                -# .col-12.col-lg-4.mt-2   
                -#    = f.input :direccion_institucion, input_html: { id: 'direccion_institucion_mapa_actores', class: 'form-control' } 
                -#.row 
                -#  .col-12.col-lg-4.mt-2
                -#    = f.input :email_institucion, input_html: { id: 'email_institucion_mapa_actores', class: 'form-control' } 
                -#  .col-12.col-lg-4.mt-2   
                -#    = f.input :telefono_institucion, input_html: { id: 'telefono_institucion_mapa_actores', class: 'form-control' } 




      .float-right.mr-3.mb-3
        =f.submit 'Agregar', class: 'btn btn-sm btn-primary'
 