:javascript
  $(document).ready(function() {
    columnas_ = [
      { targets: [-1], orderable: false },
      { responsivePriority: 1, targets: 0 },
      { responsivePriority: 2, targets: -1 }
    ];
    /*if ("#{@tarea.requiere_revision?}" == 'true' ){
      columnas_.push({ responsivePriority: 3, targets: -1 });
    }*/
    $('table.actores').DataTable({
      responsive: true,
      lengthMenu: [[30], [30]],
      columnDefs: columnas_,
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });
    $('.actor_observado[type="checkbox"]').click(function(){
      load_actores_checkeados();
    });

    load_actores_checkeados();
  });

  function load_actores_checkeados(){
    checked=[]
    $.each($('.actor_observado[type="checkbox"]'),function(k,v){
      if ( $(this).is(':checked') ) {
        checked.push($(v).val());
      }
    });
    $('.actores-con-observaciones').val(JSON.stringify(checked));
  }
- actores_con_observaciones = @actores_con_observaciones.blank? || ! @actores_con_observaciones.is_a?(Array) ? [] : @actores_con_observaciones
- indicar_actores_con_observaciones = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_mapa_de_actores == :revision )
- ver_actores_con_observaciones = ( ! @manifestacion_de_interes.blank? && @manifestacion_de_interes.accion_en_mapa_de_actores == :actualizacion )
- externo = externo.nil? ? false : externo
.card.mb-0
  -if !externo
    .card-header
      %h5.no-margin
        =titulo_instrumento.html_safe
      - if @proyecto.blank?
        %h5.no-margin
          =titulo_acuerdo.html_safe
      - else
        %h5.no-margin
          =titulo_proyecto.html_safe
      %h5.no-margin
        =datos_beneficiario.html_safe
  .card-header
    %h5.no-margin= t(:listado_de_actores)
  .card-body
    .table-responsive
      %table.table.actores.table-striped
        %thead
          %tr
            %th=t(:rol_en_acuerdo)
            %th=t(:nombre_completo_persona)
            %th=t(:rut_persona)
            %th=t(:cargo_en_institución)
            %th=t(:razon_social_contribuyente)
            %th=t(:rut_institución)
            -#
              %th=t(:sector_productivo)
            %th=t(:tipo_institución)
            -#
              %th=t(:dirección)
            %th=t(:comuna)
            %th=t(:email_institucional)
            %th=t(:teléfono_institucional)
            - if @tarea.requiere_revision?
              %th.text-center=t(:actor_con_observaciones?)
        %tbody
          - @actores.each do |record|
            %tr.fila_de_actores
              %td=record[:rol_en_acuerdo]
              %td=record[:nombre_completo_persona]
              %td=record[:rut_persona]
              %td=record[:cargo_en_institucion]
              %td=record[:razon_social]
              %td=record[:rut_institucion]
              -#
                %td=record[:sector_productivo]
              %td=record[:tipo_de_institucion]
              -#
                %td=record[:direccion_institucion]
              %td=record[:comuna_institucion]
              %td=record[:email_institucional]
              %td=record[:telefono_institucional]
              - if @tarea.requiere_revision?
                - if indicar_actores_con_observaciones
                  %td.text-center=check_box_tag "actors[#{record[:rut_persona]}+#{record[:rol_en_acuerdo]}]",record[:rut_persona]+record[:rol_en_acuerdo], actores_con_observaciones.include?(record[:rut_persona]+record[:rol_en_acuerdo]), class: "actor_observado"
                  -#DZC 2018-10-03 13:33:45 se corrige error en visualización de actores observados para el revisor
                - elsif ver_actores_con_observaciones
                  %td.text-center
                    = actores_con_observaciones.include?(record[:rut_persona].to_s+record[:rol_en_acuerdo].to_s) ? t(:yes_with_fa_times).html_safe : t(:no_with_fa_check).html_safe