:javascript
	$(document).ready(function() {
		var button = $("#toggle-actores-form");

		// Establecer el texto inicial basado en la visibilidad
		if ($("#actualizar-remote-form").hasClass("d-none")) {
		button.text("Agregar Actores vía Excel");
		} else {
		button.text("Agregar Actores Formulario");
		}

		$("#toggle-actores-form").click(function() {
		$("#actualizar-remote-form").toggleClass("d-none");
		$("#mapa_actores-form").toggleClass("d-none");

		// Cambia el texto del botón según la visibilidad
		if ($("#actualizar-remote-form").hasClass("d-none")) {
			
			button.text("Agregar Actores vía Excel");
		} else {
			$('#actualizar-remote-form').removeClass('d-none');
			$('#comentarios-coordinador-acuerdo').removeClass('d-none');
			button.text("Agregar Actores Formulario");
		}
		});
	});

	verificarModal();
	$(document).on('click', '.seleccionar-contribuyente-button', function() {
		try {
		// Obtener el input seleccionado
		var selectedRadio = $('table.contribuyentes').DataTable().$('.contribuyente-radio:checked');
		var radioValue = selectedRadio.val();  // Obtener el valor
		console.log('Valor del radio seleccionado:', radioValue);  // Mostrar en la consola

		// Intentar parsear el valor si es un JSON
		data = JSON.parse(radioValue); 
		console.log('Datos parsed:', data);  // Ver los datos que has parseado

		// Luego puedes acceder a los atributos que necesitas
		//alert(data.id);  // Mostrar el id
		//alert(data.razon_social);  // Mostrar la razón social
	
		// Si deseas setear los valores en otros campos de tu formulario:
		$("#mapa_actores_contribuyente_id").val(data.id);
		$("#mapa_actores_rut_contribuyente").val(data.rut);
		$("#mapa_actores_nombre_contribuyente").val(data.razon_social);
		
		} catch(e) {
		alert("Ocurrió un error. Intente nuevamente o contáctese con el administrador del sitio.\n\nMensaje de error: "+e);
		}
	});

= render 'admin/users/buscador'
- tipo_instrumento = @manifestacion_de_interes.tipo_instrumento_id.present? ? @manifestacion_de_interes.tipo_instrumento_id  : TipoInstrumento::ACUERDO_DE_PRODUCCION_LIMPIA
= render 'admin/contribuyentes/buscador', es_para_seleccion: true, tipo_instrumento: tipo_instrumento
#actores-remote-table.mb-3
	= render 'table'
#comentarios-coordinador-acuerdo
	= render 'comentarios_coordinador'
	= render 'actores/table_comentarios_anteriores_formulario'        
#mapa_actores-form
	- if !@solo_lectura
		= render 'actores/form_mapa_de_actores', externo: true 
		%br 
		= render 'actores/table_actualiza_mapa_de_actores', externo: true 
#actualizar-remote-form.d-none
	= render 'form'
- if !@solo_lectura	
	%button#toggle-actores-form.btn.btn-success.btn-sm{ style: "margin-left: 20px;" } Agregar Actores vía excel