:javascript
  retirar_confirmado = false;

  $(document).on('click', '#enviar_modal_retirar_elemento', function(e){
    if(!retirar_confirmado){
      e.preventDefault();
      dataConfirmModal.confirm({
        title: 'Confirmar acción',
        text: "¿Seguro que desea retirar del Acuerdo el elemento adherido?",
        commit: 'Confirmar',
        cancel: 'Volver',
        zIindex: 10099,
        onConfirm: function() {
          retirar_confirmado = true;
          $('#enviar_modal_retirar_elemento').trigger("click");
        },
        onCancel:  function() {
        },
        onHide:    function() {
        }
      });
    }else{
      retirar_confirmado = false;
    }
  });

  function activar_guardar_modal_clasificar(){
    $('#enviar_modal_clasificar').prop('disabled', true);
    if($('#adhesion_estado_elementos').val() != ""){
      if($('#adhesion_estado_elementos').val() == "true"){
        $('#enviar_modal_clasificar').prop('disabled', false);
      }else{
        if($('#adhesion_justificacion_elementos').val() != ""){
          $('#enviar_modal_clasificar').prop('disabled', false);
        }
      }
    }
  }

  function cambio_estado_check(){
    check_length = $('.seleccionar-elemento-adhesion:checked').length
    total_length = $('.seleccionar-elemento-adhesion').length
    $('#boton_clasificar').prop('disabled', (check_length == 0));
    if(check_length > 1 || check_length == total_length){
      $('#boton_sel_todos').addClass("d-none");
      $('#boton_desel_todos').removeClass("d-none");
    }else{
      $('#boton_sel_todos').removeClass("d-none");
      $('#boton_desel_todos').addClass("d-none");
    }
  }

  $(document).ready(function(){

    $('.seleccionar-elemento-adhesion').click(function(){
      cambio_estado_check();
    });

    $('#boton_sel_todos').click(function(){
      $('.seleccionar-elemento-adhesion').prop("checked", true);
      cambio_estado_check();
    });

    $('#boton_desel_todos').click(function(){
      $('.seleccionar-elemento-adhesion').prop("checked", false);
      cambio_estado_check();
    });

    $('#adhesion_estado_elementos').change(function(){
      activar_guardar_modal_clasificar();
    });

    $('#adhesion_justificacion_elementos').on('input paste', function(){
      activar_guardar_modal_clasificar();
    });

    $('#enviar_modal_clasificar').click(function(){
      estado = $('#adhesion_estado_elementos option:selected');
      estado_val = estado.prop("value");
      estado_nombre = estado.text();
      justificacion = $('#adhesion_justificacion_elementos').val();

      $('.seleccionar-elemento-adhesion:checked').each(function(index, elem){
        posicion = elem.value;
        tr = $('#adhesiones_pendientes tr[data-id="'+posicion+'"]');
        console.log(tr);
        tr.find(".estado-elem").html(estado_nombre);
        tr.find("input[name='aceptado["+posicion+"]']").val(estado_val);
        tr.find("input[name='observacion["+posicion+"]']").val(justificacion);
      });

      $('.seleccionar-elemento-adhesion').attr("checked", false);
      $('#boton_clasificar').prop('disabled', true);
      $('#modal_clasificar_elementos').modal("hide");
      $('#adhesion_estado_elementos').val("");
      $('#adhesion_justificacion_elementos').val("");
      $('#enviar_modal_clasificar').prop("disabled", true);
      $('#enviar_button').prop("disabled", false);
    });

    $('.retirar-elemento').click(function(){
      $('#adhesion_elemento_retirado_id').val($(this).data('id'));
    });

    $('#adhesiones_pendientes').DataTable({
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      lengthMenu: [[8], [4]],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      columnDefs: [
        { responsivePriority: 1, targets: 3 },
        { responsivePriority: 2, targets: -1, orderable: false },
        { responsivePriority: 3, targets: -2 }
      ]
    });

    $('#adhesiones_revisadas').DataTable({
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      lengthMenu: [[8], [4]],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      columnDefs: [
        { responsivePriority: 1, targets: 3 },
        { responsivePriority: 2, targets: -1 },
        { responsivePriority: 3, targets: -2 }
      ]
    });

    $('#adhesiones_retiradas').DataTable({
      dom: 't',
      paging: false,
      responsive: {
        details: {
          type: 'column',
          target: 'tr'
        }
      },
      language: {
        url: "#{asset_path('spanish.json')}"
      },
      columnDefs: [
        { responsivePriority: 1, targets: 3 },
        { responsivePriority: 2, targets: -1 },
        { responsivePriority: 3, targets: -2 }
      ]
    });

    enableDisabledButton();
  })

-if @flujo.apl?
  - titulo t(:revision_adhesiones)
-if @flujo.ppf?
  - titulo t(:revision_adhesion)
=render 'modal_retirar_elemento'
= simple_form_for @adhesion, url: guardar_revisar_adhesion_path(@tarea_pendiente), method: :patch, remote: true do |f|
  =render 'modal_clasificar_elementos'
  .row
    .col-12
      .card
        .card-header
          .d-flex.justify-content-between.flex-column.flex-lg-row
            %div
              %h5.no-margin=titulo_instrumento.html_safe
              -if !@manifestacion_de_interes.blank?
                %h5.no-margin=titulo_acuerdo.html_safe
              -elsif !@proyecto.blank?
                %h5.no-margin=titulo_proyecto.html_safe
              -elsif !@ppp.blank?
                %h5.no-margin=titulo_programa.html_safe
              %h5.no-margin=datos_beneficiario.html_safe
            .card.mb-0.mt-3.mt-lg-0
              .card-body.px-3.py-2
                .form-group
                  %label.string.control-label
                    = t(:archivos_de_adhesión_y_documentación_entregada_por_solicitante_de_adhesiones)
                  = link_to descargar_compilado_adhesion_path(@tarea_pendiente), class: 'btn btn-sm btn-descargar btn-block' do
                    %i.fa.fa-download
                    = t(:descargar_documentación)

                  =#__descargar_archivo(f.object.archivos_adhesion_y_documentacion, f.object, true, true, t(:archivos_de_adhesión_y_documentación_entregada_por_solicitante_de_adhesiones), t(:descargar_documentación))


        .card-header
          .d-flex.justify-content-between.align-items-center
            %h5.no-margin=t(:estado_adhesiones)
            %div
              %button.btn.btn-ascc.btn-sm#boton_clasificar{type: :button, "data-toggle" => "modal", "data-target" => "#modal_clasificar_elementos", disabled: true} Clasificar
              %button.btn.btn-ascc.btn-sm#boton_sel_todos{type: :button} Seleccionar todos
              %button.btn.btn-ascc.btn-sm#boton_desel_todos.d-none{type: :button} Deseleccionar todos
        .card-body.p-0
          %table.table.table-striped.table-bordered#adhesiones_pendientes{style: "margin-top: 0 !important;margin-bottom:0 !important;"}
            %thead
              %tr
                %th='Fecha Ingreso'
                %th=t(:rut_institucion)
                %th=t(:nombre_institución)
                %th=t(:alcance)
                %th=t(:nombre_elemento)
                %th=t(:comuna_elemento)
                %th=t(:direccion_elemento)
                %th=t(:datos_encargado)
                %th=t(:documentación)
                %th=t(:estado)
                %th=t(:seleccionar)
            %tbody
              - @pendientes_todas.each do |adhesion_id, data|
                -data.each do |fila|
                  -posicion = fila[:posicion]
                  %tr{"data-id" => "#{adhesion_id}|#{posicion}"}
                    %td=fila[:fecha_adhesion]
                    %td=fila[:rut_institucion]
                    %td=fila[:nombre_institucion]
                    %td=fila[:alcance]
                    %td=fila[:nombre_elemento]
                    %td=fila[:comuna_instalacion]
                    %td=fila[:direccion_instalacion]
                    %td
                      %div{style: "white-space: nowrap"}=fila[:nombre_encargado]
                      %div{style: "white-space: nowrap"}=fila[:fono_encargado]
                      %div{style: "white-space: nowrap"}=fila[:email_encargado]
                    %td.text-center
                      = link_to descargar_compilado_adhesion_path(@tarea_pendiente, aid: adhesion_id), class: 'btn btn-tabla' do
                        %i.fa.fa-download
                    %td
                      %label.estado-elem Pendiente
                      = f.input :aceptado, as: :hidden, input_html: { name: "aceptado[#{adhesion_id}|#{posicion}]", class: "elemento-estado"}, wrapper: false
                      = f.input :observacion, as: :hidden, input_html: { name: "observacion[#{adhesion_id}|#{posicion}]"}, wrapper: false
                    %td.text-center
                      %input.form-control.seleccionar-elemento-adhesion.mt-2{type: :checkbox, value: "#{adhesion_id}|#{posicion}"}
              -# @pendientes.each_with_index do |fila, posicion|
                %tr{"data-id" => posicion}
                  %td=fila[:fecha_adhesion]
                  %td=fila[:rut_institucion]
                  %td=fila[:nombre_institucion]
                  %td=fila[:alcance]
                  %td=fila[:nombre_elemento]
                  %td=fila[:comuna_instalacion]
                  %td=fila[:direccion_instalacion]
                  %td
                    %div{style: "white-space: nowrap"}=fila[:nombre_encargado]
                    %div{style: "white-space: nowrap"}=fila[:fono_encargado]
                    %div{style: "white-space: nowrap"}=fila[:email_encargado]
                  %td
                    %label.estado-elem Pendiente
                    = f.input :aceptado, as: :hidden, input_html: { name: "aceptado[][#{posicion}]", class: "elemento-estado"}, wrapper: false
                    = f.input :observacion, as: :hidden, input_html: { name: "observacion[#{posicion}]"}, wrapper: false
                  %td.text-center
                    %input.form-control.seleccionar-elemento-adhesion.mt-2{type: :checkbox, value: posicion}
    .col-12.mb-2
      .float-right
        = volver_root
        - unless @pendientes_todas.blank?
          = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'enviar_button', class: "btn btn-sm btn-primary", disabled: true
#aceptadas.mt-2
  =render "aceptados"
#retiradas.mt-2
  =render "retirados"
