:javascript
  const dt = new DataTransfer(); 
  $(document).ready(function(){
    $("#adhesiones_rechazadas").DataTable({
      responsive: true,
      lengthMenu: [[8], [8]],
      language: {
        url: "#{asset_path('spanish.json')}"
      },
    });

    // Escucha el cambio en el input de archivos normales
    $('#adhesion_archivos_adhesion_y_documentacion').change(function(e){
      for (let file of this.files) {
        dt.items.add(file);
      }
      this.files = dt.files;
      render_files();
      validar_boton_guardar(); // Evalúa si habilitar el botón
    });

    // Escucha el cambio en el input del archivo Excel
    $(document).on('change', '#adhesion_archivo_elementos', function(){
      validar_boton_guardar(); // Evalúa si habilitar el botón
    });

    $('.chosen-control').chosen({
      allow_single_deselect: false,
      no_results_text: 'No se encontraron resultados',
      width: '100%',
      search_contains: true,
      placeholder_text_single: "Seleccione"
    });

    $('.chosen-control').change(function(){
      window.location = '/#{@tarea_pendiente.id}/adhesion/actualizar?adhesion_externa_id='+this.value;
    });

    $("#toggle-adhesiones-form").click(function () {
      $("#subir-documentos-form").toggleClass("d-none");
      $("#descargar-archivos_adhesion").toggleClass("d-none");
      $("#descargar-archivos_formatos").toggleClass("d-none");
      $("#mostrar-descargables").toggleClass("d-none");
      $("#formulario-adhesiones-form").toggleClass("d-none");

      if ($("#subir-documentos-form").hasClass("d-none")) {
        $(this).text("Agregar Adhesiones vía excel");
        $('#columna-comentarios').removeClass('col-lg-6').addClass('col-lg-12');
      } else {
        $(this).text("Agregar Adhesiones formulario");
        $('#columna-comentarios').removeClass('col-lg-12').addClass('col-lg-6');
      }
      validar_boton_guardar(); // Revalida al cambiar de modo
    });
  });

  // Al eliminar un archivo de la lista
  $(document).on('click', '.remove-file', function(e){
    e.preventDefault();
    $(this).parents('.list-group-item').remove();
    dt.items.remove(parseInt($(this).attr("href")));
    $('#adhesion_archivos_adhesion_y_documentacion')[0].files = dt.files;
    render_files();
    validar_boton_guardar(); // Evalúa si debe deshabilitarse
  });

  function render_files(){
    $('#list_files').empty();
    $.each(dt.items, function(index, elem){
      li = '<li class="list-group-item">';
      li += '<div class="d-flex align-items-center justify-content-between">';
      li += elem.getAsFile().name;
      li += '<a href="'+index+'" class="remove-file"><i class="fa fa-trash"></i></a>';
      li += '</li>';
      $('#list_files').append(li);
    });
  }

  // Controla el estado del botón "consultar-button"
  function validar_boton_guardar() {
    let tiene_archivos = dt.files.length > 0;
    let excel_visible = !$("#subir-documentos-form").hasClass("d-none");
    let tiene_excel = $('#adhesion_archivo_elementos').val() !== '';

    // Si el modo excel está activo, exige ambos. Si no, solo los documentos individuales.
    let registrar_valido = excel_visible ? (tiene_archivos && tiene_excel) : tiene_archivos;

    if (registrar_valido) {
      $('#consultar-button').prop('disabled', false).removeClass('btn-disabled');
    } else {
      $('#consultar-button').prop('disabled', true).addClass('btn-disabled');
    }
  }

  // Escuchar cambios en el nuevo input
  $('#adhesion_nombre_archivo').on('change', function(e) {
    let files = e.target.files;
    let originalInput = $('#adhesion_archivos_adhesion_y_documentacion')[0];

    // Crear un DataTransfer para copiar los archivos
    let dt = new DataTransfer();
    for (let i = 0; i < files.length; i++) {
      dt.items.add(files[i]);
    }

    // Asignar los archivos al input original
    originalInput.files = dt.files;

    console.log("Archivos copiados al input original:", originalInput.files);
  });


  function guarda_adhesion(tarea_pendiente, adhesion) {
    // 1. Construir la URL con los reemplazos correspondientes
    let urlBase = "#{guardar_actualizar_adhesion_path('TAREA_ID', adhesion_externa_id: 'ADHESION_ID')}";
    let urlFinal = urlBase.replace('TAREA_ID', tarea_pendiente).replace('ADHESION_ID', adhesion);

    // 2. Capturar el formulario de manera infalible (buscando por atributo de acción o clase)
    let formElement = $('form[id^="edit_adhesion"], form[id^="new_adhesion"], form.simple_form')[0];
    
    if (!formElement) {
      console.error("No se encontró el elemento formulario en el DOM.");
      alert("Error interno: No se pudo localizar el formulario.");
      return false;
    }

    // 3. Forzar que el input reciba el listado real acumulado en 'dt' justo antes de compilar
    let fileInput = $('#adhesion_archivos_adhesion_y_documentacion')[0];
    if (fileInput && dt.files.length > 0) {
      fileInput.files = dt.files;
    }

    // 4. Inicializar FormData con todo el contenido del formulario mapeado nativamente
    let formData = new FormData(formElement);

    // Verificación de seguridad: si por alguna razón perdiste el wrapper 'adhesion', lo forzamos manual para los archivos:
    if (!formData.has('adhesion[archivos_adhesion_y_documentacion][]')) {
      // Si estás subiendo un excel individual bajo el otro input adjunto
      let excelInput = $('#adhesion_archivo_elementos')[0];
      if (excelInput && excelInput.files.length > 0) {
        formData.append('adhesion[archivo_elementos]', excelInput.files[0]);
      }
      
      // Adjuntar la colección del DataTransfer mapeado al backend
      for (let i = 0; i < dt.files.length; i++) {
        formData.append('adhesion[archivos_adhesion_y_documentacion][]', dt.files[i]);
      }
    }

    // 5. Ejecutar la llamada AJAX remota
    $.ajax({
      url: urlFinal,
      method: "PATCH",
      data: formData,
      processData: false, // Evita que jQuery transforme el binario en string de texto
      contentType: false, // Evita que jQuery configure un Content-Type erróneo
      success: function(response) {
        console.log("Datos enviados de forma exitosa", response);
        // Opcional: Redireccionar o remover spinners aquí tras la respuesta exitosa del servidor.
      },
      error: function(error) {
        console.error("Error crítico al procesar la solicitud en el controlador", error);
      }
    });
  }

- solo_lectura = @solo_lectura == 'solo_lectura'
-if @flujo.apl?
  - titulo t(:solicitud_de_adhesiones)
-if @flujo.ppf?
  - titulo t(:atencion_directa_adhesion)
-if @tarea_pendiente.data[:externa] && params[:adhesion_externa_id].blank?
  .row
    .col-12
      .card
        .card-header
          %h5.no-margin=titulo_instrumento.html_safe
          -if !@manifestacion_de_interes.blank?
            %h5.no-margin=titulo_acuerdo.html_safe
          -elsif !@proyecto.blank?
            %h5.no-margin=titulo_proyecto.html_safe
          -elsif !@ppp.blank?
            %h5.no-margin=titulo_programa.html_safe
          %h5.no-margin=datos_beneficiario.html_safe
        .card-header
          %h5.no-margin
            %b
            Seleccione una institución
        .card-body
          .row
            .col-12
              %select.form-control.chosen-control
                %option
                -@adhesiones_externas.each do |adh|
                  %option{value: adh.id}=adh.nombre_institucion_adherente

-else
  = simple_form_for @adhesion, url: guardar_actualizar_adhesion_path(@tarea_pendiente, adhesion_externa_id: params[:adhesion_externa_id]), method: :patch, remote: true do |f|
    .row
      .col-12
        .card
          .card-header
            %h5.no-margin=titulo_instrumento.html_safe
            -if !@manifestacion_de_interes.blank?
              %h5.no-margin=titulo_acuerdo.html_safe
            -elsif !@proyecto.blank?
              %h5.no-margin=titulo_proyecto.html_safe
            -elsif !@ppp.blank?
              %h5.no-margin=titulo_programa.html_safe
            %h5.no-margin=datos_beneficiario.html_safe
          -if @tarea_pendiente.data[:externa] && !params[:adhesion_externa_id].blank?
            .card-header
              %h5.no-margin
                %b
                Seleccione una institución
            .card-body
              .row
                .col-12
                  %select.form-control.chosen-control
                    %option
                    -@adhesiones_externas.each do |adh|
                      %option{value: adh.id, selected: adh.id == params[:adhesion_externa_id].to_i}=adh.nombre_institucion_adherente
          .card-header
            %h5.no-margin
              %b
              = t(:adhesiones)
          .card-body
            %table.table.table-striped#adhesiones_rechazadas
              %thead
                %tr
                  %th='Fecha Ingreso'
                  %th=t(:rut_institucion)
                  %th=t(:nombre_institución)
                  %th=t(:alcance)
                  %th=t(:nombre_elemento)
                  %th=t(:comuna_elemento)
                  %th=t(:direccion_elemento)
                  %th=t(:datos_encargado)
                  %th=t(:observaciones)
                  %th=t(:estado)
              %tbody
                - @todas_las_mias.each do |k,v|
                  - v.each do |filas|
                    -filas[1].each do |fila|
                      %tr
                        %td=fila[:fecha_adhesion]
                        %td=fila[:rut_institucion]
                        %td=fila[:nombre_institucion]
                        %td=fila[:alcance]
                        %td=fila[:nombre_elemento]
                        %td=fila[:comuna_instalacion]
                        %td=fila[:direccion_instalacion]
                        %td
                          %div{style: "white-space: nowrap"}=fila[:nombre_encargado]
                          %div{style: "white-space: nowrap"}=fila[:fono_encargado]
                          %div{style: "white-space: nowrap"}=fila[:email_encargado]
                        %td=fila[:observaciones]
                        %td=filas[0].to_s.upcase

    .row
      .col-12
        #formulario-adhesiones-form
          = render 'adhesiones/form_adhesiones', externo: true
          = render 'adhesiones/table_actualiza_adhesiones', externo: true
    .row
      -if @flujo.apl? && @tarea_pendiente.data.has_key?(:observacion_tarea_anterior) && @tarea_pendiente.data[:observacion_tarea_anterior].has_key?(Rol::RESPONSABLE_ENTREGABLES)
        #columna-comentarios.col-12.col-lg-12
          .card
            .card-header
            .card-body
              .row
                .col-12
                  .form-group
                    %label.control-label=t(:comentarios_del_coordinador_del_acuerdo)
                    %textarea.form-control{disabled: true, rows: 4}=@tarea_pendiente.data[:observacion_tarea_anterior][Rol::RESPONSABLE_ENTREGABLES]

      #subir-documentos-form.col-12.col-lg-6.d-none
        .card
          .card-header
            %h5.no-margin=t(:subir_documentacion_adhesiones)
          .card-body
            .row
              .col-12
                = f.input :archivos_adhesion_y_documentacion, label: t(:archivos_adhesion_documentacion), as: :file, input_html: {class: "required-field form-control auto-save ", multiple: true}, required: true
                = f.hidden_field :archivos_adhesion_y_documentacion_cache
              .col-12
                %ul.list-group#list_files
              .col-12
                = f.input :archivo_elementos, label: t(:archivo_elementos_adheridos), as: :file, required: true, input_html: {class: "required-field form-control auto-save "}
                = f.hidden_field :archivo_elementos_cache
      #descargar-archivos_formatos.col-12.col-lg-6.d-none
        .card
          .card-header
            %h5.m-0
              = t(:descargar_archivos_formatos)
          .card-body
            .row
              .col-12
                = __mostrar_descargable_adhesion(@descargables, "#{@tarea_pendiente.tarea.codigo}-DES-002", t(:documento_de_adhesión), tarea_pendiente: @tarea_pendiente)
              .col-12    
                .form-group
                  %label.string.control-label
                    = t(:formato_excel_de_elementos_adherir)
                  = link_to descargar_adhesion_path(@tarea_pendiente), class: 'btn btn-sm btn-descargar btn-block' do
                    %i.fa.fa-download
                    = t(:descargar)
      -if @flujo.apl?
        #mostrar-descargables.col-12.col-lg-6.d-none
          .card
            .card-header
              %h5.m-0
                = t(:instrucciones_de_llenado)
            .card-body
              .row
                .col-12
                  = __mostrar_descargable_adhesion(@descargables,"#{@tarea_pendiente.tarea.codigo}-DES-003", t(:instrucciones_de_llenado_excel_elementos_a_adherir), tarea_pendiente: @tarea_pendiente)
    
    %br
    %button#toggle-adhesiones-form.btn.btn-success.btn-sm{ style: "margin-left: 20px;" } Agregar Adhesiones vía excel 
    .float-right
      = volver_root
      - if !solo_lectura
        = button_tag t(:save), 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Guardando...".html_safe, id: 'consultar-button', class: "btn btn-sm btn-primary button-send", onclick: "guarda_adhesion(#{@tarea_pendiente.id}, '#{params[:adhesion_externa_id]}')"
  = render 'admin/users/buscador'
  - tipo_instrumento = @manifestacion_de_interes.tipo_instrumento_id.present? ? @manifestacion_de_interes.tipo_instrumento_id  : TipoInstrumento::ACUERDO_DE_PRODUCCION_LIMPIA
  = render 'admin/contribuyentes/buscador', es_para_seleccion: true, tipo_instrumento: tipo_instrumento
  

